.ng-cloak,
[ng-cloak],
[ng\:cloak] {
    display: none!important
}

body{
	overflow-x: hidden;
}

/*scrollbar*/
::-webkit-scrollbar {
   /* width: 15px;*/
    height: 15px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.0) !important;
}
::-webkit-scrollbar-corner { background: transparent !important; }

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #ECECEC;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.blut-log-wrapper {
	background: #fefefe;
	height: 42px;
	position: fixed;
	top: 0px;
	left: 0px;
}

.main-toolbar{
	width:100%;
	height:45px;
	position:fixed;
	left:45px;
	-webkit-box-shadow:2px 0 3px -2px #888;
	box-shadow:0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	overflow:inherit
}

.main-sidemenu{
	height:100%;
	position:fixed;
	-webkit-box-shadow:2px 0 3px -2px #888;
	box-shadow:2px 0 3px -2px #888;
	top:45px;
	border-left: 3px solid #8b8b8b;
	overflow:inherit
}

		
.sub-menu-icon
{
	margin-right:10px;
	font-size:18px;
}

.left-menu-toggle {
	width: 20px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	outline: none !important;
	margin-left: 44px;
	padding-top: 15px;
	/*color: #f9a525;*/
	position: absolute;
	top: 215px;
	box-shadow:0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12)
}

.left-toggle-wrapper {
	height: 45px;
	width: 45px;
	display: inline-block;
}

.left-toggle-wrapper > img {
	width: 30px;
	background: #fff;
	border-radius: 50%;
	padding: 4px;
	margin-top: 4px;
	margin-left: 3px;
}


.blut-search-toggle  {
	width: 45px;
	height: 20px;
	text-align: center;
	margin-left: calc(50% - 48px);
	padding-top: 1px;
	cursor: pointer;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	outline: none !important;
	position: absolute;
	top: 45px;
	box-shadow: 0 1px 0px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	overflow:inherit;
}

.blut-search-toggle .go-up {
	margin-top: 42px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.blut-search-toggle .go-down {
	margin-top: 0px;
}

.blut-search-toggle  > i {
	font-size: 15px;
	outline: none !important;
}

.blut-search-wrapper {
	font-family: 'Segoe UI', sans-serif;
	font-weight: 600;
	font-size: 19px;
	color: #8298ae;
	cursor: pointer;
	outline: none !important;
	transition: all 0.2s ease;
}

.blut-search-wrapper > i {
	font-size: 18px;
	padding-right: 10px;

}

.blut-current-view {
	font-family: 'Segoe UI', sans-serif;
	font-weight: 600;
	font-size: 19px;
	color: #aba8a5;
	display: inline-block;
	padding-right: 25px;
	height: 43px;
	padding-top: 8px;
	padding-left: 10px;
	border-left: 1px solid #f4f4f4;
	text-align: center;
}

.blut-current-view > i {
	font-size: 15px;
	padding-left: 15px;
	cursor: pointer;
}

.blut-search-right-wrapper {
	width: 495px;
	position: relative;
	height: 42px;
	overflow: hidden;
	padding-left: 30px;
	padding-right: 30px;
	border-left: 1px solid #f4f4f4;
}

.border-left-light{
	border-left: 1px solid #f4f4f4;
}

.border-left-dark{
	border-left: 1px solid #565656;
}

.blut-header-icon {
	outline: none !important;
	width: 40px;
}

.blut-header-icon > i {
	font-size: 21px;
	transition: all 0.2s ease;
	cursor: pointer;
	outline: none !important;
}


.blut-profile-wrapper-header {
	height: 100%;
	padding-right: 15px;
}

.blut-login-user {
	font-family: 'Segoe UI', sans-serif !important;
	font-weight: 600;
	font-size: 13px;
	padding-left: 10px;
}

.blut-login-user > p {
	margin: 0px;
	margin-top: 10px;
	padding-right: 6px
}

.blut-login-user > .login-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin-top: 2px;
}

.blut-login-user > .login-img > img {
	width: 40px;
	height: auto
}

.blut-login-user > .blut-user-setting {
	width: 20px;
	height: 20px;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	margin-left: -6px;
	cursor: pointer;
	outline: none !important;
}

.blut-login-user > .blut-user-setting > div {
	width: 20px;
	height: 20px;
	position: relative;
	border-radius: 50%;
	background: #f9a525;
}

.blut-login-user > .blut-user-setting > div > i {
	color: #ffffff;
	font-size: 12px;
	padding-left: 4px;
}

.search-box
{
	margin-left: 5px
}

.setDefaultBtn>md-radio-button{
	    margin-bottom: 0px;
}

/* Starter CSS for Flyout Menu */
#cssmenu{
	height: 100%;
	margin-left: -3px !important;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
  width:45px;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  outline: none;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: pointer;
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  font-size: 15px;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  /*color: #02b5e2;*/
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {
  float: none;
}
#cssmenu > ul > li {
  border-left: 3px solid #8b8b8b;
}
#cssmenu > ul > li > a {
  padding: 10px 10px;
}

/*#cssmenu > ul > li:hover {
  background: #f6f6f6;
}*/
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  width: 210px;
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
#cssmenu ul ul li {
  padding: 0 20px;
  background: #fff;
  font-size: 15px;
}
#cssmenu ul ul li:last-child {
  border-bottom: 0px solid #565656;
}
#cssmenu ul ul li:first-child {
  padding-top: 10px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}
#cssmenu ul ul li.dark:first-child:after {
  border-right: 10px solid rgb(48,48,48);
}
#cssmenu ul ul li a.dark{
    border-bottom: 1px solid #565656;
}

.cssmenu-heading{
	text-align: center;
	font-size: 18px;
	font-weight: 700 !important;
	letter-spacing: 1px;
	cursor:default;
}

/* Dropdown Button */
.dropbtn {
	/*background-color: #f9a525;*/
	color: white;
	padding: 4px;
	border-radius: 100%;
	font-size: 10px;
	border: none;
	cursor: pointer;
	height: 18px;
	outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: fixed;
	display: inline-block;
	z-index:600;
	right: 10px;
	top:14px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	/*background-color: #f9f9f9;*/
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:600;
	right: 0px;
	cursor: pointer;
	overflow:inherit;
	
	
}

/* Links inside the dropdown */
.dropdown-content a {
	opacity:0.7;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	z-index:600;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {opacity:1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
	z-index:600;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	/*background-color: #3e8e41;*/
}

.modal-header {
    min-height: 48px;
    max-height: 48px;
}

.img-circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
	cursor:pointer;
	outline:none;
}

/*Dashbord Home Main*/
.search-header
{
	padding:0px 0px 0px 60px;
}

.product_card {
  cursor: pointer;
  padding: 10px;
  position: relative;
  /*display: inline-block;*/
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product_card::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product_card:hover {
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.product_card:hover::after {
    opacity: 1;
}

.product_name
{
	/*color: white;*/
	font-size: 20px;
	padding-bottom:10px
}

.product_description
{
	font-size: 13px;
}

.md-3-line-small>.md-no-style, .md-3-line-small
{
	min-height:60px !important;
}


.md-3-line-small>.md-no-style
{
	color:grey !important;
}

@media screen and (max-width: 768px) {
	
	.blut-search-right-wrapper
	{
		width:270px !important;
	}
}

.list-item-margin
{
	line-height: 18px;
}