<div class='clockmain widget-card' ng-init="setTime()">
    </md-button>
    <ul id='clockclock'>
        <li id='clockhour' style="box-shadow:none !important"></li>
        <li id='clockmin' style="box-shadow:none !important"></li>
        <li id='clocksec' style="box-shadow:none !important"></li>
    </ul>
    <div id=''>

        <span id='clockmonthDay' style='font-family: lato,sans-serif;font-size:xx-large;color:#00172F;margin: 10px;'></span>

        <p id='clockDate'><span id='clockHours'></span> : <span id='clockMins'></span> 

    </div>
</div>