@font-face {
    font-family: 'digin-chart';
    src: url('digin-chart.eot?xt1sr2');
    src: url('digin-chart.eot?xt1sr2#iefix') format('embedded-opentype'),
    url('digin-chart.ttf?xt1sr2') format('truetype'),
    url('digin-chart.woff?xt1sr2') format('woff'),
    url('digin-chart.svg?xt1sr2#digin-chart') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="chart-digin"], [class*=" chart-digin"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'digin-chart' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chart-diginalluvialt:before {
    content: "\e900";
}

.chart-diginbump:before {
    content: "\e901";
}

.chart-digincircular-dendrogram:before {
    content: "\e902";
}

.chart-digincluster:before {
    content: "\e903";
}

.chart-digincluster-dendrogram:before {
    content: "\e904";
}

.chart-diginconvex-hull:before {
    content: "\e905";
}

.chart-diginhierarchy-chart:before {
    content: "\e906";
}

.chart-diginscatter:before {
    content: "\e907";
}

.chart-diginsmooth_area:before {
    content: "\e908";
}

.chart-diginSmooth_line:before {
    content: "\e909";
}

.chart-diginsunburst-chart:before {
    content: "\e90a";
}

.chart-digintreeeview:before {
    content: "\e90b";
}

