<style>
.widget-header
{
	background: white;
    padding: 0px 10px 0px 10px;
}
.widget-button
{
	color: #02b5e2;
}
.widget-button:hover
{
	color: #f9a525;
}
.md-tab.md-disabled
{
	opacity: 1;
	background: white !important;
	color: black !important;
}
.md-menu {
    padding: 0px
}
.links
{
	text-decoration:none;
	color: #428bca;
}
.align-left
{
    text-align: left;
	color: white;
	font-size:20px;
	line-height:30px;
}
 
 p{
	margin: 4px;
 }
 .nav-active {
  background-color: #2BDB71;
  color: black;
}
.nav-inactive {
  background-color: #fcd453;
  color: black;
}
 
 
</style>

<footer style="width:100%;right:0px;bottom:0px;position:fixed;">
	<md-tabs id="pagingTabs" md-align-tabs="bottom">

	 
	  <md-tab   id="tab1" md-on-select="selectPage($index)" >
		<md-tab-label layout="row" layout="space-between center">
			<span  style="text-transform:none;padding-right:20px;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" flex>Manage Users</span>
			<span flex></span>
		</md-tab-label>
		<md-tab-body>
		
			<div layout="row" style="max-width:960px;margin: 0 auto;margin-bottom: 15px;margin-top:20px" ng-if="tabVisible">
				<input placeholder="Type the user's Email to Invite" style="width:100%;border-radius: 4px 0px 0px 4px !important;box-shadow:0 2px 4px 0 rgba(0,0,0,.15) !important;margin-top: 0px !important;" type="text" ng-model="searchText" ng-keypress="($event.which === 13)?enterInviteUser($event,searchText):0" />
				<md-button aria-label="Open demo menu" class="md-raised md-primary" style="border-radius: 0px 4px 4px 0px !important;background: #02b5e2;margin: 0px;" ng-click="enterInviteUser($event,searchText)">
					<span style="text-transform:none">Add User</span>
				</md-button>
			</div>
			
			<div class="card-container" layout-padding>
				<md-whiteframe class="md-whiteframe-2dp layout-whiteframe" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center"> 
					<md-content>
						<div layout="row" layout-align="end end">
							<md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="route('welcome')"></md-button>
						</div>

					<form name="editForm"  md-theme="default" layout-padding>

						<md-list ng-cloak>
							<!--md-list-item ng-repeat="user in $root.sharableUsers | filter:searchText" ng-class=" user.Active?'nav-active':'nav-inactive'"-->
							<md-list-item ng-repeat="user in $root.sharableUsers | filter:searchText">
								<img ng-src="{{getCatLetter(user.Name)}}" err-src="{{getCatLetter(user.Name)}}" class="md-avatar" alt="{{user.Name}}" />
								<div layout="row" flex>
									<div><p style="font-weight:700; width:250px;"> {{ user.Name }} </p></div>
									<div><p style="color:#717171; width:300px;"> {{ user.Id}} </p></div>
								</div>

										<md-button ng-if="tabVisible" class="md-mini ti-trash" style="font-size: 20px;color:grey" aria-label="remove" ng-click="removeUser($event, user)" ng-show="{{profile_Det.Email==user.Id}}?false:true">
										</md-button>
										
										<!--md-button ng-if="!tabVisible" md-font-icon="icon-home"  style="font-size: 15px;color:grey height:30px;" aria-label="update" ng-click="resetPassword($event, user)">
										Reset Password
										</md-button-->
										

										<md-button ng-if="!user.Active" style="font-size: 10px;color:grey; min-width: 30px;" aria-label="status" ng-click="acivateUser($event, user)" ng-disabled="tabVisible">
											<img src="views/settings/userAdministrator/yellow.png"/>
										</md-button>
										
										<md-button ng-if="user.Active"" style="font-size: 10px;color:grey; min-width: 30px;" aria-label="status" ng-click="deacivateUser($event, user)" disabled>
											<img src="views/settings/userAdministrator/green.png"/>
										</md-button>
												
													<div ng-if="!tabVisible" layout="column" flex="33" flex-sm="100" flex-xs="100" layout-align="center center">
														<md-menu md-offset="0 -7">
														  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
															<img src="views/settings/userAdministrator/menu.png"/>
														  </md-button>
														  <md-menu-content width="2">
															<md-menu-item>															 
																  <md-button ng-click="resetPassword($event, user)">
																	Reset Password
																  </md-button>
															</md-menu-item>
															<md-menu-item>
																  <md-button ng-click="removeUser($event, user)">
																	Remove User
																  </md-button>															  
															</md-menu-item>
														  </md-menu-content>
														</md-menu>
													</div>
									
								<md-divider ng-show="!$last"></md-divider>
								
							</md-list-item>
						
						</md-list>

						<div ng-show="($root.sharableUsers|filter:searchText).length == 0" layout="row" layout-align="center center">
							<img src="views/settings/userAdministrator/desert.png" />
							<span style="padding-left:20px;font-weight:700" ng-if="tabVisible">There are currently no users with access to your account with this keyword/ email.</span>
							<span style="padding-left:20px;font-weight:700" ng-if="!tabVisible">users not found.</span>
						</div>

				

					</form>

			
				</md-content>
				</md-whiteframe>
			</div>
		</md-tab-body>
	  </md-tab>


	  <md-tab label="add page">
		<md-tab-label layout="row" layout="space-between center">
			<span  style="text-transform:none;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" flex>
				Manage Roles
			</span>
		</md-tab-label>
		<md-tab-body>
			<div class="card-container" layout-padding>
				<md-whiteframe class="md-whiteframe-2dp layout-whiteframe" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center"> 
					<md-content>
						<form name="editForm"  md-theme="default" ng-submit="submit()">
							<div layout="row" layout-align="end end">
								<md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="back" ng-click="route('welcome')"></md-button>
							</div>
								
							<div class="setting-card-header">
								<h2 md-colors="{color:'{{$root.h1color}}-A700'}">User Groups</h2>
								<div class="setting-img-wrap">
									<img src="views/settings/userAdministrator/groups.png"/>
									<div layout="row" layout-align="end center" style="margin-right:20px">
										<md-button class="md-raised" aria-label="Add Group" ng-click="vm.addGroup($event)">
											<span style="color:grey">Add Group</span>
										</md-button>
									</div>
								</div>
							</div>
							
							<div style="padding:20px">
								<v-accordion id="accordion-list" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index,id)" oncollapse="collapseCallback(index, id)" multiple>
									<v-pane id="Cards" expanded="$first" ng-repeat="group in groups"> 
										<v-pane-header id="Store-header" aria-controls="Store-content">
											<h5 style="margin:0px;">{{group.groupname}}</h5> 
										</v-pane-header>

										<v-pane-content id="Store-content" aria-labelledby="Store-header" style="background: #eaeaea;border-radius: 4px;">
											<div layout="row" layout-align="end end">
									
												<md-button  aria-label="Add user" ng-click="vm.addGroup($event,group,$index)" layout="row">
													<span style="text-transform:none;color:#f9a525">Edit Group</span>
												</md-button>
												<md-button  aria-label="delete user" ng-click="vm.deleteGroup($event, $index,group)">
													<span style="text-transform:none;color:#f9a525">Delete Group</span>
												</md-button>
											
											
											</div>
											<md-list ng-cloak>
									
												<md-list-item class="secondary-button-padding" ng-repeat="groupMemeber in group.users">
													<p><span style="font-weight:700">{{groupMemeber.Name}}</span> ({{groupMemeber.Id}})</p>
						
												</md-list-item>
								

											</md-list>
										</v-pane-content>  
									</v-pane>
								</v-accordion>
							</div>
							
						</form>
		
					</md-content>
				</md-whiteframe>
			</div>
		</md-tab-body>
	  </md-tab>

	  <md-tab label="add page">
		<md-tab-label layout="row" layout="space-between center">
			<span  style="text-transform:none;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" flex>
				System Roles
			</span>
		</md-tab-label>
		<md-tab-body>
			
		</md-tab-body>
	  </md-tab>
	</md-tabs>

</footer>