<!-- createcompany-partial.html -->
<md-card class="commonContentShell md-whiteframe-12dp" layout="row" layout-sm="column" layout-xs="column" layout-align="start stretch" ng-switch="createCompanySuccess">
    <section id="cygilContainer" layout="column" layout-align="start center">
        <img src="./images/cloudchargelogo.png" />
    </section>
    <section id="formContainer" flex layout="column" layout-align="center center" ng-switch-when="false" style="padding:10px;">
        <form name="createCompanyForm" ng-submit="showPlans()" autocomplete="off">
            <md-input-container md-no-float class="md-block" flex>
                <input required id="companyName" type="text" name="companyName" placeholder="company name" ng-model="createCompanyDetails.Name">
                <div ng-messages="createCompanyForm.companyName.$error">
                    <div ng-message="required">a valid company name is required.</div>
                </div>
            </md-input-container>
            <div layout="row">
                <md-input-container md-no-float class="md-block" flex="70">
                    <input required id="companyDomain" type="text" name="companyDomain" placeholder="company domain" ng-model="createCompanyDetails.TenantID">
                    <div ng-messages="createCompanyForm.companyDomain.$error">
                        <div ng-message="required">a valid company domain name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block" flex="30">
                    <input disabled id="domainPostfix" type="text" name="companyDomainPostFix" placeholder=".DuoWorld.com" ng-model="hostedDomain">
                </md-input-container>
            </div>
            <md-input-container md-no-float class="md-block" flex>
                <md-select name="businessType" placeholder="business type" ng-model="createCompanyDetails.OtherData.CompanyType" md-on-open="loadBusinessType()">
                    <md-option ng-value="bizType.businessName" ng-repeat="bizType in businessType">{{bizType.businessName}}</md-option>
                </md-select>
                <div class="errors" ng-messages="businessType.$error" ng-if="createCompanyForm.$dirty">
                    <div ng-message="required">Please select a business type.</div>
                </div>
            </md-input-container>

            <md-input-container md-no-float class="md-block" flex style="margin-top:36px !important; margin-bottom:46px !important; ">
                <md-select name="companyLocation" placeholder="company location" ng-model="createCompanyDetails.OtherData.CompanyLocation" md-on-open="loadLocations()">
                    <md-option ng-repeat="location in companyLocation" ng-value="location.countryName">{{location.countryName}}</md-option>
                </md-select>
                <div class="errors" ng-messages="companyLocation.$error" ng-if="createCompanyForm.$dirty">
                    <div ng-message="required">Please select a company location.</div>
                </div>
            </md-input-container>
            <div class="md-actions" layout="column" layout-align="center center">
                <md-button class="md-raised md-primary" style="width:100%" type="submit"><span class="loginBtnLabel">Create Tenant</span></md-button>
            </div>
        </form>
    </section>
    <section id="successContainer" flex layout="column" layout-align="center center" ng-switch-when="true">
        <img src="success.png" style="width:100px; height:100px; opacity:0.2;" />
        <span style="font-size:18px; width:330px; text-align:center; padding:20px 0px 10px 0px;">Your company has been successfully registered to 12thDoor.com</span>
        <!-- <span style="font-size:16px; width:330px; text-align:center; padding:10px 0px 10px 0px; color:rgb(63,81,181); cursor:pointer;" ng-click="locateUserEmail()">Please check your email to get started.</span> -->
    </section>
</md-card>
