<div class="step1-main-container" layout="column" layout-align="center center">
    <div layout="row" layout-align="start center" class="wizard-title">
        <p class="step-title-1">1</p>
        <p class="step-title-2">step
            <br><span>Tennant Creation</span></p>
    </div>
    <md-card class="step1-wizard-container md-whiteframe-12dp" layout="row">
        <section flex="30" class="step1-wizard-cover" layout="column" layout-align="space-between center" hide-sm hide-xs>
            <img src="./images/tennantassets/customizedlogo_white.png" style="width:80%;margin:20px;">
        </section>
        <div flex layout-padding>
            <!--            <form name="createCompanyForm" ng-submit="submitCreateCompanyDetails(createCompanyDetails)" autocomplete="off">-->
            <md-input-container md-no-float class="md-block" flex>
                <input required id="companyName" type="text" name="companyName" placeholder="company name" ng-model="createCompanyDetails.Name">
                <div ng-messages="createCompanyForm.companyName.$error">
                    <div ng-message="required">a valid company name is required.</div>
                </div>
            </md-input-container>
            <div layout="row">
                <md-input-container md-no-float class="md-block" flex="70">
                    <input required id="companyDomain" type="text" name="companyDomain" placeholder="company domain" ng-model="createCompanyDetails.TenantID">
                    <div ng-messages="createCompanyForm.companyDomain.$error">
                        <div ng-message="required">a valid company domain name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container md-no-float class="md-block" flex="30">
                    <input disabled id="domainPostfix" type="text" name="companyDomainPostFix" placeholder=".duoworld.com" ng-model="hostedDomain">
                </md-input-container>
            </div>
            <md-input-container md-no-float class="md-block" flex>
                <md-select name="businessType" placeholder="business type" ng-model="createCompanyDetails.OtherData.CompanyType" md-on-open="loadBusinessType()">
                    <md-option ng-value="bizType.businessName" ng-repeat="bizType in businessType">{{bizType.businessName}}</md-option>
                </md-select>
                <div class="errors" ng-messages="businessType.$error" ng-if="createCompanyForm.$dirty">
                    <div ng-message="required">Please select a business type.</div>
                </div>
            </md-input-container>
            <md-input-container md-no-float class="md-block" flex style="margin-top:36px !important; margin-bottom:46px !important; ">
                <md-select name="companyLocation" placeholder="company location" ng-model="createCompanyDetails.OtherData.CompanyLocation" md-on-open="loadLocations()">
                    <md-option ng-repeat="location in companyLocation" ng-value="location.countryName">{{location.countryName}}</md-option>
                </md-select>
                <div class="errors" ng-messages="companyLocation.$error" ng-if="createCompanyForm.$dirty">
                    <div ng-message="required">Please select a company location.</div>
                </div>
            </md-input-container>

            <md-button class="md-raised md-accent" style="width:100%" type="submit"><span class="loginBtnLabel" ng-click="showStep(2)">Create Company</span></md-button>
<!--
            <md-button class="md-accent md-raised" style="width:100%" type="submit" ng-disabled="true">
    <div layout="row" layout-align="center center"><span class="loginBtnLabel">Creating Company</span>
        <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular>
    </div>
</md-button>
-->
            <!--            </form>-->
            <!--            <md-button ui-sref="step2">step 2</md-button>-->
        </div>

    </md-card>
</div>

<!--<p class="background-title">Tennant Creation</p>-->
