<div class="main-container" layout="column">
    <div class="title-container">
        <div class="title" layout="row" layout-align="space-between center" class="wizard-title">
            <div layout="row" layout-align="center center">
                <p class="step-title-1">3</p>
                <p class="step-title-2">step
                    <br><span>Shell Customization</span></p>
            </div>
            <md-input-container style="font-size: 15px;
    width: 200px;" hide-xs hide-sm>
                <label>Change preview Device</label>
                <md-select ng-model="device">
                    <md-option value="desktop">
                        Desktop
                    </md-option>
                    <md-option value="mobile">
                        Mobile
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>

    <md-content class="content">
        <md-tabs md-dynamic-height md-border-bottom md-selected="configIndex">
            <md-tab label="Branding">
                <md-content flex="45" flex-sm="100" flex-xs="100" class="md-padding tabs-content-container" layout="column" layout-align="start center">

                    <input class="btn btn-default btn-lg" type="file" id="fileInput" style="visibility: hidden;" onchange="angular.element(this).scope().handleFileSelect(event)" />
                    <md-button ng-click="uploadLogo()" ng-if="myImage == ''" class="logo-button">
                        <div class="cropArea" layout="column" layout-align="center center">
                            <p>Click here to Upload Logo</p>
                        </div>
                    </md-button>
                    <div class="cropArea">
                        <img-crop image="myImage" area-type="rectangle" result-image="myCroppedImage" result-image-size="{w: 160, h: 42}" area-min-size="{w:selectedOption.value.w, h: selectedOption.value.h}" init-max-area="true"></img-crop>
                    </div>

                    <div layout="row" layout-align="center center">
                        <md-button ng-click="uploadLogo()">
                            <md-icon md-svg-icon="icons/ic_repeat_24px.svg" ng-if="myImage !== ''"></md-icon>
                        </md-button>
                    </div>
                    <md-input-container md-no-float required style="width:100%;">
                        <input ng-model="config.companyConfiguration.title" placeholder="Superman.Inc">
                    </md-input-container>
                    <md-button ng-click="configIndex = configIndex + 1;state = 'theme';" class="md-primary">Next</md-button>


                </md-content>
            </md-tab>
            <md-tab label="Theme">
                <md-content flex="45" flex-sm="100" flex-xs="100" class="md-padding tabs-content-container" layout="column" layout-align="start center">
                    <md-list>
                        <md-subheader>Primary Color</md-subheader>
                        <md-divider></md-divider>
                        <div layout="row" layout-wrap layout-align="center center" layout-margin layout-padding>
                            <md-button ng-repeat="c in colors" ng-click="assignPrimaryColor(c)">
                                <div style="background:{{c}}" class="color-palet" layout="row" layout-align="center center">
                                    <md-icon md-svg-icon="icons/ic_done_24px.svg" style="color:white;" ng-show="c == config.shellConfiguration.themeconfiguration.primarypalette"></md-icon>
                                </div>
                            </md-button>

                        </div>
                        <md-subheader>Accent Color</md-subheader>
                        <md-divider></md-divider>
                        <div layout="row" layout-wrap layout-align="center center" layout-margin layout-padding>
                            <md-button ng-repeat="a in colors" ng-click="assignAccentColor(a)" ng-hide="a == config.shellConfiguration.themeconfiguration.primarypalette">
                                <div style="background:{{a}}" class="color-palet" layout="row" layout-align="center center">
                                    <md-icon md-svg-icon="icons/ic_done_24px.svg" style="color:white;" ng-show="a == config.shellConfiguration.themeconfiguration.accentpalette"></md-icon>
                                </div>
                            </md-button>
                        </div>
                    </md-list>
                    <div layout="row" layout-align="center center">
                        <md-button ng-click="configIndex = configIndex - 1;state = 'branding';" class="md-primary">Previous</md-button>
                        <md-button ng-click="configIndex = configIndex + 1;state = 'background';" class="md-primary">Next</md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Background">
                <md-content flex="45" flex-sm="100" flex-xs="100" class="md-padding tabs-content-container" layout="column" layout-align="start center">

                    <div layout="row" layout-align="center start" layout-wrap layout-margin style="height: 50vh;
    overflow: auto;">
                        <md-button ng-repeat="w in wallpapers" ng-click="setBackground(w.imgUrl)">
                            <img src="{{w.thumb}}" class="background-thumb">
                        </md-button>
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-button ng-click="configIndex = configIndex - 1;state = 'theme';" class="md-primary">Previous</md-button>
                        <md-button ng-click="configIndex = configIndex + 1;state = 'transitions';" class="md-primary">Next</md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Transitions">
                <md-content flex="45" flex-sm="100" flex-xs="100" class="md-padding tabs-content-container" layout="column" layout-align="start center">
                    <md-list>
                        <md-subheader class="md-no-sticky">Dock Options</md-subheader>
                        <md-divider></md-divider>
                        <md-list-item>
                            <md-icon md-svg-icon="icons/ic_3d_rotation_24px.svg" alt="Tansition Effect"></md-icon>
                            <p>Transition Effect</p>
                            <md-input-container class="customListInputContainer">

                                <md-select ng-model="config.shellConfiguration.docklayoutconfiguration.dockoptions.transitioneffect" placeholder="Select Effect">
                                    <md-option value="slide">Slide</md-option>
                                    <md-option value="fade">Cross Fade</md-option>

                                </md-select>
                            </md-input-container>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <md-icon md-svg-icon="icons/ic_open_with_24px.svg" alt="Layout Direction"></md-icon>
                            <p>Layout Direction</p>
                            <md-input-container class="customListInputContainer">
                                <!--                                            <label>Select Direction</label>-->
                                <md-select ng-model="config.shellConfiguration.docklayoutconfiguration.dockoptions.layoutdirection" placeholder="Select Direction">
                                    <md-option value="vertical">Vertical</md-option>
                                    <md-option value="horizontal">Horizontal</md-option>
                                </md-select>
                            </md-input-container>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <md-icon md-svg-icon="icons/ic_hdr_weak_24px.svg" alt="Pagination"></md-icon>
                            <p>Pagination</p>
                            <md-switch class="md-secondary" ng-model="config.shellConfiguration.docklayoutconfiguration.dockoptions.pagination"></md-switch>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <md-icon md-svg-icon="icons/ic_cached_24px.svg" alt="Loop Pannels"></md-icon>
                            <p>Loop Pannels</p>
                            <md-switch class="md-secondary" ng-model="config.shellConfiguration.docklayoutconfiguration.dockoptions.looppannels"></md-switch>
                        </md-list-item>
                    </md-list>
                    <div layout="row" layout-align="center center">
                        <md-button ng-click="configIndex = configIndex - 1;state = 'background';" class="md-primary">Previous</md-button>
                        <md-button ng-click="configIndex = configIndex + 1;state = 'applications';" class="md-primary">Next</md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Applications">
                <md-content flex="45" flex-sm="100" flex-xs="100" class="md-padding tabs-content-container" layout="column" layout-align="start center">
                    <md-list>
                        <md-list-item>
                            <md-subheader class="md-no-sticky">Default Applications</md-subheader>
                            <span ng-if="isChecked()">Un-</span>Select All
                            <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()" class="md-secondary">

                            </md-checkbox>

                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item ng-repeat="app in apps">
                            <img src="{{app.icon}}" style="width:48px;height:48px;border-radius:100%;margin:15px;">
                            <p>{{ app.title }}</p>
                            <md-checkbox ng-checked="exists(app, selected)" ng-click="toggle(app, selected)">
                            </md-checkbox>
                            <md-divider></md-divider>
                        </md-list-item>

                    </md-list>
                    <div layout="row" layout-align="center center">
                        <md-button ng-click="configIndex = configIndex - 1;state = 'transitions';" class="md-primary">Previous</md-button>
                        <md-button ng-click="finish($event)" class="md-primary">Finish</md-button>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

    <div hide-xs hide-sm class="view" style="background-image:url({{config.shellConfiguration.backgroundconfiguration[2].backgroundimageconfig.imageurl}})" ng-if="device !== 'mobile'">
        <ng-include src="'partials/shellView.html'"></ng-include>
    </div>
    <div hide-xs hide-sm class="mobileView" style="background-image:url({{config.shellConfiguration.backgroundconfiguration[2].backgroundimageconfig.imageurl}})" ng-if="device == 'mobile'">
        <ng-include src="'partials/shellMobileView.html'"></ng-include>
    </div>
    <img hide-xs hide-sm src="images/frame.png" class="frame" ng-if="device !== 'mobile'">
    <img hide-xs hide-sm src="images/phone-frame.png" class="mobileFrame" ng-if="device == 'mobile'">


</div>
