
<div ng-init="initSettings()" ng-show="true" class="md-padding animated fadeIn" layout="row" layout-align="center center" >
    <div layout="column" class="setup-info-container" flex="40">

        <div layout="column" layout-align="space-between center">
            <span class="setup-font-theme setup-user-heading">Add user group</span>
        </div>

        <div layout="row" layout-align="center center">
            <div flex="15">Group Name</div>
            <div flex="70">
                <md-input-container>
                    <label>Type group name here</label>
                    <input ng-model="groupName" name="grpName">
                </md-input-container>
            </div> 
            <div flex="10">   
                <ng-md-icon icon="group_add" style="fill:blue" size="40" ng-click="createGroup()"></ng-md-icon>
            </div>     
        </div>    

    
        <div layout="column" layout-align="space-between center" flex>
            <span class="setup-font-theme setup-user-heading-secondary">Add users to group</span>
        </div>

            <v-accordion onexpand="expandCallback(index, id)" class="vAccordion--default" multiple control="accordion">
                  <!-- add expanded attribute to open the section -->
                  <v-pane id="{{::group.groupId}}" ng-repeat="group in groups">
                    <v-pane-header>
                        <div layout="row">
                            <div ng-click="viewUsersInGroup(group.groupId)" flex="5">
                                <ng-md-icon icon="group" style="fill:blue" size="24"></ng-md-icon> 
                            </div>
                            <div ng-click="viewUsersInGroup(group.groupId)" flex="70">
                                {{ group.groupname }}
                            </div>        
                               
                            <!-- Delete group -->
                            <div ng-click="deleteGroup(group.groupId,$event,$index)" flex="5">
                                <ng-md-icon icon="delete" style="fill:blue" size="24"></ng-md-icon>
                            </div>
                                   
                            <!-- Add users to group -->
                            <div ng-click="loadAddUsersWindow(group.groupId)" flex="5">
                                <ng-md-icon icon="person_add" style="fill:blue" size="24"></ng-md-icon>
                            </div>         
                        </div>    

                    </v-pane-header>

                    <!-- VIEW USERS IN THE GROUP -->
                    <v-pane-content >
                        <ul class="widget-collection">
                            <li class="collection-item" ng-repeat="user in users">
                                <div layout="row">
                                   <div flex="80">{{ user.Name }}</div>
                                    <div ng-click="deleteUserFromGroup(group.groupId,user.UserID)" flex="5">
                                        <ng-md-icon icon="clear" style="fill:red" size="20"></ng-md-icon>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </v-pane-content>

                  </v-pane>
            </v-accordion>
    </div>
</div>