<div class="setup-wrapper"></div>

<div layout="row" layout-align="end center">
    <div layout="row" class="setting-close pull-right" ng-click="route('back')">
        <i class="fa fa-close"></i>
    </div>
</div>

<!--<div layout-align="space-between center">-->
<!--<span class="setup-font-theme setup-user-heading">Create User Groups</span>-->
<!--</div>-->

<div ng-show="true" layout="column" class="animated fadeIn" layout-align="center center">

    <md-content flex="50" class="text-left new-group-wrapper"  layout-padding>
        <h4>Create new group</h4>

        <div layout="row">
            <md-input-container flex>
                <label>Group Name</label>
                <input ng-model="groupName" name="grpName">
            </md-input-container>
        </div>

         <!--<div layout="row">
            <md-chips flex ng-model="selectedUsers" select-items="sharableUsers" main-title="Name"></md-chips>
        </div> -->

        <div layout="row">
           <md-content layout="column" style="height:100%; background-color: " flex>
                <h2 class="md-title">
                <md-chips ng-model="ContactChip" md-autocomplete-snap md-require-match="true">
                       <md-autocomplete
                          md-selected-item="selectedItem"
                          md-search-text="searchText"
                          md-items="item in querySearch(searchText)"
                          md-item-text="item.Name" 
                          placeholder="Select users for group">
                          <span md-highlight-text="searchText">{{item.Name}}</span>
                       </md-autocomplete>
                       <md-chip-template style="background: #037281; font-size:16px">
                          <span>
                          <strong>{{$chip.Name}}</strong>  
                          </span>
                       </md-chip-template>
                </md-chips>
            </md-content>  
        </div>     

        <div layout="row" class="p-t-30">
            <md-button ng-click="createGroup()" class="md-raised md-primary">Create group</md-button>
        </div>
    </md-content>


    </br>
    </br>

    <div layout="row">
        <md-content layout="column" style="height:100%; background-color: " flex>
            <span><h3>User Groups.... </h3></span>
            <md-list-item ng-repeat="sharableGroupsDtl in sharableGroupsDtls">      
                <table>
                    <tr>   
                        <td>
                            <ng-md-icon icon="group" style="fill:blue" size="24"></ng-md-icon>
                        </td> 
                        <td>   
                            <div flex="70"> 
                                {{ sharableGroupsDtl.groupname }} 
                            </div>
                        </td>
                        <td>
                            <div ng-click="deleteGroup(sharableGroupsDtl.groupId,$index)">
                                <ng-md-icon icon="delete" style="fill:blue" size="24"></ng-md-icon>
                            </div>
                        </td>
                        <td>
                            <div ng-click="loadAddUsersWindow(sharableGroupsDtl.groupId,sharableGroupsDtl.groupname,sharableGroupsDtl.users,sharableUsers)">
                                <ng-md-icon icon="person_add" style="fill:blue" size="24"></ng-md-icon>
                            </div>
                        </td>
                </tr>
                    <tr>
                        <td colspan="3">   
                            <div ng-repeat="user in sharableGroupsDtl.users" style="width: 800px; color: navy; background-color: ""; border: 2px solid blue; padding: 5px;" layout="row"> 
                               <div style="width:200px;">{{user.Name}}</div> <div ng-click="deleteUserFromGroup(sharableGroupsDtl.groupId,user)">X</div>
                            </div>
                        </td>   
                    </tr> 
                </table>                      
            </md-list-item>  
        </md-content>              
    </div>    

</div>




  

















































<!-- ## TESTING CHIP ##-->
<!-- 
                   <md-content layout="column" style="height:100%; background-color: " flex>
                        <h2 class="md-title">
                            <md-chips ng-model="ContactChip" md-autocomplete-snap md-require-match="true">
                               <md-autocomplete
                                  md-selected-item="selectedItem"
                                  md-search-text="searchText"
                                  md-items="item in querySearch(searchText)"
                                  md-item-text="item.Name" 
                                  placeholder="Select users for group">
                                  <span md-highlight-text="searchText">{{item.Name}}</span>
                               </md-autocomplete>
                               <md-chip-template style="background: #037281; font-size:16px">
                                  <span>
                                  <strong>{{$chip.Name}}</strong>  
                                  </span>
                               </md-chip-template>
                            </md-chips>
                   </md-content>   

                
 -->