<!--START OF FIRST CARD CONTAINER-->
<div ng-controller="ViewCtrl as ctrl">

	<!--START OF SECOND CARD CONTAINER-->
	<div class="" style="padding-bottom:42px;">

		<div layout="row" style="padding-top:15px;">

			<!--setting menu cards-->
			<div flex="25" flex-sm="22">
				<md-card style="box-shadow:0 5px 5px -3px rgba(0,0,0,.14),0 8px 10px 1px rgba(0,0,0,.098),0 3px 14px 2px rgba(0,0,0,.084); position:fixed;width: 24%; height:400px;">
				<md-card-content>
				<md-content layout-margin>
					<div flex layout="row" layout-align="start center">
						<md-button  ui-sref="main.two">apps</md-button>
					</div>
					<div flex layout="row" layout-align="start center">
						<md-button ui-sref="main.three">add user</md-button>
					</div>
					<div flex layout="row" layout-align="start center">
						<md-button ui-sref="main.four">add user group</md-button>
					</div>
</md-content>
</md-card-content>
</md-card>

</div>  

<div flex>
	<div class="span12 ui-view-container" style="padding: 8px;">
		<div class="container" style="width:93%" ui-view  viewcss></div>        
	</div>
</div>
</div>

</div>
<!--END OF FIRST CARD CONTAINER-->

<!--START OF SECOND CARD CONTAINER-->
<div class="card_container" style="padding-top:117px">
</div>
<!--START OF SECOND CARD CONTAINER-->
</div>		
<!--<div  class="lock-size" layout="row">-->
<!--	<div id="add" class="fab_button_animation" style="background:#2980b9;"></div>-->
<!--	<div id="viewDrafts" class="fab_button_animation" style="background:#f1c40f;"></div>-->

<!--	<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"-->
<!--	ng-class="demo.selectedMode">-->
<!-- 20px -->
<!--	<md-fab-trigger>-->
<!--	<md-button aria-label="menu" class="md-fab " style="background-color:#db4437;" ng-click="addInvoice()">-->
<!--	<md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>-->
<!--</md-button>-->
<!--</md-fab-trigger>-->
<!--<md-fab-actions >-->

<!--        </md-fab-actions>-->
<!--    </md-fab-speed-dial>-->
<!--</div>  -->
