<div layout="row" layout-align="center center" style="margin-top:25%" ng-if="headerInfo.Success == false">
	<h1>Please add a Card or an Account.</h1>
</div>
<!--START OF COLLAPSE CARDS-->
<div  class="collapse-card" ng-repeat="apps in app" ng-class="{ active: $active }" >

	<!--START OF COLLAPSE CARD HEADING| filter:ctrl.actionSearchText||undefined-->
	<div class="collapse-card__heading" layout="row" layout-align="start start" >

		<!--END OF CARD CONTROLS SECTION-->
		<!--START OF CARD OPEN SECTION-->
		<div class="collapse-card_header_content_info" layout="row" layout-sm="column" layout-align="start center" layout-align-sm="center center" flex="90" ng-click="$active = !$active; closeAll();">
			<div flex="10"><img class="imgcircle" src="{{apps.iconUrl}}"/></div>
			<div flex="100">
				<h4 class="collapse-card__title" style="margin-top:8px;">
					<span class="s">{{apps.Name}}</span>
				</h4>
			</div>
		</div>
		<!--END OF CARD OPEN SECTION-->

		<!--START OF CARD CONTROLS SECTION-->

		<div class="collapse-card_header_content_controls" flex="10" layout="column" layout-align="center start">
			<md-menu md-position-mode="target-right target">
			<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
			<md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
		</md-button>
		<md-menu-content width="4">
		<md-menu-item>
		<md-button ui-sref="main.share({applicationKey:apps.ApplicationID})">
		<div layout="row">
			<p flex>Sharing</p>
			<md-icon md-svg-icon="img/ic_account_box_24px.svg"></md-icon>
		</div>
	</md-button>
</md-menu-item>
<!--<md-menu-item>-->
<!--<md-button ng-click="appfunctionality($event)">-->
<!--<div layout="row">-->
<!--	<p flex>App Functionality</p>-->
<!--	<md-icon md-svg-icon="img/ic_account_box_24px.svg"></md-icon>-->
<!--</div>-->
<!--</md-button>-->
<!--</md-menu-item>-->
</md-menu-content>
</md-menu>
</div>
<!--END OF CARD CONTROLS SECTION-->
</div>
<!--END OF COLLAPSE CARD HEADING-->

<!--START OF CARD BODY-->
<div class="collapse-card__body">
	<form id="form" name="editForm">
		<md-content>
		<div layout layout-sm="column" layout-margin>
			<md-input-container id="accContainer" flex>
			<label>Description</label>
			<input  ng-model="apps.Description" required readonly="readonly">
		</md-input-container>
	</div>

</md-content>
</form>
</div>
<!--END OF CARD BODY-->


</div>
<!--END OF COLLAPSE CARDS-->

<div layout="row" layout-sm="column" layout-align="space-around" style="padding-top:40px;" ng-show="loading">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
