<html>
	<head>
	    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    	<title>DuoWorld DevStudio</title>
    	<link rel="icon" href="favicon.ico" type="image/x-icon" />

		<script type="text/javascript">window.devportal = {partials:{}};</script>

		<script type="text/javascript" src="/runtime_profiles/environ.js"></script>

		<script type="text/javascript" src="views/js/less.min.js"></script>

		<script type="text/javascript" src="views/js/filetypes.min.js"></script>

		<script type="text/javascript" src="views/js/angular.min.js"></script>
		<script type="text/javascript" src="views/js/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="views/js/angular-tree-control.js"></script>
		<script type="text/javascript" src="views/js/angular-material-icons.min.js"></script>
		
		<script type="text/javascript" src="views/js/angular-aria.min.js"></script>
		<script type="text/javascript" src="views/js/angular-animate.min.js"></script>
		<script type="text/javascript" src="views/js/angular-material.min.js"></script>

		<script type="text/javascript" src="views/js/ace/ace.js"></script>
		<script type="text/javascript" src="views/js/ace/ext-modelist.js"></script>
		<script type="text/javascript" src="views/js/ace/ext-language_tools.js"></script>
		<script type="text/javascript" src="views/js/ui-ace.min.js"></script>

		<script type="text/javascript" src="views/js/mousetrap.min.js"></script>
		<script type="text/javascript" src="views/js/hotkeys.js"></script>
		
		<script type="text/javascript" src="/uimicrokernel/uimicrokernel.js"></script>
		<script type="text/javascript" src="views/js-core/proxy.js"></script>
		
		<script type="text/javascript" src="views/partials/home/home.js"></script>
		<script type="text/javascript" src="views/partials/create/create.js"></script>
		<script type="text/javascript" src="views/partials/edit/edit.js"></script>
		<script type="text/javascript" src="views/partials/run/run.js"></script>
		<script type="text/javascript" src="views/partials/test/test.js"></script>
		<script type="text/javascript" src="views/partials/publish/publish.js"></script>
		<script type="text/javascript" src="views/partials/share/share.js"></script>
		<script type="text/javascript" src="views/partials/desc/desc.js"></script>
		<script type="text/javascript" src="views/partials/newfile/newfile.js"></script>
		<script type="text/javascript" src="views/partials/newsnippet/newsnippet.js"></script>
		<script type="text/javascript" src="views/partials/bundle/bundle.js"></script>

		<script type="text/javascript" src="views/js-core/shell.js"></script>

		<link rel="stylesheet" type="text/css" href="views/styles/main.css" />
		<link rel="stylesheet" type="text/css" href="views/styles/tree-control.css">
		<link rel="stylesheet" type="text/css" href="views/styles/tree-control-attribute.css">
		<link rel="stylesheet" type="text/css" href="views/styles/angular-material.css">
		<link rel="stylesheet" type="text/css" href="views/styles/angular-material-icons.css">

	</head>
	<body ng-app="shellApp" ng-controller="shellController">
		<div style="height:100%;width:100%;" ui-view></div>
		<div ng-show="isBusy" style="position:fixed;left:50%;top:50%;margin-left:-50px;margin-top:-50px;height:100;width:100px;">
		    <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
		</div>

		<md-fab-speed-dial md-direction="up" ng-class="selectedMode" layout-align="bottom right" style="position:fixed;top:100%;left:100%;margin-left:-80px;margin-top:-180px;">
			<md-fab-trigger>
			  <md-button aria-label="menu" class="md-fab md-warn">
			    <md-icon><ng-md-icon icon="menu" size="24"></ng-md-icon></md-icon>
			  </md-button>
			</md-fab-trigger>

			<md-fab-actions>
			  <md-button class="md-fab md-primary md-mini" ng-click="navigate('home')">
				<md-icon><ng-md-icon icon="home" size="24"></ng-md-icon></md-icon>
				<md-tooltip>Home</md-tooltip>
			  </md-button>
			  <md-button class="md-fab md-primary md-mini" ng-click="navigate('create')">
				<md-icon><ng-md-icon icon="create" size="24"></ng-md-icon></md-icon>
				<md-tooltip>Create</md-tooltip>
			  </md-button>
			</md-fab-actions>
		</md-fab-speed-dial>
	</body>
</html>