body{
	background:rgba(230, 230, 230, 1) !important
}

md-content{
	background: transparent;
}
.fadeIn {
	-webkit-animation: fadeIn 2s forwards;
	animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.pricePlanCard
 {
	width: 250px;
	margin: 20px;
	margin-top: 0px;
	outline:none;
 }
 
.form-container
{
	max-width:960px;
	margin: 0 auto;
	border-radius: 8px;
}
 .setting-card-header {
	text-align: center;
}
.setting-card-header > h2
{
	color: #3b6982;
	margin-top: 40px;
}
.setting-img-wrap
{
	width: 125px;
	margin: 0 auto;
}
p{
	margin: 4px;
}

.md-button.md-icon-button
{
	margin: 0px;
}
.side-margins
{
	margin: 0px 10px 0px 10px;
}

input:disabled {
	background: #e9e9e9;
	cursor: not-allowed;
	background-image: none !important;

}
.next-btn
{
	background: #02b5e2 !important;
	color: white !important;
}
.checkbox
{
	margin: 0px;
}

.product_card {
  position: relative;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product_card::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product_card:hover {
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}

.product_card:hover::after {
	opacity: 1;
}