/* damith update UI 1.0*/
.digin-lgn-wrap {
    background: #F5F5F5;
    width: 100%;
    height: 100%;
}

.left-main-wrap {
    padding-top: 60px;
    overflow: hidden;
    position: relative;
}

.left-main-wrap > .left-wrap {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a9ed+0,01718d+100 */
    height: 340px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    position: relative;
    overflow: hidden;
    z-index: 999;
}

.sign-in {
    background: #00a9ed; /* Old browsers */
    background: -moz-linear-gradient(top, #00a9ed 0%, #01718d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00a9ed 0%, #01718d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00a9ed 0%, #01718d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a9ed', endColorstr='#01718d', GradientType=0); /* IE6-9 */

}

.signup {
    background: #037281; /* Old browsers */
    background: -moz-linear-gradient(top, #03a699 0%, #037281 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #03a699 0%, #037281 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #03a699 0%, #037281 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a9ed', endColorstr='#01718d', GradientType=0); /* IE6-9 */

}

.signUp-card {
    min-height: 600px;
    background: #ffffff;
}

.left-wrap > .login-logo {
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    z-index: 999;

}

.login-logo > img {
    width: 68px;
    height: auto;
    margin-top: 16px;
    margin-left: 9px;

}

.header-login {
    border-bottom: 3px solid #F5F5F5;
    height: 85px;
}

.left-wrap {
    padding-top: 65px;
}

.left-wrap > .login-welcome {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
}

.left-wrap > h5 {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #ffffff;
}

.right-wrap {
    height: 450px;
    width: 100%;
    background: #ffffff;
    /*-moz-box-shadow: 1px 1px 8px 0px #ccc;*/
    /*-webkit-box-shadow: 1px 1px 8px 0px #ccc;*/
    /*box-shadow: 1px 1px 8px 0px #ccc;*/
}

.sign-up-wrap {
    height: 550px !important;
}

.digin-login-card {
    min-width: 600px;
    height: 450px;
    position: relative;
    margin-top: calc(10vh);
}

.right-wrap {
    height: 450px;
    width: 100%;
    background: #ffffff;
    -moz-box-shadow: 1px 1px 8px 0px #ccc;
    -webkit-box-shadow: 1px 1px 8px 0px #ccc;
    box-shadow: 1px 1px 8px 0px #ccc;
    border-radius: 10px;
    position: relative;
}

.digin-login-card .right-wrap .login-text-wrap {
    padding: 23px 25px;
}

.login-text-wrap > h5 {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #01718d;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    position: relative
}

.digin-lgn-wrap > .footer-wrap {
    text-align: center;
    padding-top: 8%;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 600;
    color: #44c5ae;
    margin-bottom: 20px;
}

.login-bdy {
    position: relative;
}

.login-bdy > .text-wrap {
    height: 265px;
    width: 100%;
    padding: 20px 22px;
}

.p-t-20 {
    padding-top: 20px !important;
}

.login-btn-wrap {
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
}

.sign-btn-wrap {
    margin: 130px auto !important;
}

.disable {
    color: #01718D;
    brackground-color: transparent;
    border: 1px solid #01718D;
    background-image: linear-gradient(to right, transparent 50%, #F5F5F5 50%);
}

.active {
    /*color: #EC784B;*/
    /*brackground-color: transparent;*/
    /*border: 1px solid #EC784B;*/
    /*background-image: linear-gradient(to right, transparent 50%, #EC784B 50%);*/
}

.login-bdy .disable:hover {
    color: #fff;
    background-color: #03a699;

}

.login-bdy .activeBtn:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #03a699;
}

/* BUTTON CSS
------------------------------------------- */

.login-bdy .login-btn {
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 7px 20px 7px 20px;
    margin: 5px;
    font-size: 15px;
    background-size: 200% 100%;
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
    color: #01718D;
    border: 2px solid #01718D;
    background-image: linear-gradient(to right, transparent 50%, #F5F5F5 50%);
    border-radius: 29px;
}

.wrapper {
    background: #01718D;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);

}

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;

}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

.txt-box-login > div > input,
.domain-name > div > input,
.full-name > div > input,
.namespace > div > input {
    background: transparent !important;
    background-image: none !important;
    border: 2px solid #F5F5F5;
    border-radius: 7px;
}

.full-name > div > input {
    width: 140px !important;
}

.txt-box-login.error > div > input,
.error > div > input {
    border: 2px solid #B71C1C;
    color: #B71C1C;
}

.txt-box-login.error > label,
.error > label {
    color: #B71C1C;
}

.txt-box-login.password {
    margin-top: 30px;
}

.txt-box-login > label,
.domain-name > label,
.full-name > label,
.namespace > label,
.form-group > label {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 400;
    font-size: 15px;
    /*text-transform: capitalize;*/
}

.txt-box-login > div > input:focus,
.domain-name > div > input:focus,
.namespace > div > input:focus,
.full-name > div > input:focus,
.form-group > div > input:focus {
    border: 2px solid #03a699 !important;
}

.txt-box-login > div > input::-webkit-input-placeholder,
.full-name > div > input::-webkit-input-placeholder,
.namespace > div > input::-webkit-input-placeholder,
.domain-name > div > input::-webkit-input-placeholder,
.form-group > input::-webkit-input-placeholder {
    color: #EEEEEE;
}

.text-wrap .login-help {
    margin-top: 20px;

}

.login-help .remember-me,
.login-help .forget-pwd {
    display: inline-block;
    font-family: 'Ek Mukta', sans-serif;
    cursor: pointer;
}

.login-help .remember-me {
    float: left;

}

.login-help .forget-pwd {
    float: right;
    font-size: 12px;
    padding-top: 15px;
}

.text-color-white {
    color: #ffffff !important;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

/*animation logo */
.animate-circle {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-name: loop;
}

@keyframes loop {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.2);
    }
    10% {
        transform: rotateZ(720deg);
    }

    20% {
        transform: scale(1);
    }
}

/*message */
.ng-message {
    position: absolute;
    color: #B71C1C;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-top: 3px;
    padding-left: 2px;
    /*text-transform: lowercase;*/
}

/*#signup style */

.sign-up > img {
    width: 100px;
    position: absolute;
    height: auto;
    top: -19px;
    left: -13px;
}

.border-white-5 {
    border: 5px solid #fff;
}

.text-domain-name {
    display: inline-block;
}

.domain-name > div > input {
    width: 175px !important
}

.namespace > div > input {
    width: 100px !important
}

.p-t-20 {
    padding-top: 20px;
}

.auth-message-wrap {
    position: absolute;
    width: 100%;
    margin: 25px auto;
    top: 10px;
    z-index: 1000;
}

.auth-message-wrap > .loader-body-wrap {
    text-align: center;
    margin: 0 auto;
}

.welcome-link {
    z-index: 999;
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.sign-up-link > a {
    color: #fff;
    border-radius: 15px;
    border: 2px solid #fff;
}

.sign-in-link > a {
    color: #FFFBF9;
    border-radius: 15px;
    border: 2px solid #fff;
}

.welcome-link > a {
    width: 50px;
    height: 50px;
    padding: 5px 15px 5px 15px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
}

.welcome-link > a:focus,
.welcome-link > a:hover {
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    z-index: 1000;
}

.captcha-box {
    margin: 20px auto;
    text-align: center;
}

/*help videos*/
.help-wp-bg {
    height: 100%;
    background-image: url(images/on-board/intro-bg.gif);
    position: relative;
    /*overflow: hidden;*/
}

.help-main-wrap {
    height: 100%;
    width: 100%;
    background-color: rgba(2, 102, 137, 0.7);
    position: absolute;
    /*overflow: hidden;*/
}

.help-right-wrap {
    overflow-y: auto;
    height: 440px;
    padding-bottom: 100px;
    margin-bottom: 150px;
    padding-right: 10px;

}

.main-wrap-help {
    margin-top: 10px;
    display: block;
    height: auto;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
}

.help-list-left {
    height: 420px;
    overflow-y: auto;
    border-right: 1px solid #2B87C4;
}

.help-task > ul > li {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    text-align: right;
    padding-right: 15px;
    cursor: pointer;
    margin-right: 15px;
}

.select-help-task {
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: #ffffff;
    background: #2B87C4;
    padding: 10px;
    transition: width 1s linear 2s;
}

.unselect-help-task {
    background: transparent;
    border-radius: 0;
    color: #0FEA9B;
}

.videogular-container {
    width: 100%;
    height: 450px;
    margin: auto;
    overflow: hidden;
}

.help-desc {
    margin-top: 50px;
}

.helpful {
    margin-top: 60px;
}

.login-loading {
    width: 100%;
    text-align: center;
}

.login-loading > i {
    color: #2B87C4;
}

/*user setting page*/
.main-wrap-user-group {
    background: #ffffff;
    height: 50px;
}



