/*platformentry-styles*/

[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

md-input-container {
    margin: 7px !important;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-color: rgb(33, 150, 243);
    -webkit-animation: loaderFrameBG 20s ease infinite;
    -moz-animation: loaderFrameBG 20s ease infinite;
    animation: loaderFrameBG 20s ease infinite;
    background-image: url(./images/background.jpg);
    background-blend-mode: multiply;
    font-family: 'Lato', sans-serif;
}

.md-raised {
    color: white !important;
}

#viewContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.commonContentShell {
    width: 100%;
    max-width: 750px;
    height: auto;
    min-height: 300px;
    border-radius: 4px;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
    /* IE6-9 */
}

.mainIntroNavSection {
    width: auto;
}

.companyLogoContainer {
    width: 100%;
    /*    height: 130px;*/
}

.companyLogoContainer img {
    width: 400px;
    /*    height: 127px;*/
}

.navOptionsContainer {
    width: 100%;
    padding: 10px;
}

.navText {
    display: block;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    text-align: center;
}

.createCompanyIntroSection {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.joinCompanyIntroSection {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.cygilHolder {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    display: block;
    width: 296px;
    height: 328px;
    background: red;
    background: url(12thDoorCygil_white.png);
    opacity: 0.1;
}

#cygilContainer {
    width: 250px;
    background: rgba(218, 201, 199, 0) url('./images/cloudchargelogo_icon.png') no-repeat 170% 100%;
    background-size: 125%;
}

#cygilContainer img {
    margin-top: 30px;
    width: 190px;
    /*    height: 50px;*/
}

#successContainer {
    width: 100%;
    padding: 20px 0px 30px 0px;
}

#formContainer {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#formContainer form {
    width: 100%;
}

.md-actions {
    margin-top: 18px !important;
}

.secondaryAction {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-weight: 700;
}

.secondaryAction span {
    display: block;
    cursor: pointer;
    padding: 5px 0px 5px 0px;
}

.secondaryAction span:nth-child(1) {
    font-size: 16px;
    font-weight: normal;
    color: rgba(150, 150, 150, 1);
}

.secondaryAction span i {
    color: rgb(63, 81, 181);
}

.secondaryAction span:nth-child(2) {
    color: #FF4081;
}

.socialActions {
    width: 100%;
    height: auto;
}

.loadInidcatorContainer {
    height: 100px;
    width: auto;
}

.loadInidcatorContainer span {
    margin-right: 30px;
    color: rgba(150, 150, 150, 1);
}


/*entry page slider styles - start*/

.slide {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg {
    position: absolute;
    top: 0px;
}

.bg-cover {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4) url("bgDots2.png");
    background-repeat: repeat;
}

.xlarge {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    font-size: 200px;
    color: #FFF;
    /* Fallback for older browsers */
    color: rgba(255, 255, 255, 0.2);
    width: 100%;
    font-weight: 300 !important;
    white-space: nowrap;
    overflow: hidden;
}

.subtitle {
    position: absolute;
    bottom: 100px;
    font-size: 100px;
    font-weight: 300 !important;
    color: #FFF;
    width: 100%;
    z-index: 3;
}


/*entry page slider styles - end*/


/*Transition Animations*/

#viewContainer.ng-enter {
    z-index: 8888;
}

#viewContainer.ng-leave {
    z-index: 9999;
}

#viewContainer.ng-enter {
    -webkit-animation: scaleUp .7s cubic-bezier(.55, 0, .1, 1);
    animation: scaleUp .7s cubic-bezier(.55, 0, .1, 1);
}

#viewContainer.ng-leave {
    -webkit-animation: scaleDown .7s cubic-bezier(.55, 0, .1, 1);
    animation: scaleDown .7s cubic-bezier(.55, 0, .1, 1);
}

.animate-enter,
.animate-leave {
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter {
    top: -100%;
}

.animate-enter.animate-enter-active {
    top: 0;
}

.animate-leave {
    top: 0;
}

.animate-leave.animate-leave-active {
    top: 100%;
}


/*Animation Hooks*/

@-webkit-keyframes scaleDown {
    from {}
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}

@keyframes scaleDown {
    from {}
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}

@-webkit-keyframes scaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}

@keyframes scaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}

#dw-loadingFrame {
    position: absolute;
    /*    z-index: 10;*/
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(215deg, #1e568f, #eb99bd, #0089ca, #bd4a8c);
    background-size: 800% 800%;
    overflow: hidden;
    -webkit-animation: loaderFrameBG 31s ease infinite;
    -moz-animation: loaderFrameBG 31s ease infinite;
    animation: loaderFrameBG 31s ease infinite;
}

@-webkit-keyframes loaderFrameBG {
    0% {
        background-position: 94% 0%
    }
    50% {
        background-position: 7% 100%
    }
    100% {
        background-position: 94% 0%
    }
}

@-moz-keyframes loaderFrameBG {
    0% {
        background-position: 94% 0%
    }
    50% {
        background-position: 7% 100%
    }
    100% {
        background-position: 94% 0%
    }
}

@keyframes loaderFrameBG {
    0% {
        background-position: 94% 0%
    }
    50% {
        background-position: 7% 100%
    }
    100% {
        background-position: 94% 0%
    }
}

.plan-details {
    padding: 20px 30px;
    font-size: 14px;
    width: 100%;
    height: 70%;
    background-color: white;
    color: black;
    transition: all 1s cubic-bezier(.55, 0, .1, 1);
}

.plan-details p {
    margin: 7px;
}

.StandardPlan {
    background-color: #0089ca !important;
}

.ProPlan {
    background-color: #1e568f !important;
}

.world {
    background-color: #bd4a8c !important;
}

.plan-title {
    color: white;
    font-size: 65px;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 10px;
    transition: all 1s cubic-bezier(.55, 0, .1, 1);
}

.plan-card {
    color: white;
    font-size: 17px;
    padding: 0px;
    width: 300px;
    border-radius: 5px;
    transition: all 1s cubic-bezier(.55, 0, .1, 1);
    margin: 10px;
    background-color: rgb(2, 119, 189);
}

.plan-title p {
    margin: 10px;
}