<style>
.md-primary
{
	background: #02b5e2 !important;
}
.md-button.md-raised[disabled]
{
	background: rgba(0,0,0,0.12) !important;
}


.checkboxdemoSelectAll .demo-legend {
  color: #3F51B5; }
.fieldset {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px
}
.all-checkboxes {
  padding-left: 30px;
 }
</style>

<!--CARD CONTAINER START-->
<div class="card-container">
	<!--WHITEFRAME START-->
	<md-whiteframe class="md-whiteframe-2dp layout-whiteframe" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center"> 

		<md-content>

				<div layout="row" layout-align="end end">
					<md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="back" ng-click="route('back')"></md-button>
				</div>
					
				<div class="setting-card-header">
					<h2>Visualize data</h2>
					<div class="setting-img-wrap" layout="row" layout-align="center center">
						<img ng-src="views/data_source/visualize_data/stats.png" />
					</div>
				</div>
				<md-stepper-card-content class="md-no-padding">
                    <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="vm.selectedStep" md-busy-text="'Processing...'" md-busy="vm.showBusyText">
                        <md-step label="Connect To" md-complete="vm.stepData[0].data.completed" ng-disabled="vm.stepProgress < 1">
                            <md-step-body>
                                <form name="step1" ng-submit="vm.submitCurrentStep(vm.stepData[0].data)">
                                    <md-content class="md-padding">
										    <div layout="row" layout-align="center center" layout-wrap>
												<md-card ng-repeat="source in vm.sourceType"  flex-xs="100" flex-sm="40" flex-gt-sm="30" flex-gt-lg="20" class="product_card report_card"  ng-click="vm.selectSource(source)">
													<div layout="row" layout-align="space-between start" style="padding-bottom:5px;">
														<span class="product_name" style="border-bottom: 1px solid #white;">{{source.name}}</span>
													</div>
													<div layout="row" layout-align="end end">
														<img style="height:100px;width:100px" ng-src="{{source.icon}}"></img>
													</div>
												</md-card>
											</div> 
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex layout="row" layout-align="end top"><!--!vm.stepData[0].data.username || !vm.stepData[0].data.password ||-->
                                            <md-button type="submit" ng-disabled="vm.showBusyText" class="md-primary md-raised">NEXT</md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                        <md-step label="Table Selection" md-complete="vm.stepData[1].data.completed" ng-disabled="vm.stepProgress < 2">
                            <md-step-body>
                                <form name="step2">
                                    <md-content class="md-padding" style="padding: 10px;max-height:300px;">
										<input style="width: 200px;margin-bottom:10px;" placeholder="search table..." ng-model="searchTables" aria-label="false">
										<md-radio-group ng-model="vm.stepData[1].data.table" layout="row"  layout-align="start start" style="padding: 10px;border: 1px solid #ccc;border-radius: 4px;" layout-wrap>
											<md-radio-button value="{{table}}" style="padding: 10px;" ng-repeat="table in vm.tables | filter:searchTables">{{table}}</md-radio-button>
										</md-radio-group>
                                       
                                    </md-content>
                                    <md-step-actions layout="row">
                                        <div flex>
                                            <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                        </div>
                                        <div flex layout="row" layout-align="end top">
                                            <md-button ng-disabled="!vm.stepData[1].data.table || vm.showBusyText" ng-click="vm.submitCurrentStep(vm.stepData[1].data)" class="md-primary md-raised">
                                             NEXT
                                            </md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                        <md-step label="Schema" md-complete="vm.stepData[2].data.completed" ng-disabled="vm.stepProgress < 3">
                            <md-step-body>
                                <form name="step2">
                                    <md-content class="md-padding" layout="row">
                                      <fieldset class="fieldset" flex>
										  <legend class="demo-legend">Choose attributes </legend>
										  <div layout="row" layout-wrap flex>
										  <div flex-xs flex="100">
											<md-checkbox aria-label="Select All" ng-model="vm.selectAllAttributes" md-indeterminate="vm.isIndeterminate()" ng-click="vm.toggleAllAttributes()">
											  <span ng-if="vm.selectAllAttributes">Un-</span>Select All
											</md-checkbox>
										  </div>
											<div class="all-checkboxes" flex="50" ng-repeat="item in vm.attributes">
											  <md-checkbox ng-checked="vm.attributesExists(item)" ng-click="vm.selectAttribute(item)">
											   {{ item }}
											  </md-checkbox>
											</div>
										  </div>
										</fieldset>
										<div style="width:20px"></div>
										 <fieldset class="fieldset" flex>
										  <legend class="demo-legend">Choose measures </legend>
										  <div layout="row" layout-wrap flex>
										  <div flex-xs flex="100">
											<md-checkbox aria-label="Select All" ng-model="vm.selectAllMeasures" md-indeterminate="vm.isIndeterminate()" ng-click="vm.toggleAllMeasures()">
											  <span ng-if="vm.selectAllMeasures">Un-</span>Select All
											</md-checkbox>
										  </div>
											<div class="all-checkboxes" flex="50" ng-repeat="item in vm.measures">
											  <md-checkbox ng-checked="vm.measuresExists(item)" ng-click="vm.selectMeasure(item)">
											   {{ item }}
											  </md-checkbox>
											</div>
										  </div>
										</fieldset>
                                    </md-content>

									<md-step-actions layout="row">
                                        <div flex>
                                            <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                        </div>
										<div flex layout="row" layout-align="end top">
                                            <md-button ng-disabled="(vm.selectedAttributes.length == 0 && vm.selectedMeasures.length == 0)" ng-click="finish(vm.stepData[1].data)" class="md-primary md-raised">
                                             Finish
                                            </md-button>
                                        </div>
                                    </md-step-actions>
                                </form>
                            </md-step-body>
                        </md-step>
                    </md-steppers>
                </md-stepper-card-content>
				
				

		

		</md-content>

	</md-whiteframe><br/>
	<!--WHITEFRAME END-->
</div>
<!--CARD CONTAINER END-->
