<style>
.links {
    text-decoration: none;
    color: #428bca;
}

.align-left {
    text-align: left;
    color: white;
    font-size: 20px;
    line-height: 30px;
}

.pricePlanCard {
    width: 250px;
    margin: 20px;
    margin-top: 0px;
    outline: none;
    padding: 0px;
    margin-top: 10px;
}

.paymentCard {
    width: 280px;
    height: 170px;
    background: #11141d;
    padding: 10px;
}

p {
    margin: 4px;
}
/*
 _____ _  _     ____    ____  ____  ____  ____  ____    ____  _____  ____  ____  _____ 
/    // \/ \   /  __\  /   _\/  _ \/  __\/  _ \/ ___\  / ___\/__ __\/  _ \/  __\/__ __\
|  __\| || |   |  \/|  |  /  | / \||  \/|| | \||    \  |    \  / \  | / \||  \/|  / \  
| |   | || |_/\|  __/  |  \_ | |-|||    /| |_/|\___ |  \___ |  | |  | |-|||    /  | |  
\_/   \_/\____/\_/     \____/\_/ \|\_/\_\\____/\____/  \____/  \_/  \_/ \|\_/\_\  \_/  
*/
/* entire container, keeps perspective */

.flip-container {
    perspective: 1000;
    outline: 0;
    cursor: pointer;
}
/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front {
    width: 280px;
    height: 200px;
    margin-right: 8px;
    margin-top: 8px;
}

.flip-container,
.back {
    width: 280px;
    height: 200px;
    margin-right: 8px;
    margin-top: 8px;
}
/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    
    transform: rotateY(0deg);
}
/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}
/*
 _____ _  _     ____    ____  ____  ____  ____  ____    _____ _      ____ 
/    // \/ \   /  __\  /   _\/  _ \/  __\/  _ \/ ___\  /  __// \  /|/  _ \
|  __\| || |   |  \/|  |  /  | / \||  \/|| | \||    \  |  \  | |\ ||| | \|
| |   | || |_/\|  __/  |  \_ | |-|||    /| |_/|\___ |  |  /_ | | \||| |_/|
\_/   \_/\____/\_/     \____/\_/ \|\_/\_\\____/\____/  \____\\_/  \|\____/
*/

.md-select-value {
    md-select[disabled] white !important;
    border-bottom: none !important;
    padding-left: 8px !important;
}

.redExpiryContainer {
    background: #ff5252;
}

.greenExpiryContainer {
    background: #4CAF50;
}

.smallMdButton {
    line-height: 30px;
    min-height: 30px;
    color: black !important;
}




  #md-button.md-amber-theme.md-warn {
    color: #ef5350;
    fill: #ef5350; }
  #md-button.md-amber-theme.md-raised, .md-button.md-amber-theme.md-fab {
    background-color: rgba(158, 158, 158, 0.185); }

.usage_hedding
{
    font-weight:700;
    color:grey;
    font-size:15px;
}
    
.usage_text
{
    font-family: Roboto;
    font-size: 45px;
}

<!--id=md-raised md-warn-->

</style>
<footer style="width:100%;right:0px;bottom:0px;position:fixed;">
    <md-tabs id="pagingTabs" md-selected="vm.selectedPage" md-align-tabs="bottom">

        <md-tab id="tab1" md-on-select="selectPage($index)" >
            <md-tab-label layout="row" layout="space-between center">
                <span style="text-transform:none;padding-right:20px;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" flex>Profile Details</span>
                <span flex></span>
            </md-tab-label>
            <md-tab-body>
				<div class="card-container" init="intProfile()">
					<md-whiteframe class="md-whiteframe-2dp layout-whiteframe" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center"> 

						<md-content>
							<div layout="row" layout-align="end end">
								<md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="closeWindow()"></md-button>
							</div>
							<div ng-show="selectImage" align="center">
								<!-- selectImage-->
								<div>
									<input type="file" id="fileInput" custom-on-change="handleFileSelect" />
								</div>
								<div class="cropArea" align="center">
									<img-crop class="cropArea" image="myImage" result-image="myCroppedImage" area-type="circle">
									</img-crop>
								</div>
								<br>
								<div>Cropped Image:</div>
								<div align="center">
									<!-- <img ng-src="{{myCroppedImage}}"/> -->
									<img ng-src="{{myCroppedImage}}" class="img-circle">
								</div>
								<md-button class="setup-button md-raised md-primary" ng-click="cancelImage()">
									<span class="setup-font-theme">Cancel</span>
								</md-button>
								<md-button class="setup-button md-raised md-primary" ng-click="saveImage()">
									<span class="setup-font-theme">Save Image</span>
								</md-button>
							</div>
							<!-- ------------ -->
							<div ng-show="selectProfile">
								<div class="setting-card-header">
									<h2 md-colors="{color:'{{$root.h1color}}-A700'}">User Profile</h2>
									<div class="setting-img-wrap">
										<!-- <img src="styles/css/images/signup-user.png" style="cursor:pointer;    width: 150px;outline:none;" ng-click="profile.uploadProfilePicture()">
				 -->
										<img src="{{profile_pic}}" class="img-circle" style="cursor:pointer;    width: 150px;outline:none;" ng-click="profile.uploadProfilePicture()" ng-disabled="editModeOn">
										<!-- <div ng-show="selectProfile">  
											<div align="center">
												<img ng-src="{{profile_pic}}" class="img-circle">
											</div>
										</div>     -->
										<md-tooltip md-direction="bottom">
											<md-tooltip md-direction="bottom">
												Upload Profile Picture
											</md-tooltip>
											</img>
									</div>
								</div>
								<form name="frmProfile" autocomplete="off" ng-submit="profile.changeUserProfile()">
									<!--div layout="row" layout-align="start start">
										<div style="padding:10px;background:rgb(212, 212, 212) !important;color:#f9a624;font-weight:700">Public Details</div>
									</div-->
									<div layout="row" layout-align="start start">
										<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Profile details</div>
									</div>
									<div layout="row" style="padding:0px 10px 0px 10px">
										<div flex>
											<label>Name</label>
											<!--id="txtName" -->
											<input type="text" class="form-control" ng-model="name" name="txtName" ng-disabled="editModeOn" ng-pattern="/^[a-zA-Z0-9]/" ng-required="true">
											<div ng-messages="frmProfile.txtName.$error" role="alert">
												<div ng-message="required" style="color:red">
													User name is required.
												</div>
											</div>
										</div>
										<div flex style="padding-left: 5px;">
											<label>Company </label>
											<input type="text" id="txtCompany" name="txtCompany" ng-model="company" ng-disabled="editModeOn" class="form-control" ng-pattern="/^[a-zA-Z0-9]/" ng-trim="false" readonly>
	<!--                                         <div ng-messages="frmProfile.txtCompany.$error" role="alert">
												<div ng-message="required" style="color:red">
													Company name is required.
												</div>
											</div> -->
										</div>
									</div>
									<div layout="row" style="padding:0px 10px 0px 10px">
										<div flex="60">
											<label>Email </label>
											<input type="text" id="txtEmail" ng-model="user.email" ng-disabled="editModeOn" class="form-control" readonly>
										</div>
										<div flex="40" style="padding-left: 5px;">
											<label>Contact No </label>
											<input type="text" id="txtContactNo" name="txtContactNo" ng-model="user.contactNo" ng-disabled="editModeOn" class="form-control" valid-number  ng-trim="true">
											<!--div ng-messages="frmProfile.txtContactNo.$error" role="alert">
												<div ng-message="required" style="color:red">
													Contact number is required.
												</div>
											</div-->                            
										</div>
									</div>
									<!-- address details -->
									<!--div layout="row" style="padding:0px 10px 0px 10px">
										<div flex="40">
											<label>Billing Address </label>
											<input type="text"
												   id="txtStreet"
												   ng-model="user.street"
												   ng-disabled="editModeOn"
												   class="form-control">
										</div>
										
									
										<div flex="40" style="padding-left: 5px;">
											<label>Country</label>
												<md-select ng-model="user.country" style="border: 1px solid #d0d0d0;height: 40px;"  ng-disabled="editModeOn">
													 <md-option ng-value="Country.name" ng-repeat="Country in allCountries" ng-selected="{{ Country.name === user.country ? 'true' : 'false' }}">
														{{Country.name}}
													 </md-option>
												</md-select>
										</div>
											
										<div flex="20" style="padding-left: 5px;">
											<label>ZIP Code</label>
											<input type="text"
												   id="txtZip"
												   ng-model="user.zip"
												   ng-disabled="editModeOn"
												   class="form-control">
										</div>
									</div-->
									<div layout="row" layout-align="center center">
										<md-button class="md-raised md-primary" style="width:100px;" type="button" ng-click="profile.clickEdit()"  aria-label="edit" ng-if="editModeOn == true">
											<span style="text-transform:none">Edit Profile</span>
										</md-button>
										<md-button class="md-raised md-primary" style="width:100px;" type="submit" ng-click="profile.clickEdit()"  aria-label="edit" ng-if="editModeOn == false">
											<span style="text-transform:none">Save Changes</span>
										</md-button>
									</div>
								</form>
								<form name="frmNewUser" autocomplete="off">
									<div layout="row" layout-align="start start">
										<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Security</div>
									</div>
									<div layout="row" layout-align="start start" layout-margin >
										<md-button class="md-raised" ng-disabled="submitted" type="button" ng-click="profile.changePassword($event)">
											<i class="ti-lock"></i><span style="padding-left:10px;text-transform:none">Change Password</span>
										</md-button>
									</div>
								</form>
							</div>
						</md-content>
                  </md-whiteframe> 
				</div>
            </md-tab-body>
        </md-tab>

        <md-tab label="add page" >
            <md-tab-label layout="row" layout="space-between center">
                <span style="text-transform:none;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" flex>
                Usage Details
            </span>
            </md-tab-label>
            <md-tab-body>
                <div layout="row" layout-align="end end" layout-wrap class="card-container card-top">
                    <md-button class="md-icon-button icon-cancel" aria-label="More" style="color:#14bae4;margin-top: 10px !important;margin-right:20px;" ng-click="closeWindow()"></md-button>
                </div>
                <div layout="row" layout-align="center start">
                    <div layout="column">
                        <md-card class="product_card" style="width:460px;height:205px;background:#2795d8" layout="row" layout-align="center center" ng-click="uploadCompanyLogo($event)">
                            <img src="{{image}}" style="width:190px;height:190px;background:white;border-radius:4px" />
                            <md-tooltip md-direction="bottom">Upload Company Image</md-tooltip>
                        </md-card>
                         <md-card class="product_card" style="width:460px;">
                            <div layout="row" style="border-bottom: 1px solid #dddddd">
                                <div layout="row" flex style="padding:10px;border-right: 1px solid #dddddd">
                                    <div layout="row" layout-align="start center" flex="30">
                                        <i class="ti-pie-chart" style="color:#1b7b97;font-size: 30px;padding-top: 28px;" flex="30"></i>
                                    </div>
                                    <div  ng-if='usageDetails.dashboard !== undefined' layout="column" flex>
                                        <text style="font-weight:700;color:grey;font-size:15px">DASHBOARDS</text>
                                        <text style="font-size:30px">{{usageDetails.dashboard}}</text>
                                    </div>
                                    <div ng-if='usageDetails.dashboard === undefined' layout="column" flex>
                                        <text style="font-weight:700;color:grey;font-size:15px">DASHBOARDS</text>
                                        <text style="font-size:30px">0</text>
                                    </div>
                                </div>
                                <div layout="row" flex style="padding:10px">
                                    <div layout="row" layout-align="start center" flex="30">
                                        <i class="ti-bar-chart" style="color:#13b6b3;font-size: 30px;padding-top: 26px;" flex="30"></i>
                                    </div>
                                    <div ng-if='usageDetails.Report !== undefined' layout="column" flex>
                                        <text style="font-weight:700;color:grey;font-size:15px">REPORTS</text>
                                        <text style="font-size:30px">{{usageDetails.Report}}</text>
                                    </div>
                                    <div ng-if='usageDetails.Report === undefined' layout="column" flex>
                                        <text style="font-weight:700;color:grey;font-size:15px">REPORTS</text>
                                        <text style="font-size:30px">0</text>
                                    </div>
                                </div>
                            </div>
                            <div layout="row">
                                <div layout="row" flex style="padding:10px;border-right: 1px solid #dddddd">
                                    <div layout="row" layout-align="start center" flex="30">
                                        <i class="ti-user" style="color:#4caf50;font-size: 30px;padding-top: 23px;" flex="30"></i>
                                    </div>
                                    <div ng-if='usageDetails.storage_bq !== undefined' layout="column" flex>
                                        <text style="font-weight:700;color:grey;font-size:15px">STORAGE</text>
                                        <text style="font-size:30px">{{usageDetails.storage_bq/1048576 | number:0}} MB</text>
                                    </div>
                                    <div ng-if='usageDetails.storage_bq === undefined'  layout="column" flex>
                                        <text style="font-weight:700;color:grey;font-size:15px">STORAGE</text>
                                        <text style="font-size:30px">0 MB</text>
                                    </div>

                                </div>
                                <div layout="row" flex style="padding:10px">
                                    <div layout="row" layout-align="start center" flex="30">
                                        <i class="icon-group" style="color:#f9a525;font-size: 36px;padding-top: 33px;" flex="30"></i>
                                    </div>
                                    <div ng-if='usageDetails.download_bq !== undefined' layout="column" flex>
                                        <text style="font-weight:700;color:grey;font-size:15px">DATA USAGE</text>
                                        <text style="font-size:30px">{{usageDetails.download_bq/1048576 | number:0}} MB </text>
                                    </div>
                                     <div ng-if='usageDetails.download_bq === undefined' layout="column" flex>
                                        <text style="font-weight:700;color:grey;font-size:15px">DATA USAGE</text>
                                        <text style="font-size:30px"> 0 MB </text>
                                    </div>
                                </div>
                            </div>
                        </md-card>
                    </div>
                    <md-card class="product_card" style="padding: 10px" ng-if="tabVisible">
                      <highchart  config="chartConfig"></highchart>
                    </md-card>
                </div>
            </md-tab-body>
        </md-tab>

        <md-tab label="add page" ng-if="tabVisible">
            <md-tab-label layout="row" layout="space-between center">
                <span style="text-transform:none;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" flex>
                Package Details
            </span>
            </md-tab-label>
            <md-tab-body>
                <div layout="row" layout-align="end end" class="card-container card-top">
                    <md-button class="md-icon-button icon-cancel" aria-label="More" style="color:#14bae4;margin-top: 10px !important;margin-right:20px;" ng-click="closeWindow()"></md-button>
                </div>
                <div>
                    <!--md-whiteframe class="md-whiteframe-2dp layout-whiteframe" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="box-shadow:none;background:transparent;margin-top:20px;"> 

                <md-content style="background:transparent"-->
                    <v-accordion id="accordion-list" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index,id)" oncollapse="collapseCallback(index, id)" style="padding-left: 65px;padding-right:30px;">
                        <v-pane id="Cards" expanded="$first">
                            <v-pane-header id="Store-header" aria-controls="Store-content">
                                <!--h1 class="search-header" style="margin:0px;">Subscription Details</h1-->
                                <div class="setting-card-header">
                                    <h5>Subscription Details</h5>
                                </div>
                            </v-pane-header>
                            <v-pane-content id="Store-content" aria-labelledby="Store-header" style="border-radius: 4px;background:transparent;">
                                <div layout="row" layout-align="center start" layout-wrap>
                                    <!--div layout="column"-->

                                        <div layout="row">    
                                            <md-card class="product_card" style="width:460px;height:205px;background:#02b5e2;padding:0px;" layout="column">
                                                <center style="background:#06a7cf;color:white;font-size:16px;font-weight:700;padding:10px 0px;border-radius: 2px 2px 0px 0px;width:460px">Current Plan - {{packageName}}</center>
                                                <!--md-content style="background:transparent" layout="row" layout-align="center center"-->
                                                <center style="padding:10px;" layout="row">
                                                    <div flex="40" layout="row" layout-align="space-between end">
                                                        <div style="width:100px;height:100px;border-radius:100px;border: 5px solid white;margin: 30px;" layout="column" layout-align="center center">
                                                            <span style="color:white;font-size:25px;">${{packagePrice}}</span>
                                                            <span style="color:white;font-size:12px;">{{defaultUsers}}/User</span>
                                                        </div>
                                                    </div>
                                                    <div flex layout="column">
                                                        <span class="align-left"> {{defaultUsers}} User</span>
                                                        <span class="align-left"> {{defaultStorage}} GB Storage</span>
                                                        <span class="align-left"> {{defaultData}} GB of Data</span>
                                                        <div layout="row" layout-align="end end" style="margin-top: 10px;">
                                                            <md-button class="md-raised smallMdButton" ng-click="vm.deactivateAccount($event)" ng-show="isActive"><span style="text-transform:none">Deactivate Account</span></md-button>
                                                            <md-button class="md-raised smallMdButton" ng-click="vm.activateAccount($event)" ng-show="!isActive"><tspan style="text-transform:none">Activate Account</span></md-button>
                                                            <md-button class="md-raised smallMdButton" ng-click="vm.updatePackage($event)"><span style="text-transform:none">Customize</span></md-button>
                                                        </div>
                                                    </div>
                                                </center>
                                            </md-card>

                                            
                                            <md-card class="product_card" style="width:460px;height:205px;background:#02b5e2;padding:0px;" layout="column">
                                                <center style="background:#06a7cf;color:white;font-size:16px;font-weight:700;padding:10px 0px;border-radius: 2px 2px 0px 0px;width:460px">Extra Added Feature</center>
                                                <!--md-content style="background:transparent" layout="row" layout-align="center center"-->
                                                <center  layout="row" style="padding:20px;">
                                                    <div flex layout="column">
                                                        <span class="align-left"> {{extraUsers}} User</span>
                                                        <span class="align-left"> {{extraStorage}} GB Storage</span>
                                                        <span class="align-left"> {{extraData}} GB of Data</span>
                                                    </div>
                                                </center>
                                            </md-card>

                                        </div>     

                                    
                                        <!--md-card class="product_card" style="width:460px;height:205px;" layout="row"  ng-class="{'redExpiryContainer':vm.warning== true,'greenExpiryContainer':vm.warning==false}">
                                            <div flex="40" layout="row" layout-align="space-between center">
                                                <img src="views/settings/myAccount/good.png" style="width: 160px;-webkit-filter: drop-shadow(1px 0px 1px #222);filter: drop-shadow(1px 0px 1px #222);padding-left: 10px;" ng-hide="vm.warning" />
                                                <img src="views/settings/myAccount/bad.png" style="width: 160px;-webkit-filter: drop-shadow(1px 0px 1px #222);filter: drop-shadow(1px 0px 1px #222);padding-left: 10px;" ng-show="vm.warning" />
                                            </div>
                                            <div flex layout="column" layout-align="start start" style="padding-top:30px;">
                                                <span class="align-left" style="font-size:14px;line-height:20px;font-weight: 700;letter-spacing: 1px;">Expiry Date</span>
                                                <span class="align-left">November 19, 2016</span>
                                                <span countdownn='' warning='vm.warning' date='November 19, 2016' style="font-size:15px;margin-top:15px;color:white">&nbsp;</span>
                                            </div>
                                        </md-card-->
                                        
                                    
                                        
                                           <md-card class="product_card" style="width:460px;height:205px;background:#499300;padding:0px;" layout="column">
                                                <center style="background:#3c7a00;color:white;font-size:16px;font-weight:700;padding:10px 0px;border-radius: 2px 2px 0px 0px;width:460px">Package Expiry Detail</center>
                                                <center style="padding:10px;" layout="row">
                                                    <div flex="40" layout="row" layout-align="space-between end">
                                                        <div layout="column" layout-align="center center">
                                                            <img src="views/settings/myAccount/good.png" style="width: 160px;-webkit-filter: drop-shadow(1px 0px 1px #222);filter: drop-shadow(1px 0px 1px #222);padding-left: 10px;" ng-hide="false" />
                                                            <img src="views/settings/myAccount/bad.png" style="width: 160px;-webkit-filter: drop-shadow(1px 0px 1px #222);filter: drop-shadow(1px 0px 1px #222);padding-left: 10px;" ng-show="false" />
                                                        </div>
                                                    </div>
                                                    <div flex layout="column">
                                                            <span class="align-left" style="font-size:14px;line-height:20px;font-weight: 700;letter-spacing: 1px;">Expiry Date</span>
                                                            <span class="align-left"> {{expiryDate | date:'medium'}}</span>
                                                            <span class="align-left"> {{remainingDays}} days remaining.</span>
                                                    </div>
                                                </center>
                                            </md-card>
                        

                            
                                        
                                    </div>
                                <!--/div-->
                            </v-pane-content>
                        </v-pane>
                        <v-pane id="Cards">
                            <v-pane-header id="Store-header" aria-controls="Store-content">
                                <!--h1 class="search-header" style="margin:0px;">Upgrade Package</h1-->
                                <div class="setting-card-header">
                                    <h5>Upgrade Package</h5>
                                </div>
                            </v-pane-header>
                            <v-pane-content id="Store-content" aria-labelledby="Store-header" style="border-radius: 4px;background:transparent;">
                                <div layout="row" layout-align="center top" class="fadeIn">
                                    <div layout="row" layout-align="center center">
                                        <md-card class="tint showbox pricePlanCard product_card" ng-repeat="plan in vm.companyPricePlans" ng-class="{selected: $index == selectedCard}">
                                            <center style="background:#06a7cf;color:white;font-size:16px;font-weight:700;padding:10px;border-radius: 2px 2px 0px 0px;">{{plan.name}}</center>
                                            <center style="background:#02b5e2;padding:10px;">
                                                <div style="width:100px;height:100px;border-radius:100px;border: 5px solid white;" layout="column" layout-align="center center">
                                                    <span style="color:white;font-size:25px;">${{plan.perMonth}}</span>
                                                    <span style="color:white;font-size:12px;">{{plan.per}}</span>
                                                </div>
                                             
                                                <md-button class="md-fab md-mini" aria-label="Comment" style="background:#f9a525;position:absolute;margin-top: -10px;margin-left: 50px;" ng-show="plan.iscurrent" ng-disabled="true">
                                                    <md-icon md-svg-src="views/settings/myAccount/ic_check_24px.svg"></md-icon>
                                                </md-button>
                                            
                                            </center>
                                            <md-card-content layout="column" layout-align="center center" style="height:125px;>
                                                <p layout="row">{{plan.numberOfUsers }} <span ng-if="plan.numberOfUsers == '1'">&nbspUser</span><span ng-if="plan.numberOfUsers != '1'">&nbspUsers</span></p>
                                                <p>{{plan.storage}} of Storage</p>
                                                <p>{{plan.bandwidth}} of Bandwidth</p>
                                            </md-card-content>
                                            <md-card-content layout="column" layout-align="center center" style="background:#e7faff; height:100px;">
                                                <p>${{plan.perMonth}} / Per User (Monthly)</p>
                                                <p>${{plan.perYear}} / Per User (Yearly) </p>
                                                <md-button class="md-raised" ng-show="plan.isSelected" ng-click="vm.upgradeConfirmation($event,plan)" aria-label="Comment" style="background:#f9a525; color: white;">
                                                    <span>Upgrade now!</span>
                                                </md-button>
                                            </md-card-content>
                                            <!--md-card-content layout="column" layout-align="start start" >
                                  <b style="margin-bottom:10px;">Advanced Options:</b>
                                  <div layout="row" layout-align="space-between center" style="width:100%"> <span flex>Option 1</span><md-checkbox class="checkbox" ng-model="data.cb1" aria-label="Checkbox 1"></md-checkbox></div>
                                </md-card-content-->
                                            <md-card-content layout="column" layout-align="end end" style="background:#e7faff;padding:0">
                                                <span style="padding: 5px;border-radius: 4px;margin: 6px;border: 1px solid #b7b7b7;color: grey;font-weight: 700;">Total Amount:<b style="font-size:20px;">${{plan.numberOfUsers*plan.perMonth}}</b></span>
                                            </md-card-content>
                                        </md-card>
                                    </div>
                                </div>
                            </v-pane-content>
                        </v-pane>
                        <v-pane id="Cards">
                            <v-pane-header id="Store-header" aria-controls="Store-content">
                                <!--h1 class="search-header" style="margin:0px;">Card Details</h1-->
                                <div class="setting-card-header">
                                    <h5>Card Details</h5>
                                </div>
                            </v-pane-header>
                            <v-pane-content id="Store-content" aria-labelledby="Store-header" style="border-radius: 4px;background:transparent;">
                                <div layout="row" layout-align="center center" layout-wrap>
                                    <div class="flip-container" id="{{$index}}" ng-repeat="card in vm.paymentCards">
                                        <div class="flipper">
                                            <div class="front">
                                                <md-card class="tint showbox paymentCard product_card" ng-class="{selected: $index == selectedCard}" style="background:{{card.background}}">
                                                    <div layout="row" layout="space-between center">
                                                        <span style="color:white;font-weight:700;letter-spacing:1px" flex>Payment Details</span>
                                                        <img src="views/settings/myAccount/cards/{{card.image}}" style="width:77px;height:44px" />
                                                    </div>
                                                    <div layout="column" layout="space-between center">
                                                        <span style="color:white;font-size:10px;" flex>Card Number</span>
                                                        <span style="color:white;font-size:18px;line-height:40px;font-family: cursive;text-shadow: 2px 1px #484848;" flex>**** **** **** {{card.last4}}</span>
                                                    </div>
                                                    <div layout="column" layout="space-between center">
                                                        <span style="color:white;font-size:10px;" flex>Expiry Date</span>
                                                        <span style="color:white;font-size:18px;line-height:40px;" flex>{{card.exp_month}}/{{card.exp_year}}</span>
                                                    </div>
                                                    <div layout="column" layout="end end">
                                                        <md-button ng-show="card.defaultCard == true" class="md-raised" aria-label="Profile" style="position:absolute;right: 10px;bottom: 0px;background:#f9a525">
                                                            <span style="text-transform:none;font-weight:700;letter-spacing:1px;color:white;    text-shadow: 1px 0px #484848;">Default</span>
                                                        </md-button>
                                                    </div>
                                                    
                                                    
                                                    
                                                </md-card>
                                            </div>
                                            <div class="back">
                                                <md-card class="tint showbox paymentCard product_card" ng-class="{selected: $index == selectedCard}" style="padding: 0px;background:{{card.background}}">
                                                    <div layout="row" layout="space-between center" style="margin-top:20px;height:35px;background:white;"></div>
                                                    <center style="margin-top:40px;">
                                                        <!--md-button class="md-raised" ng-click="vm.makeDefault($event,card.id)" ng-disabled="card.default == true"><span style="text-transform:initial">Make Default</span></md-button-->
                                                   
                                                        <md-button class="md-raised" aria-label="Profile" style="background:#006400" ng-click="vm.makeDefault($event,card.id)">
                                                            <span style="text-transform:none;font-weight:700;letter-spacing:1px;color:white;    text-shadow: 1px 0px #484848;">Make Default</span>
                                                        </md-button>
                                                   
                                                        <md-button class="md-raised" aria-label="Profile" style="background:#f92424" ng-click="vm.deleteCard($event,card.id)">
                                                            <span style="text-transform:none;font-weight:700;letter-spacing:1px;color:white;    text-shadow: 1px 0px #484848;">Remove</span>
                                                        </md-button>
                                                    
                                                    </center>
                                                    
                           
                                                    
                                                </md-card>
                                            </div>
                                        </div>
                                    </div>
                                    <md-card class="tint showbox paymentCard product_card" style="background:#ececec;border:10px dotted #a9a9a9; margin-top: 20px;outline:none;" layout="column" layout="center center" ng-click="vm.addCard($event)">
                                        <center>
                                            <h1 style="color:grey;font-family: roboto;">Add Card Here</h1>
                                            <span class="ti-plus" style="font-size: 35px;color: grey;font-weight: 700;"></span>
                                        </center>
                                    </md-card>
                                </div>
                            </v-pane-content>
                        </v-pane>
                    </v-accordion>
                    <!--/md-content>
            </md-whiteframe-->
                </div>
            </md-tab-body>
        </md-tab>


        <md-tab label="add page" ng-if="!tabVisible">
            <md-tab-label layout="row" layout="space-between center">
                <span style="text-transform:none;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" flex>
                Package Details
            </span>
            </md-tab-label>
            <md-tab-body>
                <div layout="row" layout-align="end end" class="card-container card-top">
                    <md-button class="md-icon-button icon-cancel" aria-label="More" style="color:#14bae4;margin-top: 10px !important;margin-right:20px;" ng-click="closeWindow()"></md-button>
                </div>
                <div>

                    <v-accordion id="accordion-list" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index,id)" oncollapse="collapseCallback(index, id)" style="padding-left: 65px;padding-right:30px;">
                        <v-pane id="Cards" expanded="$first">
                            <v-pane-header id="Store-header" aria-controls="Store-content">
                                <!--h1 class="search-header" style="margin:0px;">Subscription Details</h1-->
                                <div class="setting-card-header">
                                    <h5>Licence Details</h5>
                                </div>
                            </v-pane-header>
                            <v-pane-content id="Store-content" aria-labelledby="Store-header" style="border-radius: 4px;background:transparent;">
                                <div layout="row" layout-align="center start" layout-wrap>
                                        
                                           <md-card class="product_card" style="width:460px;height:205px;background:#499300;padding:0px;" layout="column">
                                                <center style="background:#3c7a00;color:white;font-size:16px;font-weight:700;padding:10px 0px;border-radius: 2px 2px 0px 0px;width:460px">DigIn Version - {{version}}</center>
                                                <center style="padding:10px;" layout="row">
                                                    <div flex="40" layout="row" layout-align="space-between end">
                                                        <div layout="column" layout-align="center center">
                                                            <img src="views/settings/myAccount/good.png" style="width: 160px;-webkit-filter: drop-shadow(1px 0px 1px #222);filter: drop-shadow(1px 0px 1px #222);padding-left: 10px;" ng-hide="false" />
                                                            <img src="views/settings/myAccount/bad.png" style="width: 160px;-webkit-filter: drop-shadow(1px 0px 1px #222);filter: drop-shadow(1px 0px 1px #222);padding-left: 10px;" ng-show="false" />
                                                        </div>
                                                    </div>
                                                    <div flex layout="column">
                                                            <span class="align-left" style="font-size:14px;line-height:20px;font-weight: 700;letter-spacing: 1px;">Purchase Date : </span>
                                                            <span class="align-left"> {{onsiteDate | date:'medium'}}</span>
                                                            <span class="align-left" style="font-size:14px;line-height:20px;font-weight: 700;letter-spacing: 1px;">Number of Licenced Users : </span>
                                                            <span class="align-left"> {{onsiteUsers}} user</span>
                                                    </div>
                                                </center>
                                            </md-card>
                                    </div>
                            </v-pane-content>
                        </v-pane>
                    </v-accordion>
                </div>
            </md-tab-body>
        </md-tab>


        <md-tab label="Payment history" ng-if="tabVisible">
            <md-tab-label layout="row" layout="space-between center">
                <span style="text-transform:none;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" flex>
                    Payment History
                </span>
            </md-tab-label>
            <md-tab-body>
                <div class="card-container card-top">
                    <div class="setting-wrap" style="max-width:960px;margin:0 auto;padding-bottom:10px; margin-top: 20px;box-shadow:0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12)">
                        <form name="editForm"  md-theme="default" ng-submit="submit()">
                            <div layout="row" layout-align="end end">
                                <md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="back" 
                                ng-click="closeWindow()"></md-button>
                            </div>
                                
                            <div class="setting-card-header">
                                <h2>Payment History</h2>
                                <div class="setting-img-wrap">
                                    <img src="views/settings/userAdministrator/groups.png"/>
                                </div>
                            </div>
                            <div flex layout="row">                            
                                <p flex="35">
                                    <label> From Date: </label>
                                    <input type="text" class="form-control" datepicker
                                            ng-model="visualDate.startDate"/>
                                </p>
                                <p flex="35">
                                    <label> To Date: </label>
                                    <input type="text" class="form-control" datepicker
                                            ng-model="visualDate.endDate"/>
                                </p>
                                <p ng-click="getPaymentHistory()" type="button" class="blut-edit-btn" flex="20" 
                                    style="margin-top: 28px;" ng-hide="paymentLoading">
                                    Get Payment Details
                                </p> 
                                <p style="margin-top: 28px;" flex="20" layout="row" layout-align="center center" ng-show="paymentLoading">
                                    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                                </p>
                            </div>
                            <md-list ng-cloak style="max-height:400px;overflow-y:scroll">
                                <md-list-item>
                                        <div layout="row" flex>
                                            <p style="font-size:16px;font-weight:700"  flex="25"> Date </p>
                                            <p style="font-size:16px;font-weight:700" flex> Amount(USD)</p>
                                            <p style="font-size:16px;font-weight:700" flex="25"> Package Name </p>
                                            <p style="font-size:16px;font-weight:700" flex> Atrribute </p>
                                        </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-list-item ng-repeat="ledger in ledgers">
                                    <div layout="row" flex>
                                        <p style="color:#717171" flex="25"> {{ ledger.created_datetime }} </p>
                                        <p style="color:#717171" flex> {{ ledger.package_price}} </p>
                                        <p style="color:#717171" flex="25"> {{ ledger.package_name}} </p>
                                        <p style="color:#717171" flex layout="column">
                                            <span ng-repeat="record in ledger.details">
                                                {{record.package_value}}
                                                <span ng-if="record.package_attribute === 'data' ">GB Data</span>
                                                <span ng-if="record.package_attribute === 'users' ">Users</span>
                                                <span ng-if="record.package_attribute === 'storage' ">GB Storage</span>
                                            </span>
                                        </p>
                                    </div>
                                <md-divider ng-show="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </form>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>  

    </md-tabs>
</footer>