<!DOCTYPE html>

<html>

<head>

    <title>Digin - Beyond BI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google-signin-client_id" content="259839742765-nq163rith421537lnfjt5dor1gr8c3jn.apps.googleusercontent.com">
    <link rel="shortcut icon" href="styles/css/images/innerlogo.ico">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.css">

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">   
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">

    <link href="styles/css/material-wfont.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="styles/css/pivot.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/css/directive_library.css">
    <link rel="stylsheet" type="text/css" href="styles/css/pivot.css" />
    <link rel="stylesheet" type="text/css" href="styles/css/style.css">
    <link rel="stylesheet" type="text/css" href="styles/css/admin1.css">
    <link rel="stylesheet" href="styles/css/nv.d3.css">
    <link rel="stylesheet" type="text/css" href="styles/css/accordion.css">
    <link rel="stylesheet" type="text/css" href="styles/css/indicator.css">
    <!-- angular gridster -->
    <link rel="stylesheet" href="styles/angular-gridster.min.css" />
    <link rel="apple-touch-icon" href="../../assets/globals/img/icons/apple-touch-icon.png">

    <link rel="stylesheet" href="styles/css/DiginD3.css"/>

     <!-- event calendar -->
    <link rel="stylesheet" href="styles/css/fullcalendar.css" />
    <!-- event calendar -->

    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key: 75 mu4z7y428pty
        authorize: true
        scope: r_basicprofile r_emailaddress

    </script>

    <script src="https://apis.google.com/js/client.js"></script>
    
    <style type="text/css">
        .ui-resizable {
            position: absolute !important;
        }

    </style>

</head>

<body  style="background-color:#ECECEC;" ng-controller="NavCtrl" ng-app="DuoDiginRt">
    <div class="pre-loader-parent" id="pagePreLoader" layout="column" layout-align="center center" style="background-color:white">
        <div class="pre-loader-child" layout="column" layout-align="center center">
            <img src="styles/css/images/preloaders/Preloader_7/Preloader_7.gif" alt="Washed Out">
            <span><b>Getting your environment ready..</b></span>
            <md-progress-linear class="md-primary"></md-progress-linear>
        </div>
    </div>
    <div md-theme="{{ dynamicTheme }}" md-theme-watch>
        <script type="text/javascript" src="scripts/fbSDK.js"></script>
        <script type="text/javascript" src="scripts/fbSDK.js"></script>
        <div id="fb-root"></div>
        <div ng-init="GetReportDetails()" id="getReport" class="nav-menu nav-bar-border" style="display:none" ng-mouseover="hide_sidebar()">
            <div class="sidebar-btn-container" style="margin-top:45px;">
                <md-list>
                    <div ng-click="$parent.navigate(item.title)" ng-repeat="item in menu" style="min-height:30px;height:40px;padding: 0px 10px !important;margin:5px;">
                        <!--                        <md-icon style="height:100%;margin-right:0px;" class="{{item.icon}}"></md-icon>-->
                        <ng-md-icon icon="{{item.icon2}}" style="fill:darkgrey" size="20"></ng-md-icon>
                        <md-tooltip md-direction="right">{{item.title}}</md-tooltip>
                    </div>
                </md-list>
            </div>

        </div>
        <!--        main headbar-->
        <div id="mainHeadbar" style="height: 45px; width: 100%;visibility:hidden;">
        <div class="main-headbar md-theme-light" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <!--
               <md-button class="md-primary" ng-click="toggleRight();toggleNavBarIcon();" style="margin: 0px 10px !important;">
    <ng-md-icon icon="{{navBarIcon}}" style="fill:whitesmoke;"></ng-md-icon>
</md-button>
-->
                <div style="    width: 35px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.46);
    height: 35px;
    margin: 10px;" layout="row" layout-align="center center">
                    <img ng-src="styles/css/images/innerlogo.png" class="md-avatar" id="digin-logo" style="width:80%;">
                </div>
                <div class="nav-search">
                    <md-icon id="btnNavSearch" class="ion-search search sidebaricons"></md-icon>
                </div>
                <!--                <p style="font-size: large;margin: 0px 10px 0px 0px;color:whitesmoke;">Duo Digin</p>-->
            </div>
            <span ng-click=""></span>
            <div layout="row" layout-align="center center">
                <div layout="row" ng-click="showUserProfile($event);">
                    <p style="color: whitesmoke;font-size: large;margin: 10px;" ng-model="username"> {{username}}</p>
                    <img class="md-avatar" style="width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 5px;" src="styles/css/images/person.jpg">
                </div>

            </div>
        </div>
        </div>

        
        <md-tabs class="footer-bar" id="footerBar" md-selected="selectedIndex" md-border-bottom md-autoselect md-align-tabs="bottom" style="min-height:100vh; width:calc(100vw - 48px);float:right;visibility:hidden">
         <md-tab ng-repeat="tab in tabs" label="{{tab.title}}" md-on-select="$root.selectCurrentDashboard(tab);">
            <div class="demo-tab tab{{$index%4}}">

               <div style="background-color: #ECECEC;
                  border-top-left-radius: 10px;">

                  <!--                    <div ng-bind="tab.content"></div>-->
                  <div style="position: fixed;width: 100%;top: 0px;" layout="row" layout-align="end center">

                     <md-button ng-click="removeTabConfirmation( tab,$event )" ng-disabled="tabs.length <= 1" style="border-radius: 100%;">
                        <md-icon style="color:darkgrey;width: 10px;height: 10px;" md-svg-src="styles/css/images/icons/close.svg"></md-icon>
                     </md-button>
                  </div>

                  <!--                    tab closing button-->
                  <!--
                     <div style="position: fixed;width: 100%;top: 0px;" layout="row" layout-align="end center">
                     
                     <md-button ng-click="removeTabConfirmation( tab,$event )" ng-disabled="tabs.length <= 1" style="border-radius: 100%;">
                     <md-icon style="color:darkgrey;width: 10px;height: 10px;" md-svg-src="styles/css/images/icons/close.svg"></md-icon>
                     </md-button>
                     </div>
                     -->
                  <!--                        end of tab closing button-->

                  <div ui-view layout="column" id="content1" ng-mouseleave="show_sidebar()" ng-mouseover="hide_sidebar()">

                  </div>
                        <div id="draggableCloseButton" style="z-index:200;" class="dashboard-widgets-close">
                             <md-button ng-disabled="dashCloseWidgets" id="dashboardwidgetsclose" class="md-fab" ng-click="closeAllWidgets()" aria-label="Close">
                                <md-icon class="ion-close" style="margin-top: -40px;"></md-icon>
                            </md-button>
                        </div>

            </div>
                </div>
         </md-tab>
      </md-tabs>

        
        <div class="overlay" style="z-index: 10;
    opacity: 0.8;">
        <div class="overlay">
            <div class="starting-point">
                <span></span>
            </div>
        </div>
        </div>
        <!-- start pulathisi 7/24/2015 -->
        <!-- <div class="overlay-secondary"></div> -->
        <!-- end pulathisi 7/24/2015 -->
        <div class="search-layer">
            <div class="search">
                <form>
                    <div class="form-group" layout="row">
                        <label id="postdomain" style="top: 20px"><img style="width:35px;height:35px;margin-top:10px;" src='styles/css/images/ic_search_white_24px.svg' /></label>
                        <md-input-container flex style="padding-bottom:0px">
                            <input ng-model="searchText" type="text" id="input-search" style="background-color: #FFFFFF;height:50px;font-size: 30px;">
                        </md-input-container>
                    </div>
                </form>
            </div>
  <div class="results">
            <div class="row">
                <div class="col-md-4" layout="column" layout-align="center center" layout-padding flex="30">
                    <!--button type="submit" class="btn btn-default" ng-click="GetDshboardDetails()"><i class="ion-search"></i></button---->
                    <div class="result result-users">
                        
                        <h3 style="font-family:inherit;font-weight:300;font-size:23px;">DASHBOARDS <small>({{dashboards.length}})</small></h3>
                        <div class="row">
                            <img style="width:35px;height:35px;margin-top:-8px; " src='bower_components/material-design-icons/action/svg/production/ic_star_rate_24px.svg' />
                            <h4 class='liketext' style="font-family:inherit;font-weight:300;font-size:23px;">Favourites <small>({{favoriteDashboards.length}})</small></h4>
                            <ul class="list-material">
                                <li class="has-action-left" ng-repeat="x in favoriteDashboards | filter:searchText">
                                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                                    <a href="#" class="visible">
                                        <div class="list-action-left" style="border-bottom:rgba(0,0,0,0.5); font-size:16px; color:#FFFFFF">
                                            <img style="width:35px;height:35px;"  src="bower_components/material-design-icons/action/svg/production/ic_dashboard_24px.svg" class="face-radius" alt="">
                                            <span ng-click="goDashboard(x)" class="title">{{x.splitName}}</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="row">
                            <img style="width:35px;height:35px;margin-top:-8px; " src='bower_components/material-design-icons/navigation/svg/production/ic_more_vert_48px.svg' />
                            <h4 class='liketext' style="font-family:inherit;font-weight:300;font-size:23px;">More <small>({{dashboards.length}})</small></h4>
                            <ul class="list-material" style="height:150px">
                                <li class="has-action-left" dir-paginate="x in dashboards | filter:searchText | itemsPerPage: pageSize" current-page="currentPage" pagination-id="list1">
                                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                                    <a href="#" class="visible">
                                        <div class="list-action-left" style="border-bottom:rgba(0,0,0,0.5); font-size:16px; color:#FFFFFF">
                                            <img style="width:35px;height:35px;" src="bower_components/material-design-icons/action/svg/production/ic_dashboard_24px.svg" class="face-radius" alt="">
                                            <span ng-click="goDashboard(x)" class="title">{{x.splitName}}</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            
                            <div class="other-controller">
                              <div>
                              <dir-pagination-controls boundary-links="true" on-page-change="" pagination-id="list1"></dir-pagination-controls>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="result result-posts">
                        <h3 style="font-family:inherit;font-weight:300;font-size:23px;">REPORTS <small>({{reports.length}})</small></h3>
                        <div class="row">
                            <img style="width:35px;height:35px;margin-top:-8px; " src='bower_components/material-design-icons/action/svg/production/ic_star_rate_24px.svg' />
                            <h4 class='liketext' style="font-family:inherit;font-weight:300;font-size:23px;">Favourites <small>({{favoriteReports.length}})</small></h4>
                            <ul class="list-material">
                                <li class="has-action-left" ng-repeat="x in favoriteReports |filter:searchText">
                                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                                    <a href="#" class="visible">
                                        <div class="list-action-left" style="color:#FFFFFF;border-bottom:rgba(0,0,0,0.5); font-size:16px;">
                                            <img style="width:35px;height:35px;" src="bower_components/material-design-icons/device/svg/production/ic_dvr_24px.svg" class="img-radius" alt="">
                                            <span ng-click="goReport(x.name)" class="title">{{x.splitName}}</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            
                        </div>
                        <div class="row">
                            <img style="width:35px;height:35px;margin-top:-8px; " src='bower_components/material-design-icons/navigation/svg/production/ic_more_vert_48px.svg' />
                            <h4 class='liketext' style="font-family:inherit;font-weight:300;font-size:23px;">More <small>({{reports.length}})</small></h4>
                            <ul class="list-material" style="height:150px">
                                <li class="has-action-left" dir-paginate="x in reports |filter:searchText | itemsPerPage: pageSize" current-page="currentPage" pagination-id="list2">
                                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                                    <a href="#" class="visible">
                                        <div class="list-action-left" style="color:#FFFFFF;border-bottom:rgba(0,0,0,0.5); font-size:16px;">
                                            <img style="width:35px;height:35px;" src="bower_components/material-design-icons/device/svg/production/ic_dvr_24px.svg" class="img-radius" alt="">
                                            <span ng-click="goReport(x.name)" class="title">{{x.splitName}}</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            
                            <div class="other-controller">
                              <div>
                              <dir-pagination-controls boundary-links="true" on-page-change="" pagination-id="list2"></dir-pagination-controls>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="result result-posts">
                        <h3 style="font-family:inherit;font-weight:300;font-size:23px; ">ANALYZER <small>({{analyzers.length}})</small></h3>
                        <div class="row">
                            <img style="width:35px;height:35px;margin-top:-8px" src='bower_components/material-design-icons/action/svg/production/ic_star_rate_24px.svg' />
                            <h4 class='liketext' style="font-family:inherit;font-weight:300;font-size:23px;">Favourites <small>({{favoriteAnalyzers.length}})</small></h4>
                            <ul class="list-material">
                            <li class="has-action-left" ng-repeat="x in favoriteAnalyzers |filter:searchText">
                                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                                    <a href="#" class="visible">
                                        <div class="list-action-left" style="color:#FFFFFF;border-bottom:rgba(0,0,0,0.5); font-size:16px;">
                                            <img style="width:35px;height:35px;" src="bower_components/material-design-icons/navigation/svg/production/ic_apps_24px.svg" class="img-radius" alt="">
                                            <span ng-click="goAnalyzer(x.name)" class="title">{{x.splitName}}</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <img style="width:35px;height:35px;margin-top:-8px; " src='bower_components/material-design-icons/navigation/svg/production/ic_more_vert_48px.svg' />
                        
                            <h4 class='liketext' style="font-family:inherit;font-weight:300;font-size:23px;">More <small>({{analyzers.length}})</small></h4>
                            <ul class="list-material">
                            <li class="has-action-left" ng-repeat="x in analyzers |filter:searchText">
                                    <a href="#" class="hidden"><i class="ion-android-delete"></i></a>
                                    <a href="#" class="visible">
                                        <div class="list-action-left" style="color:#FFFFFF;border-bottom:rgba(0,0,0,0.5); font-size:16px;">
                                            <img style="width:35px;height:35px;" src="bower_components/material-design-icons/navigation/svg/production/ic_apps_24px.svg" class="img-radius" alt="">
                                            <span ng-click="goAnalyzer(x.name)" class="title">{{x.splitName}}</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="layer-container">
        <div ng-repeat="pannel in menuPanels" ng-controller="DashboardCtrl" class="menu-layer">
        {{test}}
            <div ng-if="currentView=='Dashboard' ">
                <ul ng-repeat="item in dashboardmenu">
                    <li ng-click="doFunction(item.title)">
                        <a>{{item.title}} </a>
                    </li>
                </ul>
            </div>
            <div ng-if="currentView=='Reports'">
            </div>
            <div ng-if="currentView=='Analytics'">
                <ul ng-repeat="item in analyticsmenu">
                    <li ng-click="doFunction(item.title)">
                        <a>{{item.title}} </a>
                    </li>
                </ul>
            </div>
            <div ng-if="currentView=='RealTime'">
                <ul ng-repeat="item in realtimeMenu">
                    <li ng-click="doFunction(item.title)">
                        <a>{{item.title}} </a> </li>
                </ul>
            </div>
           
            <div ng-if="currentView=='Digin P Stack'">
                <ul>
                    <li ng-repeat="item in Extendedmenu" ng-click="doFunction(item.title)">
                        <a>{{item.title}} </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="scripts/vendor/prefixfree.min.js"></script> 
    <script type="text/javascript" src='scripts/vendor/jquery.js'></script> 
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript" src="bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <script type="text/javascript" src="scripts/vendor/jquery.jsPlumb-1.4.1-all-min.js"></script> 

    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    <script type="text/javascript" src="scripts/vendor/twitteroauth.js"></script> 
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="scripts/vendor/highcharts-ng.js"></script> 
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="http://highslide-software.github.io/export-csv/export-csv.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/drilldown.js"></script>
    <script type="text/javascript" src="scripts/vendor/google-picker.min.js"></script> 
    <script type="text/javascript" src="scripts/vendor/Googleinitial.js"></script> 
    <script type="text/javascript" src="scripts/vendor/twitterservice.js"></script> 
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script> 
    <script type="text/javascript" src="scripts/config.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script> 
    <script type="text/javascript" src=" bower_components/hammerjs/hammer.js"></script> 
    <script type="text/javascript" src="scripts/vendor/oauth.js"></script>
    <script type="text/javascript" src="scripts/vendor/zoom.js"></script> 
    <script type="text/javascript" src="scripts/vendor/global-vendors.js"></script> 
    <script type="text/javascript" src="scripts/vendor/angular-socialshare.min.js"></script> 
    <script type="text/javascript" src="scripts/vendor/angular-css-injector.js"></script> 

    <!-- codemirror -->
    <script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>

    <script type="text/javascript" src="bower_components/codemirror/addon/display/placeholder.js"></script>
      <!-- canvastoblob -->
    <script type="text/javascript" src="bower_components/canvas-toBlob.js/canvas-toBlob.js"></script>

	<!-- event calendar -->
    <script type="text/javascript" src="scripts/vendor/moment.js"></script> 
    <script type="text/javascript" src="scripts/vendor/fullcalendar.js"></script> 
    <script type="text/javascript" src="scripts/directives/calendar.js"></script> 
    <!-- filesaver -->
    <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/98887/angular-fullscreen.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/ngstorage/ngStorage.js"></script> 
    <script type="text/javascript" src="scripts/vendor/pivot.js"></script>  

    <script type="text/javascript" src="bower_components/d3-plugins/sankey/sankey.js"></script>
    <script type="text/javascript" src="bower_components/d3-plugins/hexbin/hexbin.js"></script> 
    <!-- html2canvas -->
    <script type="text/javascript" src="build/html2canvas.js"></script> 
    <script type="text/javascript" src="scripts/custom/utility.js"></script> 
    <script type="text/javascript" src="scripts/app.js"></script> 
    <script type="text/javascript" src="scripts/services/ObjectStoreService.js"></script> 
    <script type="text/javascript" src="scripts/controllers/NavCtrl.js"></script> 
    <script type="text/javascript" src="scripts/controllers/DiginCore.js"></script> 
    <script type="text/javascript" src="scripts/controllers/DiginCore2.js"></script> 
    <script type="text/javascript" src="scripts/directives/plumbItem.js"></script> 
    <script type="text/javascript" src="scripts/directives/postRender.js"></script> 
    <script type="text/javascript" src="scripts/directives/accordion.js"></script> 
    <script type="text/javascript" src="scripts/controllers/chartSettingsCtrl.js"></script> 

    <script type="text/javascript" src="scripts/directives/resizeable.js"></script> 
    <script type="text/javascript" src="scripts/directives/droppable.js"></script> 
    <script type="text/javascript" src="scripts/directives/draggable.js"></script> 
    <script type="text/javascript" src="scripts/directives/validNumber.js"></script> 
    <script type="text/javascript" src="scripts/directives/directivelibrary.js"></script>
    <script type="text/javascript" src="scripts/directives/diginDirectives.js"></script>  
    <script type="text/javascript" src="scripts/services/ReportService.js"></script> 

    <script type="text/javascript" src="bower_components/FileSaver/FileSaver.js"></script>
    <!-- zeroclipboard -->
    <script type="text/javascript" src="bower_components/zeroclipboard/ZeroClipboard.min.js"></script> 

    <script type="text/javascript" src="scripts/factories/d3Data.js"></script> 
    <script type="text/javascript" src="scripts/factories/Dashboard.js"></script> 
    <script type="text/javascript" src="scripts/services/RealTimeService.js"></script> 
    <script type="text/javascript" src="scripts/services/AnalyticsService.js"></script> 
    <script type="text/javascript" src="scripts/custom/fbInterface.js"></script> 
    <script type="text/javascript" src="scripts/vendor/indicator.js"></script> 
    <script type="text/javascript" src="scripts/directives/indicatorWidget.js"></script> 
    <script type="text/javascript" src="scripts/custom/linkedinInterface.js"></script> 
    <script type="text/javascript" src="scripts/vendor/uimicrokernel.js"></script> 
    <script type="text/javascript" src="scripts/controllers/widgetCtrl.js"></script> 
    <script type="text/javascript" src="scripts/controllers/gridBottomSheetCtrl.js"></script> 
    <script type="text/javascript" src="scripts/controllers/ExcelCtrl.js"></script> 
    <!-- Material Icons -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/layout.js"></script> 
    <!-- svg to canvas -->
    <script type="text/javascript" src="scripts/vendor/pleasure.js"></script>
    <script type="text/javascript" src="http://gabelerner.github.io/canvg/rgbcolor.js"></script>
    <script type="text/javascript" src="http://gabelerner.github.io/canvg/StackBlur.js"></script>
    <script type="text/javascript" src="scripts/vendor/nv.d3.js"></script> 
    <!-- or use another assembly -->
    <script type="text/javascript" src="scripts/vendor/angular-nvd3.js"></script> 
    <script type="text/javascript" src="http://gabelerner.github.io/canvg/canvg.js"></script>
 
    <script type="text/javascript" src="scripts/controllers/angular-touch.js"></script> 

    <!-- raw -->
      <script type="text/javascript" src="scripts/controllers/DiginD3.js"></script>

      <!-- charts -->
      <script src="scripts/charts/treemap.js"></script>
      <script src="scripts/charts/streamgraph.js"></script>
      <script src="scripts/charts/scatterPlot.js"></script>
      <script src="scripts/charts/packing.js"></script>
      <script src="scripts/charts/clusterDendrogram.js"></script>
      <script src="scripts/charts/voronoi.js"></script>
      <script src="scripts/charts/delaunay.js"></script>
      <script src="scripts/charts/alluvial.js"></script>
      <script src="scripts/charts/clusterForce.js"></script>
      <script src="scripts/charts/convexHull.js"></script>
      <script src="scripts/charts/hexagonalBinning.js"></script>
      <script src="scripts/charts/reingoldTilford.js"></script>
      <script src="scripts/charts/parallelCoordinates.js"></script>
      <script src="scripts/charts/circularDendrogram.js"></script>
      <script src="scripts/charts/smallMultiplesArea.js"></script>
      <script src="scripts/charts/bumpChart.js"></script>
      <script src="scripts/services/services.js"></script>
      <script type="text/javascript" src="scripts/controllers/controllers.js"></script>
      <script type="text/javascript" src="scripts/filters/filters.js"></script>
      <script type="text/javascript" src="scripts/directives/directives.js"></script>

    <script type="text/javascript" src="scripts/angular-gridster.js"></script> 
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-sanitize.min.js"></script> <!-- $$$ -->

    <script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="bower_components/codemirror/addon/display/placeholder.js"></script>
    <!-- canvastoblob -->
    <script type="text/javascript" src="bower_components/canvas-toBlob.js/canvas-toBlob.js"></script>
    <!-- filesaver -->
    <script type="text/javascript" src="bower_components/FileSaver/FileSaver.js"></script>
    <!-- zeroclipboard -->
        <script type="text/javascript" src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui/build/angular-ui.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
    <script type="text/javascript" src="bower_components/zeroclipboard/ZeroClipboard.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.3/ng-csv.min.js"></script> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('search', '1');

    </script>
    <script type="text/javascript">
        google.load("feeds", "1");

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?AIzaSyBs5gFF_1gQKf0LTMSf-YOxHJK4nF9FkTQ=API_KEY&callback=finish">


    </script>
    <!-- angular datepicker -->
    // <script src="scripts/controllers/angular-datepicker.js"></script> 

    <!-- linq for quering in elastic widget -->
    <script type="text/javascript" src="scripts/vendor/linq/linq.js"></script> 
    </div>

    <script type="text/javascript" src="bower_components/angular-utils-pagination/dirPagination.js"></script> 
    <script>
        var script = '<script type="text/javascript" src="src/markerclusterer';
        if (document.location.search.indexOf('compiled') !== -1) {
            script += '_compiled';
        }
        script += '.js"><' + '/script>';
        document.write(script);

    </script>

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12846745-20']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script src="jsons/data.json"></script> 




    <script>
        $(document).ready(function() {

            Layout.init();
            
            $('.nav-menu').hide();

        });

    </script>
</body>

</html>
