<!--ONLY RELATED TO GOOGLE MAP WIDGET-->
<div layout="column" style="width:100%;" ng-if="$parent.chartType.chart == 'map' && $parent.settingConfig.locatorType == 'geo_code'">
	<div layout="row" layout-align="space-between start" style="padding:0px 10px">
		<h2>
			<span>Longitude</span>
		</h2>
		<md-menu md-position-mode="target-right target" style="margin-top:10px">
		  <md-button class="md-fab md-mini" aria-label="category" ng-click="$mdMenu.open($event)" style="width:36px;height:30px;line-height:30px"><span class="ti-plus" style="font-size: 18px;line-height: 36px;"></span></md-button>
		  <md-menu-content width="4" style="padding:10px" ng-class="{'applyDarkBackground': $root.applyDark == true}">
			<span style="font-size: 14px;font-weight: 800;">Select a column containing longitude information</span><br/>
			<md-list>
				<md-list-item class="secondary-button-padding" ng-repeat="item in $parent.selectedMeasures" ng-click="$parent.defineVariable($index,'longitude',item)">
					<p>{{item.name}}</p>
				</md-list-item>
			</md-list>
		  </md-menu-content>
		</md-menu>
	</div>
</div>

<md-list layout-padding ng-if="$parent.chartType.chart == 'map' && $parent.settingConfig.locatorType == 'geo_code'">
	<div ng-if="$parent.settingConfig.longitude" layout="row" layout-align="space-between center"  style="border: 1px solid #dddddd;border-radius: 3px;margin-bottom:4px;padding:0px 5px">
		<p style="margin:8px">{{$parent.settingConfig.longitude.name}}</p>
		<md-button class="md-icon-button md-secondary" ng-click="$parent.removeVariable($index, 'longitude')" aria-label="remove from category"><span class="ti-close"></span></md-button>
	</div>
	<div layout="row" layout-align="center center"><text ng-if="!$parent.settingConfig.longitude.name" style="font-style: italic;font-size: 14px;text-align: center;">Choose a longitude column to create a <span> {{$parent.chartType.name}}</span> Chart</text></div>
</md-list>
<md-divider ng-if="$parent.chartType.chart == 'map' && $parent.settingConfig.locatorType == 'geo_code'"></md-divider>
<div layout="column" style="width:100%;" ng-if="$parent.chartType.chart == 'map' && $parent.settingConfig.locatorType == 'geo_code'">
	<div layout="row" layout-align="space-between start" style="padding:0px 10px">
		<h2>
			<span>Latitude</span>
		</h2>
		<md-menu md-position-mode="target-right target" style="margin-top:10px">
		  <md-button class="md-fab md-mini" aria-label="category" ng-click="$mdMenu.open($event)" style="width:36px;height:30px;line-height:30px"><span class="ti-plus" style="font-size: 18px;line-height: 36px;"></span></md-button>
		  <md-menu-content width="4" style="padding:10px" ng-class="{'applyDarkBackground': $root.applyDark == true}">
			<span style="font-size: 14px;font-weight: 800;">Select a column containing latitude information</span><br/>
			<md-list>
				<md-list-item class="secondary-button-padding" ng-repeat="item in $parent.selectedMeasures" ng-click="$parent.defineVariable($index,'latitude',item)">
					<p>{{item.name}}</p>
				</md-list-item>
			</md-list>
		  </md-menu-content>
		</md-menu>
	</div>
</div>

<md-list layout-padding ng-if="$parent.chartType.chart == 'map' && $parent.settingConfig.locatorType == 'geo_code'">
	<div ng-if="settingConfig.latitude" layout="row" layout-align="space-between center" style="border: 1px solid #dddddd;border-radius: 3px;margin-bottom:4px;padding:0px 5px">
		<p style="margin:8px">{{$parent.settingConfig.latitude.name}}</p>
		<md-button class="md-icon-button md-secondary" ng-click="$parent.removeVariable($index, 'latitude')" aria-label="remove from category"><span class="ti-close"></span></md-button>
	</div>
	<div layout="row" layout-align="center center"><text ng-if="!$parent.settingConfig.latitude.name" style="font-style: italic;font-size: 14px;text-align: center;">Choose a latitude column to create a <span> {{$parent.chartType.name}}</span> Chart</text></div>
</md-list>

<div layout="column" style="width:100%;" ng-if="$parent.chartType.chart == 'map' && $parent.settingConfig.locatorType == 'reverse_geo_code'">
	<div layout="row" layout-align="space-between start" style="padding:0px 10px">
		<h2>
			<span>Address</span>
		</h2>
		<md-menu md-position-mode="target-right target" style="margin-top:10px">
		  <md-button class="md-fab md-mini" aria-label="category" ng-click="$mdMenu.open($event)" style="width:36px;height:30px;line-height:30px"><span class="ti-plus" style="font-size: 18px;line-height: 36px;"></span></md-button>
		  <md-menu-content width="4" style="padding:10px" ng-class="{'applyDarkBackground': $root.applyDark == true}">
			<span style="font-size: 14px;font-weight: 800;">Select a column containing the addresses</span><br/>
			<md-list>
				<md-list-item class="secondary-button-padding" ng-repeat="item in $parent.selectedAttributes" ng-click="$parent.defineVariable($index,'address',item)">
					<p>{{item.name}}</p>
				</md-list-item>
			</md-list>
		  </md-menu-content>
		</md-menu>
	</div>
</div>

<md-list layout-padding ng-if="$parent.chartType.chart == 'map' && $parent.settingConfig.locatorType == 'reverse_geo_code'">
	<div ng-if="$parent.settingConfig.address" layout="row" layout-align="space-between center" style="border: 1px solid #dddddd;border-radius: 3px;margin-bottom:4px;padding:0px 5px">
		<p style="margin:8px">{{$parent.settingConfig.address.name}}</p>
		<md-button class="md-icon-button md-secondary" ng-click="$parent.removeVariable($index, 'address')" aria-label="remove from category"><span class="ti-close"></span></md-button>
	</div>
	<div layout="row" layout-align="center center"><text ng-if="!$parent.settingConfig.address.name" style="font-style: italic;font-size: 14px;text-align: center;">Choose an address column to create a <span> {{$parent.chartType.name}}</span> Chart</text></div>
</md-list>
<!--ONLY RELATED TO GOOGLE MAP WIDGET-->