<div layout="column" style="width:100%;min-height:170px" ng-show="$parent.chartType.enableFilters == true">
	<div layout="row" layout-align="space-between start" style="padding:0px 10px">
		<h2>Run-time Filter</h2>
		<md-menu md-position-mode="target-right target" style="margin-top:10px">
		  <md-button class="md-fab md-mini" aria-label="filter" ng-click="$mdMenu.open($event)" style="width:36px;height:30px;line-height:30px"><span class="ti-plus" style="font-size: 18px;line-height: 36px;"></span></md-button>
		  <md-menu-content width="4" style="padding:10px" ng-class="{'applyDarkBackground': $root.applyDark == true}">
			<span style="font-size: 14px;font-weight: 800;">Select any filter</span><br/>

			<v-accordion class="vAccordion--default">

			  <v-pane ng-repeat="(key, value) in $parent.selectedAttributes | orderBy:'name'">
				<v-pane-header>
				  {{ value.name }}
				</v-pane-header>

				<v-pane-content>
					<md-list>
						<md-list-item class="secondary-button-padding list-item-small" ng-click="$parent.$parent.pushRunTimeFilters(value, 'single')">
							<p>Single Select</p>
						</md-list-item>
						<md-list-item class="secondary-button-padding list-item-small" ng-click="$parent.$parent.pushRunTimeFilters(value, 'multiple')">
							<p>Multiple Select</p>
						</md-list-item>
					</md-list>
				</v-pane-content>
			  </v-pane>

			</v-accordion>
		  </md-menu-content>
		</md-menu>
	</div>
	<div style="padding:0px 10px">
		<md-divider style="padding:2px"></md-divider>
		<md-list>
			<md-list-item class="secondary-button-padding list-item-small" ng-repeat="item in $parent.selectedRunTimeFilters | orderBy:'name'" style="border: 1px solid #dddddd;border-radius: 3px;margin-bottom:4px;padding:0px 5px">
				<p style="margin:8px">
					{{item.name}}
					<span md-colors="{background:'accent-400'}" style="padding: 2px;border-radius: 2px;margin-left:5px; font-size: 11px;font-weight:800;letter-spacing: 1px;">
						<span style="color:white">
							{{item.selectionType}}
						</span>
					</span>
				</p>
				<md-button class="md-icon-button md-secondary" ng-click="$parent.removeRunTimeFilters($index)" aria-label="remove from category"><span class="ti-close"></span></md-button>
			</md-list-item>
		</md-list>
	</div>
</div>