<div layout="column" style="width:100%;" ng-if="$parent.chartType.chart != 'whatif' && $parent.chartType.chart != 'histogram' && $parent.chartType.chart != 'map' && $parent.chartType.chart != 'metric'">
	<div layout="row" layout-align="space-between start" style="padding:0px 10px">
		<h2>
			<span ng-show="$parent.chartType.chart != 'pie' && $parent.chartType.chart != 'hierarchy' && $parent.chartType.chart != 'sunburst' && $parent.chartType.chart != 'forecast' && $parent.chartType.chart != 'tabular'">X-Axis</span>
			<span ng-show="$parent.chartType.chart == 'pie' || $parent.chartType.chart == 'sunburst'">Slices</span>
			<span ng-show="$parent.chartType.chart == 'hierarchy'">Hierarchical levels</span>
			<span ng-show="$parent.chartType.chart == 'forecast'">Date Field</span>
			<span ng-show="$parent.chartType.chart == 'tabular'">Tabular Field</span>
		</h2>
		<md-menu md-position-mode="target-right target" style="margin-top:10px">
		  <md-button class="md-fab md-mini" aria-label="category" ng-click="$mdMenu.open($event)" style="width:36px;height:30px;line-height:30px"><span class="ti-plus" style="font-size: 18px;line-height: 36px;"></span></md-button>
		  <md-menu-content width="4" style="padding:10px" ng-class="{'applyDarkBackground': $root.applyDark == true}">
			<span style="font-size: 14px;font-weight: 800;">Select any Category/ Categories</span><br/>
			<md-list>
				<md-list-item class="secondary-button-padding list-item-small" ng-repeat="item in $parent.selectedAttributes | orderBy:'name'" ng-click="$parent.pushCateory($index,item)">
					<p>{{item.name}}</p>
				</md-list-item>
			</md-list>
		  </md-menu-content>
		</md-menu>
	</div>
</div>
<md-list style="margin-top:60px" layout-padding ng-if="$parent.chartType.chart != 'whatif' && $parent.chartType.chart != 'histogram' && $parent.chartType.chart != 'map' && $parent.chartType.chart != 'metric'">
	<div layout="row" layout-align="space-between center"  ng-repeat="item in $parent.selectedCategory | orderBy:'name'" style="border: 1px solid #dddddd;border-radius: 3px;margin-bottom:4px;padding:0px 5px">
		<p style="margin:8px">{{item.name}}</p>
		<md-button class="md-icon-button md-secondary" ng-click="$parent.removeFromCategory($index)" aria-label="remove from category"><span class="ti-close"></span></md-button>
	</div>
	<div layout="row" layout-align="center center"><text ng-if="$parent.selectedCategory.length == 0" style="font-style: italic;font-size: 14px;text-align: center;">Choose <span ng-show="$parent.chartType.name != 'scatter'">atleast</span> one attribute to create a <span> {{$parent.chartType.name}}</span> Chart</text></div>
</md-list>

<md-divider "ng-if="$parent.chartType.chart != 'whatif' && $parent.chartType.chart != 'histogram' && $parent.chartType.chart != 'map' && $parent.chartType.chart != 'metric'"></md-divider>