<!--ONLY RELATED TO WHAT IF WIDGET-->
<div layout="column" style="width:100%;min-height:170px" ng-if="$parent.chartType.chart == 'whatif'">
	<div layout="row" layout-align="space-between start" style="padding:0px 10px">
		<h2>Available columns</h2>
	</div>
	<div style="padding:0px 10px">
		<md-divider style="padding:2px"></md-divider>
		<md-list style="margin-top: 60px;">
			<md-list-item class="secondary-button-padding" ng-repeat="item in $parent.selectedMeasures | orderBy:'name'" style="border: 1px solid #dddddd;border-radius: 3px;margin-bottom:4px;padding:0px 5px">
				<md-checkbox 
					ng-checked="$parent.isSeriesToggled(item, $parent.selectedSeries)" 
					ng-click="$parent.toggleSeries($event, item, $parent.selectedSeries)"></md-checkbox>
				<p>{{item.name}}</p>
			</md-list-item>
		</md-list>
	</div>
</div>
<!--ONLY RELATED TO WHAT IF WIDGET-->