/*
 Update by Damith
 date 03-11-15
 https://dribbble.com/shots/2327033-First-screen
*/

/*
.main-headbar {
    background-color: #215f84;
}

.main-header {
    height: 40px !important;
    background-color: #7DC577 !important;
}

.top-left-logo {
    background-color: #fff !important;
}

.main-search-icon {
    color: #2396D3 !important;
    font-size: 25px;
    padding-left: 15px;
}

#footerBar {
    background-color: #75C6DC;
    margin-top: -33px !important;
}

.f-weight-100 {
    font-weight: 100 !important;
}

.overlay .starting-point span {
    background-color: #215f84;
}

.main-search-box {
    border: 3px solid #75c6dc !important;
    border-radius: 9px !important;
    background-color: #FFFFFF !important;
    height: 50px;
    font-size: 30px;
}
*/

/*margin style */
.m-t-0 {
    margin-top: 0px !important;
}

.m-top-30 {
    margin-top: 30px !important;
}

.m-top-10 {
    margin-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

/* padding style */
.p-l-10 {
    padding-left: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.full-width {
    width: 100% !important;
}

.width-450 {
    width: 500px;
}

/*color text and background */
.text-color-primary {
    color: #2396D3;
}

.text-color-white {
    color: #ffffff !important;
}

.text-color-grey-600 {
    color: #757575 !important;
}

/*
.bg-color-blue-400 {
    background-color: #42A5F5 !important;;
}

.bg-color-grey-300 {
    background-color: #F5F5F5 !important;;
}

.bg-color-grey-600 {
    background-color: #757575 !important;;
}

.bg-color-blue-300 {
    background-color: #64B5F6 !important;
}
*/

.main-color {
    background-color: #215f84;
}

.font-weight-300 {
    font-weight: 300 !important;
}

/* Model style */
.card-head {
    position: relative;
    line-height: 52px;
    min-height: 50px;
    vertical-align: middle;
    border-radius: 2px 2px 0 0;
    margin-top: 12px;
    width: 100%;
}

.inline-badge {
    display: inline-block;
}

.inline-badge > .badge {
    font-size: 10px;
    font-weight: 300;
}

.blue {
    background-color: #2196f3;

}

.card-head header {
    display: inline-block;
    padding: 11px 17px;
    vertical-align: middle;
    line-height: 17px;
    font-size: 20px;
    color: #BDBDBD;
}

.card-head > div {
    display: inline-block;
}

.card-head .tools {
    padding-right: 30px;
    float: right;
}

.card-body {
    padding: 11px 17px;
    padding-top: 10px;
}

.header1 {
    font-size: 14px;
    font-weight: 600;
}

.fa-close {
    color: #000000;
}

/*nav right style */
.nav-common-filter {
    max-width: 350px;
    width: 350px;
    height: 100%;
}

.inline-text {
    display: inline;
}

.inline-text > i {
    color: #BDBDBD;
    padding-right: 10px;
}

.inline-text > span {
    color: #BDBDBD;
}

.index-loading {
    width: 90%;
    text-align: center;
    position: absolute;
    margin-top: 70px;
}

.data-index {
    background-color: #EEEEEE;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;

}

/*button style */
.btn-move-up {
    margin-right: 10px !important;
    position: relative;
    right: 8px;
    top: -25px;
}

.waves-effect {
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out 0s;
    vertical-align: middle;
    will-change: opacity, transform;
    z-index: 1;
}

.btn-floating {
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 37px;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    width: 30px;
    z-index: 1;
}

.btn-floating i {
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 30px;
    text-align: center;
    width: inherit;
}

.right {
    float: right !important;
}

/* text box style -*/
.form-control.form-white {
    background-color: #ffffff;
    border: 1px solid #ECEDEE;
    color: #555555;
}

.form-control.form-gray {
    background-color: transparent;
    border: 1px solid #ECEDEE;
    color: #555555;
}

.append-icon input {
    padding-right: 36px;
}

.form-control {
    -webkit-box-shadow: none !important;
    background-color: #ECEDEE;
    border: 1px solid #ECEDEE;
    box-shadow: none !important;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: auto;
    line-height: normal;
    padding: 9px 12px 8px;
    vertical-align: middle;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.none-gradient {
    border: 0;
    background-image: none !important;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
}

.dialog-600 {
    min-width: 450px;
    max-width: 450px;
    min-height: 450px;
}

.series-wrap {
    width: 100%;
    height: 36px;
    border: 2px solid #BDBDBD;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 12px;
    color: #215f84;
    overflow: hidden;

}

.series-wrap > a .fa {
    color: #BDBDBD;
    padding-top: 2px;
}

.loading-table .fa {
    color: #215f84 !important;
}

.filed {
    overflow: hidden
}

.card-body .actions {
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 6px;
}

.chart-body .actions {
    position: absolute;
    right: 5px;
    z-index: 2;
    top: 5px;
}

.actions > li {
    display: inline-block;
    vertical-align: baseline;
}

.actions > li > a, .actions > a {
    width: 30px;
    height: 30px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.result-status {
    position: absolute;;
    width: 90%;
    text-align: center;
    margin-top: 100px;
}

.result-status > span {
    font-weight: 300;
    font-size: 25px;
    color: #215f84;
}

.filed-wrap {
    margin-top: 20px;
    overflow: hidden;
    height: 230px;
}

.filed-wrap:hover {
    overflow-y: auto;
    cursor: move;
}

[ng-drag].drag-over {
    border: 2px solid #215f84;
}

[ng-drag].dragging {
    opacity: 0.5;
    position: absolute !important;
    width: 150px;
    z-index: 1000 !important;;
    border: 2px solid #215f84;
    background-color: #215f84;
    color: #ffffff;
}

.overflow-none {
    overflow: visible !important;
}

/*widget*/
.widget {
    width: 400px;
    height: 350px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 50px;
    position: absolute;
    margin-left: 50px;
}

.widget-body {
    overflow: hidden;

}

.chart-body {
    padding: 10px;
    position: absolute;
    /* text-align: center; */
    /* max-height: 296px; */
    overflow: hidden;
    top: 16px;
    left: 0%;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.gridster-he {
    height: 300px !important;
}

.chart-loading {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    margin-top: 0;
    z-index: 1;

}

.chart-loading > .loader {
    margin-top: 15%;
}

.highcharts-title {
    display: none;
}

#chart1 {
    margin-top: 25px;
}

/*dialog style */
.ngdialog.ngdialog-theme-default .ngdialog-content {
    background: #fff;
    width: 549px;
}

.dialog-wrap .header {
    display: inline-block;
    padding: 11px 17px;
    vertical-align: middle;
    line-height: 17px;
    font-size: 20px;
    color: #BDBDBD;
}

.config-dialog {
    padding: 0px 30px 10px 30px !important;
    overflow: hidden;
}

.overflow-none {
    overflow: visible !important;
}

.header-btn {
    padding-top: 18px;
}

.mapping-body {
    height: 320px;
    overflow: hidden;
    width: 100%;
    padding-left: 0px;
    padding-right: 5px;
}

.mapping-body .not-found {
    color: #215f84;
    text-align: center;
}

.not-found > h1 {
    font-weight: 300;
    font-size: 25px;
    color: #215f84;
    text-align: center;
    margin-top: 90px;
    position: relative;
}



v-pane-content {
    background-color: #EEEEEE;
}

.vAccordion--default v-pane-header {
    padding: 5px 0;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid #D8D8D8;
    -webkit-transition: color 0.25s, border-color 0.5s;
    transition: color 0.25s, border-color 0.5s;
}

