/*update damith
update UI version 1.0
cmds >> common data source style
drb >> dynamically report builder
*/

/*cmds >> common data source style*/
.digin-cmds-source {
    display: block;
    padding-left: 16px;
    /*margin-bottom: 30px;*/
    /*width: 100%;*/
    /*height: 307px;*/
    width: 300px;
}

.digin-cmds-source-2 {
    display: block;
    padding-left: 16px;
    margin-bottom: 18px;
    width: 100%;
    height: 355px;
}

.digin-cmds-info {
    overflow: auto;
    padding-right: 12px;

}

.digin-cmds-scheme {
    overflow: hidden;
    padding-right: 12px;
}

.digin-cmds-source .source-wrap {
    width: 70px;
    height: 70px;
    background: #026689;
}

.digin-cmds-source .error {
    text-align: center;

}

.digin-cmds-source {
    display: block;
}

.digin-cmds-source .error-wrap,
.digin-cmds-source-2 .error-wrap {
    margin-top: 50px;
    height: 250px;
    display: block;
}

.info-wrap {
    overflow: visible;
}

.digin-cmds-source > .info-wrap {
    display: block;
    overflow: hidden;
    width: 100%;
}

.col-sheet {
    cursor: pointer;

    width: 100%;
    height: 40px;
    background: #ffffff;
    border-radius: 15px;
    border: 1px solid rgba(203, 203, 187, 0.19);
    padding: 9px;
    margin-bottom: 10px;

    -webkit-box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.56);
    display: inline-block;
}

.col-sheet-attr {
    height: 35px;
    color: #ffffff;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #1DE9B6 !important;
}

.col-sheet-attr > .selectedRow {
}

.col-sheet-attr > .selectedRow:hover {
    background-color: #0a0a0a;
}

.displayNone {
    display: none !important;
}

.displayInlineBlock {
    display: inline-block !important;
    padding: 10px;
}

.displayBlock {
    display: block !important;
}

.selectedRow {
    background-color: #1DE9B6 !important;
}

.selectedRow > i {
    display: block !important;
}

.unSelectedRow {
    background-color: #E0E0E0 !important;
}

.unSelectedRow > i {
    display: none !important;
}

.selectedSource {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.selectedChart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.selectedChart > i {
    color: #EC784B;
}

.selectedSource > i {
    color: #ffffff;
}

.col-sheet :hover {
    cursor: pointer;
}

.digin-cmds-source .error-wrap > i {
    line-height: 46px;
    font-size: 75px;
    display: block;
    padding-bottom: 25px;
    color: #ECECEC;
}

.digin-cmds-source .error-wrap > span {
    font-size: 20px;
    font-weight: 200;
    color: #ECECEC;

}

.source-wrap > img {
    width: 68px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    display: block;
    padding: 10px;
}

.source-icon > path {
    fill: #94d31b;
}

.source-wrap-footer {
    font-size: 9px;
    color: #fff;
    position: absolute;
    background: #EC784B;
    bottom: 0;
    width: 100%;
    height: 18px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 400;
    padding-top: 5px;
    text-align: center;
}

.cmds-btn-footer {
    display: inline;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}

.btn-close {
    background-color: #026689 !important;
    color: #fff !important;
}

.btn-apply {
    background-color: #026689 !important;
    color: #fff !important;
    border: 0;
    border-radius: 0;
    height: 43px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 13px;
}

.cmds-source-inline {
    display: inline-block;
    margin: 0 19px 19px 0;
}

.btn-block:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
}

.btn-default:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
}

.digin-cmds-loading {
    width: 100%;
    text-align: center;
    padding-top: 39%;
}

.digin-cmds-search-wrap {
    width: 100%;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.digin-cmds-attribute, .digin-cmds-measures {
    width: 100%;
    height: 130px;
    overflow: auto;
}

.digin-cmds-attr-error {
    width: 100%;
    text-align: center;
    padding-top: 28px;
    font-size: 21px;
    color: #ECECEC;
    overflow: hidden !important;
}

.digin-cmds-attr-error > i {
    display: block;
    font-size: 35px;
    cursor: pointer;
}

.digin-cmds-schema-btn {
    width: 100%;
    display: inline-table;
}

.sub-header {
    padding-bottom: 10px;
}

.sub-header > span {
    font-size: 13px;
    color: #ececec;
    text-transform: uppercase;
}

.digni-cmds-header-btn {
    display: inline-block;
    position: absolute;
    right: 31px;
    top: 14px;
}

.digni-cmds-header-btn > i {
    cursor: pointer;
    font-size: 16px;
}

.digni-cmds-header-msg {
    position: absolute;
    width: 95%;
    height: 55px;
    top: -4px;
    text-align: center;
    z-index: 100;
    background: #A57CF3;
    border-radius: 5px;
    left: 10px;
}

.digni-cmds-header-msg > span {
    color: #ffffff;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200;
    font-size: 30px;
    line-height: 55px;
}

.success {
    background: #43A047 !important;
    width: 100%;
    color: #ffffff;
}

.alert-danger {
    background: #E53935 !important;
    width: 100%;
    color: #ffffff;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200;
    font-size: 18px;
    border-radius: 5px;
}
.alert-danger-social-analysis {
    right: 500px;
    background: #E53935 !important;
    width: 100%;
    color: #ffffff;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 100;
    font-size: 14px;
    border-radius: 5px;
}

.digin-gb-chart-loading {
    position: absolute;
    width: 69%;
    text-align: center;
    top: 32%;
}

/*padding */
.p-t-b-30 {
    padding: 30px 0 30px 0px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-15 {
    padding-top: 15px;
}

.p0Delete {
    padding: 0 !important;
}

.p10 {
    padding: 10px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-20 {
    padding: 20px;
}

/*margin*/
.m-b-0 {
    margin-bottom: 0px !important;
}

.timeline_icon {
    background: transparent none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 50%;
    height: 44px;
    left: -54px;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 44px;
}

.timeline_icon_success {
    background: #7cb342 none repeat scroll 0 0 !important;
}

/*query builder*/
.digin-qb-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.digin-qb-header {
    width: 100%;
    height: 55px;
    background-color: #fff;
    overflow: hidden;
}

.digin-qb-header .back {
    background: #ffffff;
    height: 55px;
    width: 71px;
    font-size: 35px;
    padding: 6px;
    padding-left: 20px;
}

.digin-qb-header .back > i {
    cursor: pointer;
}

.digin-qb-header-text h1 {
    color: #DAD2BF;
    padding-top: 6px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200;
}

.digin-qb-header-text h1 > small {
    font-family: 'Ek Mukta', sans-serif;
    color: #026689;
    font-size: 20px;
    text-transform: lowercase;
}

.digin-gb-b {
    display: block;
    padding-top: 9px;
    height: 55px;
    width: 100%;
}

.bg-lightblue-h-1 {
    background: #026689;
}

.bg-lightskyblueh-2 {
    background: #01718D;
}

.digin-gb-b > span {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 500;
    color: #EC784B;
}

.digin-gb-b > h5 {
    color: #DAD2BF;
}

.digin-gb-bdy-wrap {
    padding-top: 3px;
}

.digin-gb-measures {
    overflow: hidden;
    position: relative;
    height: calc(50vh);
    background: #fff;
}

.toggle-icon {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 4px;
    top: 17px;
}

.left-icon {
    background: #01718D;
}

.left-icon-toggle {
    background: #EC784B;
}

.toggle-icon > i {
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
}

.measures-body {
    background: #ffffff;
    height: 200px;
    padding: 2px 10px 2px 14px;
    overflow: hidden;
    overflow-y: auto;
    display: block;
    margin-right: 19px;
    margin-bottom: 35px;
}

.measures-body > .data-row,
.chart-config-wrap > .data-row,
.chart-config-wrap > .ng-isolate-scope > .ng-scope {
    width: 100%;
    height: 40px;
    background: #ffffff;
    border-radius: 15px;
    border: 1px solid rgba(203, 203, 187, 0.19);
    padding: 9px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.56);
    display: inline-block;
}

.chart-config-wrap > .vAccordion--default v-pane-header {
    border: none !important;
    margin-bottom: 0px !important;
}

.data-row > ul {
    display: inline-block;
}

.trans-bg {
    background: transparent !important;
}

.v-pane-content > div {
    padding-bottom: 0px !important;
}

.text-upper {
    text-transform: uppercase;
}

.measures-type {
    padding: 5px;
    height: 23px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.56);
    display: inline-block;
    font-size: 9px;
    background: #EC784B;
    color: #fff;
    margin-top: -2px;
    text-transform: lowercase;
    margin-left: 90px;
    float: right;
}

.measures-type-bg-blue {
    background: #01718D !important;
    height: 20px;
    width: 20px;
}

.measures-lst-toggle {
    width: 100%;
    height: 150px;
    background: #ffffff;
}

.panel-header {
    background: #fff;
    padding: 15px;
}

.panel-header > h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.digin-gb-menu {
    width: 100%;
    height: calc(100vh);;
    float: right;
    background: #ffffff;
    overflow: hidden;
    border-left: 3px solid #ECECEC;
    z-index: 100;
    position: relative;
}

.last-icon {
    border-bottom: 3px solid #ECECEC;
}

.digin-gb-menu .right-menu {
    text-align: center;
    padding: 25px;
}

.digin-gb-menu .right-menu > i {
    font-size: 47px;
    color: #DAD2BF;
    cursor: pointer;
}

.digin-gb-chart-wrap {
    width: 100%;
    height: calc(55vh);
    background: rgb(250, 250, 250);
    border-left: 3px solid #ECECEC;
}

.digin-gb-chart-wrap-view-container {
    width: 100%;
    height: calc(55vh);
    background: #ffffff;
}

.chart-config-panel {
    height: 450px;
    width: 280px;
    background: #EC784B;
    position: absolute;
    left: 20%;
    top: 63px;
    z-index: 1;
    border-radius: 10px;
    display: none;
}

.columns-config-panel {
    height: 450px;
    width: 280px;
    background: #EC784B;
    position: absolute;
    left: 20%;
    top: 30%;
    z-index: 2;
    border-radius: 10px;
    display: none;
}

.chart-config-wrap {
    padding: 20px;
    overflow: hidden;
/*    height: 350px;*/
    margin-right: 15px;
}

.chart-config-wrap-rw1 {
    padding: 0px 0px 17px 17px;
    overflow: hidden;
/*    height: 350px;*/
    overflow: hidden;
}

.chart-config-panel .header,
.chart-config-wrap .header,
.chart-config-wrap .header,
.query-builder .header {
    display: inline-block;
    width: 100%;
    height: 57px;
}

.chart-config-panel .header > h4 .header-icon,
.columns-config-panel .header > h4 .header-icon,
.query-builder .header > h4 .header-icon,
.digin-bq-chart-rw1 .header > h4 .header-icon {
    float: right;
    cursor: pointer;
    padding-left: 5px;
}

.chart-config-panel .header > h4
.header-icon > i,
.query-builder .header > h4
.header-icon > i,
.columns-config-panel .header > h4
.header-icon > i,
.digin-bq-chart-rw1 .header > h4
.header-icon > i {
    width: 50px;
    height: 20px;
    background-color: #01718D;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
    font-size: 10px;
}

.chart-config-panel .header > h4,
.columns-config-panel .header > h4,
.query-builder .header > h4,
.digin-bq-chart-rw1 .header > h4 {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: capitalize;
}

.data-row-style-2 {
    padding: 8px;
    border-radius: 5px;
    background: #F69563;
    color: #FFF;
    width: 100%;
    font-size: 12px;
    display: inline-block;
}

.data-row-columns {
    padding-top: 0px !important;
}

.data-row-columns div > h5 {
    display: inline-block;
    width: 100%;
}

.data-row-columns div > h5 > i {
    float: right;
    display: none;
}

.data-row-columns:before,
.data-row-columns:after {
    display: none !important;
}

.data-row-style-2 > i {
    float: right;
    display: none;
}

.active-condition > i,
.active-condition > .ti-close {
    display: block;
}

.de-active-condition {
    display: none !important;
}

.digin-qb-panle-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.filter-data-not-fund {
    position: absolute;
    top: 32%;
    text-align: center;
    left: 25%;
    color: #ECECEC;
    font-size: 66px;
}

.filter-data-not-fund > h5 {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 400;
    font-size: 20px;

}

/*chart setting panel
  float on right
*/
.digin-bq-chart-rw1 {
    position: absolute;
    float: right;
    width: 515px;
    height: 454px;
    background: #EC784B;
    border-radius: 10px;
    display: none;
    z-index: 101;
}

.chart-tab {
    right: 10%;
    top: 13%;
}

.chart-tab:before,
.chart-tab:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.chart-tab:after {
    border-color: rgba(47, 64, 74, 0);
    border-left-color: #EC784B;
    border-width: 14px;
    margin-top: -186px;
}
.chart-tab:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 36px;
    margin-top: -36px;
}

.structure-tab {
    right: 10%;
    top: 13%;
}

.structure-tab:before,
.structure-tab:after {
    left: 100%;
    top: 75%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.structure-tab:after {
    border-color: rgba(47, 64, 74, 0);
    border-left-color: #EC784B;
    border-width: 14px;
    margin-top: -186px;
}

/* series settings tab */
.ser-setting-tab {
    right: 10%;
    top: 25%;
}

.ser-setting-tab:before,
.ser-setting-tab:after {
    left: 100%;
    top: 75%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ser-setting-tab:after {
    border-color: rgba(47, 64, 74, 0);
    border-left-color: #EC784B;
    border-width: 14px;
    margin-top: -186px;
}

/* end series settings tab */

.icon-select-ri1 {
    color: #EC784B !important;
}

.chart-config-wrap-rw1 > ul {
    display: inline-block;
    padding: 0px;
}

.chart-config-wrap-rw1 > ul > li {
    display: inline-block;
    background: #fff;
    padding: 16px;
    height: 83px;
    width: 83px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

.chart-config-wrap-rw1 > ul > li > i {
    font-size: 40px;
    color: #EC784B;
}

/*main page loader*/
.digin-main-loader {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5)
}

.digin-main-loader > .loader-wrap {
    width: 450px;
    position: relative;
    background: #ffffff;
    height: 250px;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.digin-main-loader > .loader-wrap .loader-body-wrap {
    margin-top: 70px;
}

.digin-main-loader > .loader-wrap .loader-body-wrap >
h3 {
    margin-top: 30px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200;
    font-size: 32px;
}

.digin-gb-row {
    width: 100%;
    height: 50vh;
    background: #ffffff;
    border-top: 3px solid #ECECEC;
    border-left: 3px solid #ECECEC;
}

.inline-panel-header {
    display: inline-block;
    width: 100%;
}

.digin-gb-row > .query-view-warp {
    width: 100%;
    padding: 10px;
    position: relative;
}

.query-view-warp > .query-viewer {
    width: 100%;
    height: 113px;
    border-radius: 9px;
    border: 2px solid #ECECEC;
    overflow: auto;
    padding: 5px;
}

.query-viewer > div {
    display: inline-block;
    font-family: "Consolas";
    font-size: 12px;
}

.query-viewer > div > p,
.query-viewer > div > p > span {
    display: inline-block;
    font-family: "Consolas";
    font-size: 12px;
}

.inline-panel-header > h3 > .header-icon {
    float: right;
    cursor: pointer;
    padding-left: 15px;
}

.query-view-not-fund {
    width: 100%;
    top: 35%;
    position: absolute;
    text-align: center;
    left: 0;
    display: inline-block;
    color: #ECECEC;
}

.query-view-not-fund > h5 {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 400;
    font-size: 30px;
    cursor: pointer;
}

.query-view-not-fund > h5 > i {
    padding-right: 10px;
    font-size: 40px;
}

.editable-query {
    width: 100%;
}

.query-builder {
    position: absolute;
    width: 69%;
    height: 58%;
    background: #EC784B;
    bottom: 35%;
    right: 10%;
    margin-left: 5px;
    border-radius: 10px;
    display: none;
}

.query-builder:after,
.query-builder:before {
    right: 10%;
    bottom: -27px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.query-builder:after {
    border-color: rgba(47, 64, 74, 0);
    border-top-color: #EC784B;
    border-width: 14px;
    margin-top: -186px;
}

.query-builder:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 36px;
    margin-top: -36px;
}

.query-builder-wrap {
    padding: 41px 15px 0px 15px;
    display: inline-block;
}

.query-header {
    background: #E87142;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 0;
    text-align: center;
    top: 13%;

}

.measures-header {
}

.query-header > i {
    font-size: 24px;
    color: #F69563;
    line-height: 43px;
}

.query-builder-wrap > .filed {
    padding: 10px;
    display: inline-block;
    z-index: 0;
    height: 288px;
    width: 200px;
    overflow-y: auto;
    background: #E87142;
}

.query-builder-wrap > .last-filed-option {
    width: 269px !important;
    padding: 10px;

}

.query-builder-wrap > .last-filed-option >
span {
    color: #ffffff;
    font-size: 12px;
}

.group-by {
    display: block;
    background: #ffffff;
    height: 120px;
    width: 100%;
    margin-top: 5px;
    position: relative;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
}

.group-by > div {
    text-align: center;
}

.button-wrap {
    margin: 0 auto;
    position: relative;
    margin-top: 52px;
    text-align: center;
}

.button-wrap > .btn {
    background: #01718D !important;
    color: #ffffff !important;
    width: 97px;
    height: 36px;
    padding: 10px;
    border: 0;
}

.group-by > .group-msg {
    position: absolute;
    top: 38%;
    left: 21%;
    color: #ECECEC;
    font-size: 18px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 400;
}

.msg-notify-wrap {
    width: 100%;
    position: absolute;
}

[ng-drag] {
    cursor: move;
}

.draggable-objects:after {
    display: block;
    content: "";
    clear: both;
}

[ng-drop].drag-enter {
    background: rgba(246, 149, 99, 0.21);
    transition: width 0.3s linear 0s
}

/*svg loader Google */
.circular {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;

}

/*arrow */
.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid blue;
}

.arrow_box {
    position: relative;
    background: #2f404a;
    border: 4px solid #c2e1f5;
}

.chart-config-panel:after,
.chart-config-panel:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.chart-config-panel:after {
    border-color: rgba(47, 64, 74, 0);
    border-right-color: #EC784B;
    border-width: 14px;
    margin-top: -186px;
}

.chart-config-panel:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 36px;
    margin-top: -36px;
}

.columns-config-panel:after,
.columns-config-panel:before {
    right: 100%;
    top: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.columns-config-panel:after {
    border-color: rgba(47, 64, 74, 0);
    border-right-color: #EC784B;
    border-width: 14px;
    margin-top: -186px;
}

.columns-config-panel:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 36px;
    margin-top: -36px;
}

/*drb >> dynamically report builder*/
.digin-drb-wrap {
    overflow: hidden;
}

.digin-drb-wrap .report {
    display: block;
    width: 100%;
    height: 650px;
}

.report > .data-state {
}

.data-state .message {
    display: block;
    position: absolute;
    top: 40%;
    right: 20%;
    margin: auto 0;
}

.message > span {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 600;
    font-size: 33px;
    color: #fff;

}

.message > i {
    display: block;
    font-size: 75px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.digin-drb-wrap .bdy-wrap {

}

.optional-panel {
    background: #ffffff;
    min-height: calc(100vh);
    position: relative;
    width: 100%;
    max-height: 1000px;
    border-top: 3px solid #ECECEC;
}

.optional-panel > .btn-wrap {
    position: absolute;
    bottom: 55px;
    left: 0;
    height: 60px;
    width: calc(41vh);
    text-align: center;
    background-color: #026689;
    padding: 16px;
}

.btn-wrap > span {
    width: 100px;
}

.btn-wrap .apply {
    color: #fff;
    background-color: #EC784B;
    border-color: #EC784B;
}

.btn-wrap .apply :hover {
    background-color: #F69563;
}

.btn-wrap .clear:hover {
    background-color: #EC784B;
}

.btn-wrap .clear {
    color: #fff;
    background-color: #F69563;
    border-color: #F69563;
}

.optional-panel > .btn-wrap > span {
    font-size: 15px;
}

.bottom-line {
    border-bottom: 3px solid #ECECEC;
}

.bottom-top {
    border-top: 3px solid #ECECEC;
}

.optional-panel .filed-list-warp {
    margin-top: 35px;
    padding-right: 30px;
    padding-bottom: 15px;

}

.optional-panel .filed-list-warp > h5 {
    padding-left: 17px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0px !important;
}

.filed-list-warp > div > .inline,
.filed-list-warp > md-radio-group > .inline {
    display: inline-block;
    height: 20px;
}

.filed-list-warp > .check-box-list {
    position: relative;
    padding-left: 5px;
    display: inline-block;
}

.filed-list-warp > .txt-box-list {
    position: relative;
    padding-left: 15px;
    display: block;

}

.filed-list-warp > .multi-select {
    position: relative;
    padding-left: 15px;
    display: block;
    padding-top: 10px;

}

.txt-box-list > div {
    margin: 8px 0px;
}

.txt-box-list > div > input,
.multi-select .form-control {
    background: transparent !important;
    background-image: none !important;
    border: 2px solid #026689;
    border-radius: 7px;
}

.txt-box-list > div > input:focus {
    border-color: #EC784B;
}

.check-box-list > div >
md-checkbox.md-checked .md-icon {
    background-color: #EC784B;
}

.optional-panel .panel-wrap {
    position: relative;
    width: 100%;
    height: calc(85vh);
    overflow: hidden;
}

.panel-wrap .panel-header {
    padding: 15px 0px;
}

.panel-header > h2 {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #ECECEC;
}

.panel-wrap .panel-filter,
.panel-wrap .panel-filter .date-filter {
    display: block;
    margin-bottom: 20px;
}

.inline-date {
    display: inline-block;
    width: 120px;
}

.panel-wrap .panel-filter > select {
    width: 100%;
}

.panel-wrap .panel-filter > input,
.panel-wrap .panel-filter .date-filter .inline-date > input {
    background: transparent !important;
    background-image: none !important;
    border: 2px solid #F5F5F5;
    border-radius: 7px;
    height: 40px;
}

.panel-wrap .panel-filter > input::-webkit-input-placeholder,
.panel-wrap .panel-filter .inline-date > input::-webkit-input-placeholder {
    color: #EEEEEE;
}

.panel-wrap .panel-filter .date-filter .inline-date > input:hover,
.panel-wrap .panel-filter > input:focus {
    border: solid #EC784B 2px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 2px solid #F5F5F5;
    border-radius: 4px;
    cursor: text;
    height: 40px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 2px solid #F5F5F5;
    border-radius: 4px;
    height: 40px;
    padding-top: 4px;
}

.select2-container--default .select2-selection--single
.select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 6px;
    right: 5px;
    width: 20px;
}

.select2-dropdown {
    border: 2px solid #F5F5F5;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #EC784B 2px;
    outline: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #EC784B;
    border: 1px solid #EC784B;
    border-radius: 4px;
    color: #ffffff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    margin-right: 5px;
    margin-left: 2px;
}

.panel-wrap .panel-filter > label,
.panel-wrap .panel-filter .inline-date > label {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    float: left;
    width: 100%;
}

/***************************** Element Selection *****************************/

.selected {
    color: #fff;
    background-color: #01718D;
    cursor: move;
}

.nestedDemo .dropzone .selected .box {
    border-color: #d6e9c6;
}

.nestedDemo .dropzone .selected .box > h3 {
    color: #3c763d;
    background-color: #dff0d8;
    background-image: linear-gradient(to bottom, #dff0d8 0, #d0e9c6 100%);
    border-color: #d6e9c6;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #db652d;
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes color {
    0% {
        stroke: #db652d;
    }
    20% {
        stroke: #db652d;
    }
    25% {
        stroke: #db652d;
    }
    45% {
        stroke: #db652d;
    }
    50% {
        stroke: #db652d;
    }
    70% {
        stroke: #db652d;
    }
    75% {
        stroke: #db652d;
    }
    95% {
        stroke: #db652d;
    }

}

@keyframes color {
    0% {
        stroke: #3f88f8;
    }
    20% {
        stroke: #3f88f8;
    }
    25% {
        stroke: #dd413b;
    }
    45% {
        stroke: #dd413b;
    }
    50% {
        stroke: #f6ae2e;
    }
    70% {
        stroke: #f6ae2e;
    }
    75% {
        stroke: #259a5d;
    }
    95% {
        stroke: #259a5d;
    }

}

/*pre loader 2
 */
.loader2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #EC784B;
    top: 50%;
    animation: loader2 2s infinite ease;
}

.loader3 {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 4px solid #EC784B;
    top: 50%;
    animation: loader2 2s infinite ease;
}

.loader2-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #EC784B;
    animation: loader2-inner 2s infinite ease-in;
}

@keyframes loader2 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader3 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader2-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/*iframe style */
.report > iframe {
    border: 2px solid #ECECEC;
}
