.digin-wp-bg {

    overflow: hidden !important;
    height: 100%;
    background-image: url(images/on-board/intro-bg.gif);
    position: relative;
}

.digin-wp-bg > .bg-color {
    background-color: rgba(2, 102, 137, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.digin-wp-hedaer-wrap {
    text-align: center;
    display: block;
}

.h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 55px;
    color: #ffffff;
}

.h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 28px;
    color: #ffffff;
}

.digin-wp-hedaer-wrap > small {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 22px;
    color: #fff;
}

.digin-wp-wrap {
    width: 100%;
    margin-top: 50px;
}

.digin-wp-process {
    text-align: center;
}

.digin-wp-process > .digin-step {
    margin: 0 auto;
}

.digin-step {
    width: 50px;
    height: 50px;
    background: #EC784B;
    border-radius: 50%;
    border: 4px solid #EC784B;
}

.digin-step > span {
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

#timeline {
    position: relative;
}

#timeline:before {
    content: '';
    position: absolute;
    top: 232px;
    height: 4px;
    width: 58%;
    background: #000000;
    left: 20%;
}

.process-img {
    margin-top: 25px;
}

.process-img > img {
    width: 145px;
}

.process-img > i {
    font-size: 145px;
}

.fa-cloud-download {
    color: #2B87C4;
}

.fa-flask {
    color: #2B87C4;
}

.fa-dashboard {
    color: #2B87C4;
}

.digin-wp-btn-wrap {
    text-align: center;
    margin-top: 20px;
    background: #026689;
    height: 130px;
    padding-top: 49px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.btn-start-now {
    color: #E87142 !important;
    background-color: transparent;
    border: 3px solid #E87142;
    padding: 13px 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 2em;
    margin-right: 10px;
    outline: none !important;
}

.btn-start-now:hover, .btn-Skip-now:hover {
    background-color: #E87142 !important;
    color: #fff !important;
    border-radius: 2em;
    border: 3px solid #E87142;
    outline: none !important;
}

.btn-Skip-now {
    color: #E87142 !important;
    background-color: transparent;
    border: 3px solid #E87142;
    padding: 13px 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 2em;
    outline: none !important;
}

.timeline {
    position: absolute;
    height: 4px;
    background: #92D8F3;
    top: 387px;
    width: 58%;
    left: 21%;
}

.digin-p-l-r-70 {
    padding-left: 10%;
    padding-right: 10%;
}





