
/*Material Menu


 md-tabs.md-default-theme .md-header
{

  /*background-color:#263238 !important;*/
}
md-content#main.md-blue-theme {
    background-color: #ececec;
}

md-card {
    background-color: #ffffff;
    cursor: pointer;
}
md-divider {
display: block;
border-top: 2px solid;
margin: 5px;
/* top: 30px; */
}
.collapsed-row span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*.animate-enter {
    -webkit-transition: 1s linear all; 
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}
*/
.round-face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 8px;
}

#mainFab {
    position: fixed;
    right: 2%;
    bottom: 24px;
    background-color: #db4437;
}

#mainFab svg {
    fill: white;
}

#fab-popup {
    height: 260px;
    position: fixed;
    right: 2%;
    bottom: 90px;
}

md-tabs.md-default-theme md-tabs-ink-bar
{
   /* color:#CF000F;
  background:#CF000F !important;*/
}    
md-sidenav {
position: absolute;
width: 304px;
min-width: 70px;
max-width: 70px;
bottom: 0;
z-index: 60;
background-color: #263238;
overflow: auto;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
}
.card-header{
background-color:#263238;

  
}
md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-right, md-sidenav.md-locked-open-remove.md-closed
{
  position: fixed;
}
md-sidenav.md-locked-open
{
  min-width: 70px;
max-width: 70px;
height: 100%;
}
#customcontent
{
background-color:#263238;
}
md-icon
{
   color:#00796B !important;
}
#tableoutput { 
    width: 1400px;
    height: 1050px;
}

.pvtFilterBox{
  left: 320px !important;
  top: 180px !important;


}
 md-select.md-default-theme:not([disabled]):focus .md-select-label
 {
  border-bottom-color:#263238;
 }
a, a:hover, a:focus
{
 color:#00796B;

}
md-tabs.md-teal-theme md-tabs-ink-bar
{
   color:#00796B !important;

}
 md-checkbox.md-teal-theme.md-checked .md-icon
 {

  background-color: #00796B;
 }
 
md-tabs.md-teal-theme md-tab .md-ripple-container
{
   color:#00796B;
}
md-tabs.md-teal-theme .md-header
{
  background-color:#263238;
  color:#00796B;
}
md-toolbar
{
  z-index: 0;
  height :50px !important;
   min-height: 50px !important;
}
.md-toolbar-tools
{
height:50px;

}

.md-button.md-fab
{
  z-index: 1;
}
md-toolbar.md-teal-theme
{
  height: 50px!important;
  background-color:#263238;
}

button.md-fab.md-raised.md-primary.md-button.md-teal-theme
{

  width :48px;
  height: 48px;
}
 

 
.card .card-body
{

  padding:0px !important;
}
 
#content1 {
position: absolute;
width: 100%;
height: 100%;
background-size: 100% 100%;
background: url("../css/images/grid2.png");
background-size: 30px 30px;
overflow: auto;
}

/*Unwanted style */
 
 
 .menuBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  position: absolute;
  width: 36px;
} 
md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}
.card-header .md-button
{

    width: 32px !important;
    height: 32px !important;
    z-index: 0 !important;
    background-color: #ffffff;
}
.muppet-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
  border-bottom-width:2px;
   border-bottom-width:2px;
   border-bottom-color:#00796B;
   border-bottom-style: solid;
}
md-tabs.md-teal-theme md-tabs-ink-bar
{
background:#00796B  !important;

}
.muppet-list .selected {
  color: 
  #009587;
}
html, body
{

  color: #323232;
}
.muppet_font
{
 color: #00796B;

}
.face {
 
  border: 1px solid #263238;
  display: inline-block;
  margin: 4px 16px; 
  vertical-align: middle;
  width: 48px;

}
.content-wrapper {
  position: relative;
}
#primary-col {
  overflow: hidden;
}
#primary-col .md-button {
  margin: 8px auto 16px 0;
}
#primary-col .cell {
  flex: 1 1 auto;
}
#primary-col img {
  display: block;
  max-width: 100%;
}

/* Utils */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0; 
  position: absolute;
  width: 1px;
}

/* Using Data-URI converted from svg until <md-icon> becomes available 
https://github.com/google/material-design-icons
*/
.menuBtn {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}
.wrapper         {width:100%;height:100%;margin:0 auto; }
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

.nav-tabs
{
background-color:#3f51b5;
}

 .form-control {
border: 0;
background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#d2d2d2, #d2d2d2) !important;
background-size: 0 2px, 100% 1px;
background-repeat: no-repeat;
background-position: center bottom, center calc(100% - 1px);
}
.btn-danger:not(.btn-link):not(.btn-flat)
{
background-color: #FFFFFF;
color: #323232;
width: 110px;
text-indent: -20px;
}
 
.modal-dialog
{
  width: 600px !important;

}
.col-lg-6
{
padding-right: 24px !important;

}
.form-horizontal .form-group
{
  margin-left: 0px;
}
.btn
{
  margin: 0px;
}
.row
{

  margin-top:15px !important;
}
#modal-dialog {
top:5%;
right:50%;
outline: none;
}
.modal-content .modal-header
{
 border-bottom :1px solid #e5e5e5 !important;
}
 .modal-content .modal-footer
 {
   border-top :1px solid #e5e5e5 !important;
 }
.dashcontent ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
}

.dashcontent li {
  position: relative;
 
  height: 50px;
  line-height: 50px;
  margin: 5px;
  border: 1px solid #aaa;
  border-radius: 8px;
  width: 200px;
  background: #cccccc; /* Old browsers */
background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom, #cccccc 0%,#ffffff 25%,#ffffff 75%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
 
  
  box-shadow: 2px 2px 3px #666;
  user-select: none;
}

.dashcontent li:before {
  position: absolute;
  content: "";
  left: 4px;
  top: 50%;
  margin-top: -10px;
 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.dashcontent li:after {
  position: absolute;
  content: "";
  left: 4px;
  top: 50%;
  margin-top: -10px;
  border-left: 5px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.dashcontent li:hover {
  border-color: #777;
  box-shadow: 3px 3px 5px #333;
  
  background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to bottom, #dddddd 0%,#ffffff 25%,#ffffff 75%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.dashcontent li:hover:before {
  border-left-color: #777;
}

.dashcontent li:active {
  background: #eee;
  box-shadow: inset 0 1px 1px #666;
}
.tags {
  zoom: 1;
}

.tags:before, .tags:after {
  content: '';
  display: table;
}

.tags:after {
  clear: both;
}

.tags li {
  position: relative;
  float: left;
  margin: 0 0 8px 12px;
}

.tags li:active {
  margin-top: 1px;
  margin-bottom: 7px;
}

.tags li:after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 10px;
  right: -2px;
  width: 5px;
  height: 6px;
  opacity: .95;
  background: #eb6b22;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 1px 0 #99400e;
  box-shadow: inset 1px 0 #99400e;
}

.tags a, .tags span {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tags a {
  height: 26px;
  line-height: 23px;
  padding: 0 9px 0 8px;
  font-size: 12px;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px white;
  background: #fafafa;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #dadada #d2d2d2 #c5c5c5;
  border-radius: 3px 0 0 3px;
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tags a:hover span {
  padding: 0 7px 0 6px;
  max-width: 40px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.md-sidenav-customTheme{
  background:#1B4052;
  border-right:1px solid #2f3e45;
  -webkit-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.5);
}
.tags span {
  position: absolute;
  top: 1px;
  left: 100%;
  z-index: 2;
  overflow: hidden;
  max-width: 0;
  height: 24px;
  line-height: 21px;
  padding: 0 0 0 2px;
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #eb6b22;
  border: 1px solid;
  border-color: #d15813 #c85412 #bf5011;
  border-radius: 0 2px 2px 0;
  opacity: .95;
  background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
  background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: padding, max-width;
  -moz-transition-property: padding, max-width;
  -o-transition-property: padding, max-width;
  transition-property: padding, max-width;
}
li {list-style-type: none;}

.pentaho-page-background
{
  background:  none !important;
}
body
{

  background:url(background/blur-background12.jpg) no-repeat; 
  background-size:100% 100%;
}
 
md-dialog md-content
{
 padding:0px !important;
}
.tabsdemoStaticTabs {
  /*
 * Animation styles
 */ }
  .tabsdemoStaticTabs .sample {
    height: 450px; }
   
  .tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: #ffffff;
    border: 0px solid black;
    height: 310px;
    overflow: hidden; }
  .tabsdemoStaticTabs [role="tabpanel"] {
    color: #323232;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active, .tabsdemoStaticTabs [role="tabpanel"].ng-enter {
    top: -300px; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave, .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave {
    z-index: 100; }
  .tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
  .tabsdemoStaticTabs .after-tabs-area {
    padding: 25px; }
  .tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
  .tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px; }
  /*.tabsdemoStaticTabs .md-header {
    background-color: #1976D2 !important; }
  .tabsdemoStaticTabs md-tab {
    color: #90caf9 !important; }*/
  .tabsdemoStaticTabs md-tab.active, .tabsdemoStaticTabs md-tab:focus {
    color: white !important; }
  .tabsdemoStaticTabs md-tab[disabled] {
    opacity: 0.5; }
  .tabsdemoStaticTabs .md-header .md-ripple {
    border-color: #FFFF8D !important; }
  .tabsdemoStaticTabs md-tabs-ink-bar {
    background-color: #FFFF8D !important; }
  .tabsdemoStaticTabs md-tabs .md-paginator {
    color: white; }

.md-button.md-fab md-icon{
   fill :#263238 ;
   width:  28px;
   height: 28px;
}

md-input-container .md-input
{
  border-color:#323232;
}
md-select.md-default-theme .md-select-label
{

  border-bottom-color:#323232;
}

 
.setticon{

  width: 50px;
  height: 50px;
}
md-bottom-sheet.md-teal-theme
{
  background-color:#263238;
  border-top-color:#00796B;
}
.md-grid-item-content{

  color: #F2F2F2;
}
/*Pentaho Styles */
.pentaho-page-background
{
  background:none !important;
  background-color: #263238 !important;
  
}
.btnshare
{
  width: 90px !important;
  height: 90px !important;

}
.iconshare
{
  width: 80px!important;
  height: 80px !important;
}
 
 /* TABLE STYLES */
 
.main-fab {
  position:absolute;
  z-index:20;
  font-size:30px;
  top:100px;
  left:24px;
  transform:scale(.88,.88);
}

.md-breadcrumb {
  padding-left:88px;  
}

.JCLRgrip:first-child {
  left:105px!important;
  display: none!important;
}

.JColResizer th:first-child {
  width: 105px!important;
}

.md-table {
  min-width: 100%;
  border-collapse: collapse;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor:pointer;
  background-color:rgba(63,81,181,0.2);
}

.md-table-header {
   border-bottom: 1px solid rgb(230,230,230);
  /* color: rgb(130,130,130); */
  text-align: left;
  font-size: 1.0em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}

.md-table-header a{
  text-decoration: none;
  color: inherit;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

.md-table-td-more {
  max-width:72px;
  width:72px;
  padding:16px;
}

.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

.md-table-thumbs div {
  overflow:hidden;
  width: 40px;
  height:40px;
  border-radius:20px;
  border: 1px solid rgba(0,0,0,0.2);
  background-size:cover;
  box-shadow: 0 8px 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

.md-table-footer {
  height:40px;
  padding-left: 32px;
  padding-right: 32px;
}

.md-table-count-info {
  line-height:40px;
  font-size:.75em;
}

.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align:middle;
}

.md-table-active-page {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}
.btn-toolbar .btn-group {
visibility: collapse;
float: left;
}


/*nav-search icon*/
.nav-search{
  top:414px !important;
}

.nav-search .search::after{
  background-color: #00796B !important;
}
.nav-search .search::before{
  border-color: #00796B !important;
}

.nav-search.active .search::before{
  background-color:#00796B !important; 
}

/*nav menu*/
/*.nav-menu{
  background-color:#B2DFDB !important; 
}*/

/*menu layer*/
.menu-layer li a{
  background-color: #00796B;
  color: #fff;
}

.overlay .starting-point span{
  background-color: #80cfb3 !important;

}

a:hover, a:focus {
    color: #B2DFDB !important;
}

 