// button styles
.button--upload {
	position: relative;
	display: inline-block;
}

.button--upload__label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background: #000;
  border-radius: .4em;
  
  &:hover {
     cursor: pointer;
     background: #000;
  }
}
    
.button--upload__file {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0%;
    height: 100%;
    
}
