
.darkbox{
     margin-left: auto;
    margin-right: auto;
    
}

.detfont{
 color: rgba(11, 86, 249, 0.87);
}

.trw{
	width: 19%; 
}
.darkbox{
     margin-top: auto;
    margin-bottom: auto;/
    /*width: 75%; */
}


 