<form name="metricSettingsForm" ng-submit="submit()"><!--{{metricSettings}}-->
	
	<div id="widget_settings_header" ng-include="'views/query_builder/widget_settings_header.html'"></div>
	
	<md-content style="overflow-y:scroll;height:calc(100% - 130px);padding: 20px 0px 20px 0px">
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
				<span> Widget Title </span>
				<input ng-model="metricSettings.widgetName"  aria-label="widgetName" name="name" required>
				<div ng-messages="metricSettingsForm.name.$error">
					<div ng-message="required">Widget title can not be a blank</div>
				</div>
			</md-input-container> 
		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Basic Settings</div>
		</div>
		
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
                <span>Scale</span>
                <input ng-model="metricSettings.scale" aria-label="scale">
            </md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<span>Position</span>
				<md-select ng-model="metricSettings.scalePosition" ng-disabled="false" ng-change="changePosition()" is-disabled-dark aria-label="position">
					<md-option value="Front" aria-label="Front">Front</md-option>
					<md-option value="Back" aria-label="Back">Back</md-option>
				</md-select>
			</md-input-container>
		</div>
		
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
				<span>Decimals</span>
				<md-select ng-model="metricSettings.decimal" ng-disabled="false" ng-change="changeDecimals()" is-disabled-dark aria-label="position">
					<md-option ng-repeat="decimal in [0,1,2,3,4,5]" value="{{decimal}}" aria-label="{{decimal}}">{{decimal}}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<span>Formatting Value</span>
				<md-select ng-model="metricSettings.format" ng-disabled="false" ng-change="changeFormat()" is-disabled-dark aria-label="format">
					<md-option value="General" aria-label="General">General</md-option>
					<md-option value="Thousand" aria-label="Thousand">Thousand</md-option>
					<md-option value="Million" aria-label="Million">Million</md-option>
					<md-option value="Billion" aria-label="Billion">Billion</md-option>
				</md-select>
			</md-input-container>
		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Data Settings</div>
		</div>
		
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
                <span>Actual value</span>
                <input ng-model="metricSettings.actualValue" aria-label="scale" ng-disabled="true" is-disabled-dark>
            </md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
                <span>Target value</span>
                <input  name="target" ng-model="metricSettings.targetValue" ng-change="changeTargetValue()" aria-label="scale" type="number" required step="any">
                <div ng-messages="metricSettingsForm.target.$error">
					<div ng-message="required">Target value can not be a blank</div>
				</div>
            </md-input-container>
		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Trend Settings</div>
		</div>
		
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
                <span>Group By</span>
                <md-select ng-model="metricSettings.groupBy"  is-disabled-dark aria-label="groupBy">
					<md-option value="year" aria-label="Year">Year</md-option>
					<md-option value="month" arYearia-label="Month">Month</md-option>
					<md-option value="quarter" aria-label="Quarter">Quarter</md-option>
					<md-option value="day" aria-label="Daily">Daily</md-option>
				</md-select>
            </md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
                <span>Time Attribute</span>
                <md-select ng-model="metricSettings.timeAttribute" aria-label="timeAttribute" name="timeAttribute" required>
					<md-option ng-repeat="attr in metricSettings.dateAttrs" value="{{attr.name}}">
						{{attr.name}}
					</md-option>
				</md-select>

				<div ng-messages="metricSettingsForm.timeAttribute.$error">
					<div ng-message="required">Widget title can not be a blank</div>
				</div>

			<md-input-container>	
		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Notification Settings</div>
		</div>
		
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
                <span>Notification Trigger Value</span>
                <input ng-model="metricSettings.notificataionValue" aria-label="scale" type="number" min="0">
            </md-input-container>

		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Visualization Settings</div>
		</div>
		<div layout="column" class="side-margins">
			<span style="font-size:12px;margin-bottom: 7px;">Colouring Type</span>
			<md-radio-group  flex layout="column" ng-model="metricSettings.colorType" ng-change="applyColorSettings()">
				<md-radio-button value="high" class="md-primary left">Higher is better</md-radio-button>
				<md-radio-button value="low" class="md-primary left">Lower is better</md-radio-button>                        
			</md-radio-group>
		</div>

		<!--div layout="column" class="side-margins">
			<span style="font-size:12px;margin-bottom: 7px;margin-top: 15px;">Colour Ranges</span>
			<rzslider rz-slider-model="0" rz-slider-high="300">
			</rzslider>
		</div-->

		<div layout="column" class="side-margins">
		    <md-input-container>
	            <span style="font-size:12px;margin-bottom: 7px;margin-top: 15px;">Colour Ranges</span>
	            <rzslider rz-slider-model="metricSettings.rangeSliderOptions.minValue" rz-slider-high="metricSettings.rangeSliderOptions.maxValue" rz-slider-options="metricSettings.rangeSliderOptions.options">
	            </rzslider>
	        </md-input-container>
	    </div>    

		<div layout="column" class="side-margins">
			<span style="font-size:12px;margin-bottom: 7px;margin-top: 15px;">Color Theme</span>
			<md-radio-group  flex layout="column" ng-model="metricSettings.colorTheme" ng-change="applyColorSettings()"> 
				<md-radio-button value="rog" class="md-primary left">Red, Orange, Green</md-radio-button>
				<md-radio-button value="cgy" class="md-primary left">Cyan, Green, Yellow-Green</md-radio-button>
				<md-radio-button value="opg" class="md-primary left">Orange, Purple, Green</md-radio-button>                      
			</md-radio-group>
		</div>
		
	</md-content>
</form>