
<md-content layout="row" style="height:100%; width: 100%;" ng-style="{background:settings.color}"><!--{{settings}}-->

		<div layout="column" layout-align='center start' style="height:100%;" flex="45" 
			ng-style=" {'color' : (settings.color == 'white') ? 'black' : 'white' }">

			<div ng-show="settings.actualValue">
				<div flex style="padding:10px;">
					<div layout="column" flex>
						<text style="font-size:15px;font-weight: 400px;letter-spacing: 1px;" 
							    ng-if="settings.scalePosition==='Front'" >
							   		{{settings.scale}} 
							   		&nbsp;{{settings.actualDisplayValue | currency:"":settings.decimal}}
							   		{{settings.format=="Thousand"?"K":""}}
						        	{{settings.format=="Million"?"M":""}}
						        	{{settings.format=="Billion"?"B":""}} 
						</text>
						<text   style="font-size:15px;font-weight: 400px; letter-spacing: 1px;" 
						        ng-if="settings.scalePosition==='Back'">
						        	{{settings.actualDisplayValue | currency:"":settings.decimal}}
						        	{{settings.format=="Thousand"?"K":""}}
						        	{{settings.format=="Million"?"M":""}}
						        	{{settings.format=="Billion"?"B":""}} 
						        	&nbsp;{{settings.scale}}
						</text>
						<text style="font-size:18px; font-weight: 400px;">Actual Value</text>
					</div>
				</div>
			</div>

			<div ng-show="settings.targetValue">
				<div flex style="padding:10px;">
					<div layout="column" flex>
						<text 	style="font-size:15px;font-weight: 400; letter-spacing: 1px;" 
								ng-if="settings.scalePosition==='Front'">					
									{{settings.scale}} 
									&nbsp;{{settings.targetDisplayValue | currency:"":settings.decimal}}												      
									{{settings.format=="Thousand"?"K":""}}
						        	{{settings.format=="Million"?"M":""}}
						        	{{settings.format=="Billion"?"B":""}} 
						</text>
						<text 	style="font-size:15px;font-weight: 40;letter-spacing: 1px;" 
								ng-if="settings.scalePosition==='Back'">															{{settings.targetValue | currency:"":settings.decimal}}	 						        	
								{{settings.format=="Thousand"?"K":""}}
						        {{settings.format=="Million"?"M":""}}
						        {{settings.format=="Billion"?"B":""}}  
						        &nbsp;{{settings.scale}}
						</text>
						<text style="font-size:15px; font-weight: 400px; ">Target Value</text>
					</div>
				</div>

			</div>
		</div>

	<div flex="55" layout="row" style="height:100%;width:50%" ng-show="config.trendChart.series.length>0"> <!--ng-show="config.actualValue"-->
		<highchart id="{{idSelector}}" config="config.trendChart"></highchart>
	</div>
</md-content>