<form name="metricSettingsForm" ng-submit="submit()">
	
	<div id="widget_settings_header" ng-include="'views/query_builder/widget_settings_header.html'"></div>
	
	<md-content style="overflow-y:scroll;height:calc(100% - 130px);padding: 20px 0px 20px 0px">
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
				<span> Widget Title </span>
				<input ng-model="metricSettings.widgetName"  aria-label="widgetName" name="name" required>
				<div ng-messages="metricSettingsForm.name.$error">
					<div ng-message="required">Widget title can not be a blank</div>
				</div>
			</md-input-container> 
		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Basic Settings</div>
		</div>
		
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
                <span>Scale</span>
                <input ng-model="metricSettings.scale" aria-label="scale">
            </md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<span>Position</span>
				<md-select ng-model="metricSettings.scalePosition" ng-disabled="false" ng-change="changePosition()" is-disabled-dark aria-label="position">
					<md-option value="front" aria-label="country">Front</md-option>
					<md-option value="back" aria-label="country">Back</md-option>
				</md-select>
			</md-input-container>
		</div>
		
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
				<span>Decimals</span>
				<md-select ng-model="metricSettings.dec" ng-disabled="false" ng-change="changeDecimals()" is-disabled-dark aria-label="position">
					<md-option ng-repeat="decimal in [0,1,2,3,4,5]" value="{{decimal}}" aria-label="{{decimal}}">{{decimal}}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<span>Formatting Value</span>
				<md-select ng-model="metricSettings.format" ng-disabled="false" ng-change="changeFormat()" is-disabled-dark aria-label="format">
					<md-option ng-repeat="decimal in [0,1,2,3,4,5]" value="{{decimal}}" aria-label="{{decimal}}">{{decimal}}</md-option>
				</md-select>
			</md-input-container>
		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Data Settings</div>
		</div>
		
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
                <span>Actual value</span>
                <input ng-model="metricSettings.value" aria-label="scale" ng-disabled="true" is-disabled-dark>
            </md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
                <span>Target value</span>
                <input ng-model="metricSettings.targetValueDisplay" ng-change="changeTargetValue()" aria-label="scale">
            </md-input-container>
		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Trend Settings</div>
		</div>
		
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
                <span>Group By</span>
                <input ng-model="metricSettings.no" ng-change="changeTargetValue()" aria-label="scale">
            </md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
                <span>Time Attribute</span>
                <input ng-model="metricSettings.no" ng-change="changeTargetValue()" aria-label="scale">
            </md-input-container>
		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Notification Settings</div>
		</div>
		
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
                <span>Notification Trigger Value</span>
                <input ng-model="metricSettings.no" ng-change="changeTargetValue()" aria-label="scale">
            </md-input-container>

		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Visualization Settings</div>
		</div>
		<div layout="column" class="side-margins">
			<span style="font-size:12px;margin-bottom: 7px;">Colouring Type</span>
			<md-radio-group  flex layout="column" ng-model="metricSettings.targetRange">
				<md-radio-button value="high" class="md-primary left">Higher is better</md-radio-button>
				<md-radio-button value="low" class="md-primary left">Lower is better</md-radio-button>                        
			</md-radio-group>
		</div>
		
		<div layout="column" class="side-margins">
			<span style="font-size:12px;margin-bottom: 7px;margin-top: 15px;">Colour Ranges</span>
			<rzslider rz-slider-model="0" rz-slider-high="300">
			</rzslider>
		</div>
		<div layout="column" class="side-margins">
			<span style="font-size:12px;margin-bottom: 7px;margin-top: 15px;">Color Theme</span>
			<md-radio-group  flex layout="column" ng-model="metricSettings.targetRange">
				<md-radio-button value="rog" class="md-primary left">Red, Orange, Green</md-radio-button>
				<md-radio-button value="cgy" class="md-primary left">Cyan, Green, Yellow-Green</md-radio-button>
				<md-radio-button value="opg" class="md-primary left">Orange, Purple, Green</md-radio-button>                      
			</md-radio-group>
		</div>
		
	</md-content>
</form>