<div plumb-item ng-repeat="widget in dashboard.widgets" ng-style="{ 'left':widget.left, 'top':widget.top, 'width':widget.width  }" data-identifier="{{widget}}" style="min-width:300px;min-height:300px" resizeable> 
    <p ng-if="widget.divider">{{widget.chartConfig.title.text}}</p>
    <md-card ng-dblclick="widget.expanded = !widget.expanded" ng-mouseover="hover = true" ng-mouseout="hover = false">
                <div layout-wrap layout="row" layout-align"start center" layout-wrap>
                    <div flex="50">
                        <h4 layout-padding>
                          {{widget.chartConfig.title.text}}
                         </h4>               
                    </div>
                    <div flex="50" layout="row" layout-align="top end">
                    <div flex>                       
                            <md-button  ng-click="commentary(widget)"  aria-label="Close" layout-wrap>
                                   <md-icon class="ion-volume"></md-icon>
                            </md-button>
                            
                    </div>
                    <div flex>       
                            <md-button  ng-click="showAdvanced($event,widget)"  aria-label="Settings" layout-wrap>
                                   <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_settings_24px.svg"></md-icon>
                            </md-button>              
                    </div>
                    <div flex>  
                            <md-button  ng-click="showData(widget)"    aria-label="Close" layout-wrap>
                                   <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_assignment_24px.svg"></md-icon>
                            </md-button>       
                    </div>
                    <div flex>     
                            <md-button  ng-click="remove(widget)"  aria-label="Close" layout-wrap>
                                   <md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg"></md-icon>
                            </md-button>         
                    </div>
                    </div>
                </div>
            
    </md-card>
    <md-card style="height:70%" ng-if="widget.expanded && !widget.divider" ng-dblclick="widget.expanded = !widget.expanded">
        <div style="height:100%" ng-include src="widget.widView"></div>
    </md-card>

</div>
