<div plumb-item gridster="gridsterOpts" style="width:100%;height:100%;">
<div gridster-item="widget" ng-repeat="widget in dashboard.widgets"  data-identifier="{{widget}}" layout-margin>
    <p ng-if="widget.divider">{{widget.chartConfig.title.text}}</p>
    <md-card ng-dblclick="widget.expanded = !widget.expanded" ng-mouseover="hover = true" ng-mouseout="hover = false" layout-margin>
        <md-item layout="row">
            <div class="collapsed-row" layout="row" layout-align="start center" flex>
                <div class="md-toolbar-tools">
                    <div flex="60">
                        <h4>
                          <span>{{widget.chartConfig.title.text}}</span>
                         </h4>
                    </div>
                     <div flex="10">
                        <span>
                                 <md-button  ng-click="commentary(widget)"  aria-label="Close">
                                   <md-icon class="ion-volume"></md-icon>
                                 </md-button>
                             </span>
                    </div>
                    <div flex="10">
                        <span> 
                                <md-button  ng-click="showAdvanced($event,widget)"  aria-label="Settings">
                                   <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_settings_24px.svg"></md-icon>
                                </md-button>
                              </span>
                    </div>
                    <div flex="10">
                        <span>
                                 <md-button  ng-click="showData(widget)"    aria-label="Close">
                                   <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_assignment_24px.svg"></md-icon>
                                 </md-button>
                             </span>
                    </div>
                    <div flex="10">
                        <span>
                                 <md-button  ng-click="remove(widget)"  aria-label="Close">
                                   <md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg"></md-icon>
                                 </md-button>
                             </span>
                    </div>
                </div>
            </div>
        </md-item>
    </md-card>
    <md-card style="height:80%" ng-dblclick="widget.expanded = !widget.expanded" ng-mouseover="hover = true" ng-mouseout="hover = false" layout-margin>
        <div style="overflow: scroll;height:100%" ng-include src="widget.widView" flex layout-margin></div>
    </md-card>
</div>
</div>