<div plumb-item ng-repeat="widget in dashboard.widgets" ng-style="{ 'left':widget.left, 'top':widget.top }" data-identifier="{{widget}}" 
style="min-width:320px;display:block" resizeable layout-wrap layout="column"> 
    <!-- <p ng-if="widget.divider">{{widget.chartConfig.title.text}}</p> -->
    <md-toolbar  ng-dblclick="widget.expanded = !widget.expanded" ng-mouseover="hover = true" ng-mouseout="hover = false" flex="10">
                <div layout-wrap layout="row" layout-align"start center" layout-wrap>
                    <div flex layout-margin>
                        <h3>
                          {{widget.chartConfig.title.text}}
                        </h3>               
                    </div>
                    <div layout="row" layout-align="top end" flex style="max-width:150px">
                    <div flex>                       
                            <md-button  ng-click="commentary(widget)"  aria-label="Close" layout-wrap>
                                   <md-icon class="ion-volume"></md-icon>
                            </md-button>
                            
                    </div>
                    <div flex>       
                            <md-button  ng-click="showAdvanced($event,widget)"  aria-label="Settings" layout-wrap>
                                   <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_settings_24px.svg"></md-icon>
                            </md-button>              
                    </div>
                    <div flex>  
                            <md-button  ng-click="showData(widget,$event)"    aria-label="Close" layout-wrap>
                                   <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_assignment_24px.svg"></md-icon>
                            </md-button>       
                    </div>
                    <div flex>     
                            <md-button  ng-click="remove(widget)"  aria-label="Close" layout-wrap>
                                   <md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg"></md-icon>
                            </md-button>         
                    </div>
                    </div>
                </div>
            
    </md-toolbar>
    <md-content style="border: 1px solid;height:100%" ng-if="widget.expanded && !widget.divider" ng-dblclick="widget.expanded = !widget.expanded" flex="90">
        <div style="height:100%" ng-include src="widget.widView"></div>
    </md-content>

</div>
