<md-dialog plumb-item style="width:400px">
    <md-content ng-controller="ExportCtrl" layout-padding>
        <div class="md-toolbar-tools" flex layout="row" layout-align="end center">
            <p style="color:lightgrey;margin:0px;">EXPORT</p>
            <md-button ng-click="closeDialog()">
                <md-icon style="color:whitesmoke;width: 10px;height: 10px;" md-svg-src="styles/css/images/icons/close.svg"></md-icon>
            </md-button>
        </div>
        <div class="lookupdashboard" md-theme="teal" ng-repeat="widget in dashboard.widgets">
            <md-content theme="teal" layout="row" layout-margin>
                <div flex="80">
                    <md-button class="md-raised" ng-click="export(widget)">

                        <md-icon class="iconchart" md-svg-src="bower_components/material-design-icons/editor/svg/production/ic_insert_chart_24px.svg">
                        </md-icon>
                        <Label>{{widget.highchartsNG.title.text}}</Label>
                    </md-button>
                </div>
            </md-content>
        </div>
        <div class="md-actions" layout="row">
            <md-button class="md-fab md-mini" styl="background-color: #D33F3F;" ng-click="closeDialog()">
                <ng-md-icon icon="close" style="fill:whitesmoke"></ng-md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-primary" ng-click="closeDialog()">
                <ng-md-icon icon="done" style="fill:whitesmoke"></ng-md-icon>
            </md-button>
        </div>
    </md-content>
</md-dialog>
