<md-dialog style="min-width:50vw; max-width:70vw;">
    <md-content layout="column" layout-align="center center" layout-wrap flex style="display:flex">
        <div class="md-toolbar-tools" flex layout="row" layout-align="end center">
            <p style="color:lightgrey;margin:0px;">SHARE</p>
            <md-button ng-click="closeDialog()">
                <md-icon style="color:whitesmoke;width: 10px;height: 10px;" md-svg-src="styles/css/images/icons/close.svg"></md-icon>
            </md-button>
        </div>
        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap flex>
            <div ng-repeat="item in shareOptions" flex="20" flex-sm="100" layout="row" layout-padding layout-margin style="background-color:{{item.color}};border-radius:10px;">
                <md-button>
                    <md-icon class="iconshare" href="#" socialshare socialshare-provider="{{item.provider}}" socialshare-text="Share this dashboard" socialshare-url="#" md-svg-src="styles/css/images/{{item.icon}}.svg">

                    </md-icon>
                </md-button>
                <p style="color: whitesmoke;
    font-size: large;
    margin: 20px 0px;">{{item.provider}}</p>
            </div>

            <!--
<md-button class="btnshare">
    <md-icon class="iconshare" href="#" socialshare socialshare-provider="google+" socialshare-text="Share this dashboard" socialshare-url="#" md-svg-src="styles/css/images/google120.svg">
    </md-icon>
</md-button>

<md-button class="btnshare">
    <md-icon class="iconshare" href="#" socialshare socialshare-provider="twitter" socialshare-text="Share this dashboard" socialshare-url="#" md-svg-src="styles/css/images/twitter47.svg">
    </md-icon>
</md-button>

<md-button class="btnshare">
    <md-icon class="iconshare" href="#" socialshare socialshare-provider="linkedin" socialshare-text="Share this dashboard" socialshare-url="#" md-svg-src="styles/css/images/linkedin24.svg">
    </md-icon>
</md-button>

<md-button class="btnshare">
    <md-icon class="iconshare" href="#" socialshare socialshare-provider="pinterest" socialshare-text="Share this dashboard" socialshare-url="#" md-svg-src="styles/css/images/pinterest33.svg">
    </md-icon>
</md-button>

<md-button class="btnshare">
    <md-icon class="iconshare" href="#" socialshare socialshare-provider="tumblr" socialshare-text="Share this dashboard" socialshare-url="#" md-svg-src="styles/css/images/tumblr22.svg">
    </md-icon>
</md-button>
-->
            <div flex="20" flex-sm="100" layout="row" layout-padding layout-margin style="background-color:limegreen;border-radius:10px;">
                <md-button ng-click="openEmail()">
                    <!--                    <md-icon class="iconshare" md-svg-src="styles/css/images/email.svg">-->
                    <img src="styles/css/images/email.png" class="iconshare">
                    </md-icon>
                </md-button>
                <p style="color: whitesmoke;
    font-size: large;
    margin: 20px 0px;">e-mail</p>
            </div>

        </div>
    </md-content>
</md-dialog>
