<md-dialog   plumb-item >
  <md-toolbar>
                      <div class="md-toolbar-tools">
                           
                          <div flex="90">
                              <h3>
                                 <span> Success </span>
                              </h3>
                         </div>                           
                           <div flex="10">
                             <md-button ng-click="closeDialog()"  aria-label="Close" layout-wrap>
                                   <md-icon class="ion-close"></md-icon>
                            </md-button>
                          </div>
                        </div>
   </md-toolbar> 
         <md-content>
          <div layout="row" layout-margin>                            
                               <h4>Dashboard has been successfully created!</h4>
          </div>
              
               
        </md-content>
  <div class="md-actions" layout="row">    
          <md-button ng-click="closeDialog()">
            Cancel
          </md-button>
          <md-button ng-click="closeDialog()">
           Ok
         </md-button>
  </div>
</md-dialog> 
 
 
