<md-dialog plumb-item class="dialog-1">
  <md-toolbar class="tlbar-1" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="center center" class="digin-logo-wrapper2">
        <img ng-src="styles/css/images/innerlogo.png" class="digin-image">
      </div>  
      <div class="dialog-title">GO HOME?</div>         
      <md-button class="buttonMinwidth38" ng-click="closeDialog();">      
        <ng-md-icon icon="close" style="fill:white" size="24" layout="row"></ng-md-icon>   
      </md-button>            
  </md-toolbar>
  <md-card class="card-1">
    <md-content layout-padding>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button class="btn-font btn-dialog" ng-click="goHome()">
                    Yes
                </md-button>
                <md-button class="btn-font btn-dialog" ng-click="closeDialog()">
                    No
                </md-button>
            </div>
    </md-content>
  </md-card>
</md-dialog>

