<md-dialog   plumb-item >
  <md-toolbar class="modal-header" md-theme="teal">  
     <div class="md-toolbar-tools">
                          <div flex="95">
                          <h3>
                          <span>About DuoDigin</span>
                         </h3>
                         </div>
                          
                           <div  flex="5">
                             <span>
                                 <md-button class="md-primary md-raised" ng-click="closeDialog()"  aria-label="Close">
                                   <md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg"></md-icon>
                                 </md-button>
                             </span>
                          </div>
                        </div>
  </md-toolbar>
      
             <md-content class="md-padding" style="height: 600px;padding: 24px;">
    <p> 
      All-in-one business dashboard solution. Developed and maintained by Duodigin Team</p>
    </p>
 
    <p>
      For more information visit <a href="http://www.duosoftware.com/">Duosoftware pvt Ltd</a>
    </p>
   </md-content>
     
    
  
</md-dialog> 