<md-dialog style="max-width:50vw;">
    <md-content layout-padding>
        <div class="md-toolbar-tools" flex layout="row" layout-align="end center">
            <p style="color:lightgrey;margin:0px;">HELP</p>
            <md-button ng-click="closeDialog()">
                <md-icon style="color:whitesmoke;width: 10px;height: 10px;" md-svg-src="styles/css/images/icons/close.svg"></md-icon>
            </md-button>
        </div>
        <p>
            All-in-one business dashboard solution. Developed and maintained by Duodigin Team</p>
        </p>
        <br>
        <p>
            For more information visit <a href="http://www.duosoftware.com/">Duosoftware pvt Ltd</a>
        </p>
    </md-content>
</md-dialog>
