<md-dialog plumb-item style="min-width:400px">
    <md-toolbar>
        <div class="md-toolbar-tools" flex layout="row">
            <div flex="10">
                <md-icon class="ion-wrench"></md-icon>
            </div>
            <div flex="80">
                <h3>Configuration</h3>
            </div>
            <div flex="10"> 
                <md-button class="widget-button" ng-click="cancel()" aria-label="Close" layout-wrap>
                    <ng-md-icon icon="close" style="fill:white" size="20" layout="column" layout-align="center center" flex></ng-md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-dialog-content>

    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTabIndex">
      <md-tab label="Source">
        <md-content class="md-padding">
            <div ng-show="dataIndicator1" layout="row" layout-align="center center" layout-sm="column" layout-align="center center" style="z-index:10;position:absolute;height:100%;width:100%;">
                <div layout="row" style="background-image:url(styles/css/images/transparent1.png);padding:7px;border-radius:5px;">
                  <md-progress-circular md-mode="indeterminate" style"z-index:11" md-diameter="20"></md-progress-circular>
                  <span style="margin-top:15px;"><b>Please wait...</b></span>
                </div>
            </div>
            <md-input-container flex>
                <label>Widget Name:</label>
                <input name="sizeX" placeholder="www.duosoftware.com/test" ng-model="widget.uniqueType">
            </md-input-container>
            <div layout="row" layout-align='center start'>
                <md-select ng-model="datasource" placeholder="MSSql" ng-change="getTables()" flex="50">
                    <md-option ng-value="opt" ng-repeat="opt in datasources">{{ opt }}</md-option>
                </md-select>

               
                <md-select ng-show="datasource =='MSSql'" style="text-transform:capitalize" placeholder="Index" ng-model="selectedClass" flex="50">
                    <md-option style="text-transform:capitalize" ng-value="ind" ng-repeat=" ind in objClasses">{{ ind }}</md-option>
                </md-select>

                
                
            </div>
            <div layout="row" layout-align="end center">
                <md-button  ng-click="getFields()"  aria-label="Close" layout-wrap>
                    <span>next</span><md-icon class="ion-arrow-right-a" style="margin-bottom: 12px;"></md-icon>
                </md-button>
               
            </div>            
        </md-content>
      </md-tab>
       <md-tab label="Selection" ng-disabled="dataTab">
        <md-content class="md-padding">
            <div ng-show="dataIndicator" layout="row" layout-align="center center" layout-sm="column" layout-align="center center" style="z-index:10;position:absolute;height:100%;width:100%;">
                <div layout="row" style="background-image:url(styles/css/images/transparent1.png);padding:7px;border-radius:5px;">
                  <md-progress-circular md-mode="indeterminate" style"z-index:11" md-diameter="20"></md-progress-circular>
                  <span style="margin-top:15px;"><b>Please wait...</b></span>
                </div>
            </div>
            <div layout="row" layout-align="center center">
                <md-switch ng-model="query.state" aria-label="Switch 1">
                    Query
                </md-switch>
            </div>
            <div ng-show="!query.state">
                <md-subheader class="md-primary">Select Series</md-subheader>            
                <div layout="row" layout-wrap md-scroll-y flex>
                    <md-checkbox flex='20' ng-checked="field.checked" ng-repeat="field in selectedFields" layout="row" ng-click="toggleCheck(field)" style="text-transform:capitalize" aria-label={{field.name}}>
                        {{field.name}}
                    </md-checkbox>
                </div>
            </div>
            <div ng-show="query.state" layout="column" flex>
                <div>
                    <span ng-repeat="field in selectedFields">{{field.name}}&nbsp;&nbsp;</span>
                </div>
                <md-input-container flex>
                    <label>Query</label>
                    <input name="dataQuery" placeholder="enter the query" ng-model="query.value">
                </md-input-container>
            </div>
            <div layout="row" layout-align="end center">
                <md-button  ng-click="getData()"  aria-label="Close" layout-wrap>
                    <span>next</span><md-icon class="ion-arrow-right-a" style="margin-bottom: 12px;"></md-icon>
                </md-button>
            </div>
        </md-content>
      </md-tab>
      <md-tab label="Mapping" ng-disabled="chartTab">
        <md-content class="md-padding">
            <div layout="column">
                <md-select ng-model="chartCategory.groupField" ng-change="selectSer(chartCategory.groupField)" placeholder="Select a category">
                    <md-option value="{{cat}}" ng-repeat="cat in arrayAttributes">{{ cat }}</md-option>
                </md-select>
               
              
            
            
            </div>
        </md-content>
      </md-tab>     
    </md-tabs>           
        <div layout="column">
            <md-input-container flex>
                <md-button class="md-raised" ng-click="buildchart(widget)">Finish</md-button>
            </md-input-container>
            <span class="{{widgetValidity}}" layout-align="center center" id="elasticVal" style="color: #D8000C;background-color: #FFBABA;padding:5px;text-align:center;" flex>{{validationMessage}}</span>

        </div>
    </md-dialog-content>
</md-dialog>
