<md-dialog style="min-width:400px;">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div flex="10">
                    <md-icon class="md-avatar" md-svg-src="bower_components/material-design-icons/hardware/svg/production/ic_keyboard_24px.svg" style="color:#fff !important;float:left;border-radius:100%;"></md-icon>
                </div>
                <div flex="80">
                    <h3>Google+ Configuration</h3>
                </div>
                <div flex="10">
                    <span> 
                                <md-button>
                                   <md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg" style="color:#fff !important;" ng-click="cancel()"></md-icon>
                                   </md-button>
                              </span>
                </div>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <script src="https://apis.google.com/js/client:platform.js?onload=startApp" async defer></script>
            <meta name="google-signin-client_id" content="259839742765-nq163rith421537lnfjt5dor1gr8c3jn.apps.googleusercontent.com"></meta>
            <md-content>
                <div id="gConnect">
                    <div id="signin-button"></div>
                </div>
                <div id="authOps" style="display:none;">
                    <button id="disconnect" style="width:90px;height:37px;color: black; background-color: #FFFFFF; font-face: 'Comic Sans MS'; font-size: smaller;">Signout</button>
                </div>
            </md-content>
            <script type="text/javascript" src="../duodigin/scripts/controllers/Googleplus.js"></script>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="finish()" class="md-primary">
                Finish
            </md-button>
            <md-button ng-click="cancel()" class="md-primary">
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>
