<md-dialog plumb-item class="dialog-1 b-r-0" ng-init="initialize()">
  <md-toolbar class="tlbar-1" layout="row" layout-align="space-between center"> 
      <div layout="row" layout-align="center center" ng-class="diginLogo">
        <img ng-src="styles/css/images/DiginLogo.png" class="digin-image">
      </div>            
      <div class="dialog-title">CONFIGURATION</div>         
      <md-button class="buttonMinwidth38 b-r-0" ng-click="cancel();">      
        <ng-md-icon icon="close" style="fill:white" size="24" layout="row"></ng-md-icon>
      </md-button>            
  </md-toolbar>
  <md-content class="dialog-content-1">
            <div layout="row" layout-align='center center' layout-margin>
              <md-input-container flex>
                <md-button class="md-raised" aria-label="Add Account" ng-click="addAccount()">{{connectBtnLabel}}</md-button>
              </md-input-container>
              <md-select placeholder="Account Owner" ng-model="userAccountName" flex>
                <md-optgroup label="Account Owner">
                <md-option ng-repeat="acc in accounts">{{acc}}</md-option>
              </md-select>
            </div>
            <md-select placeholder="Pages" ng-model="fbPageModel" ng-change="changePage()" flex>
              <md-optgroup label="Pages">
              <md-option ng-repeat="item in fbPages" value="{{item.id}}">{{item.name}}</md-option>
            </md-select>
            <div class="md-actions" layout="row">
              <md-button class="md-primary btn-dialog b-r-0" ng-click="fetch()">
                  Fetch
              </md-button>
              <md-button class="md-accent btn-dialog b-r-0" ng-click="finish()" 
              ng-disabled="!showFinishButton">
                  Finish
              </md-button>
            </div>
  </md-content>
</md-dialog>

