<md-dialog plumb-item style="width:400px;">
       <md-toolbar>
            <div class="md-toolbar-tools" flex layout="row">
                <div flex="10">
                        <md-icon class="ion-wrench"></md-icon>
                </div>   
                <div flex="80">
                              <h3>
                                 <span> Configuration </span>
                              </h3>
                </div>                           
                <div flex="10">
                        <md-button  ng-click="cancel()"  aria-label="Close" layout-wrap>
                                   <md-icon class="ion-close"></md-icon>
                        </md-button> 
                </div>
            </div>                   
    </md-toolbar>  
    <md-content layout-margin>
            <div layout="row" layout-margin>
                <md-input-container flex>
                    <label id="postdomains">Domain:</label>
                    <input type="text" ng-model="toencrypt">
                </md-input-container>
            </div>
            <label id="dislab">Please enter the any content you prefer based on any language, ex : This is test, இந்த சோதனை ஆகிறது, इस परीक्षा में है</label>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button ng-click="finish()">
                    Finish
                </md-button>
                <md-button ng-click="encryptMessage()">
                    Encrypt
                </md-button>
                <md-button ng-click="decryptMessage()">
                    Decrypt
                </md-button>
            </div>
    </md-content>
</md-dialog>


