<md-dialog plumb-item ng-init="initialize()" class="custom-mdDialog">
  <div id="actIndicator" layout="row" layout-sm="column" layout-align="center center" class="actIndicator">
      <md-progress-circular md-mode="indeterminate" style"z-index:11"></md-progress-circular>
      <span>Please wait...</span>
  </div>
  <md-toolbar style="width: 100%; min-height: 30vh!important;z-index: 0;">
    <div style="width:100%; height:48px;" layout="row" layout-align="end center">                
      <p style="color: whitesmoke;font-size: 20px;margin:5px;">CONFIGURATION</p>         
      <md-button class="buttonMinwidth38" ng-click="cancel()">      
        <ng-md-icon icon="close" style="fill:lightgrey" size="24" layout="row"></ng-md-icon>        
      </md-button>            
    </div>
  </md-toolbar>
  <md-card class="card-style1">
    <md-content layout-padding class="minHeight600">
      <div layout="row" layout-align='center start' layout-margin>
         <md-select placeholder="Account Owner" ng-model="userAccountName" flex>
            <md-optgroup label="Account Owner">
            <md-option ng-repeat="acc in accounts">{{acc}}</md-option>
         </md-select>
         <md-input-container flex>
            <md-button class="md-raised" aria-label="Add Account" ng-click="addAccount()">{{connectBtnLabel}}</md-button>
         </md-input-container>
      </div>
      <div layout ng-hidden="false" layout-sm="row" layout-margin>
         <md-select placeholder="Pages" ng-model="fbPageModel" ng-change="changePage()" flex>
            <md-optgroup label="Pages">
            <md-option ng-repeat="item in fbPages" value="{{item.id}}">{{item.name}}</md-option>
         </md-select>
      </div>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
         Cancel
        </md-button>
        <md-button ng-click="finish()">
         Finish
        </md-button>
      </div>
    </md-content>

  </md-card>
</md-dialog>
