<md-dialog plumb-item style="min-width:400px;">
        <md-toolbar>
                <div class="md-toolbar-tools"  flex  layout="row">
                      <div flex="10">
                        <md-icon class="ion-wrench"></md-icon>
                      </div>   
                      <div flex="80">
                              <h3>
                                 <span> Configuration </span>
                              </h3>
                      </div>                           
                      <div flex="10">
                             <md-button ng-click="cancel()"  aria-label="Close" layout-wrap>
                                   <md-icon class="ion-close"></md-icon>
                            </md-button>
                      </div>
                </div>
        </md-toolbar>
        <md-content>
            <md-input-container flex>
                <label>Name of the visualization</label>
                <input name="sizeX" placeholder="www.duosoftware.com/test" ng-model="widget.highchartsNG.title.text">
            </md-input-container>
            <div layout="row"  >
                <md-select ng-model="datasource" placeholder="Metrics type" flex="100">
                    <md-option ng-value="opt" ng-repeat="opt in visualz">{{ opt }}</md-option>
                </md-select>         
            </div>    
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button ng-click="ok()" class="md-primary">
                 Ok
                </md-button>
                <md-button ng-click="cancel()" class="md-primary">
                 Cancel
                </md-button>
            </div>
        </md-content>
</md-dialog>
