<md-dialog plumb-item style="min-width:400px" ng-init="initialize()">
  <md-toolbar style="width: 100%; min-height: 30vh!important;z-index: 0;">
    <div style="width:100%; height:48px;" layout="row" layout-align="end center">                
      <p style="color: whitesmoke;font-size: 20px;margin:5px;">CONFIGURATION</p>         
      <md-button class="buttonMinwidth38" ng-click="cancel();">      
        <ng-md-icon icon="close" style="fill:lightgrey" size="24" layout="row"></ng-md-icon>        
      </md-button>            
    </div>
  </md-toolbar>
  <md-card style="margin: 20px;margin-top: -20vh; margin-bottom: 0px;height:100%;">
     <md-content layout-padding>
            <div layout="row" layout-margin>
                <md-input-container flex>
                    <label id="postdomain">Criteria:</label>
                    <input id="gnewsrequest" type="text" ng-model="gnewsrequest"/>
                </md-input-container>
            </div>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button ng-click="finish(gnewsrequest)">
                    Finish
                </md-button>
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
            </div>
        </md-content>
  </md-card>
</md-dialog>
