<md-dialog style="min-width:400px;">
  <form>
  <div id="actIndicator" layout="row" layout-sm="column" layout-align="center center" style="z-index:10;position:absolute;height:100%;width:100%;">
      <md-progress-circular md-mode="indeterminate" style"z-index:11"></md-progress-circular>
      <span>Please wait...</span>
    </div>
  <md-toolbar>
    <div class="md-toolbar-tools">
    <div flex="10">
    <md-icon class="md-avatar" md-svg-src="styles/css/images/facebook56.svg" style="color:#fff !important;float:left;border-radius:100%;"></md-icon>
    </div>
    <div flex="80">
    <h3>Configuration</h3>
    </div>
    <div flex="10">
     <span> 
                                <md-button    >
                                   <md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg" style="color:#fff !important;" ng-click="cancel()"></md-icon>
                                   </md-button>
                              </span>
    </div>
    </div>
  </md-toolbar>
  <md-dialog-content>
  
    <div layout="row" layout-align='center start' layout-margin>
       <md-select placeholder="Account Owner" ng-model="userAccountName" flex>
          <md-optgroup label="Account Owner">
          <md-option ng-repeat="acc in accounts">{{acc}}</md-option>
       </md-select>
       <md-input-container flex>
          <md-button class="md-raised" aria-label="Add Account" ng-click="addAccount()">{{connectBtnLabel}}</md-button>
       </md-input-container>
    </div>
    <div layout ng-hidden="false" layout-sm="row" layout-margin>
       <md-select placeholder="Pages" ng-model="fbPageModel" ng-change="changePage()" flex>
          <md-optgroup label="Pages">
          <md-option ng-repeat="item in fbPages" value="{{item.id}}">{{item.name}}</md-option>
       </md-select>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="finish()" class="md-primary">
     Finish
    </md-button>
    <md-button ng-click="cancel()" class="md-primary">
     Cancel
    </md-button>
  </div>
  </form>
</md-dialog>