<md-dialog style="min-width:400px">
    <md-toolbar>
        <div class="md-toolbar-tools" flex layout="row">
            <div flex="10">
                <md-icon class="ion-wrench"></md-icon>
            </div>
            <div flex="80">
                <h3>Configuration</h3>
            </div>
            <div flex="10"> 
                <md-button class="widget-button" ng-click="cancel()" aria-label="Close" layout-wrap>
                            <ng-md-icon icon="close" style="fill:white" size="20" layout="column" layout-align="center center" flex></ng-md-icon>
                </md-button> 
            </div>
        </div>
    </md-toolbar>
    <md-dialog-content>
<!--
       <div layout="column" ng-show="fieldSelection">
         <md-chips ng-model="widget.commonSrcConfig.fields" readonly="false"></md-chips>
         <md-button  ng-click="getData()"  aria-label="Close" layout-wrap>
             Next
         </md-button> 
       </div>
-->
       <div>
         <md-content class="md-padding">
            <div layout="column">
               
               <md-select ng-if="widget.commonSrcConfig.src=='DuoStore'" ng-model="chartCategory.groupField" placeholder="Select a category">
                     <md-option ng-value="catItem" ng-repeat="catItem in arrayAttributes">{{catItem}}</md-option>
               </md-select>
                <md-select ng-if="widget.commonSrcConfig.src!='DuoStore'" ng-model="categItem.item" placeholder="Select a category">
                     <md-option ng-value="catItem" ng-repeat="catItem in arrayAttributes">{{catItem.value}}</md-option>
               </md-select>

                <md-switch ng-disabled="serSelected" ng-change="getDrillArray()" ng-model="queryDrilled" aria-label="Switch 1">
                    Drilled
                </md-switch>
               
               <md-select ng-if="widget.commonSrcConfig.src=='DuoStore'" ng-show="queryDrilled" ng-model="chartCategory.drilledField" placeholder="Select a series">
                    <md-option value="{{item}}" ng-repeat="item in chartCategory.drilledArray">{{ item }}</md-option>
                </md-select>

               
               <md-select ng-if="widget.commonSrcConfig.src !='DuoStore'" ng-show="queryDrilled" ng-model="drillItem" placeholder="Select a drill field">
                     <md-option ng-value="drillItem" ng-repeat="drillItem in arrayAttributes" ng-if="drillItem.value < categItem.value">{{drillItem.value}}</md-option>
               </md-select>
               
                <div layout="column" ng-repeat="ser in seriesArray">
                      <accordion>                                                   
                        <accordion-panel title="{{ser.name}}" itemind= "{{$index}}" callback-fn="removeSeries(arg1)">
                            <md-input-container>
                              <label>Name</label>
                              <input ng-model="ser.name">
                            </md-input-container>
                            <md-select ng-model="ser.filter" placeholder="Select a filter" ng-change="filterData(ser.filter)">
                                <md-option value="{{fil}}" ng-repeat="fil in filterAttributes">{{ fil }}</md-option>
                            </md-select>
                            <md-select ng-if="widget.commonSrcConfig.src !='DuoStore'" ng-model="ser.serName" placeholder="Select a series">
                                <md-option ng-value="{{serItem}}" ng-repeat="serItem in arrayAttributes">{{ serItem.value }}</md-option>
                            </md-select>
                            <md-select ng-if="widget.commonSrcConfig.src=='DuoStore'" ng-model="ser.serName" placeholder="Select a series" ng-click="checkSeriesAvailability()">
                                <md-option value="{{cat}}" ng-repeat="cat in seriesAttributes">{{ cat }}</md-option>
                            </md-select>
                            <md-select ng-model="ser.type" placeholder="Select a chart type" flex>
                              <md-optgroup label="Chart type">
                                <md-option ng-value="chartType.type" ng-repeat="chartType in chartTypes">{{chartType.name}}</md-option>
                              </md-optgroup>
                            </md-select>
                            <md-input-container>
                              <label>Color</label>
                              <input ng-model="ser.color">
                            </md-input-container>
                        </accordion-panel>
                       </accordion>                   
                </div>
                <div layout="row">
                    <md-subheader class="md-primary">Add series</md-subheader>
                    <md-button ng-click="addSeries()">Add</md-button>
                </div>
               <md-input-container flex>
                   <md-button class="md-raised" ng-click="buildchart(widget)">Build Chart</md-button>
               </md-input-container>
            </div>
        </md-content>
       </div>
      
    </md-dialog-content>
</md-dialog>