<md-dialog plumb-item style="min-width:400px;">
<!-- for google plus sign in button-->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- for google plus sign in button-->
        <md-toolbar>
                <div class="md-toolbar-tools"  flex  layout="row">
                      <div flex="10">
                        <md-icon class="ion-wrench"></md-icon>
                      </div>   
                      <div flex="80">
                              <h3>
                                 <span> Configuration </span>
                              </h3>
                      </div>                           
                      <div flex="10">
                        <md-button class="widget-button" ng-click="cancel()" aria-label="Close" layout-wrap>
                            <ng-md-icon icon="close" style="fill:white" size="20" layout="column" layout-align="center center" flex></ng-md-icon>
                        </md-button>
                      </div>
            </div>
        </md-toolbar>
        <md-content>
            <div layout="row" layout-align='center center' layout-margin>    
              <md-button ng-click="login()">Sign In</md-button>
              <!-- <div class="g-signin2" ng-click="login()" ></div> -->
              <md-button ng-click="logout()" >Sign Out</md-button>
            </div>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button ng-click="cancel()">
                    Cancel
                </md-button>
                <div id="authOps">
                    <md-button id="disconnect" ng-click="finish()">
                        Finish
                    </md-button>
                </div>
            </div>
        </md-content>
</md-dialog>
