<md-dialog plumb-item ng-init="initialize()" class="custom-mdDialog">
  <md-toolbar style="width: 100%; min-height: 30vh!important;z-index: 0;">
    <div style="width:100%; height:48px;" layout="row" layout-align="end center">                
      <p style="color: whitesmoke;font-size: 20px;margin:5px;">CONFIGURATION</p>         
      <md-button class="buttonMinwidth38" ng-click="cancel()">      
        <ng-md-icon icon="close" style="fill:lightgrey" size="24" layout="row"></ng-md-icon>        
      </md-button>            
    </div>
  </md-toolbar>
  <md-card class="card-style1">
    <md-content layout-padding class="minHeight600">
      <div>
             <md-input-container flex>
                    <label id="postdomain">Domain URL:</label>
                    <input name="q" type='text' name="q" data-ng-model="query">
                </md-input-container>
               
        </div>
        <label id="dislab">Please enter a Youtube URL similar to given sample, ex: https://www.youtube.com/watch?v=-VZglaevpjI or enter your youtube channel name, ex : Ada Derana</label>
        <div class="md-actions" layout="row">
            <span flex></span>
                <md-button ng-click="search()">
                    Finish
                </md-button>
           
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </div>
    </md-content>
  </md-card>
</md-dialog>

