<md-dialog plumb-item style="min-width:400px">
      <md-toolbar>
                <div class="md-toolbar-tools"  flex  layout="row">
                      <div flex="10">
                        <md-icon class="ion-email"></md-icon>
                      </div>   
                      <div flex="80">
                              <h3>
                                 <span> Email Share </span>
                              </h3>
                      </div>                           
                      <div flex="10">
                             <md-button ng-click="closeDialog()"  aria-label="Close" layout-wrap>
                                   <md-icon class="ion-close"></md-icon>
                            </md-button>
                      </div>
                </div>
      </md-toolbar>


      <form name="frmMail" autocomplete="off">

      <md-content ng-init="html2canvas()" layout-margin>              
                    <md-button id="btnAddImage" 
                        ng-click="generateSnapshot()" aria-label="Done">Add Image</md-button>
                    <div  id="canvasTest"></div>              
      </md-content>

            <!-- ----------- -->
          <!--collect mail sending detail-->
            <div ng-show="sendMailState" class="md-padding" layout="row" layout-align="center center">
                <div layout="column" class="setup-info-container" flex="100">
                  <div class="txt-box"
                    ng-class="{error:error.isEmail,'':!error.isEmail}">
                    <label for="email">TO</label>
                      <div>
                        <input type="email" class="form-control"
                        required
                        ng-pattern="regex.email"
                        ng-model="emailTo"
                        placeholder="jane.doe@example.com">
                      </div>
                        <div class="ng-message" ng-messages="frmMail.emailTo.$error">
                          <div ng-message="required">This is required.</div>
                          <div ng-message="pattern">Email address is invalid</div>
                        </div>
                  </div>

                  <div class="txt-box"
                    ng-class="{error:error.isEmail,'':!error.isEmail}">
                    <label for="email">CC</label>
                      <div>
                        <input type="email" class="form-control"
                        required
                        ng-pattern="regex.email"
                        ng-model="emailCc"
                        placeholder="jane.doe@example.com">
                      </div>
                        <div class="ng-message" ng-messages="frmMail.emailCc.$error">
                          <!-- <div ng-message="required">This is required.</div> -->
                          <div ng-message="pattern">Email address is invalid</div>
                        </div>
                  </div>

                  <!-- -- -->

                    <span class="setup-font-theme">
                        Please fill the mail addresses here.
                    </span>
                    <md-button class="setup-button md-raised md-primary" ng-click="sendMail(false)"><span class="setup-font-theme">Send Email</span></md-button>
                </div>
            </div>
      <!-- ------------ -->

      <md-content class="md-actions" layout="row" layout-margin>    
          <md-button id="btnSent" ng-click="getMailDetail(true)"> SEND</md-button> 
      </md-content>
    </form>
</md-dialog>



      
