
<md-dialog>
    
        <!-- <div layout="row"> -->
        <div class="card-head">
                <header>ADD WIDGET</header>
                <div class="tools">
                    <a href="javascript:void(0)" ng-click="closeDialog()">
                        <i class="ti-close"></i>
                    </a>
                </div>
        </div>

        <!-- </div> -->
        <div class="header-line-bottom"></div>
        <div class="card-body bg-color-grey-100 p-b-20 add-widget-body">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="item in WidgetTypes" ng-init="filterWidgets(item)" ng-click="filterWidgets(item)" style="height: 280px">
                <md-tab-label>
                    <md-icon md-svg-src="{{item.icon}}"></md-icon>
                    <md-tooltip>{{item.title}}</md-tooltip>
                </md-tab-label>

                <md-content flex layout-align="center center" layout="row" layout-wrap>
                        <div class="select-card-btn asset" ng-repeat="widget in Widgets | filter : selected" ng-click="addAllinOne(widget,$event)">
                            <a>
                                <img ng-src="{{widget.icon}}"
                                     alt=""
                                     src="{{widget.icon}}">
                            </a>
                                <span class="size graph-h2">
                                    {{widget.title}}
                                </span>
                        </div>
                </md-content>
            </md-tab>
        </md-tabs>
        </div>
</md-dialog>
