
<div class="digin-wp-bg animated fadeInLeft ">

    <div class="bg-color">
        <div class="row">
            <div class="col-lg-12">
                <div class="digin-wp-hedaer-wrap ">
                    <h1 class="h1 animated bounceInDown">Welcome onboard</h1>
                    <small class="animated fadeIn">How DigIn works?</small>
                </div>

            </div>

        </div>

        <div class="row digin-p-l-r-70">
            <div class="digin-wp-wrap">

                <div class="col-lg-4 col-sm-4">
                    <div class="digin-wp-process ">
                        <div class="digin-step">
                            <span>1</span>
                        </div>
                        <div class="process-img">
                            <i class="fa fa-cloud-download"></i>
                        </div>

                        <h2 class="h2 text-center">
                            Connect your data
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="digin-wp-process ">
                        <div class="digin-step">
                            <span>2</span>
                        </div>
                        <div class="process-img">
                            <i class="fa fa-flask"></i>
                        </div>

                        <h2 class="h2 text-center">
                            Create queries
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="digin-wp-process ">
                        <div class="digin-step">
                            <span>3</span>
                        </div>
                        <div class="process-img">
                            <i class="fa fa-dashboard"></i>
                        </div>

                        <h2 class="h2 text-center">
                            Create your insights
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" >

            <div class="digin-wp-btn-wrap" ng-contoller="WelcomeCtrl">

                <span class="btn  btn-start-now  hvr-push" ng-click="start()">Start Now</span>
                <span class="btn  btn-Skip-now   hvr-push" ng-click="skip()">Skip</span>
            </div>


        </div>

    </div>


</div>
