<div ng-cloak style="background-color:white;">
<div id="gradient" style="height:50vh;"/>

<div id="viewContainer" layout="column" layout-align="center center">
    <md-card id="loginFrame" class="md-whiteframe-z4" layout="column" layout-align="start center"
             style="min-width:525px;background-color:#fafafa;">
        <div layout="row" layout-align="center center" style="padding:10px;">
            <img ng-src="styles/css/images/initiallog.png" style="width:140px;" height="90px">
        </div>

        <!-- login form -->
        <form name="loginForm" style="padding:10px 36px;width:100%;" flex novalidate>
            <div layout="row">
                <ng-md-icon icon="account_circle" style="fill: darkgrey;
    padding: 25px 10px;"></ng-md-icon>
                <md-input-container flex ng-class="{ 'has-error' : error.isUserName }">
                    <label>User Name</label>
                    <input id="userName" name="userName"
                           key-enter="login()"
                           ng-model="txtUname">
                </md-input-container>
            </div>
            <div layout="row">
                <ng-md-icon icon="vpn_key" style="fill: darkgrey;
    padding: 25px 10px;"></ng-md-icon>
                <md-input-container flex ng-class="{ 'has-error' : error.isPwd }">
                    <label>Password</label>
                    <input type="password" id="password" name="password"
                           ng-keyup="$scope.error.event=$event"
                           key-enter="login()"
                           ng-model="txtPwd">
                </md-input-container>
            </div>

            <div layout="row">
                <p style="font-size:small;color:darkgrey;" ng-model="signup">New to Digin? <span ng-click="signup()">Signup</span>
                <!--<p style="font-size:small;color:darkgrey;">New to Digin? <a href="http://localhost:8080/Diginlatest/signup.html">Signup</a>-->
            </div>
           

            </p>
            <md-button class="md-fab  md-primary" type="button"
                       $scope.error.event=$event
                       ng-click="login()" style="top: 50%;
    margin-top: -20px;
    position: absolute;
    margin-left: 460px;">
                <md-icon class="ion-android-arrow-forward" style="fill: darkgrey;
    line-height: 10px;font-size:25px;margin-bottom:15px;"></md-icon>
            </md-button>
        </form>
    </md-card>

    <div id="companyCygilScroll" class=""></div>
</div>
</div>