
<div class="digin-style" ng-mouseover="adjustUI()" ng-init="getSearchPanelDetails()">
<toast></toast>
<!-- preloader start -->
<div class="pre-loader-parent" id="pagePreLoader" layout="column" layout-align="center center" ng-include
     src="'views/ViewPreloader.html'" style="background-color:white">
</div>
<!-- preloader end -->
<!-- gridster start -->
<div ng-intro-options="IntroOptions" ng-intro-method="CallMe" ng-intro-oncomplete="CompletedEvent"
     ng-intro-onexit="ExitEvent" ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
     ng-intro-onafterchange="AfterChangeEvent"
     ng-intro-autostart="ShouldAutoStart">
</div>
<!-- gridster end -->
<!-- md theme watch start -->
<div>
    <script type="text/javascript" src="scripts/fbSDK.js"></script>
    <div id="fb-root">
    </div>
    <!-- md theme watch end -->
    <!-- headbar start-->
    <div id="mainHeadbar" class="main-headbar-wrapper" layout="row">
        <div class="main-headbar" flex style="visibility:hidden">
            <div class="main-headbar-slide md-theme-light" layout="row" layout-align="space-between center" flex>
                <div class="nav-search">
                    <md-icon id="btnNavSearch" class="ion-search search searchicon"></md-icon>
                </div>
                <span ng-click=""></span>
                <div layout="row" layout-align="center center">
                    <div layout="row" ng-click="showTennant($event);">
                        <p style="color: whitesmoke;font-size: large;margin: 10px;" ng-model="username">
                        {{username}}</p>
                    </div>   
                    <div layout="row" ng-click="showUserProfile($event);"> 
                        <img class="md-avatar" style="width: 30px;height: 30px;border-radius: 100%;margin: 5px;"
                        src="styles/css/images/person.jpg">
                    </div> 
                    <md-switch ng-model="headerbarPinned" aria-label="pinHeaderbar"></md-switch>  
                </div>
            </div>
            <div class="main-headbar-transparent md-theme-light" layout="row" layout-align="space-between center" flex>
            </div>
        </div>
    </div>
    <!-- headbar end -->
    <!-- sidebar start -->
    <div id="getReport" class="nav-menu nav-bar-border" ng-include
         src="'views/ViewSidebar.html'">
    </div>
    <!-- sidebar end -->
    <!-- ui view start -->
    <ul ui-view layout="column" id="content1" style="height:100% !important;">
    </ul>
    <!-- ui view end -->
    <!-- Common data source start -->

    <div class="commonDataSource" ng-include src="'views/common-data-src/ViewCommonDataSrc.html'" ng-controller="commonDataSrcInit">
    </div>
    
    <!-- Common data source end -->
    <!-- search start -->
    <div class="overlay">
        <div class="overlay">
            <div class="starting-point">
                <span></span>
            </div>
        </div>
    </div>
    <div class="search-layer" layout="column" layout-align="center center" flex>
        <div class="search" layout="row" layout-align="center center" flex="20">
                    <ng-md-icon icon="search" style="fill:white" size="50" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                    <md-input-container flex layout="row" layout-align="center center">
                        <input ng-model="searchText" type="text" class="searchText">
                    </md-input-container>
        </div>
        <div class="results" layout="row" layout-align="space-around start" flex="80">
                    <!-- dashboards -->                
                    <div layout="column" layout-align="center start">
                        <h2>DASHBOARDS
                            <small>({{dashboards.length}})</small>
                        </h2>
                        <div layout="row" layout-align="center center">
                                <ng-md-icon icon="favorite" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                                <h3 class='liketext'>Favourites
                                    <small>({{favoriteDashboards.length}})</small>
                                </h3>
                        </div>
                        <!-- favorite dashboards angular table should come here -->
                        <div layout="row" layout-align="center center">
                            <ng-md-icon icon="more_vert" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                            <h3 class='liketext'>More
                                <small>({{dashboards.length}})</small>
                            </h3>
                        </div>
                        <table at-table at-paginated at-list="dashboards" at-config="configDashboards" class="m-l-15">
                                <tbody>
                                    <tr>
                                   
                                        <td at-implicit at-sortable at-attribute="dashboardName" at-initial-sorting="asc" layout="row" layout-align="start center" ng-click="goDashboard(item)">
                                            <ng-md-icon icon="dashboard" style="fill:white" size="20" layout="row" class="m-r-10" layout-align="center center"></ng-md-icon>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                        <at-pagination class="custom-pagination" ng-hide="dashboards.length <= configDashboards.itemsPerPage" 
                            at-list="dashboards" at-config="configDashboards"></at-pagination>
                    </div>
                    <!-- Reports -->
                    <div layout="column" layout-align="center start">
                        <h2>REPORTS
                            <small>({{reports.length}})</small>
                        </h2>
                        <div layout="row" layout-align="center center">
                            <ng-md-icon icon="favorite" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                            <h3 class='liketext'>Favourites
                                <small>({{favoriteReports.length}})</small>
                            </h3>
                        </div>
                        <!-- favorite reports angular table should come here -->
                        <div layout="row" layout-align="center center">
                            <ng-md-icon icon="more_vert" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                            <h3 class='liketext'>More
                                <small>({{reports.length}})</small>
                            </h3>
                        </div>
                        <table at-table at-paginated at-list="reports" at-config="configReports" class="m-l-15">
                                <tbody>
                                    <tr>
                                        <td at-implicit at-sortable at-attribute="splitName" at-initial-sorting="asc" layout="row" layout-align="start center"
                                            ng-click="goReport(item.splitName)">
                                            <ng-md-icon icon="assignment" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                        <at-pagination class="custom-pagination" ng-hide="reports.length <= configReports.itemsPerPage" at-list="reports"
                                       at-config="configReports">
                        </at-pagination>
                        
                    </div>
                    <!-- Analyzers -->
                    <div layout="column" layout-align="center start">
                        <h2>ANALYZERS
                            <small>({{analyzers.length}})</small>
                        </h2>
                        <div layout="row" layout-align="center center">
                            <ng-md-icon icon="favorite" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                            <h3 class='liketext'>Favourites
                                <small>({{favoriteAnalyzers.length}})</small>
                            </h3>
                        </div>
                        <!-- favorite reports angular table should come here -->
                        <div layout="row" layout-align="center center">
                            <ng-md-icon icon="more_vert" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                            <h3 class='liketext'>More
                                <small>({{analyzers.length}})</small>
                            </h3>
                        </div>
                        <table at-table at-paginated at-list="reports" at-config="configAnalyzers" class="m-l-15">
                                <tbody>
                                    <tr>
                                        <td at-implicit at-sortable at-attribute="splitName" at-initial-sorting="asc" layout="row" layout-align="start center" ng-click="goAnalyzer(item.splitName)">
                                            <ng-md-icon icon="assignment" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                        <at-pagination class="custom-pagination" ng-hide="analyzers.length <= configAnalyzers.itemsPerPage"
                                       at-list="analyzer" at-config="configAnalyzers">
                        </at-pagination>
                    </div>
        </div>
        <div class="layer-container">
            <div ng-controller="DashboardCtrl" class="menu-layer">
                {{test}}
                <div ng-if="currentView=='Dashboard' ">
                    <ul ng-repeat="item in dashboardmenu">
                        <li ng-click="doFunction(item.title)">
                            <a>{{item.title}} </a>
                        </li>
                    </ul>
                </div>
                <div ng-if="currentView=='Reports'">
                </div>
                <div ng-if="currentView=='Analytics'">
                    <ul ng-repeat="item in analyticsmenu">
                        <li ng-click="doFunction(item.title)">
                            <a>{{item.title}} </a>
                        </li>
                    </ul>
                </div>
                <div ng-if="currentView=='RealTime'">
                    <ul ng-repeat="item in realtimeMenu">
                        <li ng-click="doFunction(item.title)">
                            <a>{{item.title}} </a>
                        </li>
                    </ul>
                </div>
                <div ng-if="currentView=='Digin P Stack'">
                    <ul>
                        <li ng-repeat="item in Extendedmenu" ng-click="doFunction(item.title)">
                            <a>{{item.title}} </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>


