<md-dialog style="height:70vh;">
    <md-content layout="row" layout-align="center center" style="height:100%;overflow:hidden;">
        <div flex>
            <img src="styles/css/images/person.jpg" style="height:60vh;width:100%">
            <div class="md-list-item-text" style="background-color: #4285F4;
    height: 10vh;color:lightgrey" layout="column" layout-align="center center" layout-padding>
                <p style="font-size:large;color:whitesmoke;margin:5px;">Sajeetharan Dev</p>
                <p>Developer</p>
            </div>
        </div>
        <div layout="column" layout-padding flex style="background-color:#fafafa;">
            <div class="md-toolbar-tools" flex layout="row" layout-align="end center">
                <p style="color:lightgrey;">SETTINGS</p>
            </div>
            <div layout="column" layout-wrap style="height:50vh">
                <form>
                    <md-list-item ng-repeat="item in features">
                        <!--                        <ng-md-icon icon="settings" style="fill:gold;margin:5px;"></ng-md-icon>-->
                        <md-icon md-svg-src="styles/css/images/icons/settings.svg"></md-icon>
                        <p> {{ item.title }} </p>
                        <md-switch class="md-secondary" ng-model="item.state" ng-change="toggle(item, selected)"></md-switch>
                    </md-list-item>
                </form>
            </div>
            <div class="md-actions" layout="row">
                <md-button class="md-fab md-mini" styl="background-color: #D33F3F;" ng-click="close();">
                    <ng-md-icon icon="close" style="fill:whitesmoke"></ng-md-icon>
                </md-button>
                <md-button class="md-fab md-mini md-primary" ng-click="finish()">
                    <ng-md-icon icon="arrow_forward" style="fill:whitesmoke"></ng-md-icon>
                </md-button>
            </div>
        </div>
    </md-content>
</md-dialog>
