<md-dialog plumb-item>
    <!--
  <md-toolbar>
                    <div class="md-toolbar-tools"  flex  layout="row">
                      <div flex="10">
                        <md-icon class="ion-archive"></md-icon>
                      </div>   
                      <div flex="80">
                              <h3>
                                 <span> Save Settings </span>
                              </h3>
                      </div>                           
                      <div  flex="10">
                             <md-button  ng-click="closeDialog()"  aria-label="Close" layout-wrap>
                                   <md-icon class="ion-close"></md-icon>
                            </md-button>
                      </div>

                    </div>
                    
   </md-toolbar>
-->
    <md-content layout-margin layout="column">
        <div flex>
            <p>Are you sure you want to change the settings configurations?</p>
        </div>
        <div class="md-actions" layout="row" flex>
            <md-button class="md-fab md-mini" styl="background-color: #D33F3F;" ng-click="closeDialog()">
                <ng-md-icon icon="close" style="fill:whitesmoke"></ng-md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-primary" ng-click="saveSettingsDetails()">
                <ng-md-icon icon="done" style="fill:whitesmoke"></ng-md-icon>
            </md-button>
        </div>
    </md-content>
</md-dialog>
