<md-dialog plumb-item class="dialog-1">

  <md-toolbar class="tlbar-1" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="center center" class="digin-logo-wrapper2">
        <img ng-src="styles/css/images/icons/users2.svg" class="digin-image">
      </div>  
      <div class="dialog-title">Add users to group</div>         
      <md-button class="buttonMinwidth38" ng-click="closeDialog();">      
        <ng-md-icon icon="close" style="fill:white" size="24" layout="row"></ng-md-icon>   
      </md-button>            
  </md-toolbar>

                     <label>Select User Groups</label>
                     <md-content style="height:100%; background-color: #ececee" flex>
                            <md-chips ng-model="ContactChip" md-autocomplete-snap md-require-match="true" flex style="background: orange;">
                               <md-autocomplete
                                  md-selected-item="selectedItem"
                                  md-search-text="searchText"
                                  md-items="item in querySearch(searchText)"
                                  md-item-text="item.groupname" >
                                  <span md-highlight-text="searchText">{{item.groupname}}</span>
                               </md-autocomplete>
                               <md-chip-template>
                                  <span>
                                  <strong>{{$chip.groupname}}</strong>  
                                  </span>
                               </md-chip-template>
                            </md-chips>
                    </md-content>   

    <div class="md-actions" layout="row">
      <span flex></span>
        <md-button class="btn-font btn-dialog" ng-click="shareAppToGroup()">
        SHARE 
        </md-button>
        <md-button class="btn-font btn-dialog" ng-click="closeDialog()">
          CANCEL
    </div>


</md-dialog>
