<link rel="stylesheet" href="../duodigin/styles/css/spread.css">



 <md-content style="min-height:200px;">
   <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row dashed-border">
            <div>
              <div class="col-sm-4 item item-test">
                <a href="{{ widget.widData.url }}" target="_blank">
                  <div class="icon">
                    <div class="document">
                      <span class="ng-binding">
                        {{ widget.widData.name }}
                      </span>
                    </div>
                  </div>
                  <span>{{ widget.widData.name }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </md-content>


