<md-content layout-margin flex style="width:100%;height:100%;overflow:hidden;">
<link rel="stylesheet" type="text/css" href="styles/css/wid.css">
                 <!--class="ng-scope md-default-theme"-->
                <!-- role=listitem -->
            <md-list-item class="md-3-line" layout-margin flex style="width:100%;height:100%;">
                <div class="md-list-item-text" style="width:100%;height:100%;">
                   <calender-component></calender-component>
                </div>
            </md-list-item>
            
  

</md-content>