<md-content layout-margin flex>
    <div layout="column" ng-repeat="entry in widget.widData">
            <md-card layout-margin flex layout="column" style="border: 1px solid #D8D8D8;box-shadow: 2px 2px 2px rgba(188, 188, 188);background-color: rgb(238, 238, 238);
    border-radius: 5px;"> 
                <h4 layout-margin><a style="color:black" target="_blank" href="{{entry.link}}">{{entry.title}}</a></h4>
            <md-list-item class="md-3-line" layout-margin flex>
                <div class="md-list-item-text">
                   <!--  <img ng-src="{{ entry.mediaGroups.contents.thumbnails.url }}" style="width:40px;height:40px;"> -->
                    <h3 style="line-height: 1.0em;">Published Date: {{entry.publishedDate}} </h3>
                    <h3 style="line-height: 1.0em;">Summary: {{entry.contentSnippet}}</h3>             
                    <h3 style="line-height: 1.0em;">Author: {{entry.author}}</h3>
                </div>
            </md-list-item>
            </md-card>  
    </div>
</md-content>
