<md-content>
    <md-tabs md-border-bottom>
        <md-tab label="Profile">
            <md-content class="md-padding">
                <div layout="column">
                    <h6>Profile information</h6>
                    <div id="profile"></div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Followers">
            <md-content class="md-padding">
                <div layout="column">
                    <h6>Followers:</h6>
                    <div id="followerss"></div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Followings">
            <md-content class="md-padding">
                <div layout="column">
                    <h6>Followings:</h6>
                    <div id="followinglist"></div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Connected">
            <md-content class="md-padding">
                <div layout="column">
                    <h6>Connected:</h6>
                    <div id="connectedPeople"></div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Activities">
            <md-content class="md-padding">
                <div layout="column">
                    <h6>Activities:</h6>
                    <div id="activitylist"></div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Total Friends">
            <md-content class="md-padding">
                <div layout="column">
                    <h6>Total friends:</h6>
                    <div id="visiblePeople"></div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Other Info">
            <md-content class="md-padding">
                <div layout="column">
                    <h6>User contacts Details:</h6>
                    <div id="placelist"></div>
                    <h6>Organizations:</h6>
                    <div id="orglist"></div>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
    <script type="text/javascript" src="../duodigin/scripts/controllers/Googleplus.js"></script>
</md-content>
