<md-sidenav class="md-sidenav-right md-whiteframe-z2 overflow-none" md-component-id="right">
            <md-content class="overflow-none" layout="row">

                <md-button ng-click="toggleLeft()"
                              ng-hide="isOpenLeft()"
                              class="md-primary sidenav-button" layout="row" layout-align="center center">
                              <md-icon md-svg-src="{{icon}}"></md-icon>
                </md-button>
                <accordion flex>
                <accordion-panel title="Data Source">
                    <div class="card-body">
                        <div class="inline-text">
                            <i class="fa fa-database"></i>
                            <span>Source</span>
                        </div>
                        <div data-ng-if="tablesLoading" class="right loading-table">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        </div>
                        <div layout="row">
                            <!-- select data source -->
                            <div flex>
                                <md-select class="full-width" placeholder="Select Source" ng-model="selectedClass" ng-change="onChangeSource(selectedClass)">
                                    <md-option ng-value="source.name"
                                                            ng-repeat="source in datasources">
                                                     {{source.name}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div layout="row">
                            <!-- select table -->
                            <div flex>
                                <md-select class="full-width"
                                                        placeholder="Select Table"
                                                        ng-change="onChangeTable(tblItem)"
                                                        ng-model="tblItem">
                                    <md-option ng-value="item" ng-repeat="item in dataTables">
                                                     {{item  }}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                    </div>
                    <!-- index loader -->
                    <div layout="column" class="data-index">
                        <div>
                            <md-checkbox ng-repeat="item in dataFields" ng-click="toggleCheck(item)">
                                           {{ item }}
                            </md-checkbox>
                        </div>
                    </div>

                    <md-button ng-click="configGraph($event)" flex>Create</md-button>
                </accordion-panel>
                </accordion>
                
            </md-content>
</md-sidenav>

<md-sidenav class="md-sidenav-right md-sidenav-custom md-whiteframe-z2 overflow-none" md-component-id="custom">
            <md-content class="overflow-none" layout="column">
                <accordion ng-repeat="field in fieldArray">
                <accordion-panel title="{{field}}" >
                    <ng-md-icon icon="file_download" style="fill:#BDBDBD" size="20" layout="column" layout-align="center center" flex ng-click="getDataByFields(field)"></ng-md-icon>
                      <!-- index loader -->
                      <div layout="column" class="data-index"> 
                          <div>
                            <md-checkbox ng-repeat="data in distinct[field] track by $index" ng-click="toggleCheck2(data)">
                                    {{data}}
                            </md-checkbox>
                          </div>
                      </div>
                      <md-button ng-click="configGraph2($event)" flex>Create</md-button>
                </accordion-panel>
                </accordion>
            </md-content>
</md-sidenav>

                </div>
            </div>
            <!-- index loader -->
            <div layout="column" class="data-index">
                <div class="dragMe" ng-repeat="item in dataFields">
                    <md-checkbox  ng-click="toggle(item, selected)">
                      {{ item }}
                    </md-checkbox>
                </div>
            </div>
         </div>

      </md-content>
    </md-sidenav>

