<md-content layout-margin flex>
    <div layout="column" ng-repeat="entry in widget.widData">
            <md-toolbar layout-align="center center" flex layout-padding>
                <h5>{{entry.title}}</h5>
            </md-toolbar>
            <md-list-item class="md-3-line" layout-margin flex>
                <div class="md-list-item-text">
                   <!--  <img ng-src="{{ entry.mediaGroups.contents.thumbnails.url }}" style="width:40px;height:40px;"> -->
                    <h4>Published Date: </h4>
                    <p>{{entry.publishedDate}}</p><br/>
                    <h4>Summary: </h4>
                    <p>{{entry.contentSnippet}}</p><br/>
                    <h4>URL: </h4>
                    <p>{{entry.link}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>   
    </div>
</md-content>
