           <md-content layout-margin>    
                 <div layout="column">
                  <div flex layout="row" layout-margin><!-- location deatails start -->
                        <div>{{ widget.widData.results.channel.location.city }}</div>
                        <div layout="row">
                        <div layout="row">
                          <div flex="50"><img class="img-thumbnail forecast-img" src="http://l.yimg.com/a/i/us/we/52/{{widget.widData.results.channel.item.condition.code}}.gif" />
                          </div>
                          <div flex="50"><font class="tem"><h5 id="count">{{widget.widData.results.channel.item.condition.temp}}{{widget.widData.results.channel.units.temperature}}</h5></font>
                          </div>
                          
                        </div> 
                        <div>{{ widget.widData.results.channel.item.condition.text }}</div>
                        </div>
                        <div>{{ widget.widData.results.channel.item.condition.date }} {{widget.widData.results.channel.location.country}}</div>
                  
                  </div><!-- location deatails finish -->
                  <div flex layout="row">
                      
                        <div flex>
                          <h4><img style="height:25px;width:25px;" src="styles/css/images/Shining_sun_32 (2).png" />Sunrise {{widget.widData.results.channel.astronomy.sunrise}}</h4>
                          <h4><img style="height:25px;width:25px;" src="styles/css/images/raindroRain_drop_32p2.png" /> Humidity {{widget.widData.results.channel.atmosphere.humidity}}%</h4>
                          <h4><img style="height:25px;width:25px;" src="styles/css/images/Wind_sleeve_pointing_left_32 (2).png" />Wind Speed {{widget.widData.results.channel.wind.speed}}{{widget.widData.results.channel.units.speed}}</h4>
                        </div>
                        <div flex>
                          <h4><img style="height:25px;width:25px;" src="styles/css/images/sun42.png" /> Sunset {{widget.widData.results.channel.astronomy.sunset}}</h4>
                          <h4> <img style="height:25px;width:25px;" src="styles/css/images/Hot_thermometer_32 (2).png" />Pressure {{widget.widData.results.channel.atmosphere.pressure}} {{widget.widData.results.channel.units.pressure}}</h4>
                          <h4><img style="height:25px;width:25px;" src="styles/css/images/Big_Compass_32 (1).png" />Wind Direction {{widget.widData.results.channel.wind.direction}}</h4>
                        </div>
                      
                    </div>
                </div>  
          </md-content>
              