
    
    <md-content style="height:400px">
        
        <div layout="column">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Vehicle Type</th>
                    <th>Vehicle Usage</th>
                    <th>Total</th>
                </tr>
                <tr ng-repeat='(key,val) in arr.children'>
                    <td>
                        {{key}}
                    </td>
                    <td>
                        {{val.name}}
                    </td>
                    <td>
                        <div ng-repeat='(nestedKey,nestedVal) in val.children'>
                            {{nestedVal.name}}
                        </div>
                        <td>
                            {{val.size}}
                        </td>
                        <!--<td ng-repeat='(nestedKey,nestedVal) in val'> {{nestedVal}}-->
                    </td> 
                </tr>
            </table>
        </div>
    </md-content>
    

