<md-list>
            <!-- logo -->
            <md-item>
                <a ng-click="">
                    <md-item-content md-ink-ripple class="sidebar-btn digin-logo" layout="column" layout-align="center center" ng-click="$parent.navigate('home')"> 
                        <div class="digin-logo-wrapper" layout="row" layout-align="center center">
                            <img ng-src="styles/css/images/innerlogo.png" class="md-avatar" id="digin-logo" style="width:80%;">
                            <md-tooltip md-direction="right">DigIn v3.0.0.3.2</md-tooltip>
                        </div>   
                    </md-item-content>
                </a>
            </md-item>
            <!-- sidebar items -->
            <md-item ng-repeat="item in menu">
                <a ng-click="$parent.navigate(item.title)">
                    <md-item-content md-ink-ripple class="sidebar-btn" layout="column" layout-align="center center">
                        <ng-md-icon icon="{{item.icon2}}" style="fill:#026689" size="20" layout="column" layout-align="center center" flex></ng-md-icon>
                        <md-tooltip md-direction="right">{{item.title}}</md-tooltip>
                    </md-item-content>
                </a>
            </md-item>
</md-list>