
    <md-content style="height:400px">
       
        <div layout="column">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Observation</th>
                </tr>
                <tr ng-repeat='(keyy,val) in arr.children'>
                    <td style="width:40px;">
                        {{keyy}}
                    </td>
                    <td style="width:160px;">
                        {{val.category}}
                    </td>
                    <td style="width:120px;">
                        {{val.Observation}}
                    </td>
                </tr>
            </table>
        </div>
    </md-content>
    