
    <md-toolbar class="modal-header" md-theme="teal">
        <h1>Data Explorer</h1>
    </md-toolbar>
    <md-content style="width:400px;height:400px">
        <div layout="column">
       <!--  <div style="width:100px;">{{item.name}}</div>
        <div ng-repeat='child in item.children'>

        <div layout="column">

        <p>{{child.name}}</p>

        <div layout="column" ng-repeat='usage in child.children'>
            
            <div layout="row">
                <span>{{usage.name}}</span>
                <span>{{usage.size}}</span>
            </div>
        </div>
            
        </div>

        </div> -->
            <table>
                <tr>
                    
                    <th>Month</th>
                    <th>Vehicle Type</th>
                    <th>Total of the month</th>
                </tr>
                <tr ng-repeat='item in arr.children'>
                    <td>
                        <h6>{{item.name}}</h6>
                    </td>
                    <td>
                        <div ng-repeat='child in item.children'>
                        <div layout="column">
                            <h6>{{child.name}}</h6>
                            <div layout="column" ng-repeat='usage in child.children'>
                            <div layout="row"><br/>
                                <span>{{usage.name}}</span>&nbsp;&nbsp;
                                <span>{{usage.size}}</span>
                            </div><br/>
                            </div>
                        </div>
                        </div>
                    </td>
                    <td>
                        <h6>{{item.size}}</h6>
                    </td>
                </tr>
            </table>
        </div>
    </md-content>
    <div class="md-actions" md-theme="indigo" layout="row">
        <md-button style="width:200px" ng-click="closeDialog()" class="md-raised">Ok</md-button>
        <md-button style="width:200px" class="md-raised" ng-click="closeDialog()" class=" md-default">Cancel</md-button>
        <!-- <md-button class="md-raised" ng-csv="dataArray" filename="{{fileName}}.csv" field-separator="," ng-click="exportToCSV">Export to CSV</md-button> -->
        <!-- <md-button style="width:200px" class="md-raised" ng-click="exportToCSV()">Export to CSV</md-button> -->
        <button type="button" class="btn btn-default" ng-csv="json2csv" filename="Data.csv" charset="utf-8"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Download CSV</button>
    </div>

