<md-content>


<html>
  <head>
    
    <meta charset="utf-8"> 
    <meta name="author" content="Thisura">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../duodigin/styles/css/youtube.css" type="text/css">

  </head>

  <body>
    <html lang="en" ng-app="YouTubeData">
  <head>

   <!--  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Scada:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='http://homepages.uc.edu/~arthurra/resource/font-awesome/font-awesome.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css'> -->
  </head>
  <body ng-controller="VideosController">

 <!--  <header>
      
    </header>  -->

    <form data-ng-submit="search()">
   <div layout="row" class="relative" layout-fill role="main">
     
      <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
          </md-button>
         
          <span flex></span>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search" style="fill:black"></ng-md-icon>
          </md-button>
         
        </div>
    
      </md-toolbar>
      <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
          </md-button>
          
          <md-input-container md-theme="input" flex>
            <label>&nbsp;</label>
            <input placeholder="type here..." type='text' name="q" data-ng-model="query">
          </md-input-container>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
         
        </div>
       
      </md-toolbar>
     
    </div>
</form> 


<!-- <div id="results1">
<div class="video1">
<img class="video-image" src="cod.jpg" style="width:120px; height:90px;">
        <label class="tagg" title="Description:">Title: </label><p class="video-title">GTA 5 Mod Showcase : Call of Duty AC130 Mod</p>
        <label class="tagg" title="Description:">Author: </label><p class="video-author">Olli43</p>
        <label class="tagg" title="Description:">Description: </label><p class="video-description">GTA 5 PC mods! AC130 Gameplay for Grand Theft Auto 5! ▻ Help Me Reach 500000 Subscribers! Click to Subscribe! ▻ http://bit.ly/SubtoOlli43 In this gta 5 pc ...</p>
        <label class="tagg" title="Description:">Uploaded Date and Time: </label><p class="video-description">2015-06-27T19:00:00.000Z</p> 
        <label class="tagg" title="Description:">Broadcast Content: </label><p class="video-description">none</p>
        <label class="tagg" title="Description:">Channel ID: </label><p class="video-description">UCH91ivVTdIPZkhWi6oqeQPQ</p>
        <label class="tagg" title="Description:">Kind: </label><p class="video-description">youtube#video</p> 
        <label class="tagg" title="Description:">Video ID: </label><p class="video-description">4BjYC5E8H3A</p> 
</div>
</div> -->

    
    <div id="results">
      <div class="video" data-ng-repeat="video in results" data-ng-click="queue(video.id, video.title)">
        <img class="video-image" data-ng-src="{{ video.thumbnail }}">
        <label class="tagg" title="Description:">Title: </label><p class="video-title">{{ video.title }}</p>
        <label class="tagg" title="Description:">Author: </label><p class="video-author">{{ video.author }}</p>
        <label class="tagg" title="Description:">Description: </label><p class="video-description">{{ video.description }}</p>
        <label class="tagg" title="Description:">Uploaded Date and Time: </label><p class="video-description">{{ video.datetimee }}</p> 
        <label class="tagg" title="Description:">Broadcast Content: </label><p class="video-description">{{ video.lbc }}</p>
        <label class="tagg" title="Description:">Channel ID: </label><p class="video-description">{{ video.ciid }}</p>
        <label class="tagg" title="Description:">Kind: </label><p class="video-description">{{ video.kidd }}</p> 
        <label class="tagg" title="Description:">Video ID: </label><p class="video-description">{{ video.id }}</p> 



      </div>
    </div>


    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  </body>
</html>
     <script src="../duodigin/scripts/controllers/YoutubeCtrl.js"></script>
</body>
</html>





</md-content>