<md-dialog>
<script type="text/javascript" src="scripts/controllers/widgetSettings.js"></script>

<div class="view" plumb-item>
  <div layout="row" layout-align="space-around center" class="card__info" layout-margin>
    <div class="info-player__name">Widget Settings</div>
    <md-button ng-click="close()" aria-label="Close" layout-wrap class="widget-settings-button">
      <md-icon class="ion-close digin-widget-toolbar-icon"></md-icon>
    </md-button>
  </div>
  <ul class="card__list">
        
    <li class="card__item card__item--blue" ng-click="commentary(widget)">
      <div class="card__info">
        <div class="info-player">
          <p class="info-player__num"><md-icon class="ion-volume digin-widget-toolbar-icon" style="height:48px;width:48px"></md-icon></p>
          <div class="info-player__name">Commentary</div>
        </div>
        
      </div>
    </li>
    <li class="card__item card__item--blue" ng-click="showAdvanced($event,widget)">
      <div class="card__info">
        <div class="info-player">
          <p class="info-player__num"><md-icon class="ion-gear-b digin-widget-toolbar-icon" style="height:48px;width:48px"></p>
          <div class="info-player__name">Configuration</div>
        </div>
       
      </div>
    </li>
    <li class="card__item card__item--blue" ng-click="showData(widget,$event)">
      <div class="card__info">
        <div class="info-player">
          <p class="info-player__num"><md-icon class="ion-clipboard digin-widget-toolbar-icon" style="height:48px;width:48px"></p>
          <div class="info-player__name">Data</div>
        </div>
    </li>
    
  </ul>
</div>
</md-dialog>


