<md-content layout-margin flex>
    <div ng-repeat="item in widget.widData.tweets" flex style="border-bottom: 1px solid #D8D8D8;">
            <md-list-item class="md-3-line" layout-margin flex>
              <div layout="column" class="data-container1">
                <div class="data-slot1">{{item.text}}</div>
                <div layout="row" class="data-slot2">
                    <div flex="20" class="image-slot1" layout="column" layout-align="center center"><img class="custom-avatar1" src="{{item.user.profile_image_url_https}}"/></div>
                    <div layout="column" flex="80">
                        <div class="data-slot3"layout="row">
                            <div class="data-field1">favorites</div>
                            <div class="data-item1">{{item.favorite_count}}</div>
                        </div>
                        <div class="data-slot3" layout="row">
                            <div class="data-field1">retweets</div>
                            <div class="data-item2">{{item.retweet_count}}</div></div>
                        </div>
                    </div>
                </div>
            </md-list-item>   
    </div>
</md-content>

