<md-content flex layout="column" ng-init="initGmap()" class="gmap-widget" 
ng-controller="gmapsController"> 
   	<!-- <div id="gmap" flex></div> -->
   	<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' bounds="map.bounds" 
   	pan="'true'">
   		<ui-gmap-markers models="markers" coords="'self'" doCluster=true idKey="'id'" icon="'icon'" 
   		click="'markerClicked'">
   			<!-- <ui-gmap-windows 
          show="'showWindow'" 
          idKey="id"
          models="markers"
          coords="'self'"
          
          templateParameter="'windowParams'"
          isIconVisibleOnClick="'true'"
          closeClick="'closeClick'" ng-cloak>
                    
        </ui-gmap-windows> -->
        <ui-gmap-windows  show="show" templateUrl="'templateUrl'" templateParameter="'templateParameter'">
          <!-- <div ng-non-bindable>Test</div> -->
        </ui-gmap-windows>
      </ui-gmap-markers>
   	</ui-gmap-google-map>
</md-content>

