<md-dialog plumb-item>
    <md-toolbar class="modal-header" md-theme="teal">
        <h1>Data Explorer</h1>
    </md-toolbar>
    <md-content style="margin-top:15px;margin-left:15px;">
        <md-button class="md-raised" ng-csv="dataArray" filename="{{fileName}}.csv" field-separator=",">Export to CSV</md-button>
        <div layout="column">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Observation</th>
                </tr>
                <tr ng-repeat='(keyy,val) in arr.children'>
                    <td style="width:40px;">
                        {{keyy}}
                    </td>
                    <td style="width:160px;">
                        {{val.category}}
                    </td>
                    <td style="width:120px;">
                        {{val.Observation}}
                    </td>
                </tr>
            </table>
        </div>
    </md-content>
    <div class="md-actions" md-theme="indigo" layout="row">
        <md-button style="width:200px" ng-click="closeDialog()" class="md-raised">Ok</md-button>
        <md-button style="width:200px" class="md-raised" ng-click="closeDialog()" class=" md-default">Cancel</md-button>
    </div>
</md-dialog>
