<div class="pre-loader-child" layout="column" layout-align="center center">
            <div class="loader">
              <span>D</span><span>I</span><span>G</span><span>I</span><span>N</span>
              <div class="covers">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
            </div>
            <!-- <img src="styles/css/images/preloaders/Preloader_7/Preloader_7.gif" alt="Washed Out"> -->
            <span style="font-family: 'Roboto Condensed', sans-serif;font-size: 15px;margin-top: 10px;color:#4285F4"><b>Getting Your Environment Ready...</b></span>
            <!-- <md-progress-linear md-mode="indeterminate"></md-progress-linear> -->
</div>