
    <md-toolbar class="modal-header" md-theme="teal">
        <h1>Data Explorer</h1>
    </md-toolbar>
    <md-content style="margin-top:15px;margin-left:15px;">
        <md-button class="md-raised" ng-csv="dataArray" filename="{{fileName}}.csv" field-separator=",">Export to CSV</md-button>
        <div layout="column">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Vehicle Type</th>
                    <th>Vehicle Usage</th>
                    <th>Total</th>
                </tr>
                <tr ng-repeat='(key,val) in arr.children'>
                    <td>
                        {{key}}
                    </td>
                    <td>
                        {{val.name}}
                    </td>
                    <td>
                        <div ng-repeat='(nestedKey,nestedVal) in val.children'>
                            {{nestedVal.name}}
                        </div>
                        <td>
                            {{val.size}}
                        </td>
                        <!--<td ng-repeat='(nestedKey,nestedVal) in val'> {{nestedVal}}-->
                    </td> 
                </tr>
            </table>
        </div>
    </md-content>
    <div class="md-actions" md-theme="indigo" layout="row">
        <md-button style="width:200px" ng-click="closeDialog()" class="md-raised">Ok</md-button>
        <md-button style="width:200px" class="md-raised" ng-click="closeDialog()" class=" md-default">Cancel</md-button>
    </div>

