     
            <div layout="row">
                <div flex="40">
                    <img src="{{widget.widData.pictureUrl}}"/>
                </div>
                <div layout="column" flex="60">
                    <div>
                        <h3>{{widget.widData.firstName}}&nbsp;{{widget.widData.lastName}}</h3>
                    </div>
                    <div>
                        <h5>{{widget.widData.headline}}</h5>
                    </div>
                    <div layout="row">
                        <div>
                            <span>{{widget.widData.numConnections}}</span>
                        </div>
                        <div>
                            <span>&nbsp;connections</span>
                        </div>
                    </div>
                </div>
            </div>
       
 
 