<md-dialog class="widget0s-dialog">
    <div layout="row" layout-xs="column">
        <div flex="75">
            <div class="card-head">
                <header class="graph-h1 text-uppercase">
                    {{widget.widName}}
                </header>
            </div>
            <div class="widget0s-chart.wrap">
                <div class="widget0s-chart-view">
                    <div get-width callback-fn="setChartSize(this)"
                         id="settingChart"
                         ng-include
                         src="widget.widView"></div>
                </div>
            </div>
        </div>
        <div flex="25">
            <div class="widget0s-filter">
                <div class="card-head">
                    <header class="graph-h1 text-uppercase">
                        Filter
                    </header>
                    <div class="tools">
                        <a href="javascript:void(0)" data-ng-click="closeDialog()">
                            <i class="ti-close"></i>
                        </a>
                    </div>
                </div>

                <div class="widget0s-filter-body">

                </div>
            </div>
        </div>
    </div>

</md-dialog>
