<md-content layout-margin flex>
    <div layout="column" ng-repeat="instaImage in widget.widData">
        <md-toolbar layout-align="center center" flex layout-padding>
            <h5>{{instaImage.user.full_name}}</h5>
        </md-toolbar>
        <md-list-item class="md-3-line" layout-margin flex>
            <div class="md-list-item-text">
                <a href="{{instaImage.link}}" target="_blank"><img ng-src="{{instaImage.images.thumbnail.url}}" class="img-circle" /></a>
                <p>Username: {{instaImage.user.username}}</p>
                <p>Date: {{instaImage.created_time * 1000 | date:'MMM d, y HH:mm:ss'}}</p>
                <p>Likes: {{instaImage.likes.count}}</p>
                <p>Commnets count: {{instaImage.comments.count}}</p>
                <p>Caption: {{instaImage.caption.text}}</p>
            </div>
        </md-list-item>
        <md-divider></md-divider>
    </div>
</md-content>