
    
    <md-content style="width:400px;height:400px">
        <div layout="column">
       
            <table>
                <tr>
                    
                    <th>Month</th>
                    <th>Vehicle Type</th>
                    <th>Total of the month</th>
                </tr>
                <tr ng-repeat='item in arr.children'>
                    <td>
                        <h6>{{item.name}}</h6>
                    </td>
                    <td>
                        <div ng-repeat='child in item.children'>
                        <div layout="column">
                            <h6>{{child.name}}</h6>
                            <div layout="column" ng-repeat='usage in child.children'>
                            <div layout="row"><br/>
                                <span>{{usage.name}}</span>&nbsp;&nbsp;
                                <span>{{usage.size}}</span>
                            </div><br/>
                            </div>
                        </div>
                        </div>
                    </td>
                    <td>
                        <h6>{{item.size}}</h6>
                    </td>
                </tr>
            </table>
        </div>
    </md-content>
    

