<md-dialog aria-label="Sample Dialog" class="widget0m-data-dialog2" ng-controller="widgetSettingsDataCtrl" ng-init="initialize()">

    <div class="digin-main-loader slideOutDown "
         ng-if="eventHndler.isMainLoading==true">
        <div class="loader-wrap animated "
             ng-class="eventHndler.isMainLoading==true?'zoomInUp':'fade-out'">
            <div class="loader-body-wrap">
                <span class="loader2"><span class="loader2-inner"></span></span>
                <h3>
                    {{eventHndler.message}}
                </h3>

            </div>

        </div>
    </div>
    
    <div id="canvas">
        <div layout="row">
            <div class="card-head widget0m-data-header">
                <header class="graph-h1 text-uppercase">
                    Data
                </header>
                <div class="tools">
                    <md-button class="buttonMinwidth38" ng-click="close();">      
                      <ng-md-icon icon="close" style="fill:lightgrey" size="24" layout="row"></ng-md-icon>        
                    </md-button> 
                </div>
            </div>

        </div>

        <div class="table-body">
            <div class="widget-data-loading" ng-if="isTableSourceLoading">
                Please wait..
            </div>
            <div class="layout-row" layout="row">
                    <div class="widget0m-mapped-data2">
                              <md-content>
                                  <md-input-container class="md-icon-float md-block width100percent">
                                      <label>Filter</label>
                                      <input type="text" ng-model="query" ng-change="updateFilteredList(query)">
                                  </md-input-container>
                                  <div class="table-area">
                                  <table class="table table-striped" at-table at-list="tableData" at-config="config" at-paginated>
                                    <thead>
                                      <tr><th at-attribute={{field}} ng-repeat="field in fieldData">{{field}}</th></tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="item in tableData">
                                        <td at-implicit at-sortable at-attribute="id" at-initial-sorting="asc"></td>
                                        <td at-implicit at-sortable at-attribute={{field}} ng-repeat="field in fieldData"  ></td>
                                      </tr>
                                    </tbody>
                                    <!-- <thead>
                                      <tr> <th at-attribute="avg_lat">avgLat</th></tr>
                                      <tr> <th at-attribute="airport">airport</th></tr>
                                    </thead>
                                    <tbody>
                                      <td at-implicit at-sortable at-attribute="avg_lat" at-initial-sorting="asc"></td>
                                      <td at-implicit at-sortable at-attribute="airport"></td>
                                    </tbody> -->
                                      
                                  </table>
                                  </div>
                                  <at-pagination class="custom-pagination" at-list="tableData" at-config="config"></at-pagination>
                              </md-content>
                    </div>                
            </div>
        </div>
    </div>

    <md-button ng-click="downloadPDF()">Download</md-button>

</md-dialog>


