<md-content layout-margin flex>
<div layout="column">
     <button type="button" class="btn btn-success" ng-click="getMore()">{{widget.widData.length}} profiles loaded, Click for more</button><br/>
</div>
    <div layout="column" ng-repeat="p in widget.widData | orderBy:orderBy"> <!-- widget.widData -->
        <md-toolbar layout-align="center center" flex layout-padding>
            <h5>{{p.user.full_name}}</h5>
        </md-toolbar>
        <md-list-item class="md-3-line" layout-margin flex>
            <div class="md-list-item-text">
                <a href="{{p.link}}" target="_blank"><img ng-src="{{p.user.profile_picture}}" class="img-circle"/></a>
                <p>Username: {{p.user.username}}</p>
                <p>Date: {{p.created_time * 1000 | date:'MMM d, y HH:mm:ss'}}</p>
                <p>Likes: {{p.likes.count}}</p>
                <p>Commnets count: {{p.comments.count}}</p>
            </div>
        </md-list-item>
        <md-divider></md-divider>
    </div>
</md-content>