<md-content flex>
  <div ng-repeat="post in widget.widData.posts track by $index" flex style="border-bottom: 1px solid #D8D8D8;">
      <md-card layout-margin flex layout="column">
        <h4 layout-margin>{{post.title}}</h4>
        <md-list-item class="md-3-line" layout-margin flex>
          <img class="md-avatar" src="{{post.picURL}}"/>
          <div class="md-list-item-text">
            <h3 style="line-height: 1.0em;">{{post.authorName}}</h3>
            <h3 style="line-height: 1.0em;">comments : {{post.comments}}</h3>
            <h3 style="line-height: 1.0em;">date : {{post.date}}</h3>
          </div>
        </md-list-item>
      </md-card>  
  </div>
</md-content>


