           <md-card class="darkbox">
               <md-card-content>
                 <div layout="row">
                  <div flex><!-- location deatails start -->
                  <h3 class="detfont">{{ widget.widData.results.channel.location.city }}</h3>
                  <div>
                        <div layout="row" layout-sm="column">
                          <div flex="30"><img class="img-thumbnail forecast-img" src="http://l.yimg.com/a/i/us/we/52/{{widget.widData.results.channel.item.condition.code}}.gif" /></div>
                          <div flex="20"><font class="tem"><div class="count" id="count">{{widget.widData.results.channel.item.condition.temp}}{{widget.widData.results.channel.units.temperature}}</div></font>
                          </div>
                          <div flex="20"><h1></h1></div>
                        </div> 
                    <h4>{{ widget.widData.results.channel.item.condition.text }}</h4>
                  </div>
                  <h3 class="detfont">{{ widget.widData.results.channel.item.condition.date }} {{widget.widData.results.channel.location.country}}</h3>
                  
                  </div><!-- location deatails finish -->
                    <div flex>
                      <div class="midbox" layout="row" layout-sm="column">
                        <div flex>
                          <h4><img style="height:25px;width:25px;" src="styles/css/images/Shining_sun_32 (2).png" />Sunrise {{widget.widData.results.channel.astronomy.sunrise}}</h4>
                          <h4><img style="height:25px;width:25px;" src="styles/css/images/raindroRain_drop_32p2.png" /> Humidity {{widget.widData.results.channel.atmosphere.humidity}}%</h4>
                          <h4><img style="height:25px;width:25px;" src="styles/css/images/Wind_sleeve_pointing_left_32 (2).png" />Wind Speed {{widget.widData.results.channel.wind.speed}}{{widget.widData.results.channel.units.speed}}</h4>
                        </div>
                        <div flex>
                          <h4><img style="height:25px;width:25px;" src="styles/css/images/sun42.png" /> Sunset {{widget.widData.results.channel.astronomy.sunset}}</h4>
                          <h4> <img style="height:25px;width:25px;" src="styles/css/images/Hot_thermometer_32 (2).png" />Pressure {{widget.widData.results.channel.atmosphere.pressure}} {{widget.widData.results.channel.units.pressure}}</h4>
                          <h4><img style="height:25px;width:25px;" src="styles/css/images/Big_Compass_32 (1).png" />Wind Direction {{widget.widData.results.channel.wind.direction}}</h4>
                        </div>
                      </div>
                    </div>
                </div>
                
               </md-card-content>
               <md-card-footer>
               </md-card-footer>
          </md-card>
              