<md-content layout-margin flex>
    <div layout="row" layout-align="center center" class="p-b-20">
        <img ng-src="styles/css/images/icons/rss.svg" wdith="30" height="30">
        <div class="widget-header font-wp-grey">Feeds</div>
    </div>
    <div ng-repeat="feed in widget.widData.feeds track by $index">
            <md-list-item class="md-3-line p-0" flex>
              <div layout="column" class="data-container1">
                <div class="data-slot1 background-wp-grey" layout="row">{{feed.title}}</div>
                <div layout="row" class="background-digin-blue padding-5">
                    <div flex="20" class="padding-10"><img class="custom-avatar2" src="{{feed.mediaGroups[0].contents[0].url}}"/>
                    </div>
                    <div layout="column" flex="80" class="data-slot2">
                        <div class="data-slot3 margin-bottom-5"layout="row">
                            <div class="data-field3 background-rss-orange">Published Date</div>
                            <div class="data-item1 background-wp-grey">{{feed.publishedDate}}</div>
                        </div>
                        <div class="data-slot3" layout="row">
                            <div class="data-field3 background-rss-orange">Summary</div>
                            <div class="data-item1 background-wp-grey">{{feed.contentSnippet}}</div>
                        </div>
                    </div>
                </div>
                </div>
            </md-list-item>   
    </div>
</md-content>

<!-- <md-content layout-margin flex>
    <div layout="column" ng-repeat="entry in widget.widData.feeds">
            <md-card layout-margin flex layout="column" style="border: 1px solid #D8D8D8;box-shadow: 2px 2px 2px rgba(188, 188, 188);background-color: rgb(238, 238, 238);
    border-radius: 5px;"> 
                <h4 layout-margin><a style="color:black" target="_blank" href="{{entry.link}}">{{entry.title}}</a></h4>
            <md-list-item class="md-3-line" layout-margin flex>
                <div class="md-list-item-text">
                   
                    <h3 style="line-height: 1.0em;">Published Date: {{entry.publishedDate}} </h3>
                    <h3 style="line-height: 1.0em;">Summary: {{entry.contentSnippet}}</h3>             
                    <h3 style="line-height: 1.0em;">Author: {{entry.author}}</h3>
                </div>
            </md-list-item>
            </md-card>  
    </div>
</md-content> -->
