<md-content ng-controller="gmapsController" class="overflowscroll height100percent">
        <div layout="column" layout-align="center center" layout-margin>
            <table class="width100percent">
                <tr>
                    <th>Branch</th>
                    <th>field1</th>
                    <th>field2</th>
                </tr>
                <tr ng-repeat='row in dataTable'>
                    <td style="width:40px;">
                        {{row.templateParameter.branch}}
                    </td>
                    <td style="width:80px;">
                        {{row.templateParameter.field1}}
                    </td>
                    <td style="width:100px;">
                        {{row.templateParameter.field2}}
                    </td>
                </tr>
            </table>
        <div>
</md-content>
