<md-dialog plumb-item>
  <md-toolbar class="modal-header" md-theme="teal">  
    <h1>Data Explorer</h1>
  </md-toolbar>
  <md-content style="margin-top:15px;margin-left:15px;">
  <md-button class="md-raised" ng-csv="dataArray" filename="{{fileName}}.csv" field-separator=",">Export to CSV</md-button>
  <div layout="column"> 
      <!-- <div layout="column" ng-repeat="s in mappedSeries" style="width:100%">
        <div layout="row" style="width:100%">
          <span flex="50"><b>Category</b></span>
          <span flex="50"><b>{{s.name}}</b></span>
        </div>
        <div layout="row" ng-repeat="d in s.data" style="width:100%">
          <span flex="50">{{d.cat}}</span>
          <span flex="50">{{d.val}}</span>
        </div>
        <md-divider ng-if="!$last" style="margin-right:15px;margin-bottom:10px;"></md-divider>
      </div> -->
      <div layout="column" ng-repeat="s in mappedSeries" style="width:100%;margin-right:15px;">
      <table style="width:100%;">

       <tr>
          <th>Category</th>
          <th>{{s.name}}</th>
      </tr>
      <tr ng-repeat="d in s.data">

      <td>
        {{d.cat}}
      </td>
      <td>
        {{d.val}}
      </td>
      </tr>
  
      </table>
       </div>
    </div>  
  </md-content>
  <div class="md-actions" md-theme="indigo"  layout="row">
    <md-button style="width:200px" ng-click="closeDialog()"   class="md-raised">Ok</md-button>
    <md-button style="width:200px"  class="md-raised"   ng-click="closeDialog()" class=" md-default">Cancel</md-button>
  </div>
</md-dialog>

