<!DOCTYPE html>
<html>

<head>
    <title>Google+ Widget</title>
    <script src="https://apis.google.com/js/plus.js?onload=init"></script>
    <link rel="stylesheet" href="../duodigin/styles/css/Googleplus.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
    gapi.load('auth2', function() {
        gapi.client.load('plus', 'v1').then(function() {
            gapi.signin2.render('signin-button', {
                scope: 'https://www.googleapis.com/auth/plus.login',
                fetch_basic_profile: false

            });
            gapi.auth2.init({
                fetch_basic_profile: false,
                scope: 'https://www.googleapis.com/auth/plus.login'
            }).then(
                function() {
                    console.log('init');
                    auth2 = gapi.auth2.getAuthInstance();
                    auth2.isSignedIn.listen(updateSignIn);
                    auth2.then(updateSignIn());
                });
        });
    });
    </script>
    <meta name="google-signin-client_id" content="259839742765-nq163rith421537lnfjt5dor1gr8c3jn.apps.googleusercontent.com"></meta>
</head>

<body>
    <div layout="column" class="relative" layout-fill role="main">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row">
                <p style="font-size:1em;margin-left:auto;margin-right:auto;">
                    Google Plus Widget
                </p>
                <button id="disconnect" style="width:90px;height:37px;color: black; background-color: #FFFFFF; font-face: 'Comic Sans MS'; font-size: smaller;">Signout</button>
            </div>
        </md-toolbar>
        <md-content md-scroll-y>
            <ui-view layout="column" layout-fill layout-padding>
                <div class="inset"></div>
                <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
                    <md-card flex-gt-sm="90" flex-gt-md="80">
                        <md-card-content>
                            <md-list>
                                <md-item>
                                    <md-item-content>
                                        <div class="md-tile-content">
                                            <div id="authOps" style="display:none">
                                                <h6>Profile information</h6>
                                                <div id="profile"></div>
                                                <h6>Followers</h6>
                                                <div id="followerss"></div>
                                                <h6>Followings</h6>
                                                <div id="followinglist"></div>
                                                <h6>User contact</h6>
                                                <div id="placelist"></div>
                                                <h6>Organizations</h6>
                                                <div id="orglist"></div>
                                                <h6>Connected</h6>
                                                <div id="connectedPeople"></div>
                                                <h6>Activity</h6>
                                                <div id="activitylist"></div>
                                                <h6>Total friends</h6>
                                                <div id="visiblePeople"></div>
                                            </div>
                                        </div>
                                    </md-item-content>
                                    <md-divider hide-sm ng-if="!$last"></md-divider>
                                </md-item>
                                <md-divider></md-divider>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>
            </ui-view>
        </md-content>
    </div>
    <script type="text/javascript" src="../duodigin/scripts/controllers/Googleplus.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</body>

</html>
