<!doctype html>
<html data-ng-app="YouTubeData">
  <head>
    
     <title>YouTubeSearch</title>
    <meta charset="utf-8"> 
    <meta name="author" content="Thisura">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../styles/css/youtube.css" type="text/css">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Scada:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='http://homepages.uc.edu/~arthurra/resource/font-awesome/font-awesome.css' rel='stylesheet'>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css'>
  </head>
  <body data-ng-controller="VideosController">
   <header>
      
    
    </header> 
    
  <form data-ng-submit="search()" >
       
   <h1><strong></strong></h1>
     <div class='container'>
      <div class='search-container'>
        <input placeholder='search' type='text' name="q" data-ng-model="query">

        <a alt='Search' type="submit">
          <!-- <i class='icon-search'></i> -->
        </a>
      </div>
    </div>
       </form> 


    
    <div id="results">
      <div class="video" data-ng-repeat="video in results" data-ng-click="queue(video.id, video.title)">
        <img class="video-image" data-ng-src="{{ video.thumbnail }}">
        <label class="tagg" title="Description:">Title:</label><p class="video-title">{{ video.title }}</p>
        <label class="tagg" title="Description:">Author:</label><p class="video-author">{{ video.author }}</p>
        <label class="tagg" title="Description:">Description:</label><p class="video-description">{{ video.description }}</p>
        <label class="tagg" title="Description:">Uploaded Date and Time:</label><p class="video-description">{{ video.datetimee}}</p> 
        <label class="tagg" title="Description:">Broadcast Content:</label><p class="video-description">{{ video.lbc}}</p>
        <label class="tagg" title="Description:">Channel ID:</label><p class="video-description">{{ video.ciid}}</p>
        <label class="tagg" title="Description:">Kind:</label><p class="video-description">{{ video.kidd}}</p> 
        <label class="tagg" title="Description:">Video ID:</label><p class="video-description">{{ video.id}}</p> 
       <!--  <label class="tagg" title="Description:">Playlist ID:</label><p class="video-description">{{ video.pliid}}</p>  -->
      


      </div>
    </div>
    
       
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
   <script src="../scripts/controllers/YoutubeCtrl.js"></script>


   

 


  </body>
</html>

