<!DOCTYPE html>
<html>

<head>
    <title>Google+</title>
    <link rel="stylesheet" href="../styles/css/Googleplus.css" type="text/css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <script src="https://apis.google.com/js/client:platform.js?onload=startApp" async defer></script>
    <!-- JavaScript specific to this application that is not related to API
     calls -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="158536425125-rgrgvk6sg44uosq2nu3g44n81r9j2ncl.apps.googleusercontent.com"></meta>
</head>

<body>
    <div layout="column" class="relative" layout-fill role="main">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row">
                <p style="font-size:1em;margin-left:auto;margin-right:auto;">
                    Google Plus Widget
                </p>
                <div id="signin-button"></div>
            </div>
        </md-toolbar>
        <md-content md-scroll-y>
            <ui-view layout="column" layout-fill layout-padding>
                <div class="inset" hide-sm></div>
                <ng-switch on="data.selectedIndex" class="tabpanel-container">
                    <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
                        <md-card flex-gt-sm="90" flex-gt-md="80">
                            <md-card-content>
                                <!-- <p>Feeds</p> -->
                                <md-list>
                                    <md-item ng-repeat="entry in entryArray">
                                        <md-item-content>
                                            <div class="md-tile-content">
                                                <div>
                                                    <h3 align="center">Google Plus widget</h3>
                                                    <div id="gConnect" align="center">
                                                        <div id="signin-button"></div>
                                                    </div>
                                                </div>
                                                <div id="authOps" style="display:none">
                                                    <h2>Welcome!....You are now signed in to the Google+ widget using Google credentials</h2>
                                                    <button id="disconnect">Signout</button>
                                                    <h6>Profile information</h6>
                                                    <div id="profile"></div>
                                                    <h6>Followers</h6>
                                                    <div id="followerss"></div>
                                                    <h6>Followings</h6>
                                                    <div id="followinglist"></div>
                                                    <h6>User contact</h6>
                                                    <div id="placelist"></div>
                                                    <h6>Organizations</h6>
                                                    <div id="orglist"></div>
                                                    <h6>Connected</h6>
                                                    <div id="connectedPeople"></div>
                                                    <h6>Activity</h6>
                                                    <div id="activitylist"></div>
                                                    <h6>Total friends</h6>
                                                    <div id="visiblePeople"></div>
                                                </div>
                                            </div>
                                        </md-item-content>
                                        <md-divider hide-sm ng-if="!$last"></md-divider>
                                    </md-item>
                                    <md-divider></md-divider>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div>
                </ng-switch>
            </ui-view>
        </md-content>
    </div>
    <script type="text/javascript">
    var auth2 = {};
    var helper = (function() {
        return {
            /**
             * Hides the sign in button and starts the post-authorization operations.
             *
             * @param {Object} authResult An Object which contains the access token and
             *   other authentication information.
             */
            onSignInCallback: function(authResult) {
                $('#authResult').html('Auth Result:<br/>');
                for (var field in authResult) {
                    $('#authResult').append(' ' + field + ': ' +
                        authResult[field] + '<br/>');
                }
                if (authResult.isSignedIn.get()) {
                    $('#authOps').show('slow');
                    $('#gConnect').hide();
                    helper.profile();
                    helper.people();
                    helper.peoplee();
                    helper.peopless();
                    helper.activities();
                    helper.organizationsu();
                    helper.placestofind();
                    helper.followings();

                } else if (authResult['error'] ||
                    authResult.currentUser.get().getAuthResponse() == null) {
                    // There was an error, which means the user is not signed in.
                    // As an example, you can handle by writing to the console:
                    console.log('There was an error: ' + authResult['error']);
                    $('#authResult').append('Logged out');
                    $('#authOps').hide('slow');
                    $('#gConnect').show();
                }

                console.log('authResult', authResult);
            },

            /**
             * Calls the OAuth2 endpoint to disconnect the app for the user.
             */
            disconnect: function() {
                // Revoke the access token.
                auth2.disconnect();
            },

            /**
             * Gets and renders the list of people visible to this app.
             */
            people: function() {
                gapi.client.plus.people.list({
                    'userId': 'me',
                    'collection': 'visible'
                }).then(function(res) {
                    var people = res.result;
                    $('#visiblePeople').empty();
                    $('#visiblePeople').append('<p>Total number of friends: ' +
                        people.totalItems + '</p><br/>');
                    for (var personIndex in people.items) {
                        person = people.items[personIndex];
                        $('#visiblePeople').append('<p>' + '</br> Name:' + person.displayName + '</br>' + '<img src="' + person.image.url + '">' + '</p><br/>');
                    }
                });
            },

            peoplee: function() {
                gapi.client.plus.people.list({
                    'userId': 'me',
                    'collection': 'visible'
                }).then(function(res) {
                    var people1 = res.result;
                    $('#followerss').empty();
                    $('#followerss').append('<p>Number of followers: ' +
                        people1.totalItems + '</p><br/>');
                    for (var personIndex in people1.items) {
                        person1 = people1.items[personIndex];
                        $('#followerss').append('');
                    }
                });
            },

            peopless: function() {
                gapi.client.plus.people.list({
                    'userId': 'me',
                    'collection': 'connected'
                }).then(function(res) {
                    var peoplee = res.result;
                    $('#connectedPeople').empty();
                    $('#connectedPeople').append('<p>Number of connected people of the user: ' +
                        peoplee.totalItems + '</p><br/>');
                    for (var personIndex in peoplee.items) {
                        personn = peoplee.items[personIndex];
                        $('#connectedPeople').append('<img src="' + person.image.url + '">');
                    }
                });
            },

            /**
             * Gets and renders the list of activities visible to this app.
             */

            activities: function() {
                gapi.client.plus.activities.list({
                    'userId': 'me',
                    'collection': 'public'
                }).then(function(res) {

                    var activitiess = res.result;
                    $('#activitylist').empty();
                    // $('#activitylist').append('');
                    for (var activityIndex in activitiess.items) {
                        activityy = activitiess.items[activityIndex];
                        $('#activitylist').append('<h6>Post Title: ' +
                            activityy.title + '</h6>' + '<p> No of replies: ' + activityy.object.replies.totalItems + '</br> No of plusoners: ' + activityy.object.plusoners.totalItems + '</br> No of resharers: ' + activityy.object.resharers.totalItems + '</p></p><br/>');
                    }
                    // console.log('activitylist', res.result);
                    // console.log("Done!");
                });
            },


            organizationsu: function() {
                gapi.client.plus.people.get({
                    'userId': 'me',

                }).then(function(res) {

                    var org = res.result;
                    $('#orglist').empty();
                    // $('#orglist').append(
                    //   $('<p>test: ' +
                    //    org.organizations + '</p><br/>'));
                    for (var orgIndex in org.organizations) {
                        orgs = org.organizations[orgIndex];
                        $('#orglist').append('<p> User organizations: ' + orgs.name + '</p><br/>');
                    }
                    // console.log('orglist',res.result);
                    // console.log("Done!");
                });
            },

            placestofind: function() {
                gapi.client.plus.people.get({
                    'userId': 'me',

                }).then(function(res) {

                    var places = res.result;
                    $('#placelist').empty();
                    // $('#orglist').append(
                    //   $('<p>test: ' +
                    //    org.organizations + '</p><br/>'));
                    for (var placeIndex in places.placesLived) {
                        placess = places.placesLived[placeIndex];
                        $('#placelist').append('<p> User contact: ' + placess.value + '</p><br/>');
                    }
                    // console.log('orglist',res.result);
                    // console.log("Done!");
                });
            },


            followings: function() {
                gapi.client.plus.people.get({
                    'userId': 'me',

                }).then(function(res) {

                    var following = res.result;
                    $('#followinglist').empty();
                    $('#followinglist').append(
                        $('<p> User followings: ' +
                            following.circledByCount + '</p><br/>'));
                    for (var folowingIndex in following.circledByCount) {
                        follow = following.circledByCount[folowingIndex];
                        $('#followinglist').append('<p>' + '</br> Name:' + follow.displayName + '</br>' + '<img src="' + follow.image.url + '">' + '</p><br/>');
                    }
                    // console.log('orglist',res.result);
                    // console.log("Done!");
                });
            },


            /**
             * Gets and renders the currently signed in user's profile data.
             */
            profile: function() {
                gapi.client.plus.people.get({
                    'userId': 'me'
                }).then(function(res) {
                    var profile = res.result;
                    console.log(profile);
                    $('#profile').empty();
                    $('#profile').append(
                        $('<p><img src=\"' + profile.image.url + '\"></p>'));
                    $('#profile').append(
                        $('<p>Profile Name: ' + profile.displayName + '<br />Tagline: ' +
                            profile.tagline + '<br />About: ' + profile.aboutMe + '</p>'));
                    if (profile.emails) {
                        $('#profile').append('<br/>Emails: ');
                        for (var i = 0; i < profile.emails.length; i++) {
                            $('#profile').append(profile.emails[i].value).append(' ');
                        }
                        $('#profile').append('<br/>');
                    }
                    if (profile.cover && profile.coverPhoto) {
                        $('#profile').append(
                            $('<p><img src=\"' + profile.cover.coverPhoto.url + '\"></p>'));
                    }
                }, function(err) {
                    var error = err.result;
                    $('#profile').empty();
                    $('#profile').append(error.message);
                });
            }
        };
    })();

    /**
     * jQuery initialization
     */
    $(document).ready(function() {
        $('#disconnect').click(helper.disconnect);
        $('#loaderror').hide();
        if ($('meta')[0].content == 'YOUR_CLIENT_ID') {
            alert('This sample requires your OAuth credentials (client ID) ' +
                'from the Google APIs console:\n' +
                '    https://code.google.com/apis/console/#:access\n\n' +
                'Find and replace YOUR_CLIENT_ID with your client ID.'
            );
        }
    });

    /**
     * Handler for when the sign-in state changes.
     *
     * @param {boolean} isSignedIn The new signed in state.
     */
    var updateSignIn = function() {
        console.log('update sign in state');
        if (auth2.isSignedIn.get()) {
            console.log('signed in');
            helper.onSignInCallback(gapi.auth2.getAuthInstance());
        } else {
            console.log('signed out');
            helper.onSignInCallback(gapi.auth2.getAuthInstance());
        }
    }

    /**
     * This method sets up the sign-in listener after the client library loads.
     */
    function startApp() {
        gapi.load('auth2', function() {
            gapi.client.load('plus', 'v1').then(function() {
                gapi.signin2.render('signin-button', {
                    scope: 'https://www.googleapis.com/auth/plus.login',
                    fetch_basic_profile: false
                });
                gapi.auth2.init({
                    fetch_basic_profile: false,
                    scope: 'https://www.googleapis.com/auth/plus.login'
                }).then(
                    function() {
                        console.log('init');
                        auth2 = gapi.auth2.getAuthInstance();
                        auth2.isSignedIn.listen(updateSignIn);
                        auth2.then(updateSignIn());
                    });
            });
        });
    }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</body>

</html>
