<md-dialog aria-label="Sample Dialog" class="widget0m-data-dialog">
    <div layout="row">
        <div class="card-head widget0m-data-header">
            <header class="graph-h1 text-uppercase">
                {{widget.uniqueType}}
            </header>
            <div class="tools">
                <a href="javascript:void(0)" data-ng-click="cancel()">
                    <i class="ti-close"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="table-body">
        <div class="layout-row" layout="row">
            <div flex="70">
                <div class="widget0m-mapped-data">
                    <table id="table" class="table table-hover table-mc-light-blue">
                        <thead>
                        <tr>
                            <th ng-repeat="attribute in widget.attributes">
                                {{attribute}}
                            </th>
                        </tr>
                        </thead>
                        <tbody id="dataBody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div flex="30">
                <div class="mapped-details">
                    <ul class="widget-collection">
                        <li class="collection-item">
                            <span class="collection-header">{{widget.className}}</span>
                            <span class="task-cat cyan">class name</span>
                        </li>
                        <li class="collection-item">
                            <span ng-repeat="attribute in widget.attributes">
                                <span class="task-cat grey"> {{attribute}}</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</md-dialog>