<div class="card-container">
    <h1 class="search-header" md-colors="{color:'{{$root.h1color}}-A700'}">Dashboards </h1>
	<md-divider style="margin-right:45px;margin-left:45px"></md-divider>
	<div layout="row" layout-align="center center" layout-wrap>
		<md-card ng-repeat="dashboard in dashboards"  flex-xs="100" flex-sm="20" flex-gt-sm="20" flex-gt-lg="15" class="product_card" md-colors="{background:'primary-800'}" ng-click="diginComponents.goDashboard($event,dashboard)">
			<div layout="row" layout-align="space-between start" style="padding-bottom:5px;">
				<span class="product_name" style="border-bottom: 1px solid #white;">{{dashboard.compName}}</span>
			</div>
			<div layout="row" layout-align="end end">
				<i class="ti-pie-chart" md-colors="{color:'accent-900'}"  style="font-size: 130px;"></i>
			</div>
		</md-card>
		<div style="padding:40px" ng-if="dashboards.length == 0 && componentsLoaded == true" layout="row"><i class="ti-pie-chart" style="font-size: 30px;padding-right: 20px;"></i><p style="font-size:24px;margin:0px">There are no dashboards</p></div>
		<div style="padding:40px" ng-show="componentsLoaded == false" layout="row"><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40" style=" padding-right: 45px"></md-progress-circular><p style="font-size:24px;margin:0px">Loading Dashboards</p></div>
	</div>

	<h1 class="search-header" md-colors="{color:'{{$root.h1color}}-A700'}">Reports</h1>
	<md-divider style="margin-right:45px;margin-left:45px"></md-divider>
    <div layout="row" layout-align="center center" layout-wrap>
		<md-card ng-repeat="report in reports" flex-xs="100" flex-sm="20" flex-gt-sm="20" flex-gt-lg="15" class="product_card" md-colors="{background:'primary-900'}"  ng-click="diginComponents.goReport(report)">
			<div layout="row" layout-align="space-between start" style="padding-bottom:5px;">
				<span class="product_name" style="border-bottom: 1px solid #white;">{{report.compName}}</span>
			</div>
			<div layout="row" layout-align="end end">
				<i class="ti-bar-chart" md-colors="{color:'accent-900'}" style="font-size: 130px;"></i>
			</div>
		</md-card>
		<div style="padding:40px" ng-if="reports.length == 0 && componentsLoaded == true" layout="row"><i class="ti-bar-chart" style="font-size: 30px;padding-right: 20px;"></i><p style="font-size:24px;margin:0px">There are no reports</p></div>
		<div style="padding:40px" ng-show="componentsLoaded == false" layout="row"><md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="40" style=" padding-right: 45px"></md-progress-circular><p style="font-size:24px;margin:0px">Loading Reports</p></div>
	</div> 
</div>
