<style>

md-dialog.md-dialog-fullscreen {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#fullscreen_widgets{
	height: 100%;
}

th{
	text-align:start;
	padding: 14px;
	font-weight: 300;
	font-size: 13px;
}

.md-table-row-light{
	border-bottom: 1px solid #ececec;
	transition: background-color .2s;
}

.md-table-row-dark{
	border-bottom: 1px solid #565656;
	transition: background-color .2s;
}

.md-table-row-light:hover{
	background-color: rgba(158,158,158,0.2);
}

.md-table-row-dark:hover{
	background-color: rgba(158,158,158,0.2);
}

</style>

<md-dialog aria-label="Fullscreen Widget">
	<md-toolbar class="modal-header" style="max-height:45px;min-height:45px">
		<div class="md-toolbar-tools">
		   <div layout="row" layout-align="center center">
			<h2>{{widget.widgetName}}</h2>
		  </div>
		  <span flex></span>
		  <md-button class="md-icon-button icon-cancel" ng-click="$root.cancel()" aria-label="Close">
		  </md-button>
		</div>
	</md-toolbar>
	<md-content style="min-width:385px;height:100%">
	  		<md-card style="margin:0 auto;max-width:960px;margin-top: 30px;">
				<div layout="row" layout-align="end center">
					<input ng-class="{'applyDarkBackground': $root.applyDark == true}" placeholder="search" name="search" ng-model="searchTable" is-disabled-dark aria-label="search" style="margin-right:10px;"/>
			
				</div>
				<table style="width:100%;border-collapse: collapse;table-layout: fixed;">
					<tr ng-class="{'md-table-row-light': $root.applyDark == false, 'md-table-row-dark': $root.applyDark == true}">
						<th ng-repeat ="heading in headings" style="font-size:15px;font-weight: 700;opacity: .5;">{{heading}}</th>
					</tr>
				</table>
			</md-card>
		<md-card md-virtual-repeat-container style="margin:0 auto;max-width:960px;height:calc(100vh - 160px);border-radius: 0px;">
			<table style="width:100%;border-collapse: collapse;table-layout: fixed;">
				<tr ng-class="{'md-table-row-light': $root.applyDark == false, 'md-table-row-dark': $root.applyDark == true}" ng-repeat="val in data | filter:searchTable">

					<td ng-repeat ="heading in headings"> {{val[heading]}} </td> 
				</tr>
			</table>
		</md-card>
	</md-content>
</md-dialog>