
<md-dialog style="width:730px;height:500px">
  <md-dialog-content layout="column">

		<footer style="width:100%;right:0px;bottom:0px;position:fixed;">
			<md-tabs id="pagingTabs" md-selected="vm.selectedPage" md-align-tabs="bottom">
			  <md-tab id="tab1" md-on-select="selectPage($index)">
				<md-tab-label layout="row" layout="space-between center">
					<span  style="text-transform:none;padding-right:20px;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" flex>System Settings</span>
					<span flex></span>
				</md-tab-label>
				<md-tab-body>

				sdsfdsdf
				sdfsdfsdf
				sdfsdfsdf
				</md-tab-body>
			  </md-tab>
			  	  <md-tab label="add page">
				<md-tab-label layout="row" layout="space-between center">
					<span  style="text-transform:none;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" flex>
						Data Set Settings
					</span>
				</md-tab-label>
				<md-tab-body>
			sdfsdfs
			dfsdfs
			dfsdfsd

				</md-tab-body>
			  </md-tab>
			</md-tabs>

		</footer>

    </md-dialog-content>
</md-dialog>