<div class="setup-wrapper  animated fadeIn">

        <div class="setting-wrap">
			<div layout="row" layout-align="end end">
				<md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="route('welcome')"></md-button>
			</div>

			<div class="setting-card-header">
                <h5>System Setting</h5>
                <div class="setting-img-wrap">
                    <img src="styles/css/images/setting/user_settings.png"/>
                </div>
			</div>
			
			<div layout="row" layout-align="start start">
			<div style="padding:10px;background:rgb(212, 212, 212) !important;color:#f9a624;font-weight:700">Settings</div>
			</div>

            <form name="frmNewUser" autocomplete="off">
    
				
				<div layout="column" flex style="padding: 10px 10px 10px 10px;">
					<label>Cache Lifetime (Sec)</label>
					<input ng-model="cacheLifetime" type="number" class="form-control" step="1" min="0" flex/>
				</div>
                <!--div layout="column" flex style="padding: 10px 10px 10px 10px;">
					<label>Number of Widgets</label>
					<md-select ng-model="noOfWidget">
						<md-option ng-value="topping.name" ng-repeat="topping in toppings">{{topping.name}}
						</md-option>
					</md-select>
                </div-->

                <div layout="column" flex style="padding: 10px 10px 10px 10px;">
					<label>Request Limit</label>
					<md-select ng-model="reqLimit">
						<md-option ng-value="request.name" ng-repeat="request in requests">{{request.name}}
						</md-option>
					</md-select>
				</div>

                <div layout="column" flex style="padding: 10px 10px 10px 10px;">
			        <md-checkbox ng-model="components">
			            Save Dashboard Explicitly
			        </md-checkbox>
				</div>				
				
				<div layout="row" layout-align="center center" style="margin-top:20px;">
					<button type="button" class="blut-edit-btn" style="margin:10px 10px 10px 10px" ng-click="updateSettings()">
						Update Settings
					</button>
				</div>
			</form>
				
			<div layout="row" layout-align="start start">
			<div style="padding:10px;background:rgb(212, 212, 212) !important;color:#f9a624;font-weight:700">Cache</div>
			</div>
			
            <form name="frmNewUser" autocomplete="off">
				<div layout="column" flex style="padding: 10px 10px 10px 10px;">
					<label>Clear Cache</label>
					<md-select ng-model="clearDetail">
						<md-select-label>{{ clearDetail.name }}</md-select-label>
						<md-option ng-value="clearDetail.name" ng-repeat="clearDetail in clearDetails">
							{{clearDetail.name}}
						</md-option>
					</md-select>
				</div>
				<div layout="row" layout-align="center center" style="margin-top:20px;">
					<button type="button" class="blut-edit-btn" style="margin:10px 10px 10px 10px" ng-click="clearCache()">
						Clear Cache
					</button>
				</div>
            </form>
     </div>
</div>
