<style>
path {
    /*stroke: #fff;*/
    fill-rule: evenodd;
}

text {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
/*add tooltip*/

.tooltip {
    position: absolute;
    /*            top: 200px;*/
    
    /*left: 20%;*/
    -moz-border-radius: 5px;
    border-radius: 3px;
    border: 1px solid #9E9E9E;
    background: rgba(249, 249, 249, .85);
    opacity: .9;
    color: black;
    padding: 8px;
    /*width: 400px;*/
    font: 12px sans-serif;
    font-size: 12px;
    z-index: 10;
}

.tooltip .title {
    font-size: 13px;
}

.tooltip .name {
    font-weight: bold;
    font-size: 15px;
}
</style>
<script type="text/javascript">



</script>

<div ng-controller="sunburstCtrl">
   
    <canvas id="canvas"  width="1000px" height="600px" style="display:none"></canvas>
    <div id= "{{ hierarData.id }}" style="height:100vh;width:100%;" layout="column" layout-align='center center'>
        <sunburst-chart chart-data="hierarData"/>
        <!-- <div id="SunBurstToolTip"></div> -->
    </div>
</div>

