<form name="whatifSettingsForm" ng-submit="submit()">

	<div id="widget_settings_header" ng-include="'views/query_builder/widget_settings_header.html'"></div>
 
 	<md-content style="overflow-y:scroll;height:calc(100% - 130px);padding: 20px 0px 20px 0px">
	
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
				<span> Widget Title </span>
				<input ng-model="whatifSettings.widgetName"  aria-label="widgetName" name="widgetName" required>
				<div ng-messages="whatifSettingsForm.widgetName.$error">
					<div ng-message="required">Widget title can not be a blank</div>
				</div>
			</md-input-container> 
		</div>

		<div layout="row" layout-align="space-between center" ng-show="whatifSettings.seriesList.length > 0">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Selected Measures</div>
		</div>
		
		<md-list>
			<md-list-item class="secondary-button-padding" ng-repeat="series in whatifSettings.seriesList" style="border: 1px solid #dddddd;border-radius: 3px;margin-bottom:4px;padding:0px 5px">
				<p style="padding:8px">{{series.name}}</p>
				<i class="ti-key md-secondary md-hue-3" aria-label="target" style="font-size:20px;" 
					ng-click="setAsTarget($event, series)"
					ng-style="whatifSettings.eqconfig.targets.indexOf(series.name) > -1 ? { color:'green' }:{ color:'#d1cfcf' }"></i>
			</md-list-item>
		</md-list>
				
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Formula Generation</div>
		</div>
		
		<div layout-gt-sm="row" class="side-margins" style="margin-top: 12px;">
			<md-radio-group layout="row" ng-model="whatifSettings.eqconfig.mode">
				<md-radio-button value="auto">Automatic</md-radio-button>
				<md-radio-button value="manual">Manual</md-radio-button>
			</md-radio-group>
		</div>

		<div layout-gt-sm="row" class="side-margins"  ng-if="whatifSettings.eqconfig.mode === 'manual'">
			<md-input-container class="md-block" flex-gt-sm>
				<span> Equation</span>
				<input ng-model="whatifSettings.eqconfig.equation"  aria-label="equation" name="equation">
			</md-input-container>
		</div>

	</md-content>

<!-- 	<md-list style="margin-top:60px" layout-padding>
		<div layout="row" layout-align="space-between center"  ng-repeat="item in settings" style="border: 1px solid #dddddd;border-radius: 3px;margin-bottom:4px;padding:0px 5px">
			<p style="margin:8px">{{item.name}}</p>
		</div>
	</md-list> -->

	
</form>