<md-content id="{{sCollCtrl.idSelector}}" style="height:345px" layout="column">
	
	<div layout="row"  layout-align="end start" style="margin-top: 10px">
		<div style="width: 170px">
			Accuracy: {{::sCollCtrl.config.rsquare}}
		</div>
	</div>

	<div layout="row" layout-align="end start" ng-show="editable">
		<button ng-click="checked()">&#10003;</button>
		<button ng-click="close()">&#10005;</button>
	</div>
	
	<div >
		<slider-container ng-repeat="variable in sCollCtrl.config.variables">
			<div layout="column" layout-align="start start">
				<slider style="width:100%"
					name="{{variable.name}}" 
					min="variable.minimum" 
					max="variable.maximum" 
					current="variable.current"
					target="variable.target">
				</slider>
				<text style="margin:18px 0px 0px 40px">{{variable.name}}</text>
				<span ng-show=variable.name></span>
			</div>
		</slider-container>
	</div>
	
</md-content>