<style>
.filterItemSeleted
{
	background: grey;
}
</style>

<footer class="footerTabContainer">
	<md-tabs id="pagingTabs" md-align-tabs="bottom" class="md-primary">
	  <md-tab ng-repeat="page in currentDashboard.pages" id="tab1" md-on-select="selectPage($index)">
		<md-tab-label layout="row" layout="space-between center">
			<span md-colors="{color:'{{$root.h1color}}-A700'}" style="text-transform:none;padding-right:20px;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"  ng-dblclick="editPageName($event,page)" flex>{{page.pageName}}</span>
			<span flex></span>
			<i class="icon-cancel" style="font-size:10px;cursor:pointer;outline:none" ng-click="removePage($event, page);$event.stopPropagation()" flex></i>
		</md-tab-label>
		<md-tab-body>
			<md-content class="setting-container" ng-class="{'main-toolbar-closed-setting': $root.showHeader==false, 'main-sidemenu-closed': $root.showSideMenu==false}"  style="background:transparent">
				<div gridster="gridsterOpts">
					<md-content gridster-item="widget" ng-repeat="widget in page.widgets" gridster-item-initalize-watcher widget-type="{{widget.widgetData.chartType.chartType}}" style="padding-bottom: 49px !important;overflow:inherit;">
						<div class="widget-header" layout="row" layout-align="space-between center">
							<span style="font-size: 20px;" md-colors="{color:'{{$root.h1color}}-A700'}">{{widget.widgetName}}</span>
							<div layout="row" layout-align="end center">
							
								<md-button class="md-icon-button ti-fullscreen hover-color" md-colors="{color:'primary'}" ng-click="widgetControls.fullscreen($event,widget)"><!--ng-if="showDataViewBtn(widget)"-->
									<md-tooltip>fullscreen</md-tooltip>
								</md-button>
								
								<md-button class="md-icon-button ti-share hover-color" md-colors="{color:'primary'}" ng-click="widgetControls.share($event,widget)"><!--ng-if="showDataViewBtn(widget)"-->
									<md-tooltip>share</md-tooltip>
								</md-button>
								
								<md-button class="md-icon-button ti-menu-alt hover-color" md-colors="{color:'primary'}" ng-click="widgetControls.showData($event,widget)"><!--ng-if="showDataViewBtn(widget)"-->
									<md-tooltip>data</md-tooltip>
								</md-button>
			
								<md-button class="md-icon-button ti-settings hover-color"  md-colors="{color:'primary'}" ng-click="widgetControls.widgetSettings($event,widget)">
									<md-tooltip >settings</md-tooltip>
								</md-button>
								<md-menu md-position-mode="target-right target hover-color">
									<md-button class="md-icon-button ti-filter"  md-colors="{color:'primary'}" ng-click="$mdOpenMenu($event);$event.stopPropagation();" >
										<md-tooltip >filter</md-tooltip>
									</md-button>
									<md-menu-content width="4" style="padding:10px" ng-class="{'applyDarkBackground': $root.applyDark == true}">
									<div layout="row" layout-align="space-between center" style="height:45px">
										<div layout="row">
											<md-button class="margin-0" style="min-width: 70px;width: 70px;font-size: 12px;" aria-label="cancel settings" ng-click="clearWidgetFilters(widget)">Clear</md-button>
											<md-button class="margin-0" style="min-width: 60px;width: 60px;font-size: 12px;" aria-label="save settings" ng-click="applyFilters(widget)">Apply</md-button>
										</div>
									</div>

									<v-accordion class="vAccordion--default" onexpand="loadFilterParams(widget, index)">
										<v-pane ng-repeat="(key, value) in widget.widgetData.RuntimeFilter">
											<v-pane-header>
												{{ ::value.name }}
											</v-pane-header>

											<v-pane-content>
												<md-list>
													<div flex layout = "row" layout-align = "center center" ng-show="value.fieldvalues.length == 0 && value.isLoading">
														<md-progress-circular class="md-hue-2" md-diameter="20px" ></md-progress-circular>
													</div>
													<md-list-item class="secondary-button-padding" ng-repeat="fieldvalues in value.fieldvalues" ng-mouseup="setFilterValueSelection(value,fieldvalues)" ng-if="value.selectionType == 'single' " ng-class="{'filterItemSeleted': fieldvalues.isSelected==true}">
														<p ng-click="setFilterValueSelection(value,fieldvalues)" >{{ ::fieldvalues.valueName}}</p>
													</md-list-item>
													<md-list-item class="secondary-button-padding" ng-repeat="fieldvalues in value.fieldvalues" ng-if="value.selectionType == 'multiple' ">
														<p>
															<md-checkbox ng-model="fieldvalues.isSelected" style="float: left;"/>
															{{ ::fieldvalues.valueName}}
														</p>
													</md-list-item>
												</md-list>
											</v-pane-content>
										</v-pane>

									</v-accordion>

									</md-menu-content>
								</md-menu>
								
								<md-button class="md-icon-button ti-reload hover-color flip-element" ng-class="{'rotating': widget.syncOn==true}" md-colors="{color:'primary'}" ng-click="widgetControls.syncWidget(widget,'True')">
									<md-tooltip>sync</md-tooltip>
								</md-button>
								
								<md-button class="md-icon-button ti-close hover-color" md-colors="{color:'primary'}" ng-click="widgetControls.removeWidget($event,widget)">
									<md-tooltip >close</md-tooltip>
								</md-button>

							</div>
					
						</div>
						<md-divider></md-divider>
						<div ng-include="'views/dashboard/widgets.html'">
						</div>
					</md-content>
				</div>
			</md-content>
		</md-tab-body>
	  </md-tab>
	  <md-tab label="add page">
		<md-tab-label layout="row" layout="space-between center">
			<span  md-colors="{color:'{{$root.h1color}}-A700'}" style="text-transform:none;outline:none;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;font-weight: 700;" flex>
				<i class="icon-add-page" style="padding-right:20px"></i>Add Page
			</span>
		</md-tab-label>
		<md-tab-body>
			<!--CARD CONTAINER START-->
			<div class="card-container"  ng-class="{'main-toolbar-closed': $root.showHeader==false, 'main-sidemenu-closed': $root.showSideMenu==false}" >
				<!--WHITEFRAME START-->
				<md-whiteframe class="md-whiteframe-2dp layout-whiteframe" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center"> 

					<md-content >

						<form name="addPageFrom" ng-submit="addPage()">
								
							<div class="setting-card-header">
								<h2 style="padding-top:40px !important">Add Page</h2>
								<div class="setting-img-wrap">
									<img src="views/dashboard/addPage.png"/>
								</div>
							</div>
							
							<div layout-gt-sm="row" class="side-margins">
								<md-input-container class="md-block" flex-gt-sm>
									<span>Page Name</span>
									<input required type="text" name="fname" ng-model="fileName" aria-label="page name"/>
									<div ng-messages="addPageFrom.fname.$error" role="alert">
									  <div ng-message-exp="['required']">
											Page name is required
									  </div>
									</div>
								</md-input-container>
							</div>
							


							<div layout="row" layout-align="center start" layout-margin ng-init="submitted=false" >
								<md-button id="accountSubmit" class="md-raised md-primary" style="width:100px;" ng-disabled="submitted" type="submit">
									<span style="text-transform:none">Add Page</span>
								</md-button>
							</div>
					

						</form>

					</md-content>

				</md-whiteframe><br/>
				<!--WHITEFRAME END-->
			</div>
			<!--CARD CONTAINER END-->

		</md-tab-body>
	  </md-tab>
	</md-tabs>

</footer>

<md-card id="dashboardOptionsOpen" draggable="firstTouchedEvent()" limit-hit="limit(yvalue, ylimit)" style="z-index:5;position:fixed;border-radius:4px;top:100px;"  ng-if="showDashboardOptions"><!--ng-class="{'initial-dashboard-options-position': keepInitialPosition==true}"-->
	<md-toolbar class="md-primary" style="min-height: 30px;height:30px;border-radius: 4px 4px 0px 0px;padding: 8px">
			<div layout="row" layout-align="start start" style="cursor:move">
				<i class="ti-more rotate-90-clockwise" style="font-size:12px;line-height: 8px;padding:4px;color:white"></i>
				<text style="color:white;font-size: 14px;">Dashboard Options</text>
			</div>
	</md-toolbar>
			<div layout="row" style="padding:10px 0px 10px 0px">
		<div layout="column">
			<md-button ng-click="perform($event,'AddWidget')" class="md-accent">
				<i class="icon-plugin" style="font-size:18px;padding-right:10px"></i><text style="text-transform:none;font-size: 12px;">Add Widgets</text>
			</md-button>
			<md-button ng-click="dashboardControls.saveDashboard($event)" class="md-accent">
				<i class="ti-save" style="font-size:16px;padding-right:10px"></i><text style="text-transform:none;font-size: 12px;">Save Dashboard</text>
			</md-button>
		</div>
		<md-divider></md-divider>
			<div layout="column">
				<!--md-button ng-click="perform($event,'AddWidget')" class="md-primary">
					<i class="icon-plugin" style="font-size:18px;padding-right:10px"></i><text style="text-transform:none;font-size: 12px;">Add Widgets</text>
				</md-button-->
				<div layout="row">
					<md-button ng-click="doSomething()" class="md-icon-button md-primary">
						<i class="ti-pin-alt" style="font-size:16px"></i>
						<md-tooltip md-direction="bottom">Make Default</md-tooltip>
					</md-button>
					<md-button ng-click="navigate($event, '#/shareDashboard')" class="md-icon-button md-primary">
						<i class="ti-share" style="font-size:16px"></i>
						<md-tooltip md-direction="bottom">Share</md-tooltip>
					</md-button>
					<md-button ng-click="perform($event,'Clear Widgets')" class="md-icon-button md-primary">
						<i class="icon-broom" style="font-size:16px"></i>
						<md-tooltip md-direction="bottom">Clear Widgets</md-tooltip>
					</md-button>
				</div>
				<div layout="row">
					<!--md-button ng-click="perform($event,'Save')" class="md-primary">
						<i class="ti-save" style="font-size:16px;padding-right:10px"></i><text style="text-transform:none;font-size: 12px;">Save Dashboard</text>
					</md-button-->
					
					<md-button ng-click="dashboardControls.deleteDashboard($event)" class="md-icon-button md-primary">
						<i class="ti-trash" style="font-size:16px"></i>
						<md-tooltip md-direction="bottom">Delete</md-tooltip>
					</md-button>
					<md-button ng-click="doSomething()" class="md-icon-button md-primary">
						<i class="ti-filter" style="font-size:16px;"></i>
						<md-tooltip md-direction="bottom">Dashboard Filter</md-tooltip>
					</md-button>
				</div>
			</div>
			

		</div>
	

</md-card>

<md-card id="dashboardOptionsClosed" style="z-index:5;position:fixed;border-radius:4px;top:100px;right:0;width:50px;height:50px;margin-right: -2px;" md-swipe-left="dashboardOptionsShowClick()" ng-hide="showDashboardOptions">
	<md-button ng-click="dashboardOptionsShowClick()" class="md-icon-button" style="margin:5px">
		<i class="ti-more" style="font-size: 25px;line-height: 28px;"></i>
		<md-tooltip md-direction="left">Dashboard Options</md-tooltip>
	</md-button>
</md-card>