<style>
#background{
   background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
}
</style>
<div id="background">
	<div layout="column">
		<h1 style="color:white;margin:0px 10px 10px 70px;padding-top: 100px;font-size: 42px;">Analyze your Facebook Pages</h1>
		<span style="color:white;margin:20px 10px 10px 70px;max-width: 350px;">Our Facebook Analytics allows you to measure all relevant Facebook fan metrics of your page and those of your competitors. Detailed fan statistics take an integral part in optimizing your page and of course in regards to keeping an eye on the competition.</span> 
	</div>
	<div layout="row" layout-align="center center" style="margin-top:150px">
		<!--md-button class="md-rasied" style="background:#3b5998;color:white; width: 200px;margin-bottom:20px;">Log In with Facebook</md-button-->
		<div layout="row" style="background:#3b5998;color:white; width: 200px;padding:2px 10px;height:40px;border-radius:3px;cursor:pointer;box-shadow:0 2px 5px 0 rgba(0,0,0,.26)" ng-click="goToHome()"><img style="width:20px; padding-right: 10px;" src="facebook-logo.svg" /><span style="margin-top: 10px; font-size: 14px;">Log In with Facebook</span></div>
	</div>
<div/>