<!--CARD CONTAINER START-->
<div style="padding:20px;max-width: 1024px;margin-right: auto;margin-left: auto;/* padding-top: 90px !important;padding-bottom: 55px !important;">
	<!--WHITEFRAME START-->
	<md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="margin:0 auto;max-width:960px"> 

		<md-content style="width:100%;background-image: url('cover.jpg');height:300px">

      <form name="editForm"  md-theme="default">
		<!--clock radius='40' zone='Australia/Lindeman'></clock-->

		

      </form>

  </md-content>
		<!--FORM START-->
		
		

	</md-whiteframe><br><br>
	<!--WHITEFRAME END-->
</div>
<!--CARD CONTAINER END-->
	
<div  class="lock-size" layout="row">
	<md-fab-speed-dial md-open="demo.isOpen" md-direction="up"
	ng-class="demo.selectedMode" style="position:fixed;bottom:20px;right:20px;">
	<md-fab-trigger>
	<md-button aria-label="menu" class="md-fab " style="background-color:#db4437;" ng-click="openDialog($event)"><!--href="#/main/tabone"-->
		<md-icon md-svg-src="/img/ic_visibility_24px.svg" style="width:30px;" ></md-icon>
		<md-tooltip md-direction="left">View</md-tooltip>
	</md-button>
</md-fab-trigger>
<md-fab-actions>
        </md-fab-actions>
    </md-fab-speed-dial>
</div> 