<div ng-cloak class="setup-wrapper">
    <md-tabs class="setup-tabs" md-dynamic-height md-border-bottom>
      <md-tab class="setup-tab">
          <md-tab-label>
            <i class="setup-tab-label fa fa-cog"></i>
          </md-tab-label>
        <div class="md-padding" layout="row">
        <div layout="column" flex="80">
            <h1 class="md-display-2" style="text-align:center;">Studio Users</h1>
            <h3 style="text-align:center;">They can log in to the Digin studio to create new connections,<br/>queries and dashboards</h3>
            <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>     
       </md-card>
            </div>
            <div flex="20">
            <md-button class="setup-button md-raised md-primary"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;New</md-button>
        </div> 
          
        </div>
      </md-tab>
      <md-tab>
          <md-tab-label>
            <i class="setup-tab-label fa fa-user"></i>
          </md-tab-label>
        <div class="md-padding" layout="row">
        <div layout="column" layout-align="center center" flex="80">
            <h1 class="md-display-2" style="text-align:center;">Studio Users</h1>
            <h3 style="text-align:center;">They can log in to the Digin studio to create new connections,<br/>queries and dashboards</h3>
            <md-card class="setup-user-card">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>     
       </md-card>
            </div>
            <div flex="20">
            <md-button class="setup-button md-raised md-primary"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;New</md-button>
        </div> 
          
        </div>
      </md-tab>
      <md-tab>
          <md-tab-label>
            <i class="setup-tab-label fa fa-users"></i>
          </md-tab-label>
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
      <md-tab>
          <md-tab-label>
            <i class="setup-tab-label fa fa-envelope"></i>
          </md-tab-label>
        <md-content class="md-padding">
          </md-content>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <i class="setup-tab-label fa fa-calendar"></i>
          </md-tab-label>
        <md-content class="md-padding">
          </md-content>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <i class="setup-tab-label fa fa-database"></i>
          </md-tab-label>
        <md-content class="md-padding">
          </md-content>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <i class="setup-tab-label fa fa-eye-slash"></i>
          </md-tab-label>
        <md-content class="md-padding">
          </md-content>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <i class="setup-tab-label fa fa-lock"></i>
          </md-tab-label>
        <md-content class="md-padding">
          </md-content>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <i class="setup-tab-label fa fa-terminal"></i>
          </md-tab-label>
        <md-content class="md-padding">
          </md-content>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <i class="setup-tab-label fa fa-credit-card"></i>
          </md-tab-label>
        <md-content class="md-padding">
          </md-content>
        </md-tab>
    </md-tabs>
</div>