<div ng-cloak class="setup-wrapper">
    <toast></toast>
    <md-tabs class="setup-tabs" md-dynamic-height md-border-bottom>
        <md-tab class="setup-tab">
            <md-tab-label>
                <i class="setup-tab-label fa fa-cog"></i>
            </md-tab-label>
            <div class="md-padding" layout="column">
                <div layout="column" layout-align="space-between center">
                    <span class="setup-font-theme setup-user-heading">Account Information</span>
                </div>
                <div layout="row" layout-align="center center">
                    <div layout="column" class="setup-info-container" flex="70">
                        <md-input-container>
                            <label>Account owner</label>
                            <input id="accOwner" ng-model="user.title">
                        </md-input-container>
                        <md-input-container>
                            <label>Logo</label>
                            <input ng-model="user.appLogo">
                        </md-input-container>
                        <div layout="column">
                            <span class="setup-font-theme">
                            Theme configuration (Pick two colors)
                            </span>
                            <div layout="column" class="setup-color-container">
                                <div layout="row" ng-repeat="colors in chunkedColorArr">
                                    <div class="setup-color-stripes" ng-repeat="color in colors" style="background-color:{{color.value}}"></div>
                                </div>
                            </div>
                        </div>
                        <md-button class="setup-button md-raised md-primary" ng-click="updateAccount()"><span class="setup-font-theme">Update Account</span></md-button>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <i class="setup-tab-label fa fa-user"></i>
            </md-tab-label>
            <div ng-hide="addUsrState || inviteUsrState" class="md-padding" layout="row">
                <div flex="15"></div>
                <div layout="column" layout-align="space-between center" flex="65">
                    <span class="setup-font-theme setup-user-heading">Studio Users</span>
                    <span class="setup-font-theme setup-user-sub-heading">They can log in to the Digin studio to create new connections,<br/>queries and dashboards</span>
                    <md-card class="setup-user-card">
                        <div layout="column" layout-align="center center">
                            <img class="setup-user-img" src="styles/css/images/dashboard-setup/avator.jpg"/>
                            <div class="setup-username-wrapper" layout="column" layout-align="space-between center">
                                <span class="setup-font-theme setup-username">diginbig</span>
                                <span class="setup-font-theme setup-useremail">diginbig@gmail.com</span>
                            </div>
                        </div>
                    </md-card>
                </div>
                <div layout="column" flex="10">
                    <md-button ng-click="addNewUser(true)" class="setup-button md-raised md-primary"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;<span class="setup-font-theme">New</span></md-button>
                    <md-button ng-click="inviteNewUser(true)"  class="setup-button md-raised md-primary"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<span class="setup-font-theme">Invite</span></md-button>
                </div>
            </div>

            <!--Add new user-->
            <div ng-show="addUsrState" class="md-padding" layout="row" layout-align="center center">
                <div layout="column" class="setup-info-container" flex="70">
                    <md-input-container>
                        <label>First Name</label>
                        <input ng-model="user.fname">
                    </md-input-container>
                    <md-input-container>
                        <label>Last Name</label>
                        <input ng-model="user.lname">
                    </md-input-container>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="user.email">
                    </md-input-container>
                     <md-input-container>
                        <label>Domain</label>
                        <input ng-model="user.domain">
                    </md-input-container>
                    <span class="setup-font-theme">
                        The user will be asked to set his password.
                    </span>
                    <md-button class="setup-button md-raised md-primary" ng-click="addNewUser(false)"><span class="setup-font-theme">Create User</span></md-button>
                </div>
            </div>

            <!--invite new user-->
            <div ng-show="inviteUsrState" class="md-padding" layout="row" layout-align="center center">
                <div layout="column" class="setup-info-container" flex="70">
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="user.email">
                    </md-input-container>
                    <span class="setup-font-theme">
                        Invite user here...
                    </span>

                    <md-button class="setup-button md-raised md-primary" ng-click="inviteNewUser(false)"><span class="setup-font-theme">Invite User</span></md-button>

                    <!-- <md-divider></md-divider>-->
                    <!-- --> 
                          <md-subheader class="md-no-sticky">Invited users...</md-subheader>
                          <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)">
                            <img alt="{{ person.name }}" ng-src="styles/css/images/icons/profile.svg"/>
                            <p>{{ person.name }}</p>
                            <md-icon md-svg-icon="styles/css/images/icons/remove.svg" ng-click="doSecondaryAction(person.name,$event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>
                    <!-- -->





                </div>
            </div>






        </md-tab>
        <md-tab>
            <md-tab-label>
                <i class="setup-tab-label fa fa-users"></i>
            </md-tab-label>
            <div class="md-padding">
                <div layout="column" layout-align="space-between center" flex>
                    <span class="setup-font-theme setup-user-heading">Dashboard Viewers</span>
                    <span class="setup-font-theme setup-user-sub-heading">can access interactive dashboards or receive them via email</span>
                    <img class="setup-dashviewers-img" src="styles/css/images/dashboard-setup/multi-user.png"/>
                    <span class="setup-font-theme setup-user-heading-secondary">You don't have any group of dashboard viewers yet</span>
                    <md-button class="setup-button md-raised md-primary"><span class="setup-font-theme">Let's create one</span></md-button>
                </div>
            </div>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <i class="setup-tab-label fa fa-envelope"></i>
            </md-tab-label>
            <div class="md-padding">
                <div layout="column" layout-align="space-between center" flex>
                    <span class="setup-font-theme setup-user-heading">Dashboard Email Delivery</span>
                </div>
            </div>
        </md-tab>
        <md-tab>
            <md-tab-label>
                <i class="setup-tab-label fa fa-credit-card"></i>
            </md-tab-label>
            <div class="md-padding">
                <div layout="column" layout-align="space-between center" flex>
                    <span class="setup-font-theme setup-user-heading">Subscription Details</span>
                </div>
                <div layout="row" layout-align="center center">
                    <div layout="column" class="setup-info-container" flex="80">
                        <md-card class="setup-subscription-card">
                            <div layout="column" layout-align="center center">
                                <span class="setup-font-theme">Status:&nbsp;&nbsp;&nbsp;Trial</span>
                                <span class="setup-font-theme">&nbsp;&nbsp;&nbsp;End of trial:&nbsp;&nbsp;&nbsp;<span class="setup-subscription-end">February 23, 2016</span></span>
                            </div>
                        </md-card>
                    </div>
                </div>
                <div layout="column" layout-align="space-between center" flex>
                    <span class="setup-font-theme setup-user-heading-secondary">Your team is on the Big Data plan</span>
                </div>
                <div layout="row" layout-align="center center">
                    <div layout="column" class="setup-info-container" flex="80">
                        <md-card class="setup-subscription-card">
                            <div layout="column" layout-align="center center">
                                <span class="setup-font-theme setup-subscription-description">This plan gives you 35+ connectors, unlimited dashboards, datasources and queries, <b>10</b> named viewers for interactive dashboards and <b>2</b> studio users that<br/>can create new datasources, queries and dashboards.<br/>You also get premium connectors for BigQuery, Redshift, Vertica and Vectorwise.</span>
                            </div>
                        </md-card>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <div layout="column" class="setup-info-container" flex="80">
                        <div layout="row">
                            <md-card class="md-raised setup-subscription-plan-card setup-subscription-trial-card">
                                <div layout="column" layout-align="center center">
                                    <span class="setup-font-theme setup-user-heading-secondary">Try it out for free</span>
                                </div>
                            </md-card>
                            <md-card class="setup-subscription-plan-card setup-subscription-premium-card">
                                <div layout="column" layout-align="center center">
                                    <span class="setup-font-theme setup-user-heading-secondary">Go premium</span>
                                </div>
                            </md-card>
                        </div>
                        <md-button class="setup-button md-raised md-primary"><span class="setup-font-theme">Update Subscription</span></md-button>
                    </div>
                </div>
            </div>
        </md-tab>
    </md-tabs>
</div>