<div class="setup-wrapper  animated fadeIn">

        <div class="setting-wrap">
            <div layout="row" layout-align="end end">
				<md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="route('back')"></md-button>
			</div>
			
			<div class="setting-card-header">
                <h5>Create New User</h5>
                <div class="setting-img-wrap">
                    <img src="styles/css/images/setting/new_user.png"/>
                </div>
			</div>
			<div layout="row" layout-align="start start">
			<div style="padding:10px;background:rgb(212, 212, 212) !important;color:#f9a624;font-weight:700">Profile details</div>
			</div>
       
            <form name="frmNewUser" autocomplete="off" ng-submit="CreateUser()">
					<div layout-gt-sm="row">
						<div layout="column" layout-align="start start" flex style="padding: 10px 5px 10px 10px;">
							<label>First Name</label>
							<input type="text" id="txtCompany" class="form-control" ng-model="fname" />
						</div>
						<div layout="column" layout-align="start start" flex style="padding: 10px 10px 10px 5px;">
							<label>Last Name</label>
							<input type="text" id="txtName" class="form-control" ng-model="lname" />
						</div>
                    </div>
					<div layout-gt-sm="row">
						<div layout="column" layout-align="start start" flex style="padding: 10px 5px 10px 10px;">
							<label>Email</label>
							<input type="email" class="form-control" ng-model="email" />
						</div>
						<div layout="column" layout-align="start start" flex style="padding: 10px 10px 10px 5px;">
							<label>Domain</label>
							<input type="text" class="form-control" ng-model="domain" ng-disabled="true" />
						</div>
                    </div>
					<div layout="row" layout-align="center center" style="margin-top:20px;">

						<button type="submit" class="blut-edit-btn" style="margin:10px 10px 10px 10px">
							Add User
						</button>
					</center>
             </form>

    </div>

</div>
