<div class="tophalf"></div>

<md-toolbar>
	<md-fab-actions class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="edit()">
			<md-icon><ng-md-icon icon="developer_mode" size="32"></ng-md-icon></md-icon>
			<md-tooltip>Edit</md-tooltip>
		</md-button>
		<md-button class="md-icon-button" ng-click="save()">
			<md-icon><ng-md-icon icon="save" size="32"></ng-md-icon></md-icon>
			<md-tooltip>Save</md-tooltip>
		</md-button>
</md-toolbar>

<div align="center" class="partialparent" ng-cloak>
	<div class="partialcontent">
		<md-content layout-padding="">

			<md-tabs style="min-height:500px;" md-selected="selectedTabIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
			  <md-tab>
				    <md-tab-label>
						App Description
				    </md-tab-label>
				    <md-tab-body >
						<form name="userForm">
						<md-input-container flex="">
							<label>App Title</label>
							<input ng-model="appDesc.name" disabled="disabled">
						</md-input-container>

							<div layout="" layout-sm="column" style="height:170px;">
								<md-input-container flex="">
									<div>
										<table width="100%">
											<tr style="vertical-align:top;">
												<td rowspan="3" width="200">
													<div>
														<img src="./appicons/{{appKey}}.png" ng-src="{{imageSrc}}" ng-err-src="./appicons/default.png" class="uploadthumbnail"/>
														<input type="file" ng-file-select="onFileSelect" accept="image/gif, image/jpeg, image/png"/>
													</div>
												</td>
											</tr>
											<tr><td>
												<div layout="" layout-sm="column">
													<md-input-container flex="">
														<label>App Key</label>
														<input ng-model="appDesc.appKey" disabled="">
													</md-input-container>
												</div>
											</td></tr>
											<tr><td>
												<div layout="" layout-sm="column">
													<md-input-container flex="">
														<label>Secret Key</label>
														<input ng-model="appDesc.secretKey" disabled="">
													</md-input-container>
												</div>
											</td></tr>
										</table>
									</div>
								</md-input-container>
							</div>

							<md-input-container flex="">
								<label>Category</label>
						        <md-select ng-model="appDesc.category">
					            	<md-option ng-value="ct" ng-repeat="ct in appCategories">
					            	{{ct}}
					            	</md-option>
					        	</md-select>
							</md-input-container>

							<md-input-container md-no-float="">
								<label>Description</label>
								<textarea rows="3" ng-model="appDesc.description"></textarea>
							</md-input-container>

							<div layout layout-sm="column" layout-margin>
								<label>Version</label>
								<md-input-container id="accContainer" flex >
									<label>Major</label>
									<input ng-model="appDesc.version.major" placeholder="Major"/>
								</md-input-container>
								<md-input-container id="accContainer" flex >
									<label>Minor</label>
									<input ng-model="appDesc.version.minor" placeholder="Minor"/>
								</md-input-container>
								<md-input-container id="accContainer" flex >
									<label>Release</label>
									<input ng-model="appDesc.version.release" disabled="disabled"  placeholder="Release">
								</md-input-container>
							</div>
						</form>
					</md-tab-body>
				</md-tab>

			  	<md-tab>
				    <md-tab-label>
						App Settings
				    </md-tab-label>
				    <md-tab-body>
						<form name="userForm">
							<div ng-repeat="(key,value) in templateSettings">
								<div ng-switch="getType(value)">
									  <div ng-switch-when="object">
									  	<h2>{{key}}</h2>
									  	<div ng-repeat="(okey,ovalue) in value">
											<md-input-container flex>
												<label>{{okey}}</label>
												<input ng-model="appSettings.data[key][okey]"/>
											</md-input-container>
										</div>
									  </div>

									  <div ng-switch-when="array">
									  	<h2>{{key}}</h2>
									  	<button ng-click="appendToArray(key, value)">New</button>
									  	<table style="width:100%">
									  		<tr>
									  			<th ng-repeat="(okey,ovalue) in value[0]">{{okey}}</th>
									  			<th>Delete</th>
									  		</tr>

									  		<tr ng-repeat="datum in appSettings.data[key]">
									  			<td ng-repeat="(okey,ovalue) in value[0]">
													<input ng-model="datum[okey]"/>
									  			</td>
									  			<td>
									  				<button ng-click="deleteFromArray(appSettings.data[key], datum)">X</button>
									  			</td>
									  		</tr>
									  	</table>
									  </div>

									<div ng-switch-default>
										<md-input-container flex>
											<label>{{key}}</label>
											<input ng-model="appSettings.data[key]" placeholder="Major"/>
										</md-input-container>
									</div>
								</div>
							</div>
						</form>
				    </md-tab-body>
				</md-tab>

			  	<md-tab>
				    <md-tab-label>
						App Scope
				    </md-tab-label>
				    <md-tab-body>
				    	<h2>Data Scope</h2>
				    	<table>
				    		<tr>
				    			<td>Name</td>
				    			<td></td>
				    		</tr>
				    		<tr ng-repeat="datum in appScope.scope.data">
				    			<td>{{datum}}</td>
				    			<td><button ng-click="deleteScope(appScope.scope.data, datum)">Delete</button></td>
				    		</tr>
				    		<tr>
				    			<td><input type="text" ng-model="tmpDataScope"></td>
				    			<td><button ng-click="addScope(appScope.scope.data, 'tmpDataScope')">Add</button></td>
				    		</tr>
				    	</table>

						<h2>Functional Scope</h2>
				    	<table>
				    		<tr>
				    			<td>Name</td>
				    			<td></td>
				    		</tr>
				    		<tr ng-repeat="datum in appScope.scope.functions">
				    			<td>{{datum}}</td>
				    			<td><button ng-click="deleteScope(appScope.scope.functions, datum)">Delete</button></td>
				    		</tr>
				    		<tr>
				    			<td><input type="text" ng-model="tmpFuncScope"></td>
				    			<td><button ng-click="addScope(appScope.scope.functions, 'tmpFuncScope')">Add</button></td>
				    		</tr>
				    	</table>

						<h2>Template Scope</h2>
				    	<table>
				    		<tr>
				    			<td>Name</td>
				    			<td></td>
				    		</tr>
				    		<tr ng-repeat="datum in appScope.scope.templates">
				    			<td>{{datum}}</td>
				    			<td><button ng-click="deleteScope(appScope.scope.templates, datum)">Delete</button></td>
				    		</tr>
				    		<tr>
				    			<td>
				    				<table>
				    					<tr>
				    						<td>Template ID</td>
				    						<td><input type="text" ng-model="tmpTemplateScope.id"></td>
				    					</tr>
				    					<tr>
				    						<td>Template Name</td>
				    						<td><input type="text" ng-model="tmpTemplateScope.name"></td>
				    					</tr>
				    					<tr>
				    						<td>Template Parameters</td>
				    						<td>
									    		<div ng-repeat="tdatum in tmpTemplateScope.parameters">
									    			{{tdatum}} <button ng-click="deleteScope(tmpTemplateScope.parameters, tdatum)">Delete</button> <br/>
									    		</div>
				    							<input type="text" ng-model="tmpParamScope"/>

				    							<td colspan="2"><button ng-click="addScope('tmpTemplateScope.parameters', 'tmpParamScope')">Add</button></td>
				    						</td>
				    					</tr>
				    				</table>
				    			</td>
				    		</tr>
			    			<tr>
								<td colspan="2"><button ng-click="addScope('templates', 'tmpTemplateScope')">Add</button></td>
							</tr>
				    	</table>
				    </md-tab-body>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>
