<!-- ////////////////////////////////
// File : metric.html
// Owner  : Dilani
// Last changed date : 2017/01/06
// Version : 3.1.0.2
// Modified By : Dilani
//////////////////////////////// -->

<div layout="row" style="height:100%;" ng-style="{background:selectedChart.initObj.color}" >
		<div layout="column" layout-align='center start' style="height:100%;" flex="50" 
			ng-style=" {'color' : (selectedChart.initObj.color == 'white') ? 'black' : 'white' }" >
			<div ng-show="selectedChart.initObj.value">
				<div flex style="padding:10px;">
					<div layout="column" flex>
						<text   style="font-size:35px;font-weight: 700;letter-spacing: 1px;" 
							    ng-if="selectedChart.initObj.scalePosition==='front'" >
							   		{{selectedChart.initObj.scale}} &nbsp;{{selectedChart.initObj.value}} {{selectedChart.initObj.format}} 
						</text>
						<text   style="font-size:30px;font-weight: 700;letter-spacing: 1px;" 
						        ng-if="selectedChart.initObj.scalePosition==='back'" >
						        	{{selectedChart.initObj.value}} 
						        	{{selectedChart.initObj.format=="Thousand"?"K":""}}
						        	{{selectedChart.initObj.format=="Million"?"M":""}}
						        	{{selectedChart.initObj.format=="Billion"?"B":""}} 
						        	&nbsp;{{selectedChart.initObj.scale}}
						</text>
						<text style="font-size:15px">Actual Value</text>
					</div>
				</div>
			</div>
			<div ng-show="selectedChart.initObj.targetValueString">
				<div flex style="padding:10px;">
					<div layout="column" flex>
						<text 	style="font-size:28px;font-weight: 500;letter-spacing: 1px;" 
								ng-if="selectedChart.initObj.scalePosition==='front'">					
									{{selectedChart.initObj.scale}} 
									&nbsp;{{selectedChart.initObj.targetValueString}} 						      {{selectedChart.initObj.format=="Thousand"?"K":""}}
						        	{{selectedChart.initObj.format=="Million"?"M":""}}
						        	{{selectedChart.initObj.format=="Billion"?"B":""}} 
						</text>
						<text 	style="font-size:28px;font-weight: 500;letter-spacing: 1px;" 
								ng-if="selectedChart.initObj.scalePosition==='back'">															{{selectedChart.initObj.targetValueString}} 						        	{{selectedChart.initObj.format=="Thousand"?"K":""}}
						        {{selectedChart.initObj.format=="Million"?"M":""}}
						        {{selectedChart.initObj.format=="Billion"?"B":""}}  
						        &nbsp;{{selectedChart.initObj.scale}}
						</text>
						<text style="font-size:15px">Target Value</text>
					</div>
				</div>

			</div>
		</div>
	<div flex="50" layout="row" ng-show="selectedChart.initObj.value" style="height:100%;width:50%">
		<highchart config="selectedChart.initObj.trendChart"></highchart>
	</div>
</div>