<div style="height:100%;width:100%;" layout="column" layout-align='center center' ng-style="{background:selectedChart.initObj.color}" >
    <div ng-if="selectedChart.initObj.scalePosition==='front'">
	    <h1>{{selectedChart.initObj.scale}}&nbsp;{{selectedChart.initObj.value}}</h1> <br>
	    <h1>{{selectedChart.initObj.scale}}&nbsp;{{selectedChart.initObj.targetValueString}}</h1>
    </div>
    <div ng-if="selectedChart.initObj.scalePosition==='back'">
	    <h1>{{selectedChart.initObj.value}}&nbsp;{{selectedChart.initObj.scale}}</h1> <br>
	    <h1>{{selectedChart.initObj.targetValueString}} {{selectedChart.initObj.scale}}</h1>
    </div>
</div>