<style>
#password-strength-indicator {
    position: absolute;
    right: 0;
    top: 0px;
    width: 5px;
    padding: 0 10px;
    cursor:pointer;
}

#password-strength-indicator span {
    display: block;
    height: 5px;
    margin-bottom: 2px;
    width: 5px;
    border-radius: 5px;
    background: #EDF0F3
}
.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555
}
</style>

<md-dialog aria-label="Invite User" plumb-item class="dialog-1 b-r-0">
  <form md-theme="default" name="editForm" ng-submit="editForm.$valid && submit()">
  <md-toolbar class="tlbar-1" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="center center" class="digin-logo-wrapper2">
        <img ng-src="styles/css/images/DiginLogo.png" class="digin-image">
      </div>  
      <div class="dialog-title">Change Password</div>         
      <md-button class="buttonMinwidth38 b-r-0" aria-label="cancel" ng-click="cancel();">      
        <ng-md-icon icon="close" style="fill:white" size="24" layout="row"></ng-md-icon>   
      </md-button>            
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div class="md-dialog-content">

			
		 <md-input-container layout="column" class="md-block" flex-gt-sm>
			<label>Old Password</label>
			<input required type="password" ng-model="oldPassword" name="oldpass">
			<div ng-messages="editForm.oldpass.$error">
				<div ng-message-exp="['required']">
					Old Password is required
				</div>
			</div>
		 </md-input-container>
		 <md-input-container layout="column" class="md-block" flex-gt-sm>
			<label>New Password</label>
			<input required type="password" ng-model="newPassword" name="newpass" password-strength-indicator>
			<div ng-messages="editForm.newpass.$error">
				<div ng-message-exp="['required']">
					Please enter a new password
				</div>
			</div>
		 </md-input-container>

		 <md-input-container layout="column" class="md-block" flex-gt-sm>
			<label>Confirm New Password</label>
			<input required type="password" ng-model="confirmNewPassword" name="confrimpass">
			<div ng-messages="editForm.confrimpass.$error">
				<div ng-message-exp="['required']">
					Please confrim your new password
				</div>
			</div>
		 </md-input-container>

    </div>
	
	<div class="md-actions" layout="row">
			<span flex></span>
			<md-button class="btn-dialog b-r-0" aria-label="change" type="submit">
				Change Password
			</md-button>
	</div>
	  
  </md-dialog-content>

  </form>
</md-dialog>