<div class="setup-wrapper  animated fadeIn">
	<div class="setting-wrap" style="max-width:960px;margin:0 auto;padding-bottom:10px; margin-top: 20px;box-shadow:0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12)">
            <div layout="row" layout-align="end end">
				<md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="route('back')"></md-button>
			</div>
			
			<div class="setting-card-header">
                <h5>Profile Settings</h5>
                <div class="setting-img-wrap">
                    <img src="styles/css/images/signup-user.png"/>
                </div>
			</div>


               <form name="frmNewUser" autocomplete="off" ng-submit="profile.changeUserProfile()">
					<div layout="row" layout-align="start start">
						<div style="padding:10px;background:rgb(212, 212, 212) !important;color:#f9a624;font-weight:700">Public details</div>
					</div>
					<div layout="row" style="padding:0px 10px 0px 10px">
						<div flex>
							<label>Name</label>
							<input type="text"
								   id="txtName"
								   ng-model="user.name"
								   ng-disabled="editModeOn"
								   class="form-control">
						</div>
						<div flex style="padding-left: 5px;">
							<label>Company </label>
							<input type="text"
								   id="txtCompany"
								   ng-model="user.company"
								   ng-disabled="editModeOn"
								   class="form-control">
						</div>
						
					</div>

					<div layout="row" style="padding:0px 10px 0px 10px">
						<div flex="60">
							<label>Email </label>
							<input type="text"
								   id="txtEmail"
								   ng-model="user.email"
								   ng-disabled="editModeOn"
								   class="form-control">
						</div>
						<div flex="40" style="padding-left: 5px;">
							<label>Contact no </label>
							<input type="text"
								   id="txtContactNo"
								   ng-model="user.contactNo"
								   ng-disabled="editModeOn"
								   class="form-control">
						</div>
					</div>
					<!-- address details -->
					<div layout="row" style="padding:0px 10px 0px 10px">
						<div flex="40">
							<label>Street </label>
							<input type="text"
								   id="txtStreet"
								   ng-model="user.street"
								   ng-disabled="editModeOn"
								   class="form-control">
						</div>
						<div flex="40" style="padding-left: 5px;">
							<label>Country</label>
							<input type="text"
								   id="txtCountry"
								   ng-model="user.country"
								   ng-disabled="editModeOn"
								   class="form-control">
						</div>
						<div flex="20" style="padding-left: 5px;">
							<label>ZIP code</label>
							<input type="text"
								   id="txtZip"
								   ng-model="user.zip"
								   ng-disabled="editModeOn"
								   class="form-control">
						</div>
					</div>                   
					<div layout="row" layout-align="center center">
						<div ng-click="profile.clickEdit()" type="button" class="blut-edit-btn" style="margin:10px 10px 10px 10px" ng-if="editModeOn == true">
							Edit profile
						</div>
						<button type="submit" class="blut-edit-btn" style="margin:10px 10px 10px 10px" ng-if="editModeOn == false">
							Save changes
						</button>
					</div>
            </form>
			<form name="frmNewUser" autocomplete="off">
				<div layout="row" layout-align="start start">
					<div style="padding:10px;background:rgb(212, 212, 212) !important;color:#f9a624;font-weight:700">Security</div>
				</div>
				<div layout="row" layout-align="start start" style="margin:10px;">
					<button type="button" class="btn btn-default">
					  Change Password
					</button>
				</div>
			</form>
		</div>
</div>
<!-- end -->