<div class="tophalf"></div>
<md-toolbar ng-cloak>
	<md-fab-actions class="md-toolbar-tools">
		<md-button class="md-primary" ng-click="navWizardPage(0)">
			<!--md-icon><ng-md-icon style="fill: {{getColor(0)}};margin-right:30px;" icon="nature_people" size="32"></ng-md-icon></md-icon-->
			<label style="color: {{getColor(0)}}">1). Specify Requirements</label>
		</md-button>
		<md-button class="md-primary" ng-click="navWizardPage(1)">
			<label style="color: {{getColor(1)}}">2). Specify Description</label>
		</md-button>
		<md-button class="md-primary" ng-click="navWizardPage(2)">
			<label style="color: {{getColor(2)}}">3). Select Application Type</label>
		</md-button>
	</md-fab-actions>
</md-toolbar>

<div align="center" class="partialparent" ng-cloak>
	<div ng-switch="projectState.pdparams.wizardPage" class="partialcontent">
		<div ng-switch-when="templates">
			<div ng-switch="projectState.pdparams.projectType">
				<md-content layout-padding="">

					<div layout="" layout-sm="column">
						<label for="mySelect">New Project Type</label>
						<md-input-container flex="">
					        <md-select ng-model="projectState.pdparams.projectType">
				            	<md-option ng-value="pt" ng-repeat="pt in projectTypes">
				            	{{pt}}
				            	</md-option>
				        	</md-select>
						</md-input-container>
					</div>

					<md-input-container flex="">
						<div ng-switch-when="template">
						<table class="appselector">
							<tr class="appselectorhead">
								<td>Category</td>
								<td>Template</td>
							</tr>
							<tr class="appselectorbody">
								<td width="300">
									<md-button ng-repeat="cat in categories" class="md-primary" ng-click="selectCategory(cat)" style="width:100%;text-align: left;vertical-align: top;">
										
										
										<md-icon style="height:50px;width:50px;margin-right:20px;">
											<img src="templates/projects/{{cat.folder}}/category.png" style="height:48px;width:48px;"/>	
										</md-icon>
										{{cat.name}}
									</md-button>
								</td>
								<td>
									<md-button ng-repeat="tmp in catTemplates" class="md-primary" ng-click="selectTemplate(tmp)" style="width:100%;text-align: left;vertical-align:top;">
										
										<md-icon style="height:50px;width:50px;margin-right:20px;">
											<img src="{{tmp.imageUrl}}" style="height:48px;width:48px;"/>
										</md-icon>
										{{tmp.name}}
									</md-button>
								</td>
							</tr>
						</table>
					</md-input-container>
					</md-content>
				</div>

				<div ng-switch-when="upload" style="vertical-align:top;width:100%;">
					<label>Zip File Location : </label>
					<input type="file" ng-file-select="onUploadFileSelect"/>
				</div>

				<div ng-switch-when="bundle" style="vertical-align:top;width:100%;">
					<h1>Finish the wizard to start adding apps to app bundle</h1>
				</div>

				<div ng-switch-when="clone">
					<h1>Create By Git Clone</h1>
				</div>

				<div ng-switch-when="export">
					<h1>Create By Exports</h1>
				</div>


			</div>
		</div>
			<div ng-switch-when="requirements">
			<!--label >Requirements : </label>
			<textarea style="height:300px; width:400px;"  ng-model="projectState.pdparams.requirements.desc"></textarea>
			<br/>
			<label>People : </label><input type="text" style="width:400px" ng-model="projectState.pdparams.requirements.people"/><br/>
			<label>Owner : </label><input type="text" style="width:400px" ng-model="projectState.pdparams.requirements.owner"/-->

			<md-content layout-padding="">
			<form name="userForm">
				<md-input-container md-no-float="">
					<label>App Owner</label>
					<input ng-model="projectState.pdparams.requirements.owner" disabled="disabled">
				</md-input-container>
				<md-input-container md-no-float="">
					<md-content class="md-padding autocomplete" style="margin-left:-20px;" layout="column">
					    <md-contact-chips ng-model="contacts" md-contacts="querySearch($query)" md-contact-name="name" md-contact-image="image" md-contact-email="email" md-require-match="true" md-highlight-flags="i" filter-selected="filterSelected" placeholder="Stakeholders">
					    </md-contact-chips>
					  </md-content>
			  	</md-input-container>
				<md-input-container md-no-float="">
					<label>Brief description of requirements</label>
					<textarea rows="8" ng-model="projectState.pdparams.requirements.desc"></textarea>
				</md-input-container>

			</form>
			</md-content>

		
		</div>

		<div ng-switch-when="description">
			<md-content layout-padding="">
			<form name="userForm">


				<md-input-container flex="">
					<label>App Title</label>
					<input ng-model="projectState.pdparams.description.title" ng-blur="getKeys()">
				</md-input-container>

				<div layout="" layout-sm="column" style="height:170px;">
					<md-input-container flex="">
						<div>
							<table width="100%">
								<tr style="vertical-align:top;" style="height:150px">
									<td rowspan="3" width="200">
										<div>
										<img src="./appicons/default.png" ng-src="{{imageSrc}}" ng-err-src="./appicons/default.png" class="uploadthumbnail" width="128" height="128"/>
										<input type="file" ng-file-select="onFileSelect" accept="image/gif, image/jpeg, image/png"/>
										</div>
									</td>
								</tr>
								<tr><td>
									<div layout="" layout-sm="column">
										<md-input-container flex="">
											<label>App Key</label>
											<input ng-model="projectState.pdparams.description.appKey" disabled="disabled">
										</md-input-container>
									</div>
								</td></tr>
								<tr><td>
									<div layout="" layout-sm="column">
										<md-input-container flex="">
											<label>Secret Key</label>
											<input ng-model="projectState.pdparams.description.secretKey" disabled="disabled">
										</md-input-container>
									</div>
								</td></tr>
							</table>
						</div>
					</md-input-container>
				</div>

				<md-input-container flex="">
					<label>Category</label>
			        <md-select ng-model="projectState.pdparams.description.category">
		            	<md-option ng-value="ct" ng-repeat="ct in appCategories">
		            	{{ct}}
		            	</md-option>
		        	</md-select>
				</md-input-container>

				<md-input-container md-no-float="">
					<label>Description</label>
					<textarea rows="3" ng-model="projectState.pdparams.description.description"></textarea>
				</md-input-container>
			</form>
			</md-content>

		</div>
	</div>

	<div align="center" class="wizardbuttongroup">
		<md-button ng-click="wizardStep(-1)">
			<md-icon class="md-raised md-primary"><ng-md-icon icon="chevron_left" size="24"></ng-md-icon></md-icon>
			Back
		</md-button>
		<md-button class="md-raised md-primary" ng-click="wizardStep(1)">
			{{nextText}}
			<md-icon><ng-md-icon icon="chevron_right" size="24"></ng-md-icon></md-icon>
		</md-button>
	</div>

</div>

