<div class="card-container" layout-padding>
    <h1 class="search-header">Themes </h1>
	<div layout="row" layout-align="center start" layout-wrap>
		<md-card ng-repeat="color in palette" class="product_card" ng-click="changeTheme(color)">
			<div layout="row" layout-align="space-between start" style="padding-bottom:5px;">
				<span class="product_name" style="color:black">{{color.name}}</span>
			</div>
			<div layout="row" layout-align="center center">
				<img src="views/settings/theme/palette/{{color.imageUrl}}" style="width:243px;height216px" />
			</div>
		</md-card>
	</div>
</div>