<div layout="row" layout-sm="column" layout-md="column" layout-align="center center">
	<md-card  class="digin-widget" ng-repeat="widget in dashboard.widgets" ng-style="{'height':widget.height,'width':widget.width,'min-height':h,'min-width':w}" fullscreen="widget.fullscreenState" only-watched-property>  
	    <md-content class='md-padding' ng-style="{'height':widget.mheight}" style="overflow:auto;" layout="row" flex>
	        <div style="height:100%;width:100%" ng-include src="widget.widView"></div>
	    </md-content>
	    <md-toolbar class="digin-widget-toolbar">
	        <div class="md-toolbar-tools">
	          <h2>
	            <span>{{widget.uniqueType}}</span>
	          </h2>
	          <span flex></span>
	          <md-button ng-show="!widget.fullscreenState"  ng-click="toggleFullScreen(widget.fullscreenState)" aria-label="Settings" layout-wrap>
                   <span class="ion-arrow-resize" style="font-size:20px;color:#000;"></span>
              </md-button>  
	      </div>
	    </md-toolbar>
	</md-card>
</div>
