<div class="setup-wrapper  animated fadeIn">

        <div class="setting-wrap">
            <div layout="row" layout-align="end end">
				<md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="route('back')"></md-button>
			</div>
			
            <div class="setting-card-header">
                <h5>Account Information</h5>
                <div class="setting-img-wrap">
                    <img ng-src="{{userSetingsUrl}}" style="width:128px;height:128px" />
                </div>
				<span style="font-size:24px;color:#3c8db8">Account Holder: {{username}}</span>
            </div>
			
			
			
            <!-- setting tab wrap-->
            <div class="setting-tab-wrap">

				<div layout="column" layout-align="center center">

						<md-button ng-click="openLogoUploadWindow()">
							<i class="fa fa-file-image-o" style="color:#f9a626"></i>
							&nbsp;&nbsp;
							<span style="color:#f9a626;font-weight:700;font-size: 18px;letter-spacing: 1px;">Upload Logo</span>
						</md-button>
				   
						<span class="setup-font-theme">
							Please select a image from a location inorder to update account logo
						</span>
				   


						<!-- Configure theme colour -->
						<div layout="column">
							<label id="dislab">Theme configuration (Pick two colors)</label>

							<div layout="column" class="setup-color-container">
								<div layout="row" ng-repeat="colors in chunkedColorArr">
									<div class="setup-color-stripes" ng-repeat="color in colors"
										 ng-click="onClickColorTab(color.value)"
										 style="background-color:{{color.value}}"></div>
								</div>
							</div>
						</div>

						<div layout="row">
							<md-switch ng-model="headerbar" aria-label="switch-headerbar">
								Headerbar {{headerbar ? 'ON' : 'OFF'}}
							</md-switch>

						</div>

						<md-button ng-click="updateAccount()">
							<span style="color:#f9a626;font-weight:700;font-size: 18px;letter-spacing: 1px;">Account Update</span>
						</md-button>

			  
			</div>
        </div>
     </div>
 </div>




