<div class="bg-gradient-green"></div>
<div class="setup-wrapper  animated fadeIn">
    <div layout="row" class="setting-close pull-right" ng-click="route('back')">
        <i class="fa fa-close"></i>
    </div>

    <div class="md-padding animated fadeIn" layout="row" layout-align="center center">
        <div class="setting-wrap" style="height: 760px;"
             flex="60">
            <div class="setting-card-header">
                <h5>Create New User</h5>
                <div class="setting-img-wrap">
                    <img src="styles/css/images/setting/invite_user.png"/>
                </div>
                <div class="setting-text-wrap">
                    <p>Create new users belongs to your tenant</p>
                </div>
         
         
            <div class="user-setting-wrap">
                <form name="frmNewUser" autocomplete="off" ng-submit="CreateUser()" novalidate>
                
                    <table width="100%">
                        <tr>    
                            <td width="50%">    
                                <md-input-container>
                                    <label>First Name</label>
                                    <input ng-model="fname" name="fname" required>                                      
                                    <div ng-messages="frmNewUser.fname.$error" ng-if='frmNewUser.fname.$touched' role="alert">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                            </td> 
                            <td width="50%">       
                                <div> 
                                    <md-input-container>
                                        <label>Last Name</label>
                                        <input ng-model="lname">
                                    </md-input-container>
                                </div> 
                           </td>    
                        </tr>        
                     
                        <tr>
                            <td> 
                                <md-input-container>
                                    <label>Email</label>
                                    <input ng-model="email" name="email" required>
                                    <div ng-messages="frmNewUser.email.$error" ng-if='frmNewUser.email.$touched' role="alert">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                            </td>    
                            <td>    
                                <div>    
                                    <md-input-container>
                                        <label>Domain</label>
                                        <input ng-model="domain" readonly="true"> 
                                    </md-input-container>
                                </div>      
                            </td>    
                        </tr>       
                    </table>              

                    <div>    
                        <span class="setup-font-theme">
                            The user will be asked to set his password.
                        </span>
                    </div> 

                    <md-button type="submit" class="setup-button md-raised md-primary">
                        <span class="setup-font-theme">CREATE USER</span>
                    </md-button>
                </form>
            </div>
          

        </div>
    </div>
</div>





        
       