<div class="setup-wrapper  animated fadeIn">

	<div class="setting-wrap" style="max-width:960px;margin:0 auto;margin-top: 20px;box-shadow:0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12)">
		<div layout="row" layout-align="end end">
			<md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="route('back')"></md-button>
		</div>
		
		<div class="setting-card-header">
			<h5>User Gruops</h5>
			<div class="setting-img-wrap">
				<img src="styles/css/images/setting/groups.png"/>
				<div layout="row" layout-align="end center" style="margin-right:20px">
					<md-button class="md-raised" aria-label="Add Group" ng-click="addGroup($event)">
						<span style="color:grey">Add Group</span>
					</md-button>
				</div>
			</div>
		</div>
		
		<div style="padding:20px">
		<v-accordion id="accordion-list" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
				<v-pane id="Cards" expanded="$first" ng-repeat="group in groups"> 
					<v-pane-header id="Store-header" aria-controls="Store-content">
						<h5 style="margin-top:0px;">{{group.name}}</h5>
					</v-pane-header>

					<v-pane-content id="Store-content" aria-labelledby="Store-header">
						<div layout="row" layout-align="end end">
				
							<md-button  aria-label="delete user" ng-click="addUser($event)" layout="row">
								<span style="text-transform:none;color:#f9a525">Add User</span>
							</md-button>
							<md-button  aria-label="delete user" ng-click="deleteGroup($event)">
								<span style="text-transform:none;color:#f9a525">Delete Group</span>
							</md-button>
						
						</div>
						<md-list ng-cloak>
				
							<md-list-item class="secondary-button-padding" ng-repeat="groupMemeber in group.users">
								<p>{{groupMemeber.name}}</p>
								<md-button class="md-icon-button md-secondary" aria-label="delete user" ng-click="deleteUser($event)">
									<ng-md-icon icon="delete" style="fill:grey;" size="20px" ></ng-md-icon>
								</md-button>
							</md-list-item>
			

						</md-list>
					</v-pane-content>  
				</v-pane>
	
		</v-accordion>
		</div>
       

    </div>

</div>
