<div class="setup-wrapper animated fadeIn">
    <div layout="row" class="setting-close pull-right" ng-click="route('back')">
        <md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="route('welcome')"></md-button>
    </div>
	

	<div layout="row" layout-align="center center" layout-wrap style="margin-top:50px;">
		<md-card ng-repeat="dashboard in dashboards"  flex-xs="100" flex-sm="40" flex-gt-sm="30" flex-gt-lg="20" class="product_card" class="make-it-fast">
			<div layout="row" layout-align="space-between start" style="padding-bottom:5px;margin-bottom:5px;">
				<span class="product_name" style="border-bottom: 1px solid #cdcdcd;">{{dashboard.dashboardName}}</span>
				<span></span>
			</div>

			<div layout="row" layout-align="center center">
				<!-- <img ng-src="grid.png" style="width:50%"/> -->
			</div>
			<div layout="row" flex>
				<md-button ng-click="viewSharedListWindow(dashboard.dashboardID,dashboard.dashboardName)" flex><span style="color:#afb6bcfont-weight:700;font-size: 13px;letter-spacing: 1px;"> Shared List</span></md-button>
				<md-button ng-click="loadShareWindow(dashboard.dashboardID,dashboard.dashboardName)" flex> <span style="color:#f9a626;font-weight:700;font-size: 16px;letter-spacing: 1px;">Share</span></md-button>
			</div>
		</md-card>
	</div>
</div>

<div style="color: #D0D0D0;bottom: 20px;right: 20px;position: fixed; z-index: -1;font-size: 60px;">Share Dashboards</div>
