<div class="bg-gradient-green"  ng-init="viewUserProfile()"></div>
<div class="setup-wrapper  animated fadeIn">
    <div layout="row" class="setting-close pull-right" ng-click="route('back')">
        <i class="fa fa-close"></i>
    </div>

    <div class="md-padding animated fadeIn" layout="row" layout-align="center center">
        <div class="setting-wrap" style="height: 760px;"
             flex="60">
            <div class="setting-card-header">
                <h5>User Profile</h5>
                <!-- <div class="setting-img-wrap">
                    <img src="styles/css/images/setting/invite_user.png"/>
                </div> -->

                <div class="setting-text-wrap">
                    <p>Update user profile and change password here</p>
                </div>
 
                <md-button class="setup-button md-raised md-primary" ng-click="loadPasswordChangeWindow()">
                    <span class="setup-font-theme">Change Password</span>
                </md-button>

            </div>


            <div class="user-setting-wrap">   

                <div layout="column">    
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="email" readonly="true"> 
                    </md-input-container>

                     <md-input-container>
                        <label>Name</label>
                        <input ng-model="name">
                    </md-input-container>
                </div>   

                <div layout="row"> 
                    <md-input-container>
                        <label>Phone No</label>
                        <input ng-model="phoneNo">
                    </md-input-container>

                    <md-input-container>
                        <label>Company</label>
                        <input ng-model="company">
                    </md-input-container>
                </div>     

                <div layout="row">    
                    <md-input-container>
                        <label>Country</label>
                        <input ng-model="country"> 
                    </md-input-container>

                    <md-input-container>
                        <label>Zip Code</label>
                        <input ng-model="zipCode"> 
                    </md-input-container>      
                </div>   

                <div layout="column">    
                    <md-input-container>
                        <label>Billing Address</label>
                        <input ng-model="address"> 
                    </md-input-container>   
                </div>   

   
                <md-button class="setup-button md-raised md-primary" ng-click="updateProfile()">
                    <span class="setup-font-theme">UPDATE PROFILE</span>
                </md-button>
            </div>

        </div>
    </div>
</div>





        
       