<div class="bg-gradient-green"  ng-init="viewUserProfile()"></div>
<div class="setup-wrapper  animated fadeIn">
    <div layout="row" class="setting-close pull-right" ng-click="route('back')">
        <i class="fa fa-close"></i>
    </div>

    <div class="md-padding animated fadeIn" layout="row" layout-align="center center">
        <div class="setting-wrap" style="height: 760px;"
             flex="60">

            <div class="setting-card-header">
                <h5>User Profile</h5>
                 <!-- <img src="styles/css/images/setting/user100x100.png" class="img-circle" style="width:18%;"/> -->
            </div>
            
            <div ng-show="selectProfile">  
                <div align="center">
                    <img ng-src="{{profile_pic}}" class="img-circle">
                </div>
            </div>    

           <div ng-show="selectImage" align="center"><!-- selectImage-->
                <div><input type="file" id="fileInput" /></div>
                <div class="cropArea" align="center">
                    <img-crop class="cropArea"  image="myImage" result-image="myCroppedImage" area-type="circle" >
                    </img-crop>
                </div>

                <br>

                <div>Cropped Image:</div>               
                <div align="center">
                    <!-- <img ng-src="{{myCroppedImage}}"/> -->
                    <img ng-src="{{myCroppedImage}}" class="img-circle">
                </div>

                <md-button class="setup-button md-raised md-primary" ng-click="cancelImage()">
                    <span class="setup-font-theme">Cancel</span>
                </md-button> 

                <md-button class="setup-button md-raised md-primary" ng-click="saveImage()">
                    <span class="setup-font-theme">Save Image</span>
                </md-button>

            </div>


            <div ng-show="selectProfile">
                <div class="user-setting-wrap" >  

                    <table width="100%">
                        <tr>
                            <td style="padding: 0px;"></td>
                            <td align="right" style="padding: 0px;">
                                <md-button class="setup-button md-raised md-primary" ng-click="selectProfileImg()">
                                    <span class="setup-font-theme">Set Profile Picture</span>
                                </md-button>

                                <md-button class="setup-button md-raised md-primary" ng-click="loadPasswordChangeWindow()">
                                    <span class="setup-font-theme">Change Password</span>
                                </md-button>
                            </td>
                        </tr>  
                    </table>    


                    <form name="frmProfile" autocomplete="off" ng-submit="updateProfile()" novalidate>
                                            <table width="100%">
                                                <!-- <tr>
                                                    <td style="padding: 0px;"></td>
                                                    <td align="right" style="padding: 0px;">
                                                        <md-button class="setup-button md-raised md-primary" ng-click="selectProfileImg()">
                                                            <span class="setup-font-theme">Set Profile Picture</span>
                                                        </md-button>

                                                        <md-button class="setup-button md-raised md-primary" ng-click="loadPasswordChangeWindow()">
                                                            <span class="setup-font-theme">Change Password</span>
                                                        </md-button>
                                                    </td>
                                                </tr>   -->
                                                <tr> 
                                                    <td width="50%" style="padding: 0px;"> 
                                                            <md-input-container>
                                                                <label>Email</label>
                                                                <input ng-model="email" readonly="true"> 
                                                            </md-input-container>
                                                    </td>
                                                    <td width="50%" style="padding: 0px;">        
                                                             <md-input-container>
                                                                <label>Name</label>
                                                                <input ng-model="name" name="name" required>
                                                                    <div ng-messages="frmProfile.name.$error" ng-if='frmProfile.name.$touched' role="alert">
                                                                    <div ng-message="required">This is required.</div>
                                                                </div>
                                                            </md-input-container>


                                                    </td>         
                                                </tr>
                                                <tr>    
                                                    <td style="padding: 0px;">
                                                        <md-input-container>
                                                            <label>Contact No</label>
                                                            <input type="text" phone-input ng-model="phoneNo" name="phoneNo" required>
                                                                 <div ng-messages="frmProfile.phoneNo.$error" ng-if='frmProfile.phoneNo.$touched' role="alert">
                                                                <div ng-message="required">This is required.</div>
                                                        </md-input-container>
                                                    </td>    
                                                    <td style="padding: 0px;">    
                                                        <md-input-container>
                                                            <label>Company</label>
                                                            <input ng-model="company">
                                                        </md-input-container>
                                                    </td>     
                                                </tr>
                                                <tr>   
                                                    <td style="padding: 0px;">    
                                                        <md-input-container>
                                                            <label>Country</label>
                                                            <input ng-model="country"> 
                                                        </md-input-container>
                                                    </td>
                                                    <td style="padding: 0px;">    
                                                        <md-input-container>
                                                            <label>Zip Code</label>
                                                            <input ng-model="zipCode"> 
                                                        </md-input-container>      
                                                    </td>   
                                                </tr>
                                                <tr>    
                                                    <td colspan="2" style="padding: 0px;">    
                                                        <md-input-container>
                                                            <label>Billing Address</label>
                                                            <input ng-model="address" name="address" required> 
                                                            <div ng-messages="frmProfile.address.$error" ng-if='frmProfile.address.$touched' role="alert">
                                                                <div ng-message="required">This is required.</div>
                                                        </md-input-container>   
                                                    <td>   
                                                </tr>   

                                                <tr>    
                                                    <td colspan="2" style="padding: 0px; text-align: right;" >    
                                                        <md-button class="setup-button md-raised md-primary">  <!-- ng-click="updateProfile()" -->
                                                            <span class="setup-font-theme">UPDATE PROFILE</span>
                                                        </md-button>
                                                    <td>   
                                                </tr>   

                                            </table>        

                           
                    </form>        


                </div>
            </div>
        


        </div>
    </div>
</div>





        
       