<style>

md-dialog.md-dialog-fullscreen {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}
</style>

<md-dialog aria-label="Fullscreen Widget">
  <form name="editForm">
	  <md-toolbar class="modal-header" style="max-height:45px;min-height:45px">
		<div class="md-toolbar-tools">
		   <div layout="row" layout-align="center center">
			<h2>{{widget.widgetName}}</h2>
		  </div>
		  <span flex></span>
		  <md-button class="md-icon-button icon-cancel" ng-click="cancel()" aria-label="Close">
		  </md-button>
		</div>
	  </md-toolbar>
	  <md-dialog-content style="min-width:385px;">
		 <div class="widgetContentHolder" ng-init="widInit(widget)" class="digin-widget-content dashboard-widget"
			 ng-slimscroll
			 opacity="0.1"
			 distance="5px"
			 height="100%"
			 width="100%"
			 ng-mouseover="chatWidgetscrollEnabled = true"
			 ng-mouseleave="chatWidgetscrollEnabled = false"
			 enabled="{{ chatWidgetscrollEnabled }}"
			 ng-style="{'height':widget.widgetData.mheight}" layout="row">
			<div class="d3-btn-wrap" ng-if="widget.isD3chart">
				<span class="fa fa-bars" id="d3-btn-stn" ng-click="d3chartBtnClick(widget)"></span>
				<div class="d3-setting-wrap" ng-if="widget.d3chartBtn">
					<div class="print-chart-wrap" ng-click="printD3Chart(widget)">Print chart</div>
					<hr>
					<div class="print-opt-wrap" ng-click="pngDownload(widget)">Download PNG image</div>
					<div class="print-opt-wrap" ng-click="jpegDownload(widget)">Download JPEG image</div>
					<div class="print-opt-wrap" ng-click="svg_to_pdf(widget)">Download PDF document</div>
				</div>
			</div>

			<div id="svg-container" style="display: none">
			</div>
			<a id="btn-Convert-Html2Image" style="display: none" href="#">Download</a>
			<canvas id="canvas" width="600" height="600" style="display: none">
			</canvas>

			<div id="png-container"></div>
			
			<div style="height:100%;width:100%" class="dashoard-Wrapper {{widget.widgetID}}" ng-if="widget.widgetData.selectedChart.chartType != 'd3sunburst'" id="d3Chart-wrap" ng-include="widget.widgetData.widView">
			</div>
			<div style="height:100%;width:50%;margin-left:25%" ng-if="widget.widgetData.selectedChart.chartType == 'd3sunburst'" class="dashoard-Wrapper {{widget.widgetID}}"  id="d3Chart-wrap" ng-include="widget.widgetData.widView">
			</div>
		
		   
		</div>
	  </md-dialog-content>
  </form>
</md-dialog>