
<md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="end end" style="background-color: #FFFFFF;height:40px;margin-bottom: 8px;">
<md-autocomplete flex style="z-index:99;" ng-keypress="enter($event,ctrl.searchText)" ng-disabled="$root.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Invite User">
<md-item-template>
<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
</md-item-template>
</md-autocomplete>
</md-whiteframe>


<div layout="row" layout-align="center center" style="margin-top:25%" ng-if="headerInfo.Success == false">
	<h1>Please add a Card or an Account.</h1>
</div>
<!--START OF COLLAPSE CARDS-->
<div  class="collapse-card" ng-repeat="owern in tenant | filter:ctrl.searchText || undefined track by owern.TenantID" ng-class="{ active: $active }" >

	<!--START OF COLLAPSE CARD HEADING| filter:ctrl.actionSearchText||undefined-->
	<div class="collapse-card__heading" layout="row" layout-align="start start" >
		<!--END OF CARD CONTROLS SECTION-->
		<!--START OF CARD OPEN SECTION-->
		<div class="collapse-card_header_content_info" layout="row" layout-sm="column" layout-align="start center" layout-align-sm="center center" flex="90" ng-click="$active = !$active; closeAll();">
			<div flex="10"><img ng-src="img/duo.jpg" class="imgcircle"/></div>
			<div flex="100">
				<h4 class="collapse-card__title" style="margin-top:8px;">
					<span class="s"><label hide-sm>Email: </label>{{owern.email}}</span>
				</h4>
			</div>
		</div>
		<!--END OF CARD OPEN SECTION-->

		<!--START OF CARD CONTROLS SECTION-->
		<div class="collapse-card_header_content_controls" flex="10" layout="column" layout-align="center start">
			<md-menu md-position-mode="target-right target">
			<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
			<md-icon md-svg-icon="img/ic_more_vert_24px.svg"></md-icon>
		</md-button>
		<md-menu-content width="4">
		<md-menu-item>
		<md-button ng-click="addUser()">
		<div layout="row">
			<p flex>Add User</p>
			<md-icon md-svg-icon="img/ic_account_box_24px.svg"></md-icon>
		</div>
	</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>
</div>
<!--END OF CARD CONTROLS SECTION-->
</div>
<!--END OF COLLAPSE CARD HEADING-->

<!--START OF CARD BODY-->
<div class="collapse-card__body">
	<form id="form" name="editForm">
		<md-content>

		<div layout layout-sm="column" layout-margin>
			<div flex="5">
				<img src="img/material alperbert/avatar_tile_a_28.png" style="margin-top:22px;border-radius:20px"/>
			</div>
			<div flex="20" style="margin-top:35px;">
				<label style="font-weight:700">Tenant Details</label>
			</div>
			<md-input-container id="accContainer" flex >
			<label>Tenant ID</label>
			<input  ng-model="" required>
		</md-input-container>

		<md-input-container id="accContainer" flex >
		<label>Company Name</label>
		<input  ng-model="" required>
	</md-input-container>

	<md-input-container id="accContainer" flex >
	<label>Category</label>
	<input  ng-model="" required>
</md-input-container>
</div>

</md-content>
</form>
</div>
<!--END OF CARD BODY-->


</div>
<!--END OF COLLAPSE CARDS-->





