<style>
.form-container {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 8px;
}

.setting-card-header {
    text-align: center;
}

.setting-card-header > h2 {
    color: #3b6982;
    margin-top: 40px;
}

.setting-img-wrap {
    width: 125px;
    margin: 0 auto;
}

p {
    margin: 4px;
}

.md-button.md-icon-button {
    margin: 0px;
}

.side-margins {
    margin: 0px 10px 0px 10px;
}

input:disabled {
    background: #e9e9e9;
    cursor: not-allowed;
    background-image: none !important;
}

.next-btn {
    background: #02b5e2 !important;
    color: white !important;
}

.checkbox {
    margin: 0px;
}

.product_card {
    position: relative;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product_card::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.product_card:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
}

.product_card:hover::after {
    opacity: 1;
}

._md-nav-button {
    width: 100% !important;
}
</style>
<div class="card-container">
    <a id="report-top"></a>
    <md-stepper-card-content class="md-no-padding">
        <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="selectedStep" md-busy-text="stepData[currentStep].busyText" md-busy="showBusyText">
            <md-step label="Select type" md-complete="stepData[0].data.completed" ng-disabled="stepProgress < 1">
                <md-step-body>
                    <form name="step1" ng-submit="submitCurrentStep(stepData[0])">
                        <md-card class="form-container">
                            <div layout="row" layout-align="end end">
                                <md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="route()"></md-button>
                            </div>                        
                            <div class="setting-card-header">
                                <h2>Upload CSV File </h2>
                                <div class="setting-img-wrap">
                                    <img src="views/widgets/excelFileUpload/folder.png" />
                                </div>
                            </div>
                            <div layout="row" class="side-margins">
                                <md-content>
                                    <md-radio-group ng-model="selectedPath">
                                        <md-radio-button value="File" aria-label="Label 1"> Single file </md-radio-button>
                                        <md-radio-button value="Folder"> Upload a file to folder </md-radio-button>
                                    </md-radio-group>
                                </md-content>
                            </div>
                            <div flex layout="row" layout-align="space-between center" class="side-margins">
                                <span></span>
                                <md-button type="submit" ng-disabled="showBusyText" class="md-raised next-btn">NEXT</md-button>
                            </div>
                        </md-card>
                        <br/>
                        <md-step-actions layout="row">
                        </md-step-actions>
                    </form>
                </md-step-body>
            </md-step>
            <md-step label="Folder Name" md-complete="stepData[0].data.completed" ng-disabled="stepProgress < 1">
                <md-step-body>
                    <form name="step1" ng-submit="submitCurrentStep(stepData[0])">
                        <md-card class="form-container">
                            <div layout="row" layout-align="end end">
                                <md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="route()"></md-button>
                            </div>                          
                            <div class="setting-card-header">
                                <h2>Folder Selection</h2>
                                <div class="setting-img-wrap">
                                    <img src="views/widgets/excelFileUpload/folder.png" />
                                </div>
                            </div>
                            <div layout-gt-sm="row" class="side-margins">
                                <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" flex>
                                    <md-nav-item md-nav-click="goto('page1')" name="page1" flex>New Collection</md-nav-item>
                                    <md-nav-item md-nav-click="goto('page2')" name="page2" flex>Exisiting Collection</md-nav-item>
                                </md-nav-bar>
                            </div>
                            <div layout="row" class="side-margins">
                                <div flex class="side-margins" style="padding-top: 30px;">
                                    <md-input-container class="md-block" flex-gt-sm="90">
                                        <span>Folder Name:</span>
                                        <input required name="folderName" ng-model="folderName" ng-disabled="newCollection" aria-label="folder name" ng-pattern='/^\w+$/'>
                                        <div ng-messages="step1.folderName.$error">
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="pattern">Invalid Folder Name.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                               
                                <div flex class="side-margins" 
                                style="padding-top: 30px;overflow-x: scroll;max-height: 200px;">
                                <md-content>
                                    <md-radio-group class="effect-radio-group" ng-model="selectedFolder">
                                        <md-radio-button ng-click="selectFile(folder)" ng-class="effect-btn" ng-repeat="folder in Folders" ng-value="folder"> {{folder.file}}  </md-radio-button>
                                    </md-radio-group>
                                    </md-content>
                                </div>
                                
                            </div>
                            <div flex layout="row" layout-align="space-between center" class="side-margins">
                                <md-button ng-click="moveToPreviousStep()" class="md-raised next-btn">Previous</md-button>
                                <md-button type="submit" ng-disabled="showBusyText" class="md-raised next-btn">NEXT</md-button>
                            </div>
                        </md-card>
                        <br/>
                        <md-step-actions layout="row">
                        </md-step-actions>
                    </form>
                </md-step-body>
            </md-step>
            <md-step label="Upload" md-complete="stepData[1].data.completed" ng-disabled="stepProgress < 2">
                <md-step-body>
                    <form name="step2" ng-submit="upload($event, stepData[1])">
                        <md-card class="form-container">
                            <div layout="row" layout-align="end end">
                                <md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="More" style="margin-top: 10px !important;" ng-click="route()"></md-button>
                            </div>
                            <div class="setting-card-header">
                                <h2>Upload File</h2>
                            </div>
                            <!--   <md-list flex>
                                    <md-list-item class="md-3-line" ng-repeat="file in vm.files" ng-click="null">
                                        <img ng-src="views/widgets/excelFileUpload/excel.png" class="md-avatar" style="height:60px;width:52px;border-radius:0;" alt="{{file.name}}" />
                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{ file.name }}</h3>
                                            <md-progress-linear md-mode="determinate" value="{{file.progressCounter}}" style="margin-top:15px;" flex></md-progress-linear>
                                        </div>
                                    </md-list-item>
                                </md-list> -->
                            <div class="custom-file-upload" layout-align="center center">
                                <div ngf-drop="validate($files)" ngf-select="validate($files)" ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-allow-dir="true" ngf-pattern="'.csv'" accept=".csv" ng-disabled = "showBusyText || preloader || insertPreLoader || uploadPreLoader" 
                                flex layout = "column" 
                                layout-align="space-between center" >Drop files here or click to upload 
                                <div ng-show="preloader">
                                    Uploading file.. {{progressPercentage}} % complete..
                                    <md-progress-linear md-mode="determinate" value="{{progressPercentage}}" 
                                    style="width: 300px;">
                                    </md-progress-linear>
                                </div>
                                <svg class="circular-loader" height="50" width="50" ng-show="insertPreLoader">
                                    <circle class="path" cx="25" cy="25.2" r="19.9" fill="none" stroke-width="6" stroke-miterlimit="10" />
                                </svg>                                
                                <div></div>
                                </div>
                                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                <div style="display:inline-flex;">
                                    Files :
                                    <div ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="eachfile in schemaCollection track by $index" >
                             <h4> Edit Schema {{$index +1}} </h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Field Name</th>
                                        <th>Field Type</th>
                                    </tr>
                                    <tbody>
                                        <tr ng-repeat="val in schema track by $index">
                                        <td> {{val.name}} </td>
                                        <td>
                                            <md-select ng-model="val.type" 
                                            ng-disabled="isExist || showBusyText || preloader || insertPreLoader || uploadPreLoader">
                                                <md-option ng-repeat="type in fieldTypeObj" value="{{type}}">
                                                    {{type}}
                                                </md-option>
                                            </md-select>   
                                        </td>
                                        </tr>
                                    </tbody>
                            </table>
                            </div>
                            <div flex layout="row" layout-align="space-between center" class="side-margins">
                                <md-button ng-click="moveToPreviousStep()" class="md-raised next-btn" 
                                ng-disabled="showBusyText || preloader || insertPreLoader || uploadPreLoader">
                                Previous
                                </md-button>
                                <svg class="circular-loader" height="50" width="50" ng-show="uploadPreLoader">
                                    <circle class="path" cx="25" cy="25.2" r="19.9" fill="none" stroke-width="6" stroke-miterlimit="10" />
                                </svg>
                                <md-button ng-click="UploadWithUpdate()" ng-disabled="showBusyText || preloader || insertPreLoader || uploadPreLoader" class="md-raised next-btn">Upload</md-button>
                                <!--ng-click="vm.upload($event, vm.stepData[0].data)"-->
                            </div>
                        </md-card>
                        <br/>
                    </form>
                </md-step-body>
            </md-step>
            <md-step label="Finish" md-complete="stepData[2].data.completed" ng-disabled="stepProgress < 3">
                <md-step-body>
                    <form name="step2">
                        <md-card class="form-container">
                            <div layout="column" layout-align="center center" style="min-height: 200px">
                                <h4><span ng-show="files.length > 1"> Files were</span> <span ng-show="files.length == 1"> File was</span> successfully uploaded</h4>
                                <md-button class="md-primary md-raised next-btn" ng-click="goToDashboard()">Finish</md-button>
                            </div>
                        </md-card>
                        <br/>
                    </form>
                </md-step-body>
            </md-step>
        </md-steppers>
    </md-stepper-card-content>
</div>
