

<style>
table.table-data tr.error{
  background:#f2dede;
}
table.table-data td{
  padding:4px;
}
table.table-data td{
  padding:4px;
}
thead td[ng-click]{
  cursor: pointer;
}
.drag-handler{
  visibility: hidden;
}
.dragable .drag-handler{
  visibility: visible;
  border:outset 1px lightgray;
  cursor:row-resize;
  font-size:60%;
  margin:4px;
}

.id{
  background:#F3F3F3;
}
tr.cursor .id{
  background:#E3E3E3;
}
tr .wrap{
  overflow: hidden;
}
.code pre{
  background:#f8f8f8;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
.hljs-comment, .diff .hljs-header {
  color: #FFF;
  background-color: #677130;
  font-style: normal;
}
#tabular-table{
  color: #34495e;
}

#tabular-table tbody{
  font-size: 13px;
}
#tabular-table tr:nth-child(odd) {
  background-color: #ecf0f1;
}
#tabular-table tr:nth-child(even) {
  background-color: #d2edff;
}

</style>

<md-content ng-show="widget.widgetData.syncState"  ng-hide="eventHndler.isLoadingChart" style="padding-top:20px;width:100%;height:100%">
	<div  id="{{widget.widgetData.id}}">
	<table id="tabular-table" class="table-data" style="float:left;width:100%;height:100%" cell-cursor="cc"cell-cursor-copy="cc.getSelectedCellValues()|cellCursorToTsv"
  	cell-cursor-paste="cc.setSelectedCellValues($data)"
  	ng-keydown="keydown($event)"
  	ng-class="{dragable:dragable()}">
		
	<thead>
    <tr>
      
      <!-- changeSort is change $scope.sort -->
      <!--td ng-click="changeSort(x)" ng-repeat="x in widget.widgetData.widData.tabularConfig.AllingArr"-->
      <td ng-click="widget.widgetData.widData.tabularService.changeSort(x,widget)" ng-repeat="x in widget.widgetData.widData.tabularConfig.AllingArr">
        <div class="cell-cursor-col-resize"></div>
        <span style="font-size: 16px;">
          <b>{{x.DislayName}}</b>
        </span>
        <!-- sort key indicator example -->
        <span ng-show="widget.widgetData.widData.sort=='{{x.Attribute}}'">▲</span>
        <span ng-show="widget.widgetData.widData.sort=='-{{x.Attribute}}'">▼</span>
      </td>
    </tr>
  </thead>
  <tbody>
    <!-- angular.js default directive `ng-repeat` and default filters -->
    <tr ng-repeat="user in widget.widgetData.widData.userList| limitTo:widget.widgetData.widData.tabularConfig.numOfRows:start as result  track by $index" ng-class="{error:isError(user)}">
     
      <td ng-repeat="y in widget.widgetData.widData.tabularConfig.AllingArr" style=" text-align:{{y.Alignment}}">
      	  	{{widget.widgetData.widData.tabularService.numberWithCommas(user[y.Attribute])}}
      </td>

       <!--td>{{user.profit}}</td>
       <td>{{user.order_priority}}</td>
       <td>{{user.sales}}</td-->
    </tr>
    <tr>
   
      <td ng-repeat="agg in widget.widgetData.widData.tabularConfig.AllingArr" style=" text-align:{{agg.Alignment}}">
          <span ng-hide="agg.isString || widget.widgetData.widData.tabularConfig.totForNumeric == 'false'">
              {{agg.Aggregation}} = {{widget.widgetData.widData.tabularService.numberWithCommas(agg.Aggregation_value)}}
          </span>
      </td>
    </tr>
  </tbody>
</table>

  <div style="width: 400px;margin-left: auto;margin-right: auto;margin-top: 5px;" layout="row"  layout-align="center center">

      <span>{{widget.widgetData.widData.selectedPage}}</span>

      <md-button class="md-primary"  ng-disabled="widget.widgetData.widData.currentPage <= 0" 
      ng-click="widget.widgetData.widData.tabularService.tabularNavigate('Prev',widget,false)">Prev</md-button>

      <md-button class="md-primary" ng-disabled="widget.widgetData.widData.isNext"
      ng-click="widget.widgetData.widData.tabularService.tabularNavigate('Next',widget,false)">Next</md-button>

  </div>

	</div>
</md-content>

<div class="digin-gb-chart-loading" ng-if="eventHndler.isLoadingChart==true">
    <svg class="circular-loader" height="50" width="50">
        <circle class="path" cx="25" cy="25.2" r="19.9"
                fill="none" stroke-width="6" stroke-miterlimit="10"/>
    </svg>
</div>
<div ng-hide="widget.widgetData.syncState" layout="row" layout-sm="column" layout-align="center center" style="height:100%;width:100%;">
    <img src="styles/css/images/preloaders/facebook.gif" alt="Washed Out">
</div>