<md-dialog aria-label="Invite User" plumb-item class="dialog-1 b-r-0">
  <form md-theme="default" name="editForm" ng-submit="editForm.$valid && submit()">
  <md-toolbar class="tlbar-1" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="center center" class="digin-logo-wrapper2">
        <img ng-src="styles/css/images/DiginLogo.png" class="digin-image">
      </div>  
      <div class="dialog-title">Digin3</div>         
      <md-button class="buttonMinwidth38 b-r-0" aria-label="cancel" ng-click="cancel();">      
        <ng-md-icon icon="close" style="fill:white" size="24" layout="row"></ng-md-icon>   
      </md-button>            
  </md-toolbar>
  <md-dialog-content style="max-width:1200px;max-height:810px;min-width:1200px;min-height:810px;height:100% ">
	
	<iframe style="width:100%;height:800px;position:relative;border:none" src="{{d3ref}}"></iframe>
	
  </md-dialog-content>

  </form>
</md-dialog>