<div class="setting-container">
<div ng-init="initQueryBuilder()" class="animated fadeInRight" style="padding:0" ng-controller="queryBuilderCtrl">
    <!-- <toast></toast> -->
    <!-- page main loader -->
    <div class="digin-main-loader slideOutDown"
         ng-if="eventHndler.isMainLoading==true">
        <div class="loader-wrap animated "
             ng-class="eventHndler.isMainLoading==true?'zoomInUp':'fade-out'">
            <div class="loader-body-wrap">
                <span class="loader2"><span class="loader2-inner"></span></span>
                <h3>
                    {{eventHndler.message}}
                </h3>
            </div>
        </div>
    </div>

    <div class="digin-qb-header">
        <div layout="row">
            <div flex="10">
                <div class="back" ng-click="goDashboard()">
                    <i class="ti-arrow-left"></i>
                </div>
            </div>
            <div flex="50">
                <div class="digin-qb-header-text">
                    
                        Query Builder
                       <!--  <small>{{queryStr.crntQryBuildNme}}</small> -->
                    
                </div>
            </div>
            <div flex="20" class="bg-lightskyblueh-2 p-l-20">
                <div class="digin-gb-b ">
                    <span>source name</span>
                    <h5>{{sourceData.src}}</h5>
                </div>
            </div>
            <div flex="20" class="bg-lightblue-h-1 p-l-20">
                <div class="digin-gb-b">
                    <span>table name</span>
                    <h5>{{sourceData.tbl}}</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- measures config panel toggle -->
    <div class="digin-gb-bdy-wrap">
        <div layout="row">
            <!-- chart config panel -->
            <div class="chart-config-panel animated  "
                 id="togglePanel">
                <div class="header">
                    <h4 class="font-weight-300">
                        measures
                        <div class="header-icon">
                            <i class="ti-help"></i>
                        </div>
                    </h4>
                </div>
                <div class="chart-config-wrap">
                    <v-accordion id="accordionA" class="vAccordion--default" control="accordionA"
                                 onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
                        <v-pane id="{{ ::measure.id }}" ng-repeat="measure in commonData.measures" class="v-pane">
                            <v-pane-header id="{{ ::measure.id }}-header" aria-controls="{{ ::measure.id }}-content">
                                <h5 class="font-weight-300 text-upper">{{ ::measure.filedName }}</h5>
                            </v-pane-header>
                            <v-pane-content class="trans-bg v-pane-content" id="{{ ::measure.id }}-content"
                                            aria-labelledby="{{ ::measure.id }}-header">
                                <p class="data-row-style-2 hvr-sweep-to-right"
                                   ng-hide = "selectedChart.chartType == 'metric'"
                                   markable
                                   ng-click="eventHndler.onClickCondition(condition,measure,$event )"
                                   ng-repeat="condition in commonData.measureCondition">
                                    {{ ::condition.name }}
                                    <i class="ti-close"
                                       remove-markable
                                       ng-click="eventHndler.onClickRmvCondition(condition,measure)"></i>
                                </p>
                                <p class="data-row-style-2 hvr-sweep-to-right"
                                   ng-show="selectedChart.chartType == 'metric'"
                                   markable
                                   ng-click="eventHndler.onClickActualField(condition,measure,$event )"
                                   ng-repeat="condition in commonData.measureCondition">
                                    {{ ::condition.name }}
                                    <i class="ti-close"
                                       remove-markable
                                       ng-click="eventHndler.onClickActualField(condition,measure)"></i>
                                </p>
                            </v-pane-content>
                        </v-pane>
                    </v-accordion>
                </div>
            </div>
            <!-- measures -->
            <div flex="20" ng-if="selectedChart.chartType == 'highCharts' || selectedChart.chartType =='map' || selectedChart.chartType == 'metric' || selectedChart.chartType =='d3hierarchy' || selectedChart.chartType =='d3sunburst' || selectedChart.chartType == 'forecast'  || selectedChart.chartType == 'Tabular'">
                <div class="digin-gb-measures last-icon" ng-style="chartBgMeaStyle" ng-hide="selectedChart.chartType == 'metric' || selectedChart.chartType == 'forecast'  || selectedChart.chartType == 'Tabular'">
                    <div class="panel-header">
                        <h3 class="font-weight-300">
                            Series
                            <fieldset ng-disabled="isPendingRequest"
                                      data-ng-style="isPendingRequest && {'cursor':'not-allowed'}"
                                      class="toggle-icon animated "
                                      ng-class="eventHndler.isToggleMeasure==true?'left-icon-toggle':'left-icon'"
                                      ng-click="eventHndler.onToggleEvent('1')">
                                <i class="" style="cursor:inherit;"
                                   ng-class="eventHndler.isToggleMeasure==true?'ti-angle-left rotateOut':'ti-angle-right rotateIn'"
                                ></i>
                            </fieldset>
                        </h3>
                    </div>
                    <div class="measures-body">
                        <div class="draggable-measure data-row"
                             ng-repeat="measure in executeQryData.executeMeasures">
                            <i class="ti-close" ng-click="removeMeasure(measure)"></i>
                            <span>
                              &nbsp;&nbsp;{{measure.filedName}}
                            </span>
                            <div class="measures-type">
                                {{measure.condition}}
                            </div>
                        </div>
                        <div class="filter-data-not-fund"
                             ng-if="executeQryData.executeMeasures.length < 1">
                            <i class="ti-filter"></i>
                            <h5>add aggregations</h5>
                        </div>
                    </div>
                </div>
                <div class="digin-gb-measures last-icon" ng-style="chartBgMeaStyle" ng-show="selectedChart.chartType == 'metric'">
                    <div class="panel-header">
                        <h3 class="font-weight-300">
                            Actual Value
                            <fieldset ng-disabled="isPendingRequest"
                                      data-ng-style="isPendingRequest && {'cursor':'not-allowed'}"
                                      class="toggle-icon animated "
                                      ng-class="eventHndler.isToggleMeasure==true?'left-icon-toggle':'left-icon'"
                                      ng-click="eventHndler.onToggleEvent('1')">
                                <i class="" style="cursor:inherit;"
                                   ng-class="eventHndler.isToggleMeasure==true?'ti-angle-left rotateOut':'ti-angle-right rotateIn'"
                                ></i>

                            </fieldset>
                        </h3>
                    </div>

                    <div class="measures-body">
                        <div class="draggable-measure data-row"
                             ng-repeat="measure in executeQryData.executeActualField">
                            <i class="ti-close" ng-click="removeActual(measure)"></i>
                            <span>
                              &nbsp;&nbsp;{{measure.filedName}}
                            </span>
                            <div class="measures-type">
                                {{measure.condition}}
                            </div>
                        </div>
                        <div class="filter-data-not-fund"
                             ng-if="executeQryData.executeActualField.length < 1">
                            <i class="ti-filter"></i>
                            <h5>add actual value field</h5>
                        </div>
                    </div>
                </div>

                <!-- columns config panel -->
                <div class="columns-config-panel animated"
                     id="togglePanelColumns">
                    <div class="header" ng-hide="selectedChart.chartType == 'metric'  || selectedChart.chartType == 'forecast'">
                        <h4 class="font-weight-300">
                            Attributes
                            <div class="header-icon">
                                <i class="ti-help"></i>
                            </div>
                        </h4>
                    </div>

                    <div class="chart-config-wrap"  ng-hide="selectedChart.chartType == 'metric' || selectedChart.chartType == 'Tabular'">
                        <v-accordion id="accordionA" class="vAccordion--default" control="accordionA"
                                     onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
                            <v-pane id="{{ ::column.id }}" ng-repeat="column in commonData.columns"
                                    class="v-pane-column">
                                <v-pane-header id="{{ ::column.id }}-header" class="data-row-columns"
                                               ng-click="eventHndler.onClickColumn(column)"
                                               aria-controls="{{ ::column.id }}-content">
                                    <h5 markable class="font-weight-300 text-upper">{{ ::column.filedName }}
                                        <i class="ti-close"></i>
                                    </h5>
                                </v-pane-header>
                            </v-pane>
                        </v-accordion>
                    </div>

                    <!--for tabular widget-->
                     <div class="chart-config-wrap"  ng-show="selectedChart.chartType == 'Tabular'">
                        <v-accordion id="accordionA" class="vAccordion--default" control="accordionA"
                                     onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
                            <v-pane id="{{ ::column.id }}" ng-repeat="column in commonData.columns"
                                    class="v-pane-column">
                                <v-pane-header id="{{ ::column.id }}-header" class="data-row-columns"
                                               ng-click="eventHndler.onClickAttributes(column)"
                                               aria-controls="{{ ::column.id }}-content">
                                    <h5 markable class="font-weight-300 text-upper">{{ ::column.filedName }}
                                        <i class="ti-close"></i>
                                    </h5>
                                </v-pane-header>
                            </v-pane>
                        </v-accordion>
                    </div>

                    <div class="header" ng-show="selectedChart.chartType == 'metric'">
                        <h4 class="font-weight-300">
                            Target Field
                            <div class="header-icon">
                                <i class="ti-help"></i>
                            </div>
                        </h4>
                    </div>
                    <div class="chart-config-wrap"  ng-show="selectedChart.chartType == 'metric'">
                        <v-accordion id="accordionA" class="vAccordion--default" control="accordionA"
                                     onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
                            <v-pane id="{{ ::measure.id }}" ng-repeat="measure in commonData.measures" class="v-pane">
                                <v-pane-header id="{{ ::measure.id }}-header" aria-controls="{{ ::measure.id }}-content">
                                    <h5 class="font-weight-300 text-upper">{{ ::measure.filedName }}</h5>
                                </v-pane-header>
                                <v-pane-content class="trans-bg v-pane-content" id="{{ ::measure.id }}-content"
                                                aria-labelledby="{{ ::measure.id }}-header">
                                    <p class="data-row-style-2 hvr-sweep-to-right"
                                       markable
                                       ng-click="eventHndler.onClickTargetField(condition,measure,$event )"
                                       ng-repeat="condition in commonData.measureCondition">
                                        {{ ::condition.name }}
                                        <i class="ti-close"
                                           remove-markable
                                           ng-click="eventHndler.onClickRmvCondition(condition,measure)"></i>
                                    </p>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </div>
                </div>               
                <div class="digin-gb-measures last-icon" ng-style="chartBgMeaStyle" ng-hide="selectedChart.chartType == 'metric' || selectedChart.chartType == 'forecast' || selectedChart.chartType == 'Tabular' ">
                    <div class="panel-header">
                        <h3 class="font-weight-300">
                            category
                            <fieldset ng-disabled="isPendingRequest"
                                      data-ng-style="isPendingRequest && {'cursor':'not-allowed'}"
                                      class="toggle-icon animated "
                                      ng-class="eventHndler.isToggleColumns==true?'left-icon-toggle':'left-icon'"
                                      ng-click="eventHndler.onToggleEvent('2')">
                                <i class="" style="cursor:inherit;"
                                   ng-class="eventHndler.isToggleColumns==true?'ti-angle-left rotateOut':'ti-angle-right rotateIn'"
                                ></i>

                            </fieldset>
                        </h3>
                    </div>
                    <div class="measures-body">
                        <div class="data-row"
                             ng-repeat="row in executeQryData.executeColumns">
                            <i class="ti-close" ng-click="removeCategory(row)"></i>&nbsp;&nbsp;
                            {{row.filedName}}
                        </div>
                        <div class="filter-data-not-fund"
                             ng-if="executeQryData.executeColumns.length < 1">
                            <i class="ti-layout-column2"></i>
                            <h5>group aggregations</h5>
                        </div>
                    </div>
                </div>

                <div class="digin-gb-measures last-icon" ng-style="{ 'height' : (selectedChart.chartType == 'Tabular') ? '50%' : 'initial' }" ng-show="selectedChart.chartType == 'Tabular' "> <!--ng-style="chartBgMeaStyle"-->
                    <div class="panel-header">
                        <h3 class="font-weight-300">
                            Attributes 
                            <fieldset ng-disabled="isPendingRequest"
                                      data-ng-style="isPendingRequest && {'cursor':'not-allowed'}"
                                      class="toggle-icon animated "
                                      ng-class="eventHndler.isToggleColumns==true?'left-icon-toggle':'left-icon'"
                                      ng-click="eventHndler.onToggleEvent('2')">
                                <i class="" style="cursor:inherit;"
                                   ng-class="eventHndler.isToggleColumns==true?'ti-angle-left rotateOut':'ti-angle-right rotateIn'"
                                ></i>

                            </fieldset>
                        </h3>
                    </div>
                    <div class="measures-body" ng-style="{ 'height' : (selectedChart.chartType == 'Tabular') ? '100%' : 'initial' }">
                        <div class="data-row"
                             ng-repeat="row in executeQryData.executeColumns">
                            <i class="ti-close" ng-click="removeCategory(row)"></i>&nbsp;&nbsp;
                            {{row.filedName}}
                        </div>
                    </div>

                </div>


                <div class="digin-gb-measures last-icon" ng-style="chartBgMeaStyle" ng-show="selectedChart.chartType == 'metric'">
                    <div class="panel-header">
                        <h3 class="font-weight-300">
                            Target Value
                            <fieldset ng-disabled="isPendingRequest"
                                      data-ng-style="isPendingRequest && {'cursor':'not-allowed'}"
                                      class="toggle-icon animated "
                                      ng-class="eventHndler.isToggleColumns==true?'left-icon-toggle':'left-icon'"
                                      ng-click="eventHndler.onToggleEvent('2')">
                                <i class="" style="cursor:inherit;"
                                   ng-class="eventHndler.isToggleColumns==true?'ti-angle-left rotateOut':'ti-angle-right rotateIn'"
                                ></i>
                            </fieldset>
                        </h3>
                    </div>

                    <div class="measures-body">
                        <div class="draggable-measure data-row"
                             ng-repeat="measure in executeQryData.executeTargetField">
                            <i class="ti-close" ng-click="removeTarget(measure)"></i>
                            <span>
                              &nbsp;&nbsp;{{measure.filedName}}
                            </span>
                            <div class="measures-type">
                                {{measure.condition}}
                            </div>
                        </div>
                        <div class="filter-data-not-fund"
                             ng-if="executeQryData.executeTargetField.length < 1">
                            <i class="ti-filter"></i>
                            <h5>add target value field</h5>
                        </div>
                    </div>
                </div>               
                <!-- Filter config panel -->
                <div class="animated  "
                    ng-class="selectedChart.chartType == 'forecast'?'forecast-filter-config-panel':'filter-config-panel'"
                    id="togglePanelFilter" >
                    <div class="header">
                        <h4 class="font-weight-300">
                            Filters
                            <div class="header-icon">
                                <i class="ti-help"></i>
                            </div>
                        </h4>
                    </div>
                    <div class="chart-config-wrap">
                    <!-- chart filter for metric and highcharts -->
                    <v-accordion id="accordionA" class="vAccordion--default" control="accordionA"
                                 onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)"  ng-hide="selectedChart.chartType == 'forecast'">
                        <v-pane id="{{ ::Attr.id }}" ng-repeat="Attr in commonData.filters" class="v-pane">
                            <v-pane-header id="{{ ::Attr.id }}-header" aria-controls="{{ ::Attr.id }}-content">
                                <h5 class="font-weight-300 text-upper">{{ ::Attr.name }}</h5>
                            </v-pane-header>
                            <v-pane-content class="trans-bg v-pane-content" id="{{ ::Attr.id }}-content"
                                            aria-labelledby="{{ ::Attr.id }}-header">
                                <p class="data-row-style-2 hvr-sweep-to-right"
                                   markable ng-click="eventHndler.onClickFilter(Attr,'single')">
                                    Single Select
                                </p>
                                <p class="data-row-style-2 hvr-sweep-to-right"
                                   markable ng-click="eventHndler.onClickFilter(Attr,'multiple')">
                                    Multiple Select
                                </p>                                
                            </v-pane-content>
                        </v-pane>
                    </v-accordion>
                    <!-- chart filters for forecast charts -->
                    <v-accordion id="accordionA" class="vAccordion--default" control="accordionA"
                                 onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)"  ng-show="selectedChart.chartType == 'forecast'">
                        <v-pane id="{{ ::Attr.id }}" ng-repeat="Attr in sourceData.forecastAtt" class="v-pane">
                            <v-pane-header id="{{ ::Attr.id }}-header" aria-controls="{{ ::Attr.id }}-content">
                                <h5 class="font-weight-300 text-upper">{{ ::Attr.name }}</h5>
                            </v-pane-header>
                            <v-pane-content class="trans-bg v-pane-content" id="{{ ::Attr.id }}-content"
                                            aria-labelledby="{{ ::Attr.id }}-header">
                                <p class="data-row-style-2 hvr-sweep-to-right"
                                   markable ng-click="eventHndler.onClickFilter(Attr,'single')">
                                    Single Select
                                </p>
                                <p class="data-row-style-2 hvr-sweep-to-right"
                                   markable ng-click="eventHndler.onClickFilter(Attr,'multiple')">
                                    Multiple Select
                                </p>
                            </v-pane-content>
                        </v-pane>
                    </v-accordion>  
                    </div>
                </div>
                <div class="digin-gb-measures last-icon" ng-style="{ 'height' : (selectedChart.chartType == 'forecast') ? '100%' : 'initial' }">
                    <div class="panel-header">
                        <h3 class="font-weight-300">
                            Filter
                            <fieldset class="toggle-icon animated" ng-disabled="isPendingRequest"
                                      data-ng-style="isPendingRequest && {'cursor':'not-allowed'}"
                                      ng-class="eventHndler.isTogglePanelFilter==true?'left-icon-toggle':'left-icon'"
                                      ng-click="eventHndler.onToggleEvent('4')">
                                <i class="small-rotate-icon" ng-class="eventHndler.isTogglePanelFilter==true?'ti-angle-left rotateOut':'ti-angle-right rotateIn'"></i>

                            </fieldset>                            
                        </h3>
                    </div>

                    <div class="measures-body" ng-hide="selectedChart.chartType == 'forecast'">
                        <div class="draggable-measure data-row"
                             ng-repeat="filter in executeQryData.executeFilters">
                            <i class="ti-close" ng-click="eventHndler.removeFilter(filter)"></i>
                            <span>
                              &nbsp;&nbsp;{{filter.filter.name}}
                            </span>
                            <div class="measures-type">
                                {{filter.type}}
                            </div>                            
                        </div>
                        <div class="filter-data-not-fund"
                             ng-if="executeQryData.executeFilters.length < 1">
                            <i class="ti-filter"></i>
                            <h5>add filters</h5>
                        </div>
                    </div>
                    <div class="measures-body" ng-show="selectedChart.chartType == 'forecast'">
                        <div class="draggable-measure data-row"
                             ng-repeat="filter in executeQryData.executeForecastFilters">
                            <i class="ti-close" ng-click="eventHndler.removeFilter(filter)"></i>
                            <span>
                              &nbsp;&nbsp;{{filter.filter.name}}
                            </span>
                            <div class="measures-type">
                                {{filter.type}}
                            </div>                            
                        </div>
                        <div class="filter-data-not-fund"
                             ng-if="executeQryData.executeFilters.length < 1">
                            <i class="ti-filter"></i>
                            <h5>add filters</h5>
                        </div>
                    </div>
                </div>                
            </div>
            <div flex="dynFlex" style="overflow: hidden;">
                <div class="digin-gb-chart-wrap" ng-style="chartGbMeaStyle">
                    <!-- chart loading wrap -->
                    <div class="digin-gb-chart-loading"
                         ng-if="eventHndler.isLoadingChart==true">
                        <svg class="circular-loader" height="50" width="50">
                            <circle class="path" cx="25" cy="25.2" r="19.9"
                                    fill="none" stroke-width="6" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                    <!--                    <highchart  ng-if="eventHndler.isHighCharts==true" config="highchartsNG"></highchart>-->
                    <!--                    <highchart ng-if="eventHndler.isLoadingChart==false" config="highchartsNG"></highchart>-->
                    <div class="digin-gb-chart-wrap-view-container" ng-style="chartWrapStyle" ng-include
                         src="selectedChart.view"></div>
                    <!-- <div ng-if="selectedChart.chartType == 'd3sunburst'" 
                    style="position: absolute; top: 55px;">
                        <a href="#" id="downloadImage" download="my-file-name.png" ng-click="eventHndler.onClickDownload()">
                            <i class="ti-download"></i>
                        </a>
                    </div> -->
                </div>

                <div ng-disabled="!isDrilled" class="digin-gb-row"
                     ng-if="selectedChart.chartType == 'highCharts' || selectedChart.chartType == 'metric' || selectedChart.chartType == 'Tabular'">
                    <div class="panel-header inline-panel-header p-b-0">
                        <h3 class="font-weight-300">
                            custom query design
                            <div class="header-icon" >
                                <i class="ti-help"></i>
                            </div>
                            <div ng-click="changeEditState()" class="header-icon">
                                <i class="ti-pencil"></i>
                            </div>
                            <div class="header-icon" style="display: none;">
                                <i class="ti-paint-bucket"
                                   ng-click="eventHndler.onClickSetting('5')"></i>
                            </div>
                        </h3>
                    </div>


                    <!-- query builder wrap -->
                    <div class="query-builder" id="toggleQueryBuilder">
                        <div class="header">
                            <h4 class="font-weight-300">
                                design query
                                <div class="header-icon">
                                    <i class="ti-close"
                                       ng-click="eventHndler.onClickSetting('5')"></i>
                                </div>
                                <div class="header-icon">
                                    <i class="ti-help"></i>
                                </div>
                                <div class="header-icon">
                                    <i class="ti-trash"></i>
                                </div>
                            </h4>
                        </div>

                        <div class="query-builder-wrap">
                            <div class="filed">
                                <div class="query-header measures-header">
                                    <i class="ti-filter"></i>
                                </div>
                                <!-- #measures -->
                                <p class="data-row-style-2"
                                   ng-drop="true"
                                   ng-drop-success="dragabbleEvent.onDropCompleteMeasure($data,measure)"
                                   ng-repeat="measure in commonData.measures">
                                    {{measure.filedName}}
                                </p>
                            </div>

                            <div class="filed">
                                <div class="query-header">
                                    <i class=" ti-ruler-pencil"></i>
                                </div>
                                <div class="draggable-objects">
                                    <!-- #condition -->
                                    <p class="data-row-style-2"
                                       ng-drag="true"
                                       ng-drag-data="condition"
                                       ng-center-anchor="true"
                                       ng-repeat="condition in commonData.measureCondition">
                                        {{condition.name}}
                                    </p>
                                </div>
                            </div>

                            <div class="filed">
                                <div class="query-header">
                                    <i class="ti-filter"></i>
                                </div>
                                <!-- #columns -->
                                <p class="data-row-style-2"
                                   ng-drag="true"
                                   ng-drag-data="column"
                                   ng-center-anchor="true"
                                   ng-repeat="column in commonData.columns">
                                    {{column.filedName}}
                                </p>
                            </div>


                            <!-- #group conditon -->
                            <div class="filed last-filed-option">
                                <div class="query-header">
                                    <i class="ti-layers"></i>
                                </div>
                                <span>Group option</span>
                                <div class="group-by" ng-drop="true"
                                     ng-drop-success="dragabbleEvent.onDropCompleteGroup($data)">
                                    <div class="group-msg" ng-if="executeQryData.GrpFiled.length == 0">
                                        columns drop here
                                    </div>
                                    <p class="data-row-style-2"
                                       ng-repeat="filed in executeQryData.GrpFiled">
                                        {{filed.filedName}}
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="query-view-warp">
                        <div class="query-viewer">
                            <div class="query-view-not-fund"
                                 ng-if="!dataToBeBind.receivedQuery">
                                <h5>
                                    <i class="ti-paint-bucket"></i>
                                    design query
                                </h5>
                            </div>
                            <div class="editable-query">
                                <span ng-hide="queryEditState">{{dataToBeBind.receivedQuery}}</span>
                                <div layout="row" ng-show="queryEditState">
                                    <md-input-container class="md-block" flex>
                                        <label>Query</label>
                                        <textarea  style="color:black;" ng-model="dataToBeBind.receivedQuery" md-select-on-focus></textarea>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Limit</label>
                                        <md-select ng-model="initRequestLimit.value">
                                            <md-option ng-repeat="limit in requestLimits" value="{{limit}}">
                                                {{limit}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <!-- <md-input-container flex>
                                        <label>Query</label>
                                        <input ng-model="receivedQuery">
                                    </md-input-container> -->
                                    <md-button md-no-ink ng-click="getExecuteAgg(dataToBeBind.receivedQuery)" class="md-primary">go
                                    </md-button>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <div flex="10">
                <div class="digin-gb-menu">
                    <div class="last-icon">
                        <fieldset ng-disabled="isPendingRequest" data-ng-style="isPendingRequest && {'cursor':'not-allowed'}" class="right-menu "
                                  ng-click="eventHndler.onClickSetting('1')" style="cursor:inherit;outline:none;">
                            <i class="ti-pie-chart hvr-pop "></i>
                        </fieldset>
						<md-tooltip md-direction="left">Visualization Types</md-tooltip>
                    </div>
                    <div class="last-icon"  ng-click="eventHndler.onClickSetting('3')">
                        <div class="right-menu">
                            <i class="ti-settings hvr-pop"></i>
                        </div>
						<md-tooltip md-direction="left">Chart Settings</md-tooltip>
                    </div>
                    <div class="last-icon" ng-click="eventHndler.onClickSetting('4')">
                        <div class="right-menu">
                            <i class="ti-save hvr-pop"></i>
                        </div>
						<md-tooltip md-direction="left">Create Widget</md-tooltip>
                    </div>
                    <div class=" last-icon" ng-click="eventHndler.onClickSetting('6')">
                        <div class="right-menu">
                            <i class="ti-eraser hvr-pop"></i>
                        </div>
						<md-tooltip md-direction="left">Clear</md-tooltip>
                    </div>
                    <div class=" last-icon" ng-click="eventHndler.onClickCreateChart('6')">
                        <div class="right-menu">
                            <i class="ti-arrow-circle-right hvr-pop"></i>
                        </div>
                        <md-tooltip md-direction="left">Create Chart</md-tooltip>
                    </div>
<!-- 					<div class=" last-icon">
						<div class="right-menu">
							<i class="ti-help-alt hvr-pop"></i>
						</div>
						<md-tooltip md-direction="left">Help</md-tooltip>
					</div> -->
                </div>

                <!-- chart setting panle -->
                <div class="digin-bq-chart-rw1 p-15 p-t" id="toggleSettingPanel">
                    <div class="header">
                        <h4 class="font-weight-300">
                            Visualization type
                            <div class="header-icon">
                                <i class="ti-help"></i>
                            </div>
                            <div class="header-icon">
                                <i class="ti-search"></i>
                            </div>
                        </h4>
                    </div>
                    <div class="chart-config-wrap-rw1 animated fadeIn">
                        <ul>
                            <li class="hvr-border-fade" ng-repeat="chart in commonData.chartTypes" ng-click="eventHndler.onClickSelectedChart(commonData.chartTypes,chart)" ng-mouseover="changeTip(chart.tooltip)">
                                <p ng-class="chart.name=='bar'?'custom-chart-rotate-icon':'custom-chart-icon'">
                                    <i class="{{chart.icon}}"></i>
                                </p>
                                <small>{{chart.name}}</small>
                                <div class="selectedChart" ng-class="chart.selected==true?'selectedChart':'displayNone'">
                                    <i class="fa fa-check-circle-o"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
					<div layout="row" ng-show="tooltip"><b>Tip:</b>&nbsp {{tooltip}}</div>
                </div>

                <!-- organize Data Structure -->
                <div class="digin-bq-chart-rw1 p-15"
                     id="toggleStructurePanel">
                    <div class="header">
                        <h4 class="font-weight-300">
                            Data Structure
                            <div class="header-icon">
                                <i class="ti-help"></i>
                            </div>
                            <div class="header-icon">
                                <i class="ti-search"></i>
                            </div>
                        </h4>
                    </div>
                    <div class="chart-config-wrap-rw1 animated fadeIn">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="data-structure-header2">
                                    attribute
                                </div>
                                <p class="data-row-style-2"
                                   ng-repeat="column in sourceData.fAttArr">
                                    {{column.name}}
                                </p>

                            </div>
                            <div class="col-lg-6">
                                <div class="data-structure-header2">
                                    measure
                                </div>
                                <p class="data-row-style-2"
                                   ng-repeat="measure in sourceData.fMeaArr">
                                    {{measure.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Series settings panels -->
                <div class="digin-bq-chart-rw1 digin-forecast-setting p-15"
                     id="toggleSerSettingsPanel">
                    <div class="header">
                        <h4 class="font-weight-300">
                            Chart Settings
                        </h4>
                    </div>
                    <div class="chart-config-wrap-rw1 animated fadeIn">
                        <md-input-container flex>
                            <label>Widget Title</label>
                             <input ng-if = "selectedChart.chartType == 'highCharts' || selectedChart.chartType == 'map' " ng-model="widget.widgetData.widName" ng-blur="highchartsNG.options.exporting.chartOptions.title.text=widget.widgetData.widName" >
                            <input ng-if = "selectedChart.chartType == 'boxplot' || selectedChart.chartType ==  'histogram' || selectedChart.chartType ==  'bubble' || selectedChart.chartType ==  'forecast' || selectedChart.chartType ==  'Tabular' " ng-model="widget.widgetData.widName" 
                            ng-blur="widget.widgetData.highchartsNG.options.exporting.chartOptions.title.text=widget.widgetData.widName" > 
                            <input ng-if = "selectedChart.chartType == 'd3hierarchy' || selectedChart.chartType ==  'd3sunburst' || selectedChart.chartType ==  'pivotSummary' || selectedChart.chartType ==  'metric' " ng-model="widget.widgetData.widName" >                            
                        </md-input-container>
                        <div ng-include src="selectedChart.settingsView"></div>
                        <!--
                                                <div ng-show="selectedChart.chartType == 'highCharts'" class="chart-config-wrap">
                                                    <v-accordion id="accordionA" class="vAccordion--default" control="accordionA"
                                                                 onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
                                                        <v-pane ng-repeat="series in highchartsNG.series" class="v-pane">
                                                            <v-pane-header id="{{ ::measure.id }}-header" aria-controls="{{ ::series.name }}-content">
                                                                <h5 class="font-weight-300 text-upper">{{ series.name }}</h5>
                                                            </v-pane-header>
                                                            <v-pane-content class="trans-bg v-pane-content" id="{{ ::series.name }}-content"
                                                                            aria-labelledby="{{ ::series.name }}-header">
                                                                <md-input-container flex>
                                                                    <label>Name</label>
                                                                    <input ng-model="series.name">
                                                                </md-input-container>
                                                                <md-input-container flex>
                                                                    <label>Color</label>
                                                                    <input ng-model="series.color">
                                                                </md-input-container>
                                                            </v-pane-content>
                                                        </v-pane>
                                                    </v-accordion>
                                                    <md-input-container flex>
                                                        <label>Chart Title</label>
                                                        <input ng-model="highchartsNG.subtitle.text">
                                                    </md-input-container>
                                                    <md-input-container flex>
                                                        <label>Y axis</label>
                                                        <input ng-model="highchartsNG.yAxis.title.text">
                                                    </md-input-container>
                                                </div>
                        -->
                        <!--
                                                <div ng-show="selectedChart.chartType == 'metric'" class="chart-config-wrap">
                                                    <md-input-container flex>
                                                        <label>Label text</label>
                                                        <input ng-model="selectedChart.initObj.label">
                                                    </md-input-container>
                                                </div>
                        -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>