<div class="digin-drb-wrap animated fadeInRight" ng-controller="dynamicallyReportCtrl">
    <div class="digin-qb-header">
        <div layout="row">
            <div flex="10">
                <div class="back">
                    <i class="ti-arrow-left"></i>
                </div>
            </div>
            <div flex="50">
                <div class="digin-qb-header-text  ">
                    <h1>
                        Dynamically Report Builder
                        <small class="ng-binding"></small>
                    </h1>
                </div>
            </div>
            <div flex="20" class="bg-lightskyblueh-2 p-l-20">
                <div class="digin-gb-b ">

                </div>
            </div>
            <div flex="20" class="bg-lightblue-h-1 p-l-20">
                <div class="digin-gb-b">
                    <span>Report Name</span>
                    <h5>test report name 1</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- body content main wrap -->
    <div class="bdy-wrap">
        <div layout="row">
            <div flex="30">
                <div class="optional-panel pull-left p-10">
                    <div class="panel-wrap">

                        <!-- #multi selected -->
                        <div class="filed-list-warp bottom-line">
                            <select ui-select2="select2Options" multiple ng-model="selectedTags">
                                <option ng-repeat="tag in tags" value="{{tag.id}}">{{tag.name}}</option>
                            </select>
                        </div>
                        <!-- #textbox -->
                        <div class="filed-list-warp bottom-line  ">
                            <h5>
                                {{reportFiledList.textBox.headerName}}
                            </h5>
                            <div class="txt-box-list">
                                <div ng-repeat="item in reportFiledList.textBox.txtFiled">
                                    <input type="text"
                                           placeholder="{{item.name}}"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- #radio btn-->
                        <div class="filed-list-warp bottom-line">
                            <h5>
                                {{reportFiledList.radioBtn.headerName}}
                            </h5>
                            <md-radio-group
                                    ng-model="reportFiledList.radioBtn.selectedRadio"
                                    ng-change="eventHandler.onChangeRadioBtn()">
                    <span class="inline" ng-repeat="type in reportFiledList.radioBtn.hasRadioBtn">
                        <md-radio-button value="{{type.value}}"
                                         ng-model="reportFiledList.radioBtn.selectedRadio"
                                         class="md-primary">{{type.name}}
                        </md-radio-button>
                     </span>
                            </md-radio-group>
                        </div>
                        <!-- #checkBox -->
                        <div class="filed-list-warp bottom-line ">
                            <h5>
                                {{reportFiledList.checkBox.headerName}}
                            </h5>
                            <div class="check-box-list">
                                <div class="inline " ng-repeat="item in reportFiledList.checkBox.items">
                                    <md-checkbox ng-checked="item">
                                        {{ item }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="btn-wrap">
                        <span class="btn btn-sm btn-default apply ">
                            Apply
                          </span>
                          <span class="btn btn-sm btn-default clear">
                             clear
                          </span>
                    </div>
                </div>
            </div>
        </div>
        <div flex="70">

            <div class="digin-drb-wrap report">
                <div class="data-state">
                    <div class="message">
                        <i class="ti-receipt"></i>
                        <span>Please select report data..</span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

