<div class="digin-drb-wrap animated fadeInRight" ng-controller="dynamicallyReportCtrl">
    <div class="digin-qb-header">
        <div layout="row">
            <div flex="10">
                <div class="back">
                    <i class="ti-arrow-left"></i>
                </div>
            </div>
            <div flex="50">
                <div class="digin-qb-header-text  ">
                    <h1>
                        Report Viewer
                        <small class="ng-binding"></small>
                    </h1>
                </div>
            </div>
            <div flex="20" class="bg-lightskyblueh-2 p-l-20">
                <div class="digin-gb-b ">

                </div>
            </div>
            <div flex="20" class="bg-lightblue-h-1 p-l-20">
                <div class="digin-gb-b">
                    <span>Report Name</span>
                    <h5>CAF Details</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- body content main wrap -->
    <div class="bdy-wrap">
        <div layout="row">
            <div flex="20">
                <div class="optional-panel pull-left p-10">
                    <div class="panel-wrap">
                        <div class="panel-header">
                            <h2>Report Option - CAF Details </h2>
                        </div>

                        <div class="panel-filter">
                            <div class="date-filter">
                                <div class="inline-date">
                                    <label>From Date</label>
                                    <input type="text" class="form-control" datepicker
                                           ng-model="reportFiledList.fromDate"
                                           placeholder="from date"/>
                                </div>
                                <div class="inline-date">
                                    <label>To Date</label>
                                    <input type="text" class="form-control" datepicker ng-model="reportFiledList.toDate"
                                           placeholder="to date"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel-filter">
                            <label>Account No</label>
                            <input type="text" class="form-control"
                                   placeholder="account no">
                        </div>

                        <div class="panel-filter">
                            <label>Customer Name</label>
                            <select class="form-control" select2 name="country"
                                    ng-model="test">
                                <option>Select customer</option>
                                <option value="" ng-repeat="customer in reportFiledList.customerNames">
                                    {{customer.name}}
                                </option>
                            </select>
                        </div>
                        <div class="panel-filter">
                            <label>Promotion</label>
                            <select ui-select2="eventHandler.select2Options" multiple ng-model="selectedTags">
                                <option ng-repeat="tag in reportFiledList.tags" value="{{tag.id}}">{{tag.name}}</option>
                            </select>
                        </div>

                        <div class="panel-filter">
                            <label>CAF Date</label>
                            <input type="text" class="form-control" datepicker ng-model="reportFiledList.cafDate"
                                   placeholder="from date"/>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <span class="btn btn-sm btn-default apply ">
                            Apply
                          </span>
                          <span class="btn btn-sm btn-default clear">
                             clear
                          </span>
                    </div>
                </div>
            </div>
            <div flex="80">
                <div class="digin-drb-wrap report">
                    <div class="data-state">
                        <div class="message"
                             ng-if="isDataFound">
                            <i class="ti-receipt"></i>
                            <span>Please select report data..</span>

                        </div>
                    </div>
                    <iframe ng-src="http://digin.io/report/report_test.html" height="100%"
                            width="100%"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

