<div class="digin-drb-wrap animated fadeInRight" ng-controller="dynamicallyReportCtrl">
    <div class="digin-qb-header">
        <div layout="row">
            <div flex="10">
                <div class="back"
                     ng-click="eventHandler.onClickBack ()">
                    <i class="ti-arrow-left"></i>
                </div>
            </div>
            <div flex="50">
                <div class="digin-qb-header-text  ">
                    <h1>
                        Dynamically Report Builder
                        <small class="ng-binding"></small>
                    </h1>
                </div>
            </div>
            <div flex="20" class="bg-lightskyblueh-2 p-l-20">
                <div class="digin-gb-b ">

                </div>
            </div>
            <div flex="20" class="bg-lightblue-h-1 p-l-20">
                <div class="digin-gb-b">
                    <span>Report Name</span>
                    <h5>test report name 1</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- body content main wrap -->
    <div class="bdy-wrap">
        <div layout="row">
            <div flex="20">
                <div class="optional-panel pull-left p-10">

                    <div class="auth-message-wrap">
                        <div class="dynamic-report-loader"
                             ng-if="eventHandler.isFiled.loading">
                            <span class="loader2"><span class="loader2-inner"></span></span>
                            <p>please wait...</p>
                        </div>
                        <div class="dynamic-report-loader"
                             ng-if="eventHandler.error.isGetError">
                            <i class="fa fa-clock-o"></i>
                            <p>{{eventHandler.error.msg}}</p>

                            <div class="cmds-btn-footer m-top-10">
                                <div class="text-center">
                                    <span class="btn btn-default" role="button" ng-click="eventHandler.onClickRefresh()"
                                          tabindex="0">
                                        refresh
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrap" ng-show="eventHandler.isFiled.found">
                        <div class="panel-header">
                            <h2>Report Option - CAF Details </h2>
                        </div>
                        <div class="panel-filter">
                            <div class="date-filter">
                                <div class="inline-date" ng-if="reportFiledList.UIDate.length !=0"
                                     ng-repeat="picker in reportFiledList.UIDate">
                                    <label>{{picker.fieldname}}</label>
                                    <input type="text" class="form-control" datepicker
                                           ng-model="reportFiledList.fromDate"
                                           placeholder="{{picker.fieldname}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel-filter" ng-if="reportFiledList.UITextBox.length !=0"
                             ng-repeat="textBox in reportFiledList.UITextBox">
                            <label>{{textBox.filedName}}</label>
                            <input type="text" class="form-control"
                                   placeholder="{{textBox.filedName}}">
                        </div>
                        <div class="panel-filter" ng-if="reportFiledList.UIDropDown.length !=0"
                             ng-repeat="dropDown in reportFiledList.UIDropDown">
                            <label>{{dropDown.fieldname}}</label>
                            <select class="form-control" select2 name="country"
                                    ng-model="test">
                                <option>Select {{dropDown.fieldname}}</option>
                                <option value="" ng-repeat="filed in dropDown.data">
                                    {{filed}}
                                </option>
                            </select>
                        </div>

                    </div>


                </div>
            </div>
            <div flex="80">
                <div class="digin-drb-wrap report">
                    <div class="data-state">
                        <div class="message"
                             ng-if="eventHandler.isDataFound">
                            <i class="ti-receipt"></i>
                            <span>Please select report data..</span>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</div>

