<div class="digin-drb-wrap animated fadeInRight" ng-controller="dynamicallyReportCtrl">
    <!-- <toast></toast> -->
    <div class="digin-qb-header">
        <div layout="row">
            <div flex="10">
                <div class="back"
                     ng-click="onClickBack ()">
                    <i class="ti-arrow-left"></i>
                </div>
            </div>
            <div flex="50">
                <div class="digin-qb-header-text  ">
                    <h1>
                        Report View
                        <small class="ng-binding"></small>
                    </h1>
                </div>
            </div>
            <div flex="20" class="bg-lightblue-h-1 p-l-20">
                <div class="digin-gb-b">
                    <span>Report Name</span>
                    <h5>{{reportName}}</h5>
                </div>
            </div>
            <div flex="20" class="bg-lightskyblueh-2 p-l-20">
                <!--<div class="digin-gb-b " ng-if="!eventHandler.isDataFound">-->
                <!--<span>Download Option</span>-->
                <!--<h5>Excel</h5>-->
                <!--</div>-->
            </div>

        </div>
    </div>
    <!-- body content main wrap -->


    <div class="bdy-wrap">
        <div layout="row">
            <div flex="20">
                <div class="optional-panel pull-left p-10">

                    <div class="auth-message-wrap">
                        <div class="dynamic-report-loader"
                             ng-if="isFiled.loading">
                            <span class="loader2"><span class="loader2-inner"></span></span>
                            <p>please wait...</p>
                        </div>
                        <div class="dynamic-report-loader"
                             ng-if="eventHandler.error.isGetError">
                            <i class="fa fa-clock-o"></i>
                            <p>{{eventHandler.error.msg}}</p>

                            <div class="cmds-btn-footer m-top-10">
                                <div class="text-center">
                                    <span class="btn btn-default" role="button" ng-click="onClickRefresh()"
                                          tabindex="0">
                                        refresh
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-wrap" ng-show="isFiled.found">
                        <div class="panel-header">
                            <h2> Parameters </h2>
                        </div>
                        <div class="panel-filter">
                            <!-- #datepicker -->
                            <div class="date-filter">
                                <div class="inline-date" ng-if="reportFiledList.UIDate.length !=0"
                                     ng-repeat="picker in reportFiledList.UIDate">
                                    <label>{{picker.label}}</label>
                                    <input type="text" class="form-control datep" datepicker
                                           ng-model="reportFiledList.selectedDate[picker.fieldname]"
                                           placeholder="{{picker.label}}"/>
                                </div>
                            </div>
                        </div> 
<!--                         <div class="panel-filter">
                                <div ng-if="reportFiledList.UITextBox.length !=0"
                                     ng-repeat="textBox in reportFiledList.UITextBox">
                                    <label class = "panel-text-label">{{textBox.label}}</label>                                     
                                    <input type="text" class="form-control" placeholder="{{textBox.label}}"/>
                            </div>
                        </div> -->
                        <div class="panel-filter" ng-if="reportFiledList.UIDropDown.length !=0"
                             ng-repeat="dropDown in reportFiledList.UIDropDown">
                            <!--//{{dropDown.data}}-->
                            <label>{{dropDown.label}}</label>
                            <select class="form-control" name="{{dropDown.fieldname}}"
                                    id="{{dropDown.fieldname}}"
                                    ng-model="formData.parameters[dropDown.fieldname]"
                                    ng-change="onChangeSelected(dropDown.fieldname)"
                                    ng-options="filed for filed in dropDown.data">
                                <option value="">Select {{dropDown.fieldname}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="btn-wrap" ng-show="isFiled.found">
                        <div class="cmds-btn-footer m-top-10">
                        <span class="btn btn-block btn-default btn-font"
                              ng-click="onCreateReport()">
                            Render report
                        </span>
                        <span class="btn btn-block btn-default btn-close btn-font"
                              ng-click="onClickRefresh()">
                                clear
                        </span>
                        </div>
                    </div>
                    <!-- file data loading -->
                    <div class="btn-wrap">
                        <div class="filed-data-loading"
                             id="filedDataLoad"
                             ng-class="eventHandler.isFiledData?'displayBlock':'displayNone'">
                            <h2> Please wait..</h2>
                            <span class="btn btn-default btn-sm m-top-30"
                                  ng-click="onClickStLoading();">
                                cancel
                            </span>
                        </div>
                        <div class="filed-data-loading"
                             ng-hide="!reportFldLoading">
                            <h2> report loading..</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div flex="80">
                <div class="digin-drb-wrap report">
                    <!--<div class="report-download-opt">-->
                    <!--<ul>-->
                    <!--<li class="fa fa-cube p-r-20"></li>-->
                    <!--<li class="fa fa-cube p-r-20"></li>-->
                    <!--<li class="fa fa-cube"></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="data-state">
                        <div class="message"
                             ng-if="eventHandler.isDataFound">
                            <i class="ti-receipt"></i>
                            <span>Please select report data..</span>
                        </div>

                        <div class="message"
                             ng-if="eventHandler.isReportLoad">
                            <span class="loader2"><span class="loader2-inner"></span></span>
                        </div>
                        <div class="report" id="report">
                            <iframe frameborder='0' ng-src="{{reportURL}}"
                                    frameborder="0"
                                    id="reportFram"
                                    allowfullscreen>
                            </iframe>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</div>
