<md-dialog plumb-item class="dialog-1 b-r-0" ng-init="">

  <md-toolbar class="modal-header">
    <div class="md-toolbar-tools">
      <div layout="row" layout-align="center center"><h2>Select Your Email Client</h2></div>
      <span flex></span>
      <md-button class="md-icon-button icon-cancel" ng-click="$root.cancel()" aria-label="Close"></md-button>
    </div>
  </md-toolbar>


  <div layout="row" layout-align="center center" layout-wrap>
    <div class="select-card-btn asset" ng-repeat="item in shareOptions">
      <img alt="" src="{{item.icon}}" ng-click="openeMailClent(item.provider)" >
      <span class="size graph-h2">
        {{item.provider}}
      </span>
    </div>
  </div>
</md-dialog>