<md-dialog aria-label="Select Email Client">
  <form>
  <md-toolbar class="modal-header md-primary">
    <div class="md-toolbar-tools">
		<h2>Select Email Client</h2>
		<span flex></span>
		<md-button class="md-icon-button icon-cancel" ng-click="$root.cancel()" aria-label="Close">
		</md-button>
    </div>
  </md-toolbar>
  <md-content style="max-width:800px;max-height:810px; ">

	<md-divider></md-divider>
		<md-list ng-cloak>
		  <md-list-item ng-repeat="item in shareOptions" ng-click="openeMailClent($event, item.provider)" >
			<p>  {{item.provider}} </p>
		  </md-list-item>
		</md-list>
  

  </md-content>
  </form>
</md-dialog>