
<md-dialog aria-label="Widget sharing"  plumb-item>
    <md-toolbar class="modal-header">
        <div class="md-toolbar-tools">
            <div layout="row" layout-align="center center">
                <h2>Share Widget</h2>
            </div>
            <span flex></span>
            <md-button class="md-icon-button icon-cancel" ng-click="$root.cancel()" aria-label="Close">
            </md-button>
        </div>
    </md-toolbar>

    <div class="header-line-bottom"></div>
    <div layout="row" layout-align="center center" layout-wrap>
        <div class="select-card-btn asset onshareHover" ng-repeat="item in shareOptions" >
            <img alt="" src="{{item.icon}}" ng-click="openProvider(item.provider)" >
            <span class="size graph-h2">
                {{item.provider}}
            </span>
        </div>
    </div>

</md-dialog>

