<div class="data-source-up101 animated fadeIn"
     ng-controller="dataSourceCtrl">
    <toast></toast>
    <div class="row">
        <div class="container">
            <div class="col-lg-12">
                <!--main header wrap-->
                <div class="data-source-up102 header-wrap">
                    <h2 class="roboto-font">Data source builder</h2>
                    <small class="roboto-font animated fadeIn">{{formElement.screenName}}</small>
                </div>

                <div class="data-source-up102 search">
                    <input type="text" class="form-control source-search min-width-350"
                           ng-model="formElement.mainSearch"
                           placeholder="SEARCH.....">
                </div>
                <!-- #dataSource source resources -->
                <div class="source-link-up102 animated fadeIn"
                     ng-show="formElement.isSource==true">
                    <div class="resources-wrap icheck-inline hvr-glow"
                         ng-click="eventHandler.onClickSource(source,datasources)"
                         ng-repeat="source in datasources | filter : {name: formElement.mainSearch} "
                         ng-class="source.selected==true?'up102-selected':'up102-unSelect'">
                        <div class="link-img">
                            <img ng-src="{{source.icon}}">
                        </div>
                        <div class="link-footer roboto-font">
                            {{source.name}}
                        </div>
                        <div class="selectedSource"
                             ng-class="source.selected==true?'selectedSource':'displayNone'">
                            <i class="fa fa-check-circle-o"></i>
                        </div>
                    </div>
                    <div class="up102-source-result roboto-font"
                         ng-show="(datasources | filter:{name: formElement.mainSearch}).length == 0">
                        No results
                    </div>
                </div>
                <!-- end source -->

                <!-- #table view -->
                <div class="source-link-up102 animated fadeIn"
                     ng-show="formElement.isTable==true">
                    <div class="row">
                        <div class="up102-loading"
                             ng-show="formElement.isLoadingTbl">
                            <svg class="circular-loader" height="50" width="50">
                                <circle class="path" cx="25" cy="25.2" r="19.9"
                                        fill="none" stroke-width="6" stroke-miterlimit="10"/>
                            </svg>
                        </div>

                        <div class="col-lg-12">
                            <div class="up102-attribute">
                                <div class="up102-filed hvr-glow up102-filed-block"
                                     ng-class="tbl.selected==true?'up102-selected':'up102-unSelect'"
                                     ng-click="eventHandler.onClickTbl(tbl,synData.tables)"
                                     ng-repeat="tbl in synData.tables |
                              filter : {name: formElement.mainSearch}">
                                    <div class="right-cover"></div>
                                    <p class="filed-name">
                                        {{tbl.name}}
                                        <i class="pull-right fa"
                                           ng-class="tbl.selected==false?'fa-times-circle-o':
                                           'fa-check-circle-o'">
                                        </i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end table view -->

                <!-- #tablefiled face -->
                <div class="source-link-up102 animated fadeIn"
                     ng-show="formElement.isTableFiled==true">
                    <div class="row">

                        <div class="up102-loading"
                             ng-show="formElement.isLoadingFiled==true">
                            <svg class="circular-loader" height="50" width="50">
                                <circle class="path" cx="25" cy="25.2" r="19.9"
                                        fill="none" stroke-width="6" stroke-miterlimit="10"/>
                            </svg>
                        </div>
                        <div class="col-lg-6">
                            <!-- #attribute -->
                            <div class="up102-attribute">
                                <div class="up102-filed up102-filed-right hvr-glow "
                                     ng-class="attr.isRemove==true?'up102-selected':'up102-unSelect'"
                                     ng-click="eventHandler.onClickTbleFiled(attr,synData.attribute,'attr')"
                                     ng-repeat="attr in synData.attribute | filter : {name: formElement.mainSearch}">
                                    <div class="right-cover"></div>
                                    <p class="filed-name">
                                        {{attr.name}}
                                        <i class="pull-right fa"
                                           ng-class="attr.isRemove==true?'fa-check-circle-o':
                                           ' fa-times-circle-o'">
                                        </i>
                                    </p>
                                </div>
                                <div class="up102-source-result roboto-font"
                                     ng-show="(synData.attribute | filter:{name: formElement.mainSearch}).length == 0">
                                    No results
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- #measures -->
                            <div class="up102-attribute">
                                <div class="up102-filed up102-filed-right hvr-glow"
                                     ng-class="measure.isRemove==true?'up102-selected':'up102-unSelect'"
                                     ng-click="eventHandler.onClickTbleFiled(measure,synData.measures,null)"
                                     ng-repeat="measure in synData.measures | filter : {name: formElement.mainSearch}">
                                    <div class="right-cover"></div>
                                    <p class="filed-name">
                                        {{measure.name}}
                                        <i class="pull-right fa"
                                           ng-class="measure.isRemove==true?'fa-check-circle-o':
                                           ' fa-times-circle-o'">
                                        </i>
                                    </p>
                                </div>
                            </div>
                            <div class="up102-source-result roboto-font"
                                 ng-show="(synData.measures | filter:{name: formElement.mainSearch}).length == 0">
                                No results
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end filed -->


                <!-- excel upload face -->
                <!-- end excel -->
                <div class="data-source-up102 footer-btn">
                    <span class="btn roboto-font up102-next-btn animated fadeInRight"
                          ng-show="formElement.isSource==false"
                          ng-click="eventHandler.goToBackScreen()">BACK</span>
                    <span class="btn roboto-font up102-next-btn"
                          ng-click="eventHandler.goToNextScreen()">NEXT</span>
                    <div class="current-page-selected">
                        <ul>
                            <li class="up102-current on-page "></li>
                            <li class="up102-current"></li>
                            <li class="up102-current"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>