<md-dialog ng-controller="mainController">

<h1 style="padding-left:25px">Success!!</h1>

<md-dialog-content style="padding:24px" layout="column">

	<p style="padding:15px">the workflow was sucessfully published!</p>


	 <p ng-class="{ activee: !$activee }" style="background-color: lightgrey;
    padding: 15px; overflow:auto; line-height:1.4;" ng-bind-html="message"></p>

</md-dialog-content>
<div class="md-actions" layout="row">
<md-button ng-click="$activee = !$activee" ng-show="$activee">see less</md-button>
<md-button ng-click="$activee = !$activee" ng-show="!$activee">see more</md-button>
<md-button ng-click="hide()">GOT IT!</md-button>
</div>
</md-dialog>
