<md-dialog aria-label="Sample Dialog" class="widget0m-data-dialog-sm grad-blue-1">
    <div layout="row">
        <div class="card-head widget0m-data-header">
            <header class="text-uppercase">
                <h3 class="font-weight-500 color-white">Download</h3>
            </header>
            <div class="tools">
                <a href="javascript:void(0)" data-ng-click="closeDialog()">
                    <i class="ti-close color-white"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="table-body">
        <div class="layout-row" layout="row">
            <p class="color-white graph-h5 p-10">
                Sales reports always seem to lag behind reality, making them out of date before..
            </p>
        </div>
        <div class="layout-row" layout="row">

            <ul class="list-justified none-border p-20 text-center">
                <li>
                    <p class="color-white graph-h2 font-weight-500 sf-download
                            sf-hover sink"
                       ng-click="onClickDownload()"
                    >
                        <i class="fa  fa-file-pdf-o m-r-10 fa-4x"></i>
                        pdf
                    </p>
                </li>
                <li>
                    <p class="color-white graph-h2 font-weight-500 sf-download
                            sf-hover sink ">
                        <i class="fa  fa-file-image-o m-r-10 fa-4x"></i>
                        image
                    </p>
                </li>

            </ul>
        </div>
    </div>

</md-dialog>