<!--CARD CONTAINER START-->
<div class="card-container">
	<!--WHITEFRAME START-->
	<md-whiteframe class="md-whiteframe-2dp layout-whiteframe" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center"> 

		<md-content>

			<form name="editForm"  md-theme="default" ng-submit="submit()">
				<div layout="row" layout-align="end end">
					<md-button class="md-icon-button icon-cancel" style="color:#14bae4" aria-label="back" ng-click="route('back')"></md-button>
				</div>
					
				<div class="setting-card-header">
					<h2>User Settings</h2>
					<div class="setting-img-wrap">
						<img src="views/settings/userSettings/user_settings.png"/>
					</div>
				</div>
				
				
				<!--Input Elements Start-->
				<div layout="row" layout-align="start start">
					<div class="section-title">Settings</div>
				</div>
				
				<div layout-gt-sm="row" class="side-margins">
					<md-input-container class="md-block" flex-gt-sm>
						<span>Cache Lifetime (Sec)</span>
						<input required type="number" name="lname" ng-model="content.lname" />
						<div ng-messages="editForm.lname.$error" role="alert">
						  <div ng-message-exp="['required']">
								This is required
						  </div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<span>Number of Widgets</span>
						<md-select class="select" ng-model="content.CardOrAccount" aria-label="no of widgets">
							<md-optgroup label="Select Account Type">
								<md-option  value="1" flex >1</md-option>
								<md-option  value="2" flex >2</md-option>
							</md-optgroup>
						</md-select>
					</md-input-container>

				</div>
				
				<div layout-gt-sm="row" class="side-margins">
					<md-input-container class="md-block" flex-gt-sm>
						<span>Request Limit</span>
						<md-select class="select" ng-model="content.CardOrAccount">
							<md-optgroup label="Select Account Type">
								<md-option  value="1000" flex >1000</md-option>
								<md-option  value="2000" flex >2000</md-option>
							</md-optgroup>
						</md-select>
					</md-input-container>

				</div>

				<div layout="row" layout-align="center start" layout-margin ng-init="submitted=false" >
					<md-button id="accountSubmit" class="md-raised md-primary" style="background:#02b5e2" ng-disabled="submitted" type="submit">
						<span style="text-transform:none">Update Settings</span>
					</md-button>
				</div>
		

			</form>
			<form name="editForm"  md-theme="default" ng-submit="submit()">				
				<!--Input Elements Start-->
				<div layout="row" layout-align="start start">
					<div class="section-title">Cache</div>
				</div>
				
				
				
				<div layout-gt-sm="row" class="side-margins">
					<md-input-container class="md-block" flex-gt-sm>
						<span>Clear Cache</span>
						<md-select class="select" ng-model="content.CardOrAccount">
							<md-optgroup label="Select Account Type">
								<md-option  value="1000" flex >1000</md-option>
								<md-option  value="2000" flex >2000</md-option>
							</md-optgroup>
						</md-select>
					</md-input-container>

				</div>

				<div layout="row" layout-align="center start" layout-margin ng-init="submitted=false" >
					<md-button id="accountSubmit" class="md-raised md-primary" style="width:100px;background:#02b5e2" ng-disabled="submitted" type="button" ng-click="clearCache()">
						<span style="text-transform:none">Clear Cache</span>
					</md-button>
				</div>
		

			</form>

		</md-content>

	</md-whiteframe><br/>
	<!--WHITEFRAME END-->
</div>
<!--CARD CONTAINER END-->
