<style>
.firstCardAnimation {
    animation: fromSide 1.6s 1;
    -webkit-animation: fromSide 1.6s 1;
}

.secondCardAnimation {
    animation: fromSide 1.6s 1;
    -webkit-animation: fromSide 1.6s 1;
	transition-delay: .6s , 1s;
}

@keyframes fromSide {
    0% {
        transform: translateX(250px)
    }
    100% {
        transform: translateX(0)
    }
}

@-webkit-keyframes fromSide {
    0% {
        transform: translateX(250px)
    }
    100% {
        transform: translateX(0)
    }
}
</style>
<div ng-init="initialize(appDetails)">
		
<br/><!--center><img style="box-shadow:5px 5px 5px 0px rgba(0,0,0,0.25)" src="img/slide1.png"></img></center-->

<div layout layout="row" layout-align="center center" layout-margin >
		<img style="border-radius:20px"  ng-src="{{getCatLetter(appDetails.catogery)}}">
		<h2 style="font-size:25px;font-weight:300; margin-left:20px;text-shadow:2px 2px #D3D3D3;">{{appDetails.catogery}}</h2>
</div>

<div layout layout-sm="column" layout-margin >	
	<div flex="10">
	<img id="userProfilePic" width="110px" height="110px" src={{appDetails.iconUrl}} style=" border-radius: 100px;">
	</div>
	<div flex="20">
	<h2 style="font-size:25px;font-weight:300; margin-top:40px;">{{appDetails.name}}</h2>
	</div>

</div>


<div layout="column" layout-margin layout-align="start center">

	<md-card style="background:#607D8B" class="firstCardAnimation">	
		<md-card-content>
			<h1 class="md-title"><span style="color:white">Description</span></h1>
			<p style="color:white">{{appDetails.description}}</p>
		</md-card-content>
	</md-card>

	
	<md-card style="background:#455A64" class="secondCardAnimation">
				
				<md-card-content>
					<h1 class="md-title" style="color:white"><span style="font-weight:700">Developer Name:</span> <b>{{appDetails.developer}}</b></h1>
					<p style="color:white"><span style="font-weight:700">Contact Details:</span> <b>{{appDetails.contact}}</b></p>
				
				</md-card-content>

			</md-card>

</div>

<div style="margin-top:50px">
<div div layout="row" layout-align="center center">
	<span>Rate this application</span>
</div>
<div div layout="row" layout-align="center center" style="margin-top:10px;">

	<div star-rating rating="starRating1"
		read-only="false" max-rating="5" click="click1(param,appDetails)" mouse-hover="mouseHover1(param)"
		mouse-leave="mouseLeave1(param)">
	</div>
	
</div>

		<!--span>Star Rating: {{starRating1}}</span-->
<div ng-if="authenticated == true">
<div layout="row" layout-align="center center" style="margin-top:20px;margin-bottom:20px;">
		<md-button class="md-raised" style="width:30%;height:75px;background:#4CAF50;font-size:20px;color:white;" ng-click="download(appDetails,$event)" ng-if="buttonText != 'Uninstall'">{{buttonText}}</md-button>
		<md-button class="md-raised" style="width:30%;height:75px;background:#F44336;font-size:20px;color:white;" ng-click="uninstall(appDetails,$event)" ng-if="buttonText == 'Uninstall'">{{buttonText}}</md-button>
		
</div>
</div>
</div>

   <!--div layout="row" layout-align="start start" layout-margin style="position:fixed;z-index:5;top:40%;left:40%">
		 <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
		 </div-->

</div>