<div layout="row" layout-align="space-between center" style="height:45px">
	<div layout="row">
		<md-button class="margin-0" style="min-width: 50px;width: 50px;font-size: 12px;" ng-click="$parent.cancelSettings($event)" aria-label="cancel settings">
			<i class="ti-close"></i>
			<md-tooltip md-direction="bottom">Undo changes</md-tooltip>
		</md-button>
		<h1 class="md-toolbar-tools" style="padding-right:0px">Chart Settings</h1>
	</div>
	<div layout="row">
		<md-button class="margin-0" style="min-width: 70px;width: 70px;font-size: 12px;" ng-click="$parent.restoreSettings($event)" aria-label="cancel settings">Restore</md-button>
		<md-button class="margin-0" style="min-width: 60px;width: 60px;font-size: 12px;" type="submit" aria-label="save settings">Apply</md-button>
	</div>
</div>
<md-divider></md-divider>