<digin-highcharts-settings ng-if="$parent.chartType.chartType == 'highCharts'" highchart-setting="$parent.$parent.settingConfig" group-by-sortarray ="$parent.$parent.groupBySortArray" selected-attributes="$parent.$parent.selectedAttributes" widget-config="$parent.$parent.widgetConfig" chart-type="$parent.$parent.chartType.chart" submit-form="toggleSettings()"></digin-highcharts-settings>

<digin-forecast-settings ng-if="$parent.chartType.chartType == 'forecast'" forecast-obj="$parent.$parent.settingConfig" attr="$parent.$parent.selectedAttributes" measure="$parent.$parent.selectedMeasures" submit-form="toggleSettings()"></digin-forecast-settings>

<google-map-settings ng-if="$parent.chartType.chartType == 'map'" map-settings="$parent.$parent.settingConfig" submit-form="toggleSettings()"></google-map-settings>

<what-if-settings ng-if="$parent.chartType.chartType == 'whatif'" whatif-settings="$parent.$parent.settingConfig" submit-form="toggleSettings()"></what-if-settings>

<metric-settings ng-if="$parent.chartType.chartType == 'metric'" metric-settings="$parent.$parent.settingConfig" submit-form="toggleSettings()"></metric-settings>