<div ng-controller="socialGraphFBCtrl">

    <!-- search fb page -->
    <div id="fbPageSearch" ng-class="{'block' : activePageSearch,'hidden' : !activePageSearch}">
        <md-content class="md-default-theme overflow-none ">
            <div class="md-content__body">
                <div class="home-mini-card">
                    <div class="row m-t-0">
                        <div class="col-md-1">
                                <span class="circle-icon md bg-primary">
                                  <md-icon class="color-white ng-isolate-scope md-default-theme
                                  fa fa-facebook fa-3x"
                                           aria-hidden="true">
                                  </md-icon>
                                </span>
                        </div>
                        <div class="col-md-5">
                            <div class="graph-main-header-text">
                                <!-- social page name-->
                                <h2 class="color-primary graph-h1">
                                    My Pages and Groups
                                </h2>
                                <md-button class="md-raised"
                                           ng-click="loginWithFb()"
                                >login
                                </md-button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- posts -->
                            <md-input-container flex>
                                <label>Search page or group</label>
                                <input ng-model="user.firstName">
                            </md-input-container>
                        </div>
                    </div>
                </div>

            </div>
        </md-content>
        <div class="fb-page-search-wrap">
            <md-content class="md-default-theme overflow-none ">
                <div class="md-content__body">
                    <div class="fb-pages-loading" data-ng-if="isPageLoading">
                        <md-progress-circular class="md-raised md-hue-1" md-mode="indeterminate">
                        </md-progress-circular>
                    </div>
                    <div class="home-mini-card load-page-wrap">
                        <!-- pages loading -->
                        <!-- view pages wrap -->
                        <md-list-item class="md-3-line md-no-proxy ng-scope" data-ng-repeat="page in fbPages"
                                      role="listitem">
                            <button class="md-fab md-button
                                md-default-theme md-fab-md" ng-click="viewPageDetails1(page)" aria-label="button">
                                <i class="fa fa-cogs fa-lg"></i>
                            </button>

                            <div class="md-list-item-text text-right">
                                <h3 class="graph-h2">{{page.name}}</h3>

                                <p class="ng-binding">
                                    I'll be in your neighborhood doing errands.
                                </p>
                            </div>
                            <!-- ngIf: !$last -->
                            <md-divider md-inset="" ng-if="!$last" class="ng-scope md-default-theme"></md-divider>
                            <!-- end ngIf: !$last -->
                        </md-list-item>

                    </div>

                </div>
            </md-content>

        </div>
    </div>

    <!-- graph -->
    <div ng-class="{'block' : !activePageSearch,'hidden' : activePageSearch}" id="fbGraph">
        <!-- Top Header -->
        <md-content class="md-default-theme overflow-none ">
            <div class="md-content__body">
                <div class="home-mini-card">
                    <div class="row m-t-0">
                        <div class="col-md-1">
                                <span class="circle-icon md bg-primary">
                                  <md-icon class="color-white ng-isolate-scope md-default-theme
                                  fa fa-facebook fa-3x"
                                           aria-hidden="true">
                                  </md-icon>
                                </span>
                        </div>
                        <div class="col-md-5">
                            <div class="graph-main-header-text">
                                <!-- social page name-->
                                <h2 class="color-primary graph-h1">
                                    <!-- digin{{page.name}}-->
                                    Digin
                                </h2>
                                <a href="javascript:void(0);" class="small-text">
                                    Open in facebook
                                </a>
                            </div>

                            <div class="page-search-warp">
                                <div class="p-l-20 ">
                                    <a href="javascript:void(0)" data-ng-click="onFilterData()" class="inline-block">
                                        <small class="small-text">search page data</small>
                                        <i class="ti-search pull-right"></i>
                                    </a>
                                </div>
                                <div class="page-search">
                                    <md-datepicker ng-model="pageSearchPara.startDate"
                                                   md-placeholder="Enter date"></md-datepicker>
                                    <md-datepicker ng-model="pageSearchPara.endDate"
                                                   md-placeholder="Enter date"></md-datepicker>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- posts -->
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h2 text-color-100 graph-h1">
                                        100
                                    </p>

                                    <p class="text-muted graph-h5">Posts</p>
                                </li>
                                <!-- authors -->
                                <li>
                                    <p class="size-h2 text-color-100 graph-h1 font-weight-500">
                                        2
                                    </p>

                                    <p class="text-muted graph-h5">Authors</p>
                                </li>
                                <!-- commenters -->
                                <li>
                                    <p class="size-h2 text-color-100 graph-h1 font-weight-500">
                                        10
                                    </p>

                                    <p class="text-muted graph-h5 font-weight-500">Commenters</p>
                                </li>
                                <!-- likes-->
                                <li class="last-icon">
                                    <p class="size-h2 text-color-100 graph-h1 font-weight-500">
                                        50
                                    </p>

                                    <p class="text-muted graph-h5">Likes</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </md-content>

        <div class="graph-main-wrap">
            <!-- body chart wrap -->
            <div class="graph-body">
                <div layout="row" layout-wrap>
                    <div flex="60">
                        <md-card class="md-default-theme overflow-none fb-graph-bg">
                            <div class="graph-fb-wrap">
                                <div class="text-left col-sm-6">
                                    <h2 class="graph-h2">
                                        Realtime performance feed
                                    </h2>
                                </div>
                                <div class="graph-chart-body">
                                    <highchart id="fbChart" config="highchartsNG"></highchart>
                                </div>
                            </div>
                        </md-card>
                    </div>
                    <div flex="40">
                        <md-card class="graph-map overflow-none fb-graph-bg">
                            <div class="graph-fb-wrap wrap-overflow ">
                                <div class="text-left col-sm-6" layout-margin>
                                    <h2 class="graph-h2">
                                        Location
                                        <div class="md-card-toolbar-actions">
                                            <i class="md-icon-1 ti-view-list-alt"
                                               ng-click="onClickViewTable('map')"
                                            ></i>
                                        </div>
                                    </h2>
                                </div>
                                <div class="graph-map-content">
                                    <digin-map map-data="{{arrAdds}}"></digin-map>
                                </div>
                            </div>
                        </md-card>
                    </div>
                </div>

                <div layout="row" layout-wrap>
                    <div flex="50">
                        <md-card class="md-default-theme overflow-none fb-graph-bg">
                            <div class="graph-fb-wrap">
                                <div class="text-left col-sm-6">
                                    <h2 class="graph-h2">
                                        Bipartite area 1
                                    </h2>
                                </div>
                                <div class="graph-chart-body">
                                    Bipartite content
                                </div>
                            </div>
                        </md-card>
                    </div>
                    <div flex="50">
                        <md-card class="md-default-theme overflow-none fb-graph-bg">
                            <div class="graph-fb-wrap" style="overflow-y:scroll">
                                <div class="text-left col-sm-6">
                                    <h2 class="graph-h2">
                                        Bipartite area 2
                                    </h2>
                                </div>
                                <div class="graph-chart-body" ng-include="'bipartite.htm'" style="overflow-x:scroll">
                                </div>
                            </div>
                        </md-card>
                    </div>
                </div>

                <!--wrap post details -->
                <div class="post-wrap">

                    <div layout="row" layout-wrap>
                        <div flex="40">
                            <div layout="row" layout-wrap>
                                <!-- Likes -->
                                <div flex="13">
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon sm  bg-like m-l-10">
                                                  <i class="color-white  ti-thumb-up"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class="graph-h1 color-accent">
                                                            150
                                                        </h2>

                                                        <p class="font-color-100">
                                                            likes
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>

                                <div flex="13">
                                    <!-- shares -->
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon sm  bg-like m-l-10">
                                                  <i class="color-white ti-share"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class=" graph-h1 color-accent">
                                                            28
                                                        </h2>

                                                        <p class="font-color-100">
                                                            shares
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>

                                <div flex="13">
                                    <!-- comments -->
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon sm  bg-like m-l-10">
                                                  <i class="color-white ti-comment"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class=" graph-h1 color-accent">
                                                            18
                                                        </h2>

                                                        <p class="font-color-100">
                                                            comments
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>


                            </div>
                        </div>
                        <!-- Post types -->
                        <div flex="60">

                            <div layout="row" layout-wrap class="m-l-20">

                                <div flex="20">
                                    <!-- photos -->
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon sm  bg-like m-l-10">
                                                  <i class="color-white ti-image"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class=" graph-h1 color-accent">
                                                            255
                                                        </h2>

                                                        <p class="font-color-100">
                                                            photos
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>

                                <div flex="20">
                                    <!-- videos -->
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon sm  bg-like m-l-10">
                                                  <i class="color-white ti-video-clapper"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class=" graph-h1 color-accent">
                                                            3
                                                        </h2>

                                                        <p class="font-color-100">
                                                            videos
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>

                                <div flex="20">
                                    <!-- links -->
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon sm  bg-like m-l-10">
                                                  <i class="color-white ti-clip"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class=" graph-h1 color-accent">
                                                            4
                                                        </h2>

                                                        <p class="font-color-100">
                                                            links
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>
                                <div flex="20">
                                    <!-- statuses -->
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon sm  bg-like m-l-10">
                                                  <i class="color-white ti-shine"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class=" graph-h1 color-accent">
                                                            15
                                                        </h2>

                                                        <p class="font-color-100">
                                                            statuses
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>
                                <div flex="20">
                                    <!-- event -->
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon sm  bg-like m-l-10">
                                                  <i class="color-white ti-flag"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class=" graph-h1 color-accent">
                                                            0
                                                        </h2>

                                                        <p class="font-color-100">
                                                            events
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Posts details-->
            <div class="fb-posts-wrap">
                <div layout="row" layout-wrap>
                    <div flex="20">
                        <md-card class="md-default-theme overflow-none">
                            <div class="graph-fb-wrap-post">
                                <md-radio-group ng-model="chooseView.Post" ng-change="onViewChange()">
                                    <md-radio-button value="Posts" class="md-primary">Posts</md-radio-button>
                                    <md-radio-button value="Visitors">Visitors</md-radio-button>
                                </md-radio-group>
                            </div>
                        </md-card>
                    </div>
                    <div flex="80">
                        <md-card class="md-default-theme overflow-none">
                            <div class="graph-fb-wrap-post">
                                <div class="text-left col-sm-6">
                                    <h2 class="graph-h2">
                                        {{ chooseView.Post }}
                                    </h2>
                                </div>
                                <!-- view posts -->
                                <div class="post-view" data-ng-if="viewLayout.isPost">
                                    <table class="table table-border-none">
                                        <thead>
                                        <tr class="tbl-border-bottom">
                                            <td>
                                            </td>
                                            <td class="tbl-width-450">
                                                Author and topic
                                            </td>
                                            <td>
                                                Likes
                                            </td>
                                            <td>
                                                Shares
                                            </td>
                                            <td>
                                                Comments
                                            </td>
                                            <td>
                                                Date, time
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="post in postsObj track by $index">
                                            <td>
                                                <div data-ng-if="post.image_url==null">
                                                    <i class="fa fa-link"></i>
                                                </div>
                                                <div data-ng-if="post.image_url!=null">
                                                    <i class="fa fa-camera"></i>
                                                </div>
                                            </td>
                                            <td>
                                                <code>{{post.page_url}}</code>

                                                <div class="post-image">
                                                    <div data-ng-if="post.image_url==null">
                                                        {{post.url}}
                                                    </div>
                                                    <img data-ng-src="{{post.image_url}}">
                                                </div>
                                            </td>
                                            <td>
                                                {{post.like}}
                                            </td>
                                            <td>
                                                <code>{{post.shares}}</code>
                                            </td>
                                            <td>
                                                <code>{{post.Comments}}</code>
                                            </td>
                                            <td>
                                                <code>{{post.date_time}}</code>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- View Visitor -->
                                <div class="post-view" data-ng-if="viewLayout.isVisitor">
                                    <table class="table table-border-none">
                                        <thead>
                                        <tr class="tbl-border-bottom">
                                            <td class="tbl-width-450">
                                                Visitor
                                            </td>
                                            <td>
                                                Rating
                                            </td>
                                            <td>
                                                Likes
                                            </td>
                                            <td>
                                                Posts
                                            </td>
                                            <td>
                                                Comments
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="visitor in visitorsObj track by $index">
                                            <td class="tbl-width-450">
                                                <div class="inline-block">
                                                    <img ng-src="{{visitor.avatar}}" class="md-avatar avatar "/>
                                                    <h5 class="graph-h5">{{ visitor.name }}</h5>
                                                </div>
                                            </td>
                                            <td>
                                                {{visitor.rating}}
                                            </td>
                                            <td>
                                                <code>{{visitor.likes}}</code>
                                            </td>
                                            <td>
                                                <code>{{visitor.posts}}</code>
                                            </td>
                                            <td>
                                                <code>{{visitor.comments}}</code>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-card>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>