<!--
 update damith
 last update 4-11-15
 Add New dashboard
-->

<!--
 update damith
 last update 4-11-15
 Add New dashboard
-->

<md-dialog class="social-analysis width-450" ng-controller="socialAnalysisCtrl">
    <div layout="column">
        <div layout="row">
            <div class="card-head">
                <header>SOCIAL ANALYSIS</header>
                <div class="tools">
                    <a href="javascript:void(0)" data-ng-click="close()">
                        <i class="ti-close"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="header-line-bottom"></div>
        <div class="card-body bg-color-grey-100 p-b-40">
            <div layout="row" layout-wrap>

                <!-- facebook -->
                <div class="select-card-btn asset">
                    <a href="#social-graph-fb" ng-click="close()">
                        <img ng-src="styles/css/images/icons/facebook.svg"
                             alt="Facebook Pages"
                             src="styles/css/images/icons/facebook.svg">
                    </a>
                        <span class="size graph-h2">
                            facebook
                        </span>
                </div>


                <!-- twitter -->
                <div>
                    <div class="select-card-btn asset">
                        <a href="#social-graph-twitter" ng-click="close()">
                            <img ng-src="styles/css/images/icons/twitter.svg"
                                 alt="Twitter"
                                 src="styles/css/images/icons/twitter.svg">
                        </a>
                        <span class="size graph-h2">
                            twitter
                        </span>
                    </div>
                </div>
            </div>


        </div>


    </div>
</md-dialog>
