<div data-ng-controller="socialGraphCtrl">

    <!-- search fb page -->
    <div id="fbPageSearch" ng-class="{'block' : activePageSearch,'hidden' : !activePageSearch}">
        <md-content class="md-default-theme overflow-none ">
            <div class="md-content__body">
                <div class="home-mini-card">
                    <div class="row m-t-0">
                        <div class="col-md-1">
                                <span class="circle-icon md bg-primary">
                                  <md-icon class="color-white ng-isolate-scope md-default-theme
                                  fa fa-facebook fa-3x"
                                           aria-hidden="true">
                                  </md-icon>
                                </span>
                        </div>
                        <div class="col-md-5">
                            <div class="graph-main-header-text">
                                <!-- social page name-->
                                <h2 class="color-primary graph-h1">
                                    My Pages and Groups
                                </h2>
                                <md-button class="md-raised"
                                           ng-click="loginWithFb()"
                                >login
                                </md-button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- posts -->
                            <md-input-container flex>
                                <label>Search page or group</label>
                                <input ng-model="user.firstName">
                            </md-input-container>
                        </div>
                    </div>
                </div>

            </div>
        </md-content>
        <div class="fb-page-search-wrap">
            <md-content class="md-default-theme overflow-none ">
                <div class="md-content__body">
                    <div class="fb-pages-loading" data-ng-if="isPageLoading">
                        <md-progress-circular class="md-raised md-hue-1" md-mode="indeterminate">
                        </md-progress-circular>
                    </div>
                    <div class="home-mini-card load-page-wrap">
                        <!-- pages loading -->
                        <!-- view pages wrap -->
                        <md-list-item class="md-3-line md-no-proxy ng-scope" data-ng-repeat="page in fbPages"
                                      role="listitem">
                            <button class="md-fab   md-button
                                md-default-theme md-fab-md" ng-click="viewPageDetails(page)"
                                     aria-label="button">
                                <i class="fa fa-cogs fa-lg"></i>
                            </button>

                            <div class="md-list-item-text text-right">
                                <h3 class="graph-h2">{{page.name}}</h3>

                                <p class="ng-binding">
                                    I'll be in your neighborhood doing errands.
                                </p>
                            </div>
                            <!-- ngIf: !$last -->
                            <md-divider md-inset="" ng-if="!$last" class="ng-scope md-default-theme"></md-divider>
                            <!-- end ngIf: !$last -->
                        </md-list-item>

                    </div>

                </div>
            </md-content>

        </div>
    </div>

    <!-- graph -->
    <div ng-class="{'block' : !activePageSearch,'hidden' : activePageSearch}" id="fbGraph">
        <!-- Top Header -->
        <md-content class="md-default-theme overflow-none ">
            <div class="md-content__body">
                <div class="home-mini-card">
                    <div class="row m-t-0">
                        <div class="col-md-1">
                                <span class="circle-icon md bg-primary">
                                  <md-icon class="color-white ng-isolate-scope md-default-theme
                                  fa fa-facebook fa-3x"
                                           aria-hidden="true">
                                  </md-icon>
                                </span>
                        </div>
                        <div class="col-md-5">
                            <div class="graph-main-header-text">
                                <!-- social page name-->
                                <h2 class="color-primary graph-h1">
                                    <!-- digin{{page.name}}-->
                                    {{page.name}}
                                </h2>
                                <a href="javascript:void(0);" class="small-text">
                                    Open in facebook
                                </a>
                            </div>

                            <div class="page-search-warp">
                                <div class="p-l-20 ">
                                    <a href="javascript:void(0)" data-ng-click="onFilterData()" class="inline-block">
                                        <small class="small-text">search page data</small>
                                        <i class="ti-search pull-right"></i>
                                    </a>
                                </div>
                                <div layout="row">
                                   <div>
                                    <md-date-picker model="sinceDate" label="Since" dialog-md-theme="datePickerTheme"/>
                                   </div>
                                   <div>
                                    <md-date-picker model="untilDate" label="Until" dialog-md-theme="datePickerTheme"/>
                                   </div>
                                    <md-button class="md-primary" ng-click="changeTimeRange()">Search</md-button>
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-md-6">-->
                            <!-- posts -->
                        <!--    <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h2 text-color-100 graph-h1">
                                        {{postCount}}
                                    </p>

                                    <p class="text-muted graph-h5">Posts</p>
                                </li>
                                <!-- commenters -->
                          <!--      <li>
                                    <p class="size-h2 text-color-100 graph-h1 font-weight-500">
                                        {{totalViews}}
                                    </p>

                                    <p class="text-muted graph-h5 font-weight-500">Views</p>
                                </li>
                                <!-- likes-->
                          <!--      <li class="last-icon">
                                    <p class="size-h2 text-color-100 graph-h1 font-weight-500">
                                        {{totalLikes}}
                                    </p>

                                    <p class="text-muted graph-h5">Likes</p>
                                </li>
                            </ul> -->
<!--                        </div>-->
                    </div>
                </div>

            </div>
        </md-content>

        <div class="graph-main-wrap">
            <!-- body chart wrap -->
            <div class="graph-body">
                <div layout="row" layout-wrap>
                    <div flex="60">
                        <md-card class="md-default-theme overflow-none fb-graph-bg">
                            <div class="graph-fb-wrap">
                                <div class="text-left col-sm-6">
                                    <h2 class="graph-h2">
                                        Realtime performance feed
                                    </h2>
                                </div>
                                <div class="graph-chart-body">
                                    <highchart id="fbChart" config="highchartsNG"></highchart>
                                </div>
                            </div>
                        </md-card>
                    </div>
                    <div flex="40">
                        <md-card class="graph-map overflow-none">
                            <div class="graph-map-content">
                                <digin-map map-data="{{arrAdds}}"></digin-map>
                            </div>
                            <md-card-content>
                                <h2 class="graph-h2">
                                    Location
                                </h2>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>

                <!--wrap post details -->
                <div class="post-wrap">

                    <div layout="row" layout-wrap>
                        <div flex>
                            <div layout="row" layout-align="center center" layout-wrap>
                                <!-- Likes -->
                                <div flex="30">
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon md  bg-like m-l-10">
                                                  <i class="color-white  ti-thumb-up"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class=" graph-h1 color-accent">
                                                            {{totalLikes}}
                                                        </h2>

                                                        <p class="font-color-100">
                                                            likes
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>

                                <div flex="30">
                                    <!-- shares -->
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon md  bg-like m-l-10">
                                                  <i class="color-white ti-eye"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class=" graph-h1 color-accent">
                                                            {{totalViews}}
                                                        </h2>

                                                        <p class="font-color-100">
                                                            Views
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>

                                <div flex="30">
                                    <!-- comments -->
                                    <md-card class="md-default-theme">
                                        <div class="md-content__body">
                                            <section class="home-mini-card">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    <span class="circle-icon md  bg-like m-l-10">
                                                  <i class="color-white ti-comment"
                                                     aria-hidden="true">
                                                  </i>
                                                 </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2 class=" graph-h1 color-accent">
                                                             {{postCount}}
                                                        </h2>

                                                        <p class="font-color-100">
                                                            Posts
                                                        </p>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </md-card>
                                </div>


                            </div>
                        </div>
                        <!-- Post types -->
                         
                    </div>
                </div>
            </div>

            <!-- Posts details-->
            <div class="fb-posts-wrap">
                <div layout="row" layout-wrap>
                    <div flex>
                        <md-card class="md-default-theme overflow-none">
                            <div class="graph-fb-wrap-post">
                                <div class="text-left col-sm-6">
                                    <h2 class="graph-h2">
                                        {{ chooseView.Post }}
                                    </h2>
                                </div>
                                <!-- view posts -->
                                <div class="post-view" data-ng-if="viewLayout.isPost">
                                    <table class="table table-border-none">
                                        <thead>
                                        <tr class="tbl-border-bottom">
                                            <td>
                                            </td>
                                            <td class="tbl-width-450">
                                                Content
                                            </td>
                                            <td>
                                                Likes
                                            </td>
                                            <td>
                                                Shares
                                            </td>
                                            <td>
                                                Comments
                                            </td>
                                            <td>
                                                Created
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="post in postsObj" ng-click="viewSinglePost(post)">
                                            <td>
                                                <div data-ng-if="post.image_url==null">
                                                    <i class="fa fa-link"></i>
                                                </div>
                                                <div data-ng-if="post.image_url!=null">
                                                    <i class="fa fa-camera"></i>
                                                </div>
                                            </td>
                                            <td>
                                                <code class="post-message">{{post.message}}</code>

                                                <div class="post-image">
                                                    <div data-ng-if="post.image_url==null">
                                                        {{post.url}}
                                                    </div>
                                                    <img class="post-image" data-ng-src="{{post.picture}}">
                                                </div>
                                            </td>
                                            <td>
                                               <code>{{post.likes}}</code>
                                            </td>
                                            <td>
                                                <code>{{post.shares}}</code>
                                            </td>
                                            <td>
                                                <code>{{post.comments}}</code>
                                            </td>
                                            <td>
                                                <code ng-bind="post.created_time | date:'dd MMM yyyy'">{{post.created_time}}</code>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-card>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>