<!--
 update damith
 last update 4-11-15
 Add New dashboard
-->

<!--
 update damith
 last update 4-11-15
 Add New dashboard
-->

<md-dialog class="social-analysis" ng-controller="socialAnalysisCtrl">
    <div layout="column">
        <div layout="row">
            <div class="card-head">
                <header>SOCIAL ANALYSIS</header>
                <div class="tools">
                    <a href="javascript:void(0)" data-ng-click="close()">
                        <i class="ti-close"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="header-line-bottom"></div>
        <div class="card-body bg-color-grey-100 p-b-40">
            <div layout="row" layout-align="center center" layout-wrap>
                <!-- social media -->
                <div class="select-card-btn asset" ng-repeat="widget in Widgets" ng-show="widget.type=='Social Media'">
                   <a ui-sref="{{widget.href}}" ng-click="close()">
                        <img ng-src="{{widget.icon}}"
                             alt=""
                             src="{{widget.icon}}">
                    </a>
                        <span class="size graph-h2">
                            {{widget.title}}
                        </span>
                </div>

            </div>


        </div>


    </div>
</md-dialog>
