<div layout="column">
    <md-input-container>
        <label>Model</label>
        <md-select ng-model="forecastObj.paramObj.model">
          <md-option ng-repeat="mod in forecastObj.models" value="{{mod}}">
            {{mod}}
          </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Method</label>
        <md-select ng-model="forecastObj.paramObj.method">
          <md-option ng-repeat="method in forecastObj.method" value="{{method}}">
            {{method}}
          </md-option>
        </md-select>
    </md-input-container>    
    <md-input-container>
        <label>Interval</label>
        <md-select ng-model="forecastObj.paramObj.interval">
          <md-option ng-repeat="int in forecastObj.intervals" value="{{int}}">
            {{int}}
          </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Forcast days</label>
        <input ng-model="forecastObj.paramObj.fcast_days">
    </md-input-container>
    <md-input-container>
        <label>Moving Average Period</label>
        <input ng-model="forecastObj.paramObj.len_season">
    </md-input-container>
</div>