<div layout="column" class="chart-config-wrap">
    <md-input-container>
        <label>Model</label>
        <md-select ng-model="forecastObj.paramObj.model">
          <md-option ng-repeat="mod in forecastObj.models" value="{{mod}}">
            {{mod}}
          </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Method</label>
        <md-select ng-model="forecastObj.paramObj.method">
          <md-option ng-repeat="method in forecastObj.method" value="{{method}}">
            {{method}}
          </md-option>
        </md-select>
    </md-input-container>    
    <md-input-container>
        <label>Interval</label>
        <md-select ng-model="forecastObj.paramObj.interval" ng-change="setDefLenSeason(forecastObj.paramObj.interval)">
          <md-option ng-repeat="int in forecastObj.intervals" value="{{int}}">
            {{int}}
          </md-option>
        </md-select>
    </md-input-container>
    <!-- <md-input-container>
        <label>Forcast Period ( {{forecastObj.paramObj.interval}} ) </label>
        <input ng-model="forecastObj.paramObj.fcast_days">
    </md-input-container> -->
    <md-input-container>
        <label>Length of season ( {{forecastObj.paramObj.interval}} )</label>
        <input ng-model="forecastObj.paramObj.len_season" ng-disabled="forecastObj.paramObj.model == 'double exponential smoothing'">
    </md-input-container>
    <md-input-container>
        <label> Alpha </label>
        <input ng-model="forecastObj.paramObj.alpha" ng-blur = "setValue('alpha')">
    </md-input-container>
    <md-input-container>
        <label> Beta </label>
        <input ng-model="forecastObj.paramObj.beta" ng-blur = "setValue('beta')">
    </md-input-container>
    <md-input-container>
        <label> Gamma </label>
        <input ng-model="forecastObj.paramObj.gamma" ng-blur = "setValue('gamma')">
    </md-input-container> 
    <md-container>
        <label style="font-weight: bolder;color: #01718d;">For Calculation</label>
        <div>
            <label>Start Date</label>
            <md-date-picker model="forecastObj.paramObj.startdate" md-placeholder=""></md-date-picker> <!-- <label >{{minDate}}  </label> --> <br>
            <label>End Date  </label>
            <md-date-picker model="forecastObj.paramObj.enddate" md-placeholder=""> </md-date-picker> <!--  <label >{{maxDate}}  --> </label>
        </div>
    </md-container> 
    <md-container>
        <label style="font-weight: bolder;color: #01718d;">For Visualisation</label>
        <div>
            <label>Start Date</label>
            <md-date-picker model="visualDate.startdate" md-placeholder=""></md-date-picker> <br>
            <label>End Date  </label>
            <md-date-picker model="visualDate.enddate" md-placeholder=""> </md-date-picker>
        </div>
    </md-container>   
    
     <md-input-container>
        <label>Group by</label>
        <md-select ng-model="forecastObj.paramObj.forecastAtt">
          <md-option ng-repeat="att in forecastAtts" value="{{att}}">
            {{att}}
          </md-option>
        </md-select>
    </md-input-container>     
    <md-input-container>
        <md-checkbox ng-model="forecastObj.paramObj.showActual" aria-label="Show actual">
            Show actual 
        </md-checkbox>    
    </md-input-container> 
</div>