<div layout="column" class="chart-config-wrap">
    <md-input-container>
        <label>Model</label>
        <md-select ng-model="forecastObj.paramObj.model">
          <md-option ng-repeat="mod in forecastObj.models" value="{{mod}}">
            {{mod}}
          </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Method</label>
        <md-select ng-model="forecastObj.paramObj.method">
          <md-option ng-repeat="method in forecastObj.method" value="{{method}}">
            {{method}}
          </md-option>
        </md-select>
    </md-input-container>    
    <md-input-container>
        <label>Interval</label>
        <md-select ng-model="forecastObj.paramObj.interval" ng-change="setDefLenSeason(forecastObj.paramObj.interval)">
          <md-option ng-repeat="int in forecastObj.intervals" value="{{int}}">
            {{int}}
          </md-option>
        </md-select>
    </md-input-container>
    <!-- <md-input-container>
        <label>Forcast Period ( {{forecastObj.paramObj.interval}} ) </label>
        <input ng-model="forecastObj.paramObj.fcast_days">
    </md-input-container> -->
    <md-input-container>
        <label>Length of season ( {{forecastObj.paramObj.interval}} )</label>
        <input ng-model="forecastObj.paramObj.len_season" ng-disabled="forecastObj.paramObj.model == 'double exponential smoothing'">
    </md-input-container>
    <md-input-container>
        <label> Alpha </label>
        <input ng-model="forecastObj.paramObj.alpha" ng-blur = "setValue('alpha')">
    </md-input-container>
    <md-input-container>
        <label> Beta </label>
        <input ng-model="forecastObj.paramObj.beta" ng-blur = "setValue('beta')">
    </md-input-container>
    <md-input-container>
        <label> Gamma </label>
        <input ng-model="forecastObj.paramObj.gamma" ng-blur = "setValue('gamma')">
    </md-input-container> 
    <br>
    <md-container>
        <label style="font-weight: bolder;color: #01718d;">For Calculation</label>
        <br>
        <div>
            <div class="date-filter">
                <div class="inline-date"  style="width: 160px;">
                    <label>Start Date</label>
                    <input type="text" class="form-control datep" datep
                    ng-model="forecastObj.paramObj.startdate"/>
                </div>
            </div>

            <div class="date-filter">
                <div class="inline-date"  style="width: 160px; position: relative; float: left;margin-left: 179px;margin-top: -65px;">
                    <label>End Date</label>
                    <input type="text" class="form-control datep" datep
                    ng-model="forecastObj.paramObj.enddate"/>
                </div>
            </div>
        </div>
    </md-container> 
    <br>
    <md-container style="margin-top: 15px;">
        <label style="font-weight: bolder;color: #01718d;">Use Visualisation period</label>
        <br>
        <div>
            <div class="date-filter">
                <div class="inline-date"  style="width: 160px;margin-top: 15px;">
                    <label>Start Date</label>
                    <input type="text" class="form-control datep" datep
                    ng-model="visualDate.startdate" ng-disabled="!useFiltering.status"/>
                </div>
            </div>
            <div class="date-filter">
                <div class="inline-date"  style="width: 160px; position: relative; float: left;margin-left: 179px;margin-top: -65px;">
                    <label>Start Date</label>
                    <input type="text" class="form-control datep" datep
                    ng-model="visualDate.enddate" ng-disabled="!useFiltering.status"/>
                </div>
            </div>
        </div> 
        <md-checkbox ng-model="useFiltering.status" aria-label="" style="position: relative;top: -104px;left: 160px;">
        </md-checkbox>   
    </md-container>   
    <br>
     <md-input-container>
        <label>Group by</label>
        <md-select ng-model="forecastObj.paramObj.forecastAtt">
          <md-option ng-repeat="att in forecastAtts" value="{{att}}">
            {{att}}
          </md-option>
        </md-select>
    </md-input-container>     
    <md-input-container>
        <md-checkbox ng-model="forecastObj.paramObj.showActual" aria-label="Show actual">
            Show actual 
        </md-checkbox>   
        <md-button ng-click="ForcastBtnFun()" class="md-raised md-primary" style=" position: relative;float: right;margin-right: 104px;margin-top: -8px;" ng-disabled="generateDesable">Forecast</md-button> 
    </md-input-container> 
</div>