<md-switch ng-model="isDrilled" ng-change="toggleDrilled(isDrilled)" aria-label="Switch 1">
    Drilled: {{ isDrilled }}
</md-switch>
<div layout-gt-sm="row">
   <md-input-container>
        <label>Select Map Type:</label>
        <md-select ng-model="mapType">
            <md-option ng-repeat="d in mapTypes" value="{{d.name}}">
                {{d.name}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<div layout-gt-sm="row">
    <md-input-container ng-show="mapType == 'World' ">
        <label>Continent</label>
        <md-select ng-model="mapconfig.Continent">
            <md-option ng-repeat="d in executeQryData.executeColumns" value="{{d.filedName}}">
                {{d.filedName}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container  ng-show="mapType == 'World' ">
        <label>Country</label>
        <md-select ng-model="mapconfig.Country">
            <md-option ng-repeat="d in executeQryData.executeColumns" value="{{d.filedName}}">
                {{d.filedName}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container  ng-show="mapType == 'Country' || mapType == 'World'">
        <label>State</label>
        <md-select ng-model="mapconfig.State">
            <md-option ng-repeat="d in executeQryData.executeColumns" value="{{d.filedName}}">
                {{d.filedName}}
            </md-option>
        </md-select>
    </md-input-container >
    <md-input-container ng-show="mapType == 'Country' || mapType == 'World'">
        <label>City</label>
        <md-select ng-model="mapconfig.City">
            <md-option ng-repeat="d in executeQryData.executeColumns" value="{{d.filedName}}">
                {{d.filedName}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
