<div ng-show="selectedChart.chartType == 'metric'" class="chart-config-wrap">
    <md-container>
        <label class="chart-settings-labels">Basic Settings</label>
        <br>
        <md-container flex layout="row">
            <md-input-container flex="50">
                <label>Label text</label>
                <input ng-model="selectedChart.initObj.label">
            </md-input-container>
            <md-input-container flex="50">
                <label>Scale</label>
                <input ng-model="selectedChart.initObj.scale">
            </md-input-container>
        </md-container>
        <md-container flex layout="row">
            <md-input-container flex="50">
                    <label>Position</label>
                    <md-select ng-change="changePosition()" ng-model="selectedChart.initObj.scalePosition">
                        <md-option ng-repeat="position in metricObj.scalePositions" value="{{position}}">
                            {{position}}
                        </md-option>
                    </md-select>
            </md-input-container>
    <!--         <md-input-container>
                <label>colour</label>
                <input type="text" ng-model="selectedChart.initObj.color" placeholder="enter a color">
            </md-input-container>  -->   
            <md-input-container flex="50">
                <label>Decimals</label>
                    <md-select ng-change="changeDecimals()" ng-model="selectedChart.initObj.dec">
                  <md-option ng-repeat="d in metricObj.decimals" value="{{d}}">
                    {{d}}
                  </md-option>
                </md-select>
            </md-input-container>        
        </md-container>
    </md-container>
    <md-container>
        <label class="chart-settings-labels">Data Settings</label>
        <br>
        <md-container flex layout="column">
            <md-input-container flex>
                <label>Actual Value</label>
                <input ng-model="selectedChart.initObj.actualValue">
            </md-input-container>
            <md-input-container flex>
                <label>Target Value</label>
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in commonData.measures" md-item-text="item.filedName" ng-model="selectedChart.initObj.targetValue">
                    <span md-highlight-text="searchText">{{item.filedName}}</span>
                </md-autocomplete>
            </md-input-container>
        </md-container>
    </md-container>
    <md-container>
        <label class="chart-settings-labels">Visualization Settings</label>
        <br>
        <md-container flex layout="column">
            <md-input-container flex layout="row">
                <div flex="30">
                    <label>Colouring Type</label>
                </div>
                <div  flex="70" layout="column">
                    <md-radio-group  flex layout="column" ng-model="selectedChart.initObj.targetRange">
                        <md-radio-button value="higher" class="md-primary left">
                            Higher is better
                        </md-radio-button>
                        <md-radio-button value="lower" class="md-primary left">
                            Lower is better
                        </md-radio-button>                        
                    </md-radio-group>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Colour Ranges</label>
                <rzslider rz-slider-model="selectedChart.initObj.rangeSliderOptions.minValue" rz-slider-high="selectedChart.initObj.rangeSliderOptions.maxValue" rz-slider-options="selectedChart.initObj.rangeSliderOptions.options">
                </rzslider>
            </md-input-container>
            <md-input-container flex layout="row">
                <div flex="30">
                    <label>Color Theme</label>
                </div>
                <md-radio-group  flex="70" layout="column" ng-model="selectedChart.initObj.colorTheme">
                    <md-radio-button value="rog" class="md-primary left">
                        Red, Orange, Green
                    </md-radio-button>
                    <md-radio-button value="cgy" class="md-primary left">
                        Cyan, Green, Yellow-Green
                    </md-radio-button>
                    <md-radio-button value="gpo" class="md-primary left">
                        Green, Purple, Orange
                    </md-radio-button>
                </md-radio-group>
            </md-input-container>
        </md-container>
        <md-container>
            <md-button class="md-raised md-primary right">Finish</md-button>         
        </md-container>
    </md-container>    
</div>