<div layout="column">

	<label>Data Settings</label>

	<div layout="row" layout-align="space-between center">

		<label>Total for Numerics:</label>

		<md-radio-group ng-model="tabularConfig.totForNumeric" layout="row" layout-align="space-between center">
			   <md-radio-button value="true"> Enable </md-radio-button>
			   <md-radio-button value="false"> Disable </md-radio-button>
		</md-radio-group>

	</div>

	<div layout="row" layout-align="space-between center">
		<label>Default Sort Field:</label>

		<div layout="column" layout-align="space-between center">

			  <md-select ng-model="tabularConfig.defSortFeild">
			    <md-option ng-value="user.Attribute" ng-repeat="user in tabularConfig.AllingArr">{{ user.Attribute }}</md-option>
			  </md-select>

			<md-radio-group ng-model="tabularConfig.AscOrDec" layout="row" >
			   <md-radio-button value="Ascending"> Ascending </md-radio-button>
			   <md-radio-button value="Descending"> Descending </md-radio-button>
			</md-radio-group>
			
		</div>
		
	</div>

	<div>
		<label>Display name and Allingment</label>

		<table>

		<tr>
			<th>Attribute</th>
			<th>Display Name</th>
			<th>Alignment</th>
		</tr>

		<tr ng-repeat="att in tabularConfig.AllingArr">
		    <td>{{att.Attribute}}</td>
		    <td>
		    	<md-input-container>
        			<input ng-model="att.DislayName">
      			</md-input-container>
		    </td>
		    <td>{{att.Alignment}}</td>
		</tr>

		</table>

	</div>

	<div layout="row" layout-align="">

		<label>Number of rows to display:</label>

		<md-input-container style="margin-top: -19px;float: left;margin-left: 19px;width: 100px;" >
            <input ng-model="limitTable"> 
         </md-input-container>

	</div>


	<md-button class="md-raised md-primary right" ng-click="generateTable()">
        Generate Table
    </md-button>

</div>