<style>
.tabular-space
{
    padding: 0px !important;
    margin: 0px !important;
    padding-right: 10px !important;
}
</style>
<div layout="column">

	<h4>Data Settings</h4>

	<div layout="row"  style="margin-top:20px">

		<label><b>Set Aggregation:</b></label>

		<md-radio-group ng-model="widget.widgetData.widData.tabularConfig.totForNumeric" layout="row"  style="float: left;margin-left:50px">
			   <md-radio-button value="true"> Enable </md-radio-button>
			   <md-radio-button value="false"> Disable </md-radio-button>
		</md-radio-group>

	</div>

	<div layout="row" style="margin-top:20px">
		<label style="margin-top: 10px"><b>Default Sort Field:</b></label>

		<div layout="column" style="float: left;margin-left:50px">

			  <md-select ng-model="widget.widgetData.widData.tabularConfig.defSortFeild">
			    <md-option ng-value="user.Attribute" ng-repeat="user in widget.widgetData.widData.tabularConfig.AllingArr">{{ user.Attribute }}</md-option>
			  </md-select>

			<md-radio-group ng-model="widget.widgetData.widData.tabularConfig.AscOrDec" layout="row" style="margin-top:20px">
			   <md-radio-button value="ASC"> Ascending </md-radio-button>
			   <md-radio-button value="DESC"> Descending </md-radio-button>
			</md-radio-group>
			
		</div>
	</div>

	<div style="margin-top:20px">
		<label><b>Display name and alignment </b></label>

		 <table style="margin-top:20px">

		<tr>
			<th>Attribute</th>
			<th>Display Name</th>
			<th>Alignment</th>
			<th>Aggregation</th>
		</tr>

		<tr ng-repeat="att in widget.widgetData.widData.tabularConfig.AllingArr">
		    <td class="tabular-space">{{att.Attribute}}</td>
		    <td class="tabular-space">
		    	<md-input-container class="tabular-space" style="margin-top: 24px !important;">
        			<input ng-model="att.DislayName">
      			</md-input-container>
		    </td>
		    <td class="tabular-space">
		    	<md-select ng-model="att.Alignment" class="tabular-space">
			    	<md-option ng-value="aling" ng-repeat="aling in allingments">
			    		{{aling}}
			    	</md-option>
			    </md-select>
		    </td>
		    <td ng-hide="att.isString" class="tabular-space">
		    	<md-select ng-model="att.Aggregation" class="tabular-space">
			    	<md-option ng-value="agg" ng-repeat="agg in aggregationArr">
			    		{{agg}}
			    	</md-option>
			    </md-select>
		    </td>
		</tr>

		</table>
<!--div layout="row" layout-align="space-between center" style="margin-top:20px">
			
			<div>Attribute</div>
			<div>Display Name</div>
			<div>Alignment</div>
			<div>Aggregation</div>

		</div>

		<div layout="row" layout-align="space-between center" ng-repeat="att in widget.widgetData.widData.tabularConfig.AllingArr" style="margin-top:20px">

			<div>{{att.Attribute}}</div>

			<div>
				<md-input-container>
        			<input ng-model="att.DislayName">
      			</md-input-container>
			</div>

			<div>
				<md-select ng-model="att.Alignment">
			    	<md-option ng-value="aling" ng-repeat="aling in allingments">
			    		{{aling}}
			    	</md-option>
			    </md-select>
			</div>

			<div ng-hide="att.isString">
				<md-select ng-model="att.Aggregation">
			    	<md-option ng-value="agg" ng-repeat="agg in aggregationArr">
			    		{{agg}}
			    	</md-option>
			    </md-select>
			</div>

		</div-->




	</div>

	<div layout="row" layout-align="" style="margin-top:20px">
		<label><b>Number of rows to display:</b></label>

		<md-input-container style="margin-top: -19px;float: left;margin-left: 19px;width: 200px;" >
            <input ng-model="widget.widgetData.widData.tabularConfig.numOfRows"> 
         </md-input-container>
	</div>


	<md-button class="md-raised md-primary right" ng-click="generateTable()">
        Generate Table
    </md-button>
</div>