<md-dialog>
    
        <!-- <div layout="row"> -->
        <div class="card-head">
                <header>ADD NEW PAGE</header>
                <div class="tools">
                    <a href="javascript:void(0)" ng-click="close()">
                        <i class="ti-close"></i>
                    </a>
                </div>
        </div>

        <!-- </div> -->
        <div class="header-line-bottom"></div>
        <div class="card-body bg-color-grey-100 p-b-20 share-body">
            
                
                    <p>You have {{message}} in this dashboard</p>
                    <div layout="row" layout-wrap>
                        <div ng-repeat="item in $root.dashboard.pages" layout="column">
                            <md-icon md-svg-src="styles/css/images/icons/ic_dashboard_24px.svg" style="width:50px;height:50px;"></md-icon>
                            <p class="page-name">{{item.pageName}}</p>
                        </div>
                    </div>
                
            
        </div>
        <div class="dialog-content-1">
                    <p>Add new page</p>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Title</label>
                            <input ng-model="title">
                        </md-input-container>
                    </div>
                    <div class="md-actions" layout="row">
                        <md-button class="md-fab md-mini" styl="background-color: #D33F3F;" ng-click="close();" >
                            <ng-md-icon icon="close" style="fill:white" layout="column" layout-align="center center"></ng-md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini md-primary" ng-click="createNewPage();">
                            <ng-md-icon icon="arrow_forward" style="fill:white" layout="column" layout-align="center center"></ng-md-icon>
                        </md-button>
                    </div>
        </div>
        
</md-dialog>
