<md-dialog aria-label="Mango (Fruit)">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{title}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
	<form name="userForm">
		<md-input-container flex="">
			<label>{{message}}</label>
			<input ng-model="answer" ng-enter="enter()">
		</md-input-container>
	</form>
   
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel();" >
     Cancel
    </md-button>
    <md-button ng-click="ok()" style="margin-right:20px;" ng-disabled="validate()">
      Ok
    </md-button>
  </div>
  </form>
</md-dialog>