<div class="ui-sortable ui-sortable-handle" layout="" layout-sm="column" ui-droptarget="" ui-sortable="">
    <md-input-container class="md-default-theme md-input-has-value" flex="">
        <label for="input_001">City</label>
        <input aria-invalid="false" tabindex="0" id="input_001" class="ng-pristine ng-untouched ng-valid md-input" ng-model="user.city">
    </md-input-container>
    <md-input-container class="md-default-theme md-input-has-value" flex="">
        <label for="input_002">State</label>
        <input aria-invalid="false" tabindex="0" id="input_002" class="ng-pristine ng-untouched ng-valid md-input" ng-model="user.state" type="password">
    </md-input-container>
    <md-input-container class="md-default-theme md-input-has-value" flex="">
        <label for="input_003">Postal Code</label>
        <input aria-invalid="false" tabindex="0" id="input_003" class="ng-pristine ng-untouched ng-valid md-input" ng-model="user.postalCode">
    </md-input-container> 
</div>
<div class="ui-sortable ui-sortable-handle" layout="" layout-sm="column" ui-droptarget="" ui-sortable="">
    <md-input-container class="md-default-theme md-input-has-value" flex="">
        <label for="input_004">Address</label>
        <textarea style="height: 56px;" aria-invalid="false" tabindex="0" aria-multiline="true" id="input_004" class="ng-pristine ng-untouched ng-valid md-input" ng-model="user.address"></textarea>
    </md-input-container>
    <md-input-container class="md-default-theme md-input-has-value" flex="">
        <label for="input_005">Postal Code</label>
        <input aria-invalid="false" tabindex="0" id="input_005" class="ng-pristine ng-untouched ng-valid md-input" ng-model="user.postalCode">
    </md-input-container> 
</div>