<!--START OF FIRST CARD CONTAINER-->
<div ng-controller="ViewCtrl as ctrl">
	

<div class="header_container">

   <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="start start" style="background-color: #FFFFFF;max-width: 960px;height:40px;">
        
        
		<md-autocomplete flex ng-show="SearchbarShow"
			ng-keypress="enter($event)"
			md-selected-item="ctrl.actionSelectedItem"
			md-search-text="ctrl.actionSearchText"
			md-selected-item-change="ctrl.selectedActionItemChange(item)"
			md-items="item in ctrl.actionQuerySearchView(ctrl.actionSearchText)"
			md-min-length="0"
			placeholder="Action Search">
			<md-item-template>
			<span md-highlight-text="ctrl.actionSearchText" md-highlight-flags="^i">{{item.ProductCode}}</span>
			</md-item-template>
				 
		</md-autocomplete>

	
		<div ng-if="SearchbarShow == false" flex layout="row" layout-sm="row" style="background:rgb(250,250,250);border-right:1px solid #ececec;">

		<div flex>
			<md-button type="button" aria-label="Open demo menu" class="md-icon-button" 
			ng-click="backfunc()">
				<md-icon md-svg-icon="img/ic_arrow_back_24px.svg" ></md-icon> 
			</md-button>
		</div>
		<div  flex = "75" hide-sm>
			 
		</div>

		<div  flex>
			<md-button type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="deletemultiple()">
				<md-icon md-svg-icon="img/ic_delete_24px.svg" ></md-icon> 
			</md-button>
		</div>

		<div  flex >
			<md-button type="button" aria-label="Open demo menu" class="md-icon-button">
				<md-icon md-svg-icon="img/ic_star_24px.svg" ></md-icon> 
			</md-button>
		</div>

			<div  flex >
			<md-button type="button" aria-label="Open demo menu" class="md-icon-button">
				<md-icon md-svg-icon="img/ic_visibility_24px.svg" ></md-icon> 
			</md-button>
		</div>

			
		</div>

 
         <md-menu md-position-mode="target-right target" style="background:rgb(250,250,250);width:50px;height:40px">
                  
			 <md-button type="button" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
				<md-icon md-svg-icon="img/ic_reorder_24px.svg" style="margin-top:-9px;" ></md-icon> 
			 </md-button>
			 
			 <md-menu-content width="4">
            <md-menu-item ng-repeat="item in [1, 2, 3]">
              <md-button ng-click="ctrl.announceClick($index)">
                  <div layout="row">
                    <p flex>Option {{item}}</p>
                    <md-icon md-svg-icon="img/ic_vpn_key_24px.svg"></md-icon>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
		</md-menu>
                     
   </md-whiteframe>

	<md-content class="tab_content">
	  <md-tabs md-stretch-tabs md-selected="selectedIndex" ng-click="changeTab(selectedIndex)">
		 <md-tab label="Receipt" ></md-tab> 
		 <md-tab label="Issue"></md-tab> 
	  </md-tabs>
   </md-content>

</div>
<!--END OF FIRST CARD CONTAINER-->


		

		<!--START OF SECOND CARD CONTAINER-->
		<div class="card_container" style="padding-top: 117px;">


		  <div class="span12 ui-view-container">
			   <div class="container" ui-view  viewcss></div>        
			 </div>
		   
		  
		  </div>
			
		
	 		<!--END OF FIRST CARD CONTAINER-->
		
		<!--START OF SECOND CARD CONTAINER-->
		<div class="card_container" style="padding-top:117px">
		

		</div>
		<!--START OF SECOND CARD CONTAINER-->
</div>		
<div  class="lock-size" layout="row">
    <div id="add" class="fab_button_animation" style="background:#2980b9;"></div>
    <div id="viewDrafts" class="fab_button_animation" style="background:#f1c40f;"></div>

    <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
         ng-class="demo.selectedMode">
        <!-- 20px -->
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab " style="background-color:#db4437;" ng-click="addInvoice()">
                <md-icon md-svg-src="img/ic_add_24px.svg" style="width:30px;" ></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions >
            <!--div style="padding:5px;">
                <md-button aria-label="twitter" class="md-fab md-raised md-mini" ng-click="add()" style="background-color:#2980b9; ">
                    <md-icon md-svg-src="img/ic_note_add_24px.svg" ></md-icon>
                    <md-tooltip md-direction="left">New Invoice</md-tooltip>
                </md-button>
            </div-->

        </md-fab-actions>
    </md-fab-speed-dial>
</div>  