/* line 1, ../../source/scss/ng-img-crop.scss */
.font-dosis {
    font-family: 'Dosis', sans-serif;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

/* line 7, ../../source/scss/ng-img-crop.scss */

img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
}

/* line 17, ../../source/scss/ng-img-crop.scss */

img-crop .loading {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
}

body {
    /*        color: white;*/
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.main-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background: #F5F5F5; /* Old browsers */
}

/*  .step2-main-container
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background-color: white;
  }
  .step1-main-container {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background-color: #03A9F4;
      background-image: url(../images/cover1.jpg);
      background-blend-mode: multiply;
      background-size: 100vw 130vh;
  }
  .title-container {
      width: 100vw;
      height: 30vh;
      background-color: #03A9F4;
      background-image: url(../images/cover1.jpg);
      background-blend-mode: multiply;
      background-size: 100vw 130vh;
      background-position: bottom;
      color: white;
      font-size: 20px;
      -webkit-transition: all 350ms cubic-bezier(0.32, 0.93, 0.93, 1.1);
      -moz-transition: all 350ms cubic-bezier(0.32, 0.93, 0.93, 1.1);
      -o-transition: all 350ms cubic-bezier(0.32, 0.93, 0.93, 1.1);
      transition: all 350ms cubic-bezier(0.32, 0.93, 0.93, 1.1);
  }*/
.title-container-content {
    height: calc(80vh - 48px);
    width: 100%;
    font-size: 35px;
    font-weight: 300;
    color: whitesmoke;
}

.title-container p {
    /*        margin: 10px 20px;*/
}

.title {
    /*
    height: 48px;
    border-bottom: 1px rgba(244, 241, 241, 0.38) solid;
*/
    margin: 20px;
}

.content {
    background-color: rgba(244, 241, 241, 0);
    margin-top: -48px;
    height: 80vh;
}

md-tabs md-tab-item span {
    color: white;
}

.view {
    width: 67.2vw;
    height: 80vh;
    position: fixed;
    left: 40vw;
    top: 20vh;
    background-image: url(../images/shellassets/background/250x250_blur-background10.jpg);
    background-size: cover;
    z-index: 11;
    transform: scale(0.78);
    transform-origin: top left;
    border-radius: 5px;
    margin: 0vh 13.7vw;
}

.mobileView {
    width: 31.3vw;
    height: 60vw;
    position: fixed;
    right: 12.8vw;
    top: 28vh;
    background-image: url(../images/shellassets/background/250x250_blur-background10.jpg);
    background-size: cover;
    z-index: 11;
    transform: scale(0.78);
    transform-origin: top right;
    border-radius: 5px;
    margin: 0vh 0vw;
}

.frame {
    position: fixed;
    top: 15vh;
    width: 80vw;
    height: 80vh;
    right: -20vw;
    /*        z-index: 10;*/
}

.mobileFrame {
    position: fixed;
    top: 15vh;
    width: 40vw;
    height: 60vw;
    right: 5vw;
    z-index: 10;
}

.wizard-content {
    width: 45vw;
    height: 60vh;
    font-size: 25px;
    color: darkgrey;
}

.tool-bar-control-set md-input-container input {
    color: rgba(255, 255, 255, 1) !important;
    border: none !important;
}

.tool-bar-control-set {
    height: 100%;
    padding: 0px 8px 0px 8px;
    box-sizing: border-box;
}

.md-button {
    margin: 0px !important;
    min-width: 0 !important;
    color: white;
    background-color: #1e5b8b;
}

.md-button:not([disabled]):hover {
    background-color: #ff771c;
}

.md-button[disabled] {
    color: #1e5b8b;
    background-color: #1e5b8b;
}

.title-container-content .md-input {
    height: 80px;
    color: white;
    font-size: 60px;
}

.color-palet {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 5px;
}

.design-view {
    height: calc(80vh - 48px);
    width: 100%;
    background: #ececec;
}

.design-view-layer2 {
    height: calc(300px - 48px);
    width: 100%;
}

.design-view-layer3 {
    height: calc(300px - 48px);
    width: 100%;
    position: absolute;
    top: 96px;
    background: rgba(0, 0, 0, 0.3);
}

.design-view-layer4 {
    height: 60vh;
    width: 80%;
    max-width: 928px;
    left: 10%;
    position: absolute;
    top: 105px;
    background: white;
}

md-toolbar {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .25);
}

.branding-title-preview {
    font-family: Lobster;
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: #03A9F4;
}

.background-thumb {
    width: 100px;
    height: 60px;
}

img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden
}

img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 300px;
}

.logo-button {
    position: absolute;
    z-index: 1;
    left: 5vw;
}

.tabs-content-container {
    width: 100vw;
    z-index: 1;
    /*        margin: 0px 40px;*/
    background: none;
    height: 70vh;
}

.tabs-content-container md-list {
    width: 100%;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
}

/*start of seacrh bar*/

.serachBox {
    width: 350px;
    height: 48px;
}

.serachBox.ng-hide-add,
.serachBox.ng-hide-remove {
    -webkit-transition: all 350ms cubic-bezier(.55, 0, .1, 1);
    /* older webkit */
    -webkit-transition: all 350ms cubic-bezier(.55, 0, .1, 1);
    -moz-transition: all 350ms cubic-bezier(.55, 0, .1, 1);
    -o-transition: all 350ms cubic-bezier(.55, 0, .1, 1);
    transition: all 350ms cubic-bezier(.55, 0, .1, 1);
}

.serachBox.ng-hide {
    width: 0px;
}

.serachBox md-input-container {
    margin-top: 8px !important;
    padding-bottom: 2px !important;
}

.serachBox input {
    border-bottom: none !important;
    font-family: roboto;
    font-weight: 300;
    font-size: 16px;
    color: rgb(35, 91, 145);
}

.noResultsText {
    width: 100vw;
    text-align: center;
    margin: 50px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 300;
}

/*end of search bar*/
/*profileWidget Component styling */

.userInfoProfileBannerSection {
    width: 304px;
    height: 120px;
    background-size: 100% 100%;
}

#profilePic {
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 107px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.6);
}

.userInfoProfileDetailsSection {
    /*    position: absolute;*/
    z-index: 1;
    /*    bottom: 68px;*/
    /*    left: 0;*/
    /*    width: 304px;*/
    height: 60px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(30, 30, 30, 0.8);
}

.userInfoProfileDetailsSection span:nth-child(1) {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}

.userInfoProfileDetailsSection span:nth-child(2) {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.profileWidgetControls {
    width: 100%;
    height: 48px;
    background: rgba(255, 255, 255, 0.3);
}

/*Profile widget component styling end*/

.md-open-menu-container.md-active {
    transform: scale(0.7)
}

ks-swiper-container {
    width: 100%;
}

.swiper-container {
    height: calc(80vh - 48px);
    width: 100%;
}

.dockPanels {
    height: 100%;
    width: 100%;
}

.panelTitleHolder {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    z-index: 0;
}

.panelTitleHolder h1 {
    padding: 0;
    margin: 0;
    font-size: 5vw;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.1);
}

.sliderPanelContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.step1-wizard-container {
    width: 100%;
    max-width: 750px;
    /*        height: auto;*/
    min-height: 300px;
    border-radius: 4px;
}

.background-title {
    font-size: 9vw;
    margin: 20px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    /*        font-family: 'Damion', cursive;*/
    color: rgba(255, 255, 255, 0.23);
}

.step1-wizard-cover {
    background-color: #ff5722;
    /*        height: 100%;*/
    background: #ff5722 url(../images/shellassets/propriotaryartwork/DuoSoftware_Logo.png) no-repeat 120% 100%;
    background-size: 150%;
}

.step-title-1 {
    font-size: 80px;
    color: rgba(255, 255, 255, 0.6);
    margin: 10px 5px;
}

.step-title-2 {
    font-size: 20px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.6);
}

.step-title-2 span {
    font-size: 35px;
    margin: 0px;
    color: white;
}

/*Transition Animations*/

#viewContainer.ng-enter,
#viewContainer.ng-leave {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    -webkit-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
}

#viewContainer.ng-enter {
    /*
    -webkit-animation: scaleUp .7s cubic-bezier(.55, 0, .1, 1);
    animation: scaleUp .7s cubic-bezier(.55, 0, .1, 1);
*/
    transform: translateY(100vh);
    transition: .5s;
}

#viewContainer.ng-enter-active {
    /*
    -webkit-animation: scaleUp .7s cubic-bezier(.55, 0, .1, 1);
    animation: scaleUp .7s cubic-bezier(.55, 0, .1, 1);
*/
    transform: translateY(0vh);
}

#viewContainer.ng-leave {
    transform: translateY(0vh);
    transition: .5s;
    /*
    -webkit-animation: scaleDown .7s cubic-bezier(.55, 0, .1, 1);
    animation: scaleDown .7s cubic-bezier(.55, 0, .1, 1);
*/
    /*        transform: translateY(0vh) .7s cubic-bezier(.55, 0, .1, 1);*/
}

#viewContainer.ng-leave-active {
    /*
    -webkit-animation: scaleDown .7s cubic-bezier(.55, 0, .1, 1);
animation: scaleDown .7s cubic-bezier(.55, 0, .1, 1);
*/
    transform: translateY(-100vh);
    transition: .5s;
}

/*
.animate-enter,
.animate-leave {
-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
-moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
-ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
-o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}
.animate-enter {
top: -100%;
}
.animate-enter.animate-enter-active {
top: 0;
}
.animate-leave {
top: 0;
}
.animate-leave.animate-leave-active {
top: 100%;
}
*/
/*Animation Hooks*/
/*
@-webkit-keyframes scaleDown {
    from {}
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}
*/

@keyframes scaleDown {
    from {
        transform: translateY(0vh);
    }
    to {
        /*
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
*/
        transform: translateY(100vh);
    }
}

/*
@-webkit-keyframes scaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}
*/

@keyframes scaleUp {
    from {
        /*
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);*/
        transform: translateY(100vh);
    }
    to {
        /*
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);*/
        transform: translateY(0vh);
    }
}

.wizard-title {
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0px;
    right: 0px;
}

/*//update*/
.price-wrap {
    height: 550px;
    border-radius: 5px;
}

.plan-main-wrap {

    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.plan-main-wrap > .price-header {
    display: inline-block;
    padding-top: 10px;
    font-size: 25px;
    font-weight: 500;
}

.plan-main-wrap.side-price-wrap {
    z-index: 10;
    width: 250px;
    height: 550px;
    background: #ffffff;
}

.plan-main-wrap.center-price-wrap {
    -webkit-box-shadow: -2px 0px 18px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 18px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0px 18px -2px rgba(0, 0, 0, 0.75);
    z-index: 100;
    width: 270px;
    height: 610px;
    background: #037281;
}

.plan-main-wrap.center-price-wrap > .price-header {
    color: #ffffff;
}

.plan-main-wrap.side-price-wrap > .price-header {
    color: #999da6;
}

.price-img-wrap {
    margin-top: 35px;
}

.plan-main-wrap.side-price-wrap
.price-img-wrap > img {
    width: 120px;
    height: 120px;

}

.plan-main-wrap.center-price-wrap
.price-img-wrap > img {
    width: 220px;
    height: 150px;
}

.price-body {
    height: 213px;
    padding-top: 56px;
}

.btn-default-price {
    font-size: 13px;
    background: #01718D;
    padding: 10px 25px 10px 25px;
    color: #fff;
    border-radius: 30px;
    font-weight: 400;
    cursor: pointer;

}

