<link rel="stylesheet" type="text/css" href="views/widgets/clock/clock.css">
<div ng-controller="clockInit" class='clockmain widget-card' style="height:100%">
	<ul id='clockclock'>
		<li id='clockhour' style="box-shadow:none !important"></li>
		<li id='clockmin' style="box-shadow:none !important"></li>
		<li id='clocksec' style="box-shadow:none !important"></li>
	</ul>
	<div id='clockdate'>
		<span style='font-family: lato,sans-serif;font-size:xx-large;color:#00172F;margin: 10px;' id='clockmonthDay'></span>
		<p><span id='clockHours'></span> : <span id='clockMins'></span> 
		</p>
	</div>
</div>
