    
<!-- <div class="commonDataSource" ng-controller="commonDataSrcInit" > -->

<!-- cooment by Gevindu on 2016/05/12 due to DUODIGIN-455 -->
<md-sidenav class="md-sidenav-right slider-r-wrap" md-component-id="right">
<!-- message
 <toast></toast> -->

    <md-content layout="row" ng-init="initiateDatasources()">
        <div class="slider-r-tab">
            <ul class="list-panel icheck-inline">
                <li class=""
                    ng-class="{sliderDisable  :commonUi.selectedIndex != 1,
                    sliderActive: commonUi.selectedIndex==1}"
                    ng-click="commonUi.onClickTab('1')">
                    <span class="tab_icon">
                      <i class="fa fa-database"></i>
                    </span>
                    <span>Source</span>
                </li>

                <li class=""
                    ng-class="{sliderDisable:commonUi.selectedIndex != 2,
                    sliderActive:commonUi.selectedIndex==2}"
                    ng-click="commonUi.onClickTab('2')">
                    <span class="tab_icon ">
                      <i class="fa fa-table"></i>
                    </span>
                    <span>Info</span>
                </li>
                <li class=""
                    ng-class="{sliderDisable:commonUi.selectedIndex != 3,
                    sliderActive:commonUi.selectedIndex==3}"
                    ng-click="commonUi.onClickTab('3')">
                    <span class="tab_icon ">
                      <i class="fa fa-th-list"></i>
                    </span>
                    <span>Schema</span>
                </li>
            </ul>
            <div class="data-src-close" layout="row" layout-align="end center">
                <md-button class="md-icon-button" ng-click="commonUi.onClickClose()" aria-label="close">
					<i class="ti-close"></i>
				</md-button>
            </div>
			
        </div>


    </md-content>

    <!--
    Update damith
    UI Select Main Source -->
    <md-content class="overflow-none animate-hide animated" layout="row" ng-class="{fadeInRightBig: commonUi.selectedIndex==2, fadeInLeft: commonUi.selectedIndex==1}" ng-show="commonUi.selectedIndex=='1'">
        <div class="slider-r-source " ng-mousemove="initTabSource()">
            <!-- refresh all source -->
            <!--div class="digni-cmds-header-btn">
                <i class="ti-reload"
                   ng-click="commonUi.onRefresh(3)"
                ></i>
            </div-->

            <h3 class="font-weight-500 text-center">
                Data source builder (1/3)
                <small class="text-color-grey-600">
                    what do you want to connect to?
                </small>
            </h3>
            <div layout="row">
                <!-- select data source -->
             
				<div flex class="digin-cmds-source">
					<div ng-repeat="source in datasources"
						 class="source-wrap icheck-inline hvr-outline-in "
						 ng-click="commonUi.onClickSelectedSrc(source,datasources, $event)"
                         ng-show="{{source.display}}">
						<img class="source-icon" ng-src="{{source.icon}}"
							 alt="{{source.name}}">
						<div class="source-wrap-footer">
							{{source.name}}
						</div>
						<div class="selectedSource"
							 ng-class="source.selected==true?'selectedSource':'displayNone'">
							<i class="fa fa-check-circle-o"></i>
						</div>
					</div>
<!-- 					<div class="source-wrap icheck-inline hvr-outline-in "
						 ng-click="commonUi.openExcelFileUpload($event)">
						<img class="source-icon" ng-src="styles/icons/source/xlsx.svg"
							 alt="styles/icons/source/xlsx.svg">
						<div class="source-wrap-footer">
							CSV Upload
						</div>
						<div class="selectedSource"
							 ng-class="source.selected==true?'selectedSource':'displayNone'">
							<i class="fa fa-check-circle-o"></i>
						</div>
					</div> -->
				</div>
               
            </div>
            <div layout="row" layout-align="space-between center">
				<span flex></span>    
				<span flex></span>   				
				<md-button md-no-ink class="md-raised md-primary"  ng-click="commonUi.onClickNext('1')" ng-disabled="!sourceUi.selectedSource"><span style="text-transform:none;color:white">Next</span></md-button>
            </div>
        </div>
    </md-content>

    <!--UI Select table info -->
    <md-content class="overflow-none animated " layout="row"
                ng-class="{fadeInRightBig: commonUi.selectedIndex==2,
                fadeInLeft: commonUi.selectedIndex==1}"
                ng-show="commonUi.selectedIndex=='2'">
        <div class="slider-r-source " ng-mousemove="initTabSource($event)">
            <h3 class="graph-h2 font-weight-500 text-center">
                Data source builder (2/3)
                <small class="text-color-grey-600">
                    what do you want to connect to?
                </small>
                    <span class="btn btn-block btn-default"
                          ng-click="commonUi.onExecuteManualQuery()" ng-disabled="!sourceUi.selectedSource">
                        Custom Query
                    </span>
                    <md-input-container style="width: 100%;font-size: large;float: left !important;font-weight: 100;" class="text-color-grey-600">
                        <label>Search</label>
                        <input type="text" ng-model="sourceUi.search">
                    </md-input-container>
            </h3>

            <div layout="row">
                <!-- source not found -->
                <div class="digin-cmds-source "
                     ng-show="sourceUi.selectedSource==''">
                    <div class="error-wrap error">
                        <i class="fa fa-database"></i>
                        <span> Source Not Found</span>
                    </div>

                    <div class="cmds-btn-footer">
                        <div class="cmds-btn-footer m-top-10">
                        <span class="btn btn-block btn-default"
                              ng-click="commonUi.onClickBack('2')">
                            back
                        </span>
                        <span class="btn btn-block btn-default btn-close"
                              ng-click="commonUi.onClickClose()">
                                close
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- connection error
                    time out error
                    services error match -->
            <div class="row">
                <div class="digin-cmds-source "
                     ng-show="commonUi.isServiceError==true">
                    <div class="error-wrap error">
                        <i class="fa fa-clock-o"></i>
                        <span> Connection time out</span>
                    </div>

                    <div class="cmds-btn-footer m-top-10">
                        <div class="text-center">
                            <span class="btn btn-default"
                                  ng-click="commonUi.onRefresh(4)">
                                refresh
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- select table data -->
            <div class="digin-cmds-source digin-cmds-info"
                 ng-show="sourceUi.selectedSource!=''">
                <div class="info-wrap">
                    <!-- Is data loading -->
                    <div class="digin-cmds-loading"
                         ng-if="commonUi.isDataLoading"
                         ng-show="sourceUi.selectedSource!=''">
                        <svg class="circular-loader" height="50" width="50">
                            <circle class="path" cx="25" cy="25.2" r="19.9"
                                    fill="none" stroke-width="6" stroke-miterlimit="10"/>
                        </svg>
                    </div>
                    <!-- table data -->
                    <ui ng-repeat="row in sourceUi.tableData | filter : {name: sourceUi.search} | orderBy: 'name' " ng-hide="sourceUi.selectedSource == 'MSSQL' ">
                        <li class="col-sheet"
                            ng-click="commonUi.onSelectClassRow(row)"
                            ng-class="row.selected==true?'selectedRow':'unSelectedRow'"
                        >
                            <span>
                                <i class="{{row.type}}"></i>&nbsp;&nbsp;
                                {{ row.name | limitTo: 25 }}{{row.name.length > 25 ? '...' : ''}}
                            </span>
                            <!-- <i class="pull-right"> -->
                            </i>
                            <img ng-src="views/settings/systemSettings/sharing.png" style="width: 20px;float: right;" alt="{{item.who}}" ng-if="row.isShared"/>
                        </li>
                    </ui>
                    <v-accordion id="accordionDataSource" class="vAccordion--default" control="accordionA" 
                        onexpand="commonUi.onExpandConnection(index)"> 
                        <v-pane class="v-pane" ng-repeat="row in mssqlConnections" ng-show="sourceUi.selectedSource == 'MSSQL' ">
                            <v-pane-header>
                                <h5 class="font-weight-300 text-upper">{{ ::row.connection_name }}</h5>
                            </v-pane-header>
                            <v-pane-content class="trans-bg v-pane-content">
                                <div layout="row" layout-sm="column" layout-align="space-around" style="padding-top: 5px;" 
                                    ng-show="isConnectionTablesLoading">
                                    <md-progress-circular md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
                                </div>
                                <div opacity="0.1" ng-hide="isConnectionTablesLoading">
                                    <md-radio-group ng-model="selectedTable">
                                        <md-radio-button value="{{field.name}}" class="md-primary dashboard-wrap data-source-radio"         ng-repeat="field in sourceUi.tableData | filter : {name: sourceUi.search}" ng-click="commonUi.onSelectClassRow(field)">
                                            <li class="pull-left dashboard-name">{{field.name}}</li>
                                        </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </v-pane-content>
                        </v-pane>                       
                    </v-accordion>
                </div>
            </div>
			 <div layout="row" layout-align="space-between center">
				<md-button md-no-ink class="md-raised"  ng-click="commonUi.onClickBack('2')"><span style="text-transform:none;color:black">Back</span></md-button> 
				<span flex></span>   				
				<md-button md-no-ink class="md-raised md-primary"   ng-click="commonUi.onClickNext('2')" ng-disabled="!sourceUi.selectedNameSpace" ng-if="commonUi.isServiceError==false"><span style="text-transform:none;color:white">Next</span></md-button>
            </div>
        </div>
    </md-content>

    <!-- UI select table schema (table filed)-->
    <md-content class="overflow-none animated " layout="row"
                ng-class="{fadeInRightBig: commonUi.selectedIndex==3,
                fadeInLeft: commonUi.selectedIndex==3}"
                ng-show="commonUi.selectedIndex=='3'">
        <div class="slider-r-source " ng-mousemove="initTabSource()">
            <h3 class="graph-h2 font-weight-500 text-center">
                Data source builder (3/3)
                <small class="text-color-grey-600">
                    what do you want to connect to?
                </small>
            </h3>

            <div layout="row">
                <!-- source not found -->
                <div class="digin-cmds-source "
                     ng-show="sourceUi.selectedNameSpace==''">
                    <div class="error-wrap error">
                        <i class="fa fa-table"></i>
                        <span> Table Not Found</span>
                    </div>

                    <div class="cmds-btn-footer">
                        <div class="cmds-btn-footer m-top-10">
                        <span class="btn btn-block btn-default"
                              ng-click="commonUi.onClickBack('3')">
                            back
                        </span>
                        <span class="btn btn-block btn-default btn-close"
                              ng-click="commonUi.onClickClose()">
                                close
                            </span>
                        </div>
                    </div>
                </div>
                <!-- search data-->
            </div>
            <div class="digin-cmds-source-2 digin-cmds-scheme"
                 ng-show="sourceUi.selectedNameSpace!=''">
                <!-- Is data loading -->
                <div class="digin-cmds-loading"
                     ng-if="commonUi.isDataLoading"
                     ng-show="sourceUi.selectedSource!=''">
                    <svg class="circular-loader" height="50" width="50">
                        <circle class="path" cx="25" cy="25.2" r="19.9"
                                fill="none" stroke-width="6" stroke-miterlimit="10"/>
                    </svg>
                </div>
                <!-- filed data -->
                <div class="row">
                    <div class="sub-header">
                        <span>Attribute</span>
                        <span class="bigcheck pull-right">
                            <label class="filter-label display-inline-block"> 
                                All
                                <input type="checkbox" id="attributes" class="bigcheck" checked ng-click="commonUi.selectAllAttributes()"/>
                                <span class="bigcheck-target pull-right"></span>
                            </label>
                        </span>
                    </div>
                    <!-- #attribute -->
                    <div class="digin-cmds-attribute">
                        <ui ng-repeat="row in sourceUi.selectedAttribute | orderBy: 'name' ">
                            <li class="col-sheet-attr displayInlineBlock "
                                ng-click="commonUi.onRemoveAtt(sourceUi.selectedAttribute ,row)"
                                ng-class="row.isRemove==true?'unSelectedRow':'selectedRow'">
                                {{row.name}}
                                <i class="pull-right">
                                </i>
                            </li>
                        </ui>
                    </div>
                </div>

                <div class="row">
                    <div class="sub-header">
                        <span>Measures</span>
                        <span class="bigcheck pull-right">
                            <label class="filter-label display-inline-block">
                                All
                                <input type="checkbox" id="measures" class="bigcheck" checked ng-click="commonUi.selectAllMeasures()"/>
                                <span class="bigcheck-target pull-right"></span>
                            </label>
                        </span>
                    </div>
                    <!-- #measures -->
                    <div class="digin-cmds-measures ">
                        <ui ng-repeat="row in sourceUi.selectedMeasures | orderBy: 'name' ">
                            <li class="col-sheet-attr displayInlineBlock "
                                ng-click="commonUi.onRemoveMeasures(sourceUi.selectedMeasures ,row)"
                                ng-class="row.isRemove==true?'unSelectedRow':'selectedRow'">
                                {{row.name}}
                                <i class="pull-right">
                                </i>
                            </li>
                        </ui>
                    </div>
                </div>
            </div>

			<div layout="row" layout-align="center center" ng-show="sourceUi.selectedNameSpace!=''">
				<md-button md-no-ink class="md-raised"  ng-click="commonUi.onSelectFilter()" flex><span style="text-transform:none;color:black">Filter</span></md-button> 
            </div>
			 <div layout="row" layout-align="space-between center"  ng-show="sourceUi.selectedNameSpace!=''">
				<md-button md-no-ink class="md-raised"  ng-click="commonUi.onClickBack('3')"><span style="text-transform:none;color:black">Back</span></md-button> 
				<span flex></span>   				
				<md-button md-no-ink class="md-raised md-primary"   ng-click="commonUi.onSaveSource()"><span style="text-transform:none;color:white">Save</span></md-button>
            </div>
        </div>

    </md-content>

</md-sidenav>
<!-- </div> -->
<md-sidenav class="md-sidenav-right md-whiteframe-4dp md-sidenav-right slider-r-wrap" md-component-id="filterMenu" style= "min-width: 700px !important; width: 50vw !important;max-width: 700px !important; z-index: 59 !important;overflow: hidden;">
    <md-toolbar class="" style="background:white">
        <div layout="row" layout-align="canter center" style="height: 85px;">
            <h1 class="md-toolbar-tools" style="width: 45%;color:black;font-family: Roboto;">
                <i class="ti-filter" style="padding-right: 10px;"></i>
                Select Filters
            </h1>
            <md-button class="md-icon-button" ng-click="commonUi.onCLickFilterClose()" aria-label="angle">
                <i class="ti-angle-right"></i>
            </md-button>     
            <div></div>   
        </div>
    </md-toolbar>
    <md-content layout-padding style="overflow-x: hidden;max-height: 100%;overflow: hidden;" layout="row">
        <div flex="50" style="    overflow: scroll;max-height: 90vh;">
            <v-accordion id="accordionMenu" class="vAccordion--default" control="accordionA" multiple ng-hide="isFilterLoading" onexpand="commonUi.loadFilterParams(index,id)"> 
                <v-pane class="v-pane" ng-repeat="row in fieldObjects" id= "{{ ::row.id }}" >
                    <v-pane-header>
                        <h5 class="font-weight-300 text-upper">{{ ::row.name }}</h5>
                    </v-pane-header>
                    <v-pane-content class="trans-bg v-pane-content">
                        <div layout="row" layout-sm="column" layout-align="space-around" style="padding-top: 5px;" ng-show="row.isLoading">
                            <md-progress-circular md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
                        </div>
                        <div ng-hide="row.isLoading">
                             <div class="bigcheck">
                                <label class="filter-label display-inline-block"> 
                                    All
                                    <input type="checkbox" class="bigcheck" checked id="filter-{{row.id}}" ng-click="commonUi.checkAll(row.name,$index,row.id)"/>
                                    <span class="bigcheck-target pull-right"></span>
                                </label>
                            </div>                    
                            <ul ng-repeat="field in row.valueArray" class="cutom-filter-ul" style="overflow: hidden;">
                                <div class="bigcheck">
                                    <label class="filter-label" >
                                        {{ ::field.value }}
                                        <input type="checkbox" class="bigcheck" checked id="{{row.id}}-{{field.id}}" ng-click="commonUi.changeStatus(row.name,$index,row.id)"/>
                                        <span class="bigcheck-target pull-right"></span>
                                    </label>
                                </div>
                            </ul>
                        </div>                       
                    </v-pane-content>
                </v-pane>                       
            </v-accordion>
        </div>
        <!-- <div flex="50"></div> -->
    </md-content>
</md-sidenav>  