<!-- ////////////////////////////////
// File : viewCommonSrcMetric.html
// Owner  : Dilani
// Last changed date : 2017/01/31
// Version : 3.1.0.2
// Modified By : Dilani
//////////////////////////////// -->
<div ng-style="{background:widget.widgetData.widData.color}" style="height:100%;width:100%;color:white;" ng-show="widget.widgetData.syncState"
	 ng-style=" {'color' : (widget.widgetData.widData.color == 'white') ? 'black' : 'white' }" >
	<div layout="row">
		<div layout="row" flex style="padding:10px;">

			<div layout="column" flex>
				<text style="font-size:30px;font-weight: 700;letter-spacing: 1px;" ng-if="widget.widgetData.widData.scalePosition==='front'">
					{{widget.widgetData.widData.scale}}
					&nbsp;{{widget.widgetData.widData.value}}
				</text>
				<text style="font-size:30px;font-weight: 700;letter-spacing: 1px;" ng-if="widget.widgetData.widData.scalePosition==='back'">
					{{widget.widgetData.widData.value}}
					&nbsp;{{widget.widgetData.widData.scale}}
				</text>
				<text style="font-size:15px">Actual Value</text>
			</div>
		</div>
		
	</div>
	<div layout="row">
		<div layout="row" flex style="padding:10px;">
			<div layout="column" flex>
				<text style="font-size:18px;font-weight: 700;letter-spacing: 1px;" ng-if="widget.widgetData.widData.scalePosition==='front'">
					{{widget.widgetData.widData.scale}}
					&nbsp;{{widget.widgetData.selectedChart.initObj.targetValueString}}
				</text>
				<text style="font-size:18px;font-weight: 700;letter-spacing: 1px;" ng-if="widget.widgetData.widData.scalePosition==='back'">
					{{widget.widgetData.selectedChart.initObj.targetValueString}}
					&nbsp;{{widget.widgetData.widData.scale}}
				</text>
				<text style="font-size:15px">Target Value</text>
			</div>
		</div>
		<div>
			<highchart config="widget.widgetData.selectedChart.initObj.trendChart"></highchart>
		</div>
	</div>
</div>
<div ng-hide="widget.widgetData.syncState" layout="row" layout-sm="column" layout-align="center center" style="height:100%;width:100%;">
    <img src="styles/css/images/preloaders/facebook.gif" alt="Washed Out">
</div>