<md-dialog plumb-item style="min-width:400px">
      <md-toolbar>
                <div class="md-toolbar-tools"  flex  layout="row">
                      <div flex="10">
                        <md-icon class="ion-email"></md-icon>
                      </div>   
                      <div flex="80">
                              <h3>
                                 <span> Email Share </span>
                              </h3>
                      </div>                           
                      <div flex="10">
                             <md-button ng-click="closeDialog()"  aria-label="Close" layout-wrap>
                                   <md-icon class="ion-close"></md-icon>
                            </md-button>
                      </div>
                </div>
      </md-toolbar>
      <md-content ng-init="html2canvas()" layout-margin>              
                    <md-button id="testButton" 
                        ng-click="generateSnapshot()" aria-label="Done">Add Image</md-button>
                    <div  id="canvasTest"></div>              
      </md-content>
      <md-content class="md-actions" layout="row" layout-margin>    
          <md-button ng-click="sendMail()"> SEND</md-button> 
      </md-content>
    
</md-dialog>



      
