<md-content layout-margin flex>
    <div layout="column" ng-repeat="instaImage in widget.widData">
            <md-card layout-margin flex layout="column" style="border: 1px solid #D8D8D8;box-shadow: 2px 2px 2px rgba(188, 188, 188);background-color: rgb(238, 238, 238);
    border-radius: 5px;"> 
                <h4 layout-margin>{{instaImage.user.full_name}}</a></h4>
            <md-list-item class="md-3-line" layout-margin flex>
                <div class="md-list-item-text">
                <a href="{{instaImage.link}}" target="_blank"><img ng-src="{{instaImage.images.thumbnail.url}}" class="img-circle" /></a>
                <p style="line-height: 1.0em;">Username: {{instaImage.user.username}}</p>
                <p style="line-height: 1.0em;">Date: {{instaImage.created_time * 1000 | date:'MMM d, y HH:mm:ss'}}</p>
                <p style="line-height: 1.0em;">Likes: {{instaImage.likes.count}}</p>
                <p style="line-height: 1.0em;">Commnets count: {{instaImage.comments.count}}</p>
                <!-- <p style="line-height: 1.0em;">Caption: {{instaImage.caption.text}}</p> -->
                </div>
            </md-list-item>
            </md-card>  
    </div>
</md-content>