<md-content layout-margin flex>
    <div layout="column">
            <md-card layout-margin flex layout="column" style="border: 1px solid #D8D8D8;box-shadow: 2px 2px 2px rgba(188, 188, 188);background-color: rgb(238, 238, 238);
    border-radius: 5px;"> 
                <h4 layout-margin></h4>
            <md-list-item class="md-3-line" layout-margin flex>
                <div class="md-list-item-text">
                   <img ng-if="widget.widData" ng-src="{{widget.widIm}}" alt="">
                </div>
            </md-list-item>
            </md-card>  
    </div>
</md-content>
