<md-dialog aria-label="Invite User" plumb-item class="b-r-0">
  <form md-theme="default" name="editForm" ng-submit="editForm.$valid && submit()">
  <md-toolbar class="tlbar-1" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="center center" class="digin-logo-wrapper2">
        <img ng-src="styles/css/images/DiginLogo.png" class="digin-image">
      </div>  
      <div class="dialog-title">Add Widgets</div>         
      <md-button class="buttonMinwidth38 b-r-0" ng-click="cancel();">      
        <ng-md-icon icon="close" style="fill:white" size="24" layout="row"></ng-md-icon>   
      </md-button>            
  </md-toolbar>
  <md-dialog-content>
		 <md-tabs md-dynamic-height md-border-bottom>
		  <md-tab label="{{item.title}}" ng-repeat="item in WidgetTypes" ng-click="filterWidgets(item)">
			<md-content flex layout-align="center center" layout="row" layout-wrap>
				<div class="select-card-btn asset" ng-repeat="widget in Widgets | filter : selected" ng-click="addAllinOne(widget,$event)">
					<a>
						<img ng-src="{{widget.icon}}"
							 alt=""
							 src="{{widget.icon}}">
					</a>
						<span class="size graph-h2">
							{{widget.title}}
						</span>
				</div>
			</md-content>
		  </md-tab>
		</md-tabs>
  </md-dialog-content>

  </form>
</md-dialog>
