<md-dialog>
        <!-- <div layout="row"> -->
        <div class="card-head">
                <header>SHARE</header>
                <div class="tools">
                    <a href="javascript:void(0)" ng-click="close()">
                        <i class="ti-close"></i>
                    </a>
                </div>
        </div>
        <!-- </div> -->
       <div class="header-line-bottom"></div>
        <div class="card-body bg-color-grey-100 p-b-20 share-body" id="social_dynamic_div">
            <div layout="row" layout-align="center center" layout-wrap>
                <div class="select-card-btn asset" ng-repeat="item in shareOptions" >
                                    <img alt="" src="{{item.icon}}" ng-click="openProvider(item.provider)" >
                                    <span class="size graph-h2">
                                        {{item.provider}}
                                    </span>
                </div>
            </div>
        </div>
</md-dialog>


