
<!--
<md-dialog plumb-item style="min-width:400px">
      <md-toolbar>
                <div class="md-toolbar-tools"  flex  layout="row">
                      <div flex="10">
                        <md-icon class="ion-email"></md-icon>
                      </div>   
                      <div flex="80">
                              <h3>
                                 <span> Email Share </span>
                              </h3>
                      </div>                           
                      <div flex="10"> 
                             <md-button ng-click="closeDialog()" styl="background-color: #D33F3F;"   aria-label="Close" layout-wrap >
                                   <md-icon class="ion-close"></md-icon>
                            </md-button>
                      </div>
                </div>
      </md-toolbar>

      <form name="frmMail" autocomplete="off">

            <div class="md-padding" layout="row" layout-align="center center">
                <div layout="column" class="setup-info-container" flex="100">
                  <div class="txt-box"
                    ng-class="{error:error.isEmail,'':!error.isEmail}">
                    <label for="email">TO</label>
                      <div>
                        <input type="email" class="form-control"
                        required
                        ng-pattern="regex.email"
                        ng-model="emailTo"
                        placeholder="jane.doe@example.com">
                      </div>
                        <div class="ng-message" ng-messages="frmMail.emailTo.$error">
                          <div ng-message="required">This is required.</div>
                          <div ng-message="pattern">Email address is invalid</div>
                        </div>
                  </div>

                  <div class="txt-box"
                    ng-class="{error:error.isEmail,'':!error.isEmail}">
                    <label for="email">CC</label>
                      <div>
                        <input type="email" class="form-control"
                        required
                        ng-pattern="regex.email"
                        ng-model="emailCc"
                        placeholder="jane.doe@example.com">
                      </div>
                        <div class="ng-message" ng-messages="frmMail.emailCc.$error">
                          <div ng-message="pattern">Email address is invalid</div>
                        </div>
                  </div>

             
                    <span class="setup-font-theme">
                        Please fill the mail addresses here.
                    </span>
                    <md-button class="setup-button md-raised md-primary" ng-click="sendMail(false)"><span class="setup-font-theme">Send Email</span></md-button>
                </div>
            </div> 
    </form>
</md-dialog>

-->



<md-dialog plumb-item class="dialog-1 b-r-0" ng-init="initialize()">
  
    <md-toolbar class="tlbar-1" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="center center" class="digin-logo-wrapper2">
        <img ng-src="styles/css/images/email.png" class="digin-image">
      </div>  
      <div class="dialog-title">Dashboard - Email Share</div>         
      <md-button class="buttonMinwidth38 b-r-0" ng-click="closeDialog()">      
        <ng-md-icon icon="close" style="fill:white" size="24" layout="row"></ng-md-icon>   
      </md-button>            
  </md-toolbar>

  <form name="frmMail" autocomplete="off">
            <div class="md-padding" layout="row" layout-align="center center">
                <div layout="column" class="setup-info-container" flex="100">
                  <div class="txt-box"
                    ng-class="{error:error.isEmail,'':!error.isEmail}">
                    <label for="email">To : </label>
                      <div>
                        <input type="email" class="form-control"
                        required
                        ng-pattern="regex.email"
                        ng-model="emailTo"
                        placeholder="jane.doe@example.com">
                      </div>
                        <div class="ng-message" ng-messages="frmMail.emailTo.$error">
                          <div ng-message="required">This is required.</div>
                          <div ng-message="pattern">Email address is invalid</div>
                        </div>
                  </div>
                  </br>

                  <div class="txt-box"
                    ng-class="{error:error.isEmail,'':!error.isEmail}">
                    <label for="email">Cc : </label>
                      <div>
                        <input type="email" class="form-control"
                        ng-pattern="regex.email"
                        ng-model="emailCc"
                        placeholder="jane.doe@example.com">
                      </div>
                        <div class="ng-message" ng-messages="frmMail.emailCc.$error">
                          <div ng-message="pattern">Email address is invalid</div>
                        </div>
                  </div>
                  </br>  

                    <md-button class="setup-button md-raised md-primary" ng-click="sendMail(false)"><span class="setup-font-theme">Send Email</span></md-button>
                    </br>
                </div>
            </div> 
    </form>



</md-dialog>


      
