<md-content ng-init="updateRealtime()" style="height:100%;width:100%;" flex>
    <div style="height:100%;width:100%;" layout="column" layout-align='center center'>
        <h2 style="color:#009688;margin-top:-35px;">  {{label}} </h2>
        <h1 style="color:#009688;font-size: 65px;">  {{value}} </h1>
    </div>
</md-content>
<div ng-hide="widget.widgetData.syncState" layout="row" layout-sm="column" layout-align="center center" style="height:100%;width:100%;">
    <img src="styles/css/images/preloaders/facebook.gif" alt="Washed Out">
</div>