<div class="digin-style" ng-init="getSearchPanelDetails()">
    <toast></toast>
    <!-- preloader start -->
    <div class="pre-loader-parent" id="pagePreLoader" layout="column" layout-align="center center" ng-include
         src="'views/ViewPreloader.html'" style="background-color:white">
    </div>
    <!-- preloader end -->
    <!-- gridster start -->
    <div ng-intro-options="IntroOptions" ng-intro-method="CallMe" ng-intro-oncomplete="CompletedEvent"
         ng-intro-onexit="ExitEvent" ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
         ng-intro-onafterchange="AfterChangeEvent"
         ng-intro-autostart="ShouldAutoStart">
    </div>
    <!-- gridster end -->
    <!-- md theme watch start -->
    <div>
        <script type="text/javascript" src="scripts/fbSDK.js"></script>
        <div id="fb-root">
        </div>
        <!-- md theme watch end -->
        <!-- #SerchBar -->
        <div class="blut-log-wrapper">
            <div class="left-toggle-wrapper">
                <img src="styles/css/images/digin43x43.png">
            </div>
        </div>

        <div id="mainHeadbar" class="main-headbar-wrapper" layout="row">
            <div class="main-headbar" flex>
                <div class="main-headbar-slide md-theme-light" layout="row"
                     layout-align="space-between center">
                    <div flex="60" class="nav-search" layout="row" layout-align="center center">
                        <div flex="70">
                            <div class="blut-search-wrapper" ng-click="toggelDownSearch()">
                                <i class="icon-search"></i>
                                Search
                            </div>
                        </div>
                        <div flex="30" layout-align="end center">
                            <div class="blut-current-view">
                                {{currentView}}
                            </div>
                        </div>
                    </div>
                    <div flex="40" layout-align="center center" layout="row" class="blut-search-right-wrapper">

                        <div flex="10" class="blut-header-icon" ng-click="mainclose()">
                            <i class="icon-house-outline"></i>
                        </div>
                        <div flex="10" class="blut-header-icon" ng-click="navigate('TV Mode')">
                            <i class="icon-full-size"></i>
                        </div>
                        <div flex="10" class="blut-header-icon" ng-click="navigate('Clear Widgets')">
                            <i class="icon-broom"></i>
                        </div>
                        <div flex="10" class="blut-header-icon" ng-click="navigate('Save')">
                            <i class="ti-save"></i>
                        </div>
                        <div flex="10" class="blut-header-icon" ng-click="navigate('Help')">
                            <i class="ti-help-alt"></i>
                        </div>


                        <div flex="50" class="blut-profile-wrapper-header">
                            <div layout="row" class="blut-login-user pull-right">
                                <p ng-model="username">
                                    Hi, {{firstName }}</p>
                                <div class="login-img">
                                    <img src="styles/css/images/signup-user.png"/>
                                </div>
                                <div class="blut-user-setting"
                                     ng-click="onClickViewProfileSetting()"
                                     ng-mouseover="profileMouseHover()">
                                    <div>
                                        <i ng-hide="dropDownbtnStatus" class="ti-angle-down"></i>
                                        <i ng-show="dropDownbtnStatus" class="ti-angle-up"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blut-search-toggele" ng-click="topMenuToggle()">
                        <i ng-hide="headerMenuToggle" class="ti-angle-down"></i>
                        <i ng-show="headerMenuToggle" class="ti-angle-up"></i>
                    </div>
                </div>

            </div>
        </div>
        <!-- user setting drop down -->
        <div ng-show="dropDownbtnStatus" ng-mouseleave="profileMouseLeave()" class="blut-user-drp-setting">
            <div class="yellow-line"></div>
            <ul class="menu">
                <li>switch tennant</li>
                <li>invite user</li>
                <li ng-click="profileDownMenu.clickProfileSetting()">profile settings</li>
                <li style="padding-bottom: 17px;">help</li>
                <li class="inline-block logout ">logout
                    <i class="ti-shift-right"></i>
                </li>
            </ul>
        </div>


        <!-- end searchBar -->

        <div id="getReport" class="nav-menu nav-bar-border left-menu-bar" ng-include
             src="'views/ViewSidebar.html'">
        </div>
        <!-- sidebar end -->
        <!-- ui view start -->
        <ul ui-view layout="column" id="content1" style="height:100% !important;">

        </ul>
        <!-- ui view end -->
        <!-- Common data source start -->

        <div class="commonDataSource" ng-include src="'views/common-data-src/ViewCommonDataSrc.html'"
             ng-controller="commonDataSrcInit">
        </div>

        <!-- Common data source end -->
        <!-- search start -->
        <div class="overlay">
            <div class="overlay">
                <!--<div class="starting-point">-->
                <!--<span></span>-->
                <!--</div>-->
            </div>
        </div>

        <!--  #SearchMainWrap search main container -->
        <div id="searchLayer" class="blut-search-layer-wrapper">
            <div class="blut-search-header">
                <div class="header-text">
                    <h5>Dashboard and report</h5>
                </div>
                <div class="search-box">
                    <input class="form-control txt-sm-search-header" placeholder="search dashboard or report..." ng-model="SearchText">
                </div>
                <div class="blut-close-btn" ng-click="toggelDownSearch()">
                    <i class="icon-cancel"></i>
                </div>
            </div>

            <div class="blut-search-body">
                <div class="dashboard-wrapper">
                    <h5>Dashboard</h5>
                </div>
                <div class="blut-dashboard-view"
                     ng-slimscroll
                     opacity="0.1"
                     distance="10px"
                     height="230px"
                     ng-mouseover="isSarchScorllBar = true"
                     ng-mouseleave="isSarchScorllBar = false"
                     enabled="{{ isSarchScorllBar }}"

                >
                    <ul class="dashboard-wrap" ng-repeat="dashboard in dashboards | filter : SearchText">
                        {{x}}
                        <li class="pull-left dashboard-name">{{dashboard.dashboardName}}</li>
                        <li class="pull-right view-more-btn" ng-click="goDashboard(dashboard)">view</li>
                        <li class="pull-right delete-btn">delete</li>
                    </ul>
                </div>

                <div class="dashboard-wrapper">
                    <h5>Report</h5>
                </div>
                <div class="blut-dashboard-view"
                     ng-slimscroll
                     opacity="0.1"
                     distance="10px"
                     height="230px"
                     ng-mouseover="isSarchScorllBar = true"
                     ng-mouseleave="isSarchScorllBar = false"
                     enabled="{{ isSarchScorllBar }}">
                    <ul class="dashboard-wrap" ng-repeat="report in reports | filter : SearchText">
                        <li class="pull-left dashboard-name">{{report.splitName}}</li>
                        <li class="pull-right view-more-btn" ng-click="goReport(report.splitName)">view</li>
                    </ul>
                </div>

            </div>

        </div>


        <div ng-click="toggelDownSearch(false)">
            <div class="search" flex="60" layout="row" layout-align="center center">
                <h1> dashboard and reports</h1>
                <!--<input type="text" class="form-control"-->
                <!--placeholder="search here...">-->
            </div>

            <!-- Delete confirmation -->
            <div ng-show="confirmWin" class="results" layout="column" layout-align="center center" flex>
                <h2>Delete Dashboard</h2>
                <h3>Do you want to delete this dashboard...?</h3>
                <div layout="row" layout-align="center center">
                    <md-button class="setup-button md-raised md-primary" style="fill:white"
                               ng-click="DeleteDashBoard()"><span class="setup-font-theme">YES</span></md-button>
                    <md-button class="setup-button md-raised md-primary" style="fill:white"
                               ng-click="ConfirmDashbordDeletion(false,true,item)"><span
                            class="setup-font-theme">NO</span></md-button>
                </div>
            </div>

            <div ng-show="listWin" class="results" layout="row" layout-align="space-around start" flex="80">
                <!-- <div class="results" layout="row" layout-align="space-around start" flex="80"> -->
                <!-- dashboards -->
                <div layout="column" layout-align="center start">
                    <h2>DASHBOARDS
                        <small>({{dashboards.length}})</small>
                    </h2>
                    <div layout="row" layout-align="center center">
                        <ng-md-icon icon="favorite" style="fill:white" size="20" class="m-r-10" layout="row"
                                    layout-align="center center"></ng-md-icon>
                        <h3 class='liketext'>Favourites
                            <small>({{favoriteDashboards.length}})</small>
                        </h3>
                    </div>
                    <!-- favorite dashboards angular table should come here -->
                    <div layout="row" layout-align="center center">
                        <ng-md-icon icon="more_vert" style="fill:white" size="20" class="m-r-10" layout="row"
                                    layout-align="center center"></ng-md-icon>
                        <h3 class='liketext'>More
                            <small>({{dashboards.length}})</small>
                        </h3>
                    </div>
                    <table at-table at-paginated at-list="dashboards" at-config="configDashboards" class="m-l-15">
                        <tbody>
                        <tr>
                            <td at-implicit at-sortable at-attribute="dashboardName" at-initial-sorting="asc"
                                layout="row" layout-align="start center" ng-click="goDashboard(item)">
                                <ng-md-icon icon="dashboard" style="fill:white" size="20" layout="row" class="m-r-10"
                                            layout-align="center center"></ng-md-icon>
                            </td>
                            <!-- Delete Dashboard -->
                            <td>
                                <i class="fa fa-times" aria-hidden="true"
                                   ng-click="ConfirmDashbordDeletion(true,false,item)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <at-pagination class="custom-pagination"
                                   ng-hide="dashboards.length <= configDashboards.itemsPerPage"
                                   at-list="dashboards" at-config="configDashboards" ng-click="test()"></at-pagination>
                </div>
                <!-- Reports -->
                <div layout="column" layout-align="center start">
                    <h2>REPORTS
                        <small>({{reports.length}})</small>
                    </h2>
                    <div layout="row" layout-align="center center">
                        <ng-md-icon icon="favorite" style="fill:white" size="20" class="m-r-10" layout="row"
                                    layout-align="center center"></ng-md-icon>
                        <h3 class='liketext'>Favourites
                            <small>({{favoriteReports.length}})</small>
                        </h3>
                    </div>
                    <!-- favorite reports angular table should come here -->
                    <div layout="row" layout-align="center center">
                        <ng-md-icon icon="more_vert" style="fill:white" size="20" class="m-r-10" layout="row"
                                    layout-align="center center"></ng-md-icon>
                        <h3 class='liketext'>More
                            <small>({{reports.length}})</small>
                        </h3>
                    </div>
                    <table at-table at-paginated at-list="reports" at-config="configReports" class="m-l-15">
                        <tbody>
                        <tr>
                            <td at-implicit at-sortable at-attribute="splitName" at-initial-sorting="asc" layout="row"
                                layout-align="start center"
                                ng-click="goReport(item.splitName)">
                                <ng-md-icon icon="assignment" style="fill:white" size="20" class="m-r-10" layout="row"
                                            layout-align="center center"></ng-md-icon>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <at-pagination class="custom-pagination" ng-hide="reports.length <= configReports.itemsPerPage"
                                   at-list="reports"
                                   at-config="configReports">
                    </at-pagination>

                </div>
                <!-- Analyzers -->
                <!--    <div layout="column" layout-align="center start">
                       <h2>ANALYZERS
                           <small>({{analyzers.length}})</small>
                       </h2>
                       <div layout="row" layout-align="center center">
                           <ng-md-icon icon="favorite" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                           <h3 class='liketext'>Favourites
                               <small>({{favoriteAnalyzers.length}})</small>
                           </h3>
                       </div>
                       <!-- favorite reports angular table should come here -->
                <!--       <div layout="row" layout-align="center center">
                          <ng-md-icon icon="more_vert" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                          <h3 class='liketext'>More
                              <small>({{analyzers.length}})</small>
                          </h3>
                      </div>
                      <table at-table at-paginated at-list="reports" at-config="configAnalyzers" class="m-l-15">
                              <tbody>
                                  <tr>
                                      <td at-implicit at-sortable at-attribute="splitName" at-initial-sorting="asc" layout="row" layout-align="start center" ng-click="goAnalyzer(item.splitName)">
                                          <ng-md-icon icon="assignment" style="fill:white" size="20" class="m-r-10" layout="row" layout-align="center center"></ng-md-icon>
                                      </td>
                                  </tr>
                              </tbody>
                      </table>
                      <at-pagination class="custom-pagination" ng-hide="analyzers.length <= configAnalyzers.itemsPerPage"
                                     at-list="analyzer" at-config="configAnalyzers">
                      </at-pagination>
                  </div> -->
            </div>
            <div class="layer-container">
                <div layout="row" flex="80" layout-align="center center">
                    <div ng-controller="DashboardCtrl" class="menu-layer">
                        {{test}}
                        <div ng-if="currentView=='Dashboard' ">
                            <ul ng-repeat="item in dashboardmenu">
                                <li ng-click="doFunction(item.title)">
                                    <a>{{item.title}} </a>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="currentView=='Reports'">
                        </div>
                        <div ng-if="currentView=='Analytics'">
                            <ul ng-repeat="item in analyticsmenu">
                                <li ng-click="doFunction(item.title)">
                                    <a>{{item.title}} </a>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="currentView=='RealTime'">
                            <ul ng-repeat="item in realtimeMenu">
                                <li ng-click="doFunction(item.title)">
                                    <a>{{item.title}} </a>
                                </li>
                            </ul>
                        </div>
                        <div ng-if="currentView=='Digin P Stack'">
                            <ul>
                                <li ng-repeat="item in Extendedmenu" ng-click="doFunction(item.title)">
                                    <a>{{item.title}} </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

