<!--
 update damith
 last update 4-11-15
 Add New dashboard
-->

<!--
 update damith
 last update 4-11-15
 Add New dashboard
-->

<md-dialog class="social-analysis" ng-controller="socialAnalysisCtrl">
    <div layout="column">
        <div layout="row">
            <div class="card-head">
                <header> Prediction && Forecast</header>
                <div class="tools">
                    <a href="javascript:void(0)" data-ng-click="close()">
                        <i class="ti-close"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="header-line-bottom"></div>
        <div class="card-body bg-color-grey-100 p-b-40">
            <div layout="row" layout-align="center center" layout-wrap>

                <!-- Sales Forecast -->
                <div class="select-card-btn asset">
                    <a ui-sref="home.Sales Forecast" ng-click="close()">
                        <img ng-src="styles/css/images/icons/salesForecast.png"
                             alt="Sales Forecast"
                             src="styles/css/images/icons/salesForecast.png">
                    </a>
                        <span class="size graph-h2">
                            Sales Forecast
                        </span>
                </div>


                <!-- test -->
                <div>
                    <div class="select-card-btn asset">
                        <a href="#prediction" ng-click="close()">
                            <img ng-src="styles/css/images/icons/prediction.png"
                                 alt="Prediction"
                                 src="styles/css/images/icons/prediction.png">
                        </a>
                        <span class="size graph-h2">
                            Prediction
                        </span>
                    </div>
                </div>
            </div>


        </div>


    </div>
</md-dialog>
