<md-dialog plumb-item class="dialog-1">

  <md-toolbar class="tlbar-1" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="center center" class="digin-logo-wrapper2">
        <img ng-src="styles/css/images/icons/users2.svg" class="digin-image">
      </div>  
      <div class="dialog-title">Shared list -  {{appName}}</div>         
      <md-button class="buttonMinwidth38" ng-click="closeDialog();">      
        <ng-md-icon icon="close" style="fill:white" size="24" layout="row"></ng-md-icon>   
      </md-button>            
  </md-toolbar>

  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div>
      <div>
          <div ng-repeat="obj in pickedObj" style="width: 800px; color: navy; background-color: pink; border: 2px solid blue; padding: 5px;" layout="row"> 
            <div style="width:200px;">{{obj.name}}</div> <div ng-click="deleteUserFromGroup(obj.id,obj.name)">X</div>
          </div>
      </div>

      <div class="md-actions" layout="row">
          <md-button class="btn-font btn-dialog" ng-click="closeDialog()"> CANCEL </md-button>   
      </div>
    </div>
  </md-dialog-content>  
  
</md-dialog>
