<md-content ng-init="syncWidget(widget)" ng-show="widget.widgetData.syncState" flex>
	<highchart flex id="{{widget.widgetData.id}}"  config="widget.widgetData.highchartsNG"></highchart>	                 
</md-content>
<div ng-hide="widget.widgetData.syncState" layout="row" layout-sm="column" layout-align="center center" style="height:100%;width:100%;">
    <!-- <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular> -->
    <!-- <md-progress-linear md-mode="indeterminate"></md-progress-linear> -->
    <img src="styles/css/images/preloaders/facebook.gif" alt="Washed Out">
</div>