<md-list>

    <!-- sidebar items -->
    <md-item ng-repeat="item in sidebarItems">
        <a ng-click="navigate(item.click)">
            <i md-colors="{color:'primary'}" ng-mouseover="menuMouseHover(item)" class="blut-left-menu  {{item.icon2}} hover-color" layout="column" layout-align="center center" flex id="{{item.id}}"></i>
            <md-tooltip md-direction="right">{{item.title}}</md-tooltip>
        </a>
    </md-item>

</md-list>
<div class="left-menu-toggle" ng-click="leftMenuToggle()">
    <span ng-if="!leftMenuToggleState" class="ti-angle-right"></span>
    <span ng-if="leftMenuToggleState" class="ti-angle-left"></span>
</div>
<div ng-show="isEnableSubMenu" ng-mouseleave="menuMouseLeave()" class="blut-sub-panel-wrapper blut-setting">
    <div class="blut-wrap" id="step{{$index}}">
        <div class="header-wrap">
            <ul>
                <li>{{currentSubMenu.header}}</li>
                <li class="sub-menu-close" ng-click="subMenu.close()">
                    <i class="icon-cancel"></i>
                </li>
            </ul>
        </div>
        <div class="body-wrap">
            <ul ng-if="currentItem == 'Social Media'">
                <!--li ng-repeat="menu in currentSubMenu.data" ng-click="goTORout(menu)">
                    <i class="{{menu.icon}}"></i>
                    <a ng-if="currentTitle == 'Share'" socialshare socialshare-provider="{{menu.provider}}" ng-src="{{menu.icon}}" socialshare-text="Share this dashboard" socialshare-url="#" style="color:rgba(0, 0, 0, 0.87)">
                    {{menu.name}}</a>
                    <span ng-if="currentTitle != 'Share'"> {{menu.name}}</span>
                </li-->
				
				<li ng-click="goTORout('home.social-graph-fb')">
					<i class="ti-facebook"></i>Facebook
				</li>
				 
            </ul>

			<ul ng-if="currentItem == 'Reports'">		
				<!-- <li ng-click="goTORout('home.ReportsDev')">
					<i class="ti-filter"></i>Report Development
				</li> -->
				<li ng-click="goTORout('home.Reports')">
					<i class="ti-notepad"></i>Published Reports
				</li>
            </ul>
		
			<ul ng-if="currentItem == 'Share'">		
				<li>
					<i class="ti-facebook"></i>
					<a socialshare socialshare-provider="facebook" ng-src="ti-facebook" socialshare-text="Share this dashboard" socialshare-url="#" style="color:rgba(0, 0, 0, 0.87)">
                   Facebook</a>
				</li>
				<li>
					<i class="ti-google"></i>
					<a socialshare socialshare-provider="google+" ng-src="ti-google" socialshare-text="Share this dashboard" socialshare-url="#" style="color:rgba(0, 0, 0, 0.87)">
                   Google+</a>
				</li>
				<li>
					<i class="ti-twitter-alt"></i>
					<a socialshare socialshare-provider="twitter" ng-src="ti-twitter-alt" socialshare-text="Share this dashboard" socialshare-url="#" style="color:rgba(0, 0, 0, 0.87)">
                   Twitter</a>
				</li>
				<li>
					<i class="ti-linkedin"></i>
					<a socialshare socialshare-provider="linkedin" ng-src="ti-linkedin" socialshare-text="Share this dashboard" socialshare-url="#" style="color:rgba(0, 0, 0, 0.87)">
                   Linkedin</a>
				</li>
				<li ng-click="goTORout('Email')">
					<i class="ti-email"></i>
					<span> Email</span>
				</li>
            </ul>
			<ul ng-if="currentItem == 'Settings'">	
				<!--li ng-click="goTORout('home.createUser')">
					<i class="ti-user"></i>New user
				</li>
				<li ng-click="goTORout('home.userSettings')">
					<i class="ti-pencil"></i>User settings
				</li>
				<li ng-click="goTORout('home.account')">
					<i class="ti-settings"></i>Account settings
				</li>
				<li ng-click="goTORout('home.group')">
					<i class="ti-settings"></i>Groups
				</li-->
				<li ng-click="goTORout('home.userAdministrator')">
					<i class="ti-pencil"></i>User Administrator
				</li>
				<li ng-click="goTORout('home.systemSettings')">
					<i class="ti-settings"></i>System Settings
				</li>
            </ul>
        </div>

    </div>
</div>
