<md-content flex style="height:100%;">
    <md-tabs flex style="height:100% !important;">

        <md-tab label="Likes">
            <md-label>Page Likes last 7 days(unique users) </md-label>
            <md-list>
              <md-list-item class="md-2-line" ng-repeat="item in widget.widgetData.widData.likes" style="background-color: #292F33;margin-top: 4px;">
                <div class="md-list-item-text" style="background-color:#02b5e2; ">
                  <h3 style="color:white">Date : <md-label >{{item.date}}</md-label></h3>
                  <h4 style="color:white">Likes : <md-label >{{item.value}}</md-label></h4>
              </div>
          </md-list-item>
      </md-list>
  </md-tab>
  <!-- TAB OVERVIEW END -->

  <md-tab label="Views">
    <md-label>Page Views last 7 days(unique users) </md-label>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="item in widget.widgetData.widData.views" style="background-color: #292F33;margin-top: 4px;">
        <div class="md-list-item-text" style="background-color:#02b5e2; ">
          <h3 style="color:white">Date : <md-label >{{item.date}}</md-label></h3>
          <h4 style="color:white">Likes : <md-label >{{item.value}}</md-label></h4>
      </div>
  </md-list-item>
</md-list>
</md-tab>

</md-content>

