<md-content layout-margin flex>
    <div layout="row" layout-align="center center" class="p-b-20">
        <img ng-src="styles/css/images/icons/wordpress.svg" wdith="30" height="30">
        <div class="widget-header font-wp-grey">Posts</div>
    </div>
    <div>
    <div ng-repeat="post in widget.widgetData.widData.posts track by $index">
            <md-list-item class="md-3-line p-0" flex>
              <div layout="column" class="data-container1">
                <div class="data-slot1 background-wp-grey" layout="row">{{post.title}}</div>
                <div layout="row" class="background-digin-blue padding-5">
                    <div flex="40"><img class="custom-avatar1" src="{{post.picURL}}"/>
                    </div>
                    <div layout="column" flex="60" class="data-slot2">
                        <div class="data-slot3 margin-bottom-5"layout="row">
                            <div class="data-field2 background-wp-orange">Author</div>
                            <div class="data-item4 background-wp-grey">{{post.authorName}}</div>
                        </div>
                        <div class="data-slot3 margin-bottom-5"layout="row">
                            <div class="data-field1 background-wp-orange">Date</div>
                            <div class="data-item3 background-wp-grey">{{post.date}}</div>
                        </div>
                        <div class="data-slot3" layout="row">
                            <div class="data-field1 background-wp-orange">Comments</div>
                            <div class="data-item2 background-wp-grey">{{post.comments}}</div>
                        </div>
                    </div>
                </div>
                </div>
            </md-list-item>   
    </div>
    </div>
</md-content>


