<!-- <md-content style="display:initial"> -->
     <md-tabs md-stretch-tabs="always" md-no-pagination="tabs.pagination" md-selected="tabs.selectedIndex">
        <md-tab label="Profile">
            <md-content>
                <div flex>
               
                    <!-- <h4 layout-margin>Profile Information</h4> -->
                    <md-list-item class="md-3-line" layout-margin flex layout="row">
                        <div flex="30" layout="column" layout-align="center center">
                            <img class="google-plus-avatar" src="{{widget.widgetData.widData.profileData.image.url}}" >
                            <h4 class="gp-title">{{$root.profileData.displayName}}</h4>
                        </div>
                        <div class="md-list-item-text" flex="70" layout="column" layout-align="start start">
                            <h3 style="line-height: 1.0em;">Gender : {{widget.widgetData.widData.profileData.gender}}</h3>
                            <h3 style="line-height: 1.0em;">Circled By : {{widget.widgetData.widData.profileData.circledByCount}}</h3>
                            <h3 style="line-height: 1.0em;">In Circles : {{widget.widgetData.widData.peopleData.totalItems}}</h3>
                            <h3 style="line-height: 1.0em;">Activities : {{widget.widgetData.widData.activityData.items.length}}</h3>
                        </div>
                    </md-list-item>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="In Circles">
            <md-content>
                <div flex ng-repeat="person in widget.widgetData.widData.peopleData.items" style="border-bottom: 1px solid #D8D8D8;">
                    <!-- <h4 layout-margin>Profile Information</h4> -->
                    <md-list-item class="md-3-line" layout-margin flex layout="row">
                        <div flex="30" layout="row" layout-align="center center" style="height:60px"><img class="google-plus-avatar" src="{{person.image.url}}" ></div>
                        <div class="md-list-item-text" flex="70" layout="column" layout-align="start start">
                            <h3 style="line-height: 1.0em;">Name : {{person.displayName}}</h3>
                            <h3 style="line-height: 1.0em;">Type : {{person.objectType}}</h3>
                        </div>    
                    </md-list-item>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Activities">
            <md-content>
                <div flex ng-repeat="activity in widget.widgetData.widData.activityData.items" style="border-bottom: 1px solid #D8D8D8;">
                    <h4 layout-margin>{{activity.title}}</h4>
                    <md-list-item class="md-3-line" layout-margin flex layout="row">
                        <div flex="30" layout="row" layout-align="center center" style="height:60px"><img class="google-plus-avatar" src="{{activity.object.attachments[0].image.url}}" ></div>
                        <div class="md-list-item-text" flex="70" layout="column" layout-align="start start">
                            <h3 style="line-height: 1.0em;">Published : {{activity.published}}</h3>
                            <h3 style="line-height: 1.0em;">Comments : {{activity.object.replies.totalItems}}</h3>
                            <h3 style="line-height: 1.0em;">Plus Ones : {{activity.object.plusoners.totalItems}}</h3>

                        </div>    
                    </md-list-item>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
<!-- </md-content> -->
