<md-list>

    <!-- sidebar items -->
    <md-item ng-repeat="item in sidebarItems">
        <a ng-click="navigate(item.click)">
            <i ng-mouseover="menuMouseHover(item)"

               class="blut-left-menu  {{item.icon2}} " layout="column"
               layout-align="center center"
               flex></i>
            <md-tooltip md-direction="right">{{item.title}}</md-tooltip>
        </a>
    </md-item>

</md-list>
<div class="left-menu-toggle" ng-click="leftMenuToggle()">
    <span ng-if="!leftMenuToggleState" class="ti-angle-right"></span>
    <span ng-if="leftMenuToggleState" class="ti-angle-left"></span>
</div>
<div ng-show="isEnableSubMenu" ng-mouseleave="menuMouseLeave()" class="blut-sub-panel-wrapper blut-setting">
    <div class="blut-wrap">
        <div class="header-wrap">
            <ul>
                <li>{{currentSubMenu.header}}</li>
                <li class="sub-menu-close" ng-click="subMenu.close()">
                    <i class="icon-cancel"></i>
                </li>
            </ul>
        </div>
        <div class="body-wrap">
            <ul>
                <li ng-repeat="menu in currentSubMenu.data" ng-click="goTORout(menu)">
                    <i class="{{menu.icon}}"></i>
                    <a ng-if="currentTitle == 'Share'" socialshare socialshare-provider="{{menu.provider}}" ng-src="{{menu.icon}}" socialshare-text="Share this dashboard" socialshare-url="#" style="color:rgba(0, 0, 0, 0.87)">
                    {{menu.name}}</a>
                    <span ng-if="currentTitle != 'Share'"> {{menu.name}}</span>
                    <span ng-if="currentTitle != 'Share'"> {{menu.name}}</span>
                </li>
            </ul>
        </div>

    </div>
</div>
