<div class="widget0s-menu" ng-init="setAttributes(widget)">
    <div layout="row" layout-xs="column">
        <div flex="100">
                <div class="widget0s-filter-body" flex="100" layout="column">
                    <div layout="row" layout-xs="column" flex="100">
                        <div flex="50" style="overflow: hidden;">
                            <div class = "blut-login-user card-head custom-filter">
                                &nbsp  SERIES
                            </div>
                            <md-checkbox ng-checked="isChecked()" md-indeterminate="isIndeterminate" ng-click="toggleAll(widget);$event.stopPropagation();" md-prevent-menu-close="md-prevent-menu-close">
                                All
                            </md-checkbox>                            
                            <ul ng-repeat="s in series" class="cutom-filter-ul">
                                    <md-checkbox ng-checked="s.status" ng-click="setSeriesFilter(s,widget)"  md-prevent-menu-close="md-prevent-menu-close" aria-label="s.name" style="font-size: 12px;line-height: 0.428571;">{{s.name}}</md-checkbox>
                            </ul>                            
                        </div>
                        <div flex="50">
                            <div class = "blut-login-user card-head custom-filter">
                                &nbsp  CATEGORIES
                            </div>
                            <md-checkbox ng-checked="isCatChecked()" md-indeterminate="isIndeterminate" ng-click="toggleCatAll(widget)" md-prevent-menu-close="md-prevent-menu-close">
                                All
                            </md-checkbox>                            
                            <ul ng-repeat="c in categories" class="cutom-filter-ul" style="overflow: hidden;">
                                    <md-checkbox ng-checked="c.status" ng-click="setCategoriesFilter(c,widget)"  md-prevent-menu-close="md-prevent-menu-close" style="font-size: 12px;line-height: 0.428571;">{{c.name}}</md-checkbox>
                            </ul>                           

                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
