<md-dialog class="widget0s-dialog">
    <div layout="row" layout-xs="column">
        <div flex="70">
            <div class="card-head">
                <header class="graph-h1 text-uppercase">
                    {{widget.widgetName}}
                </header>
            </div>
            <div class="widget0s-chart.wrap">
                <div class="widget0s-chart-view">
                    <div get-width callback-fn="setChartSize(this)"
                         id="settingChart"
                         ng-include
                         src="widget.widgetData.widView"></div>
                </div>
            </div>
        </div>
        <div flex="30">
            <div class="widget0s-filter">
                <div class="card-head">
                    <header class="graph-h1 text-uppercase">
                        chart details
                    </header>
                    <div class="tools">
                        <a href="javascript:void(0)" data-ng-click="closeDialog()">
                            <i class="ti-close"></i>
                        </a>
                    </div>
                </div>

                <div class="widget0s-filter-body">
                    <div class="widget0s-source">
                        <header class="widget0s-h1 text-uppercase">
                            Data Source
                        </header>
                        <div class="source">
                            <i class="fa fa-database"></i>
                            <span>
                             {{widget.widgetData.commonSrc.src.src}}
                            </span>
                        </div>
                        <div class="source">
                            <i class="fa fa-table"></i>
                            <span>
                             {{widget.widgetData.commonSrc.src.tbl}}
                            </span>
                        </div>

                    </div>

                    <div class="widget0s-source" style="height: 100%;">
                        <header class="widget0s-h1 text-uppercase">
                            OTHER
                        </header>
                        <div class="source attr" ng-repeat="att in widget.widgetData.commonSrc.att">
                            <span>
                             {{att.filedName}}
                            </span>
                        </div>

                        <div class="source attr" ng-repeat="mea in widget.widgetData.commonSrc.mea">
                            <span>
                             {{mea.filedName}}({{mea.condition}})
                            </span>
                        </div>
                    </div>
                    <div class="widget0s-source widget0s-qry">
                        {{widget.widgetData.commonSrc.query}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-dialog>
