<div class="widget0s-menu" ng-init="setAttributes(widget)">
    <div layout="row" layout-xs="column">
        <div flex="100">
                <div class="widget0s-filter-body" flex="100" layout="column">
                    <div layout="row" layout-xs="column" flex="100">
                        <div flex="50">
                            <div class = "blut-login-user card-head">
                                &nbsp  SERIES
                            </div>
                            <md-checkbox ng-checked="isChecked()" md-indeterminate="isIndeterminate" ng-click="toggleAll(widget);$event.stopPropagation();" md-prevent-menu-close="md-prevent-menu-close">
                              <span ng-if="isChecked()">Un-</span>Select All
                            </md-checkbox>                            
                            <ul ng-repeat="s in series">
                                <li>
                                    <md-checkbox ng-checked="s.status" ng-click="setSeriesFilter(s,widget)"  md-prevent-menu-close="md-prevent-menu-close">{{s.name}}</md-checkbox>
                                </li>
                            </ul>                            
                        </div>
                        <div flex="50">
                            <div class = "blut-login-user card-head">
                                &nbsp  CATEGORIES
                            </div>
                            <md-checkbox ng-checked="isCatChecked()" md-indeterminate="isIndeterminate" ng-click="toggleCatAll(widget)" md-prevent-menu-close="md-prevent-menu-close">
                              <span ng-if="isCatChecked()">Un-</span>Select All
                            </md-checkbox>                            
                            <ul ng-repeat="c in categories">
                                <li>                           
                                    <md-checkbox ng-checked="c.status" ng-click="setCategoriesFilter(c,widget)"  md-prevent-menu-close="md-prevent-menu-close">{{c.name}}</md-checkbox>
                                </li>                            
                            </ul>                           

                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
