.card-container
{
	padding-top:70px;
	padding-left:45px;
	-webkit-animation: fadeIn .8s forwards;
	animation: fadeIn .8s forwards;
}

.setting-container
{
	padding-top:45px;
	padding-left:45px;
	-webkit-animation: fadeIn .8s forwards;
	animation: fadeIn .8s forwards;
}

.layout-whiteframe
{
	margin:0 auto;
	max-width:960px;
	border-radius: 8px;
	background: white;
	padding: 0;
}
.layout-whiteframe > md-content {
    width: 100%;
    border-radius: 8px;
}

.section-title
{
	padding:10px;
	font-weight:700;
	letter-spacing: 1px;
	margin: 10px 0px 5px 0px;
	border-radius: 0px 4px 4px 0px;
}

.setting-card-header {
    text-align: center;
}

.setting-card-header > h2 {
    margin-top: 0px;
}