pie-chart {
}
.bottom {
    clear: both;
    font-size: 0.9em;
    color: grey;
    padding: 2em 1em 0 1em;
}
h2 {
    font-size: 1.3em;
    margin: 0.8em 0.5em 0.1em 0.5em;
}
input {
    font-size: 0.8em;
    width: 6em;
}
input.title {
    width: 12em;
}
tr.selected td {
    background-color: red;
}
.left {
    float: left;
    margin-right: 4em;
}