.pvtAxisContainer li span.pvtAttr {
    height: 35px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    padding: .5em;
    background: #F69563;
    color: white;
    text-align: center;
    display: flex;
}

.pvtAxisContainer li {
    display: inline-block;
    margin: 2px;
    list-style-type: none;
    cursor: move;
    border-radius: 5px;
    width: 200px;
}

#grid > table{
    margin: 10px;
    border-collapse: collapse;
}

#grid > table, th, td {
    padding: 10px;
    z-index: 0;
    overflow-y: auto;
    overflow: hidden;
}

#grid > table > tbody > tr{
    /*border: 2px solid #EC784B;*/
    border: 2px solid #ECECEC;
}
/* width of  */
#grid > table > tbody > tr:nth-child(1) > td:nth-child(1){
    width: 200px;
    border-style: solid;
    /*border-color: #EC784B;*/
    border-color: #ECECEC;
    border-width: 0px 2px 0px 0px;
    background-color: white;
}
#grid > table > tbody > tr:nth-child(1) > td.pvtAxisContainer.pvtUnused.pvtHorizList.ui-sortable{
    min-width: 200px;
    border-style: solid;
    /*border-color: #EC784B;*/
    border-color: #ECECEC;
    border-width: 0px 2px 0px 0px;
    background-color: white;
}
#grid > table > tbody > tr:nth-child(2) > td.pvtAxisContainer.pvtUnused.pvtVertList.ui-sortable{
    width: 200px;
    border-style: solid;
    /*border-color: #EC784B;*/
    border-color: #ECECEC;
    border-width: 0px 2px 0px 0px;
}
#grid > table > tbody > tr:nth-child(2) > td.pvtAxisContainer.pvtRows.ui-sortable{
    width: 200px;
    border-style: solid;
    /*border-color: #EC784B;*/
    border-color: #ECECEC;
    border-width: 0px 2px 0px 0px;
}
#grid > table > tbody > tr:nth-child(1) > td.pvtVals{
    width: 200px;
    border-style: solid;
    /*border-color: #EC784B;*/
    border-color: #ECECEC;
    border-width: 0px 2px 0px 0px;
}
#grid > table > tbody > tr:nth-child(2) > td.pvtVals{
    border-style: solid;
    /* border-color: #EC784B; */
    border-color: #ECECEC;
    border-width: 0px 2px 0px 0px;
    background-color: white;
}
#grid > table > tbody > tr:nth-child(1) > td.pvtAxisContainer.pvtHorizList.pvtCols.ui-sortable{
    min-width: 200px;
    border-style: solid;
    /* border-color: #EC784B; */
    border-color: #ECECEC;
    border-width: 0px 2px 0px 0px;
    background-color: white;
}
#grid > table > tbody > tr:nth-child(2) > td.pvtAxisContainer.pvtHorizList.pvtCols.ui-sortable{
    min-width: 200px;
    border-style: solid;
    /*border-color: #EC784B;*/
    border-color: #ECECEC;
    border-width: 0px 2px 0px 0px;
    background-color: white;
}
#grid > table > tbody > tr:nth-child(3) > td.pvtAxisContainer.pvtRows.ui-sortable{
    width: 200px;
    border-style: solid;
    /*border-color: #EC784B;*/
    border-color: #ECECEC;
    border-width: 0px 2px 0px 0px;
    background-color: white;
}
#grid > table > tbody > tr:nth-child(2) > td.pvtRendererArea > table{
    background-color: #F69563;
}

#grid > table > tbody > tr:nth-child(2) > td.pvtRendererArea > table > tr{
    background-color: white;
}

#grid > table > tbody > tr:nth-child(2) > td.pvtRendererArea > table > tr > th{
    background-color: #FFE6DA;
    border: 1px solid white;
}
#grid > table > tbody > tr:nth-child(2) > td.pvtRendererArea > table > tr > td{
    background-color: #FFF2EC;
    border: 1px solid white;
}
#grid > table > tbody > tr:nth-child(3) > td.pvtRendererArea > table{
    background-color: #F69563;
}

#grid > table > tbody > tr:nth-child(3) > td.pvtRendererArea > table > tr{
    background-color: white;
}

#grid > table > tbody > tr:nth-child(3) > td.pvtRendererArea > table > tr > th{
    background-color: #FFE6DA;
    border: 1px solid #F69563;
}
#grid > table > tbody > tr:nth-child(3) > td.pvtRendererArea > table > tr > td{
    background-color: #FFF2EC;
    border: 1px solid #F69563;
}
#grid > table > tbody > tr:nth-child(3) > td.pvtRendererArea{
    background-color: white;
}
/* selectors */
#grid > table > tbody > tr:nth-child(1) > td.pvtVals > select{
    width: 100%;
    margin: 10px 0;
}
#grid > table > tbody > tr:nth-child(1) > td:nth-child(1) > select{
    width: 100%;
    margin: 10px 0;
}