.btn-toolbar {
    display: none !important;
}

h4.liketext {
    display: inline
}

md-content#main.md-blue-theme {
    background-color: #ececec;
}

md-autocomplete input {
    position: relative;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
}

.dialogdemoBasicUsage .dialogDemo1 {
    height: 500px;
}

.dialogdemoBasicUsage .full {
    width: 100%;
    height: 100%;
}

.dialogdemoBasicUsage .gap {
    width: 50px;
}

.dialogdemoBasicUsage .md-subheader {
    background-color: #3f51b5;
    color: white;
    margin: 0;
}

.dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.dialogdemoBasicUsage h2 .md-subheader-content {
    padding-left: 10px;
}

.dialogdemoBasicUsage {
    min-width: 300px;
    max-height: 450px;
}

.activitycolumn {
    max-height: 420px;
    overflow-y: auto;
}

.pivotContainer {
    margin-left: 48px;
}

.collapsed-row span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*.animate-enter {
    -webkit-transition: 1s linear all; 
    transition: 1s linear all;
    opacity: 0;
}
#analyticsDialog
{

  min-width: 600px;
  min-height: 400px;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}
*/

.round-face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 8px;
}

#mainFab {
    position: fixed;
    right: 2%;
    bottom: 24px;
    background-color: #db4437;
}

#mainFab svg {
    fill: white;
}

#fab-popup {
    height: 260px;
    position: fixed;
    right: 2%;
    bottom: 90px;
}

digin-md-sidenav {
    position: absolute;
    width: 304px;
    min-width: 70px;
    max-width: 70px;
    bottom: 0;
    z-index: 60;
    background-color: #1976D2;
    overflow: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 600px;
}

#btn-toolbar {
    display: none !important;
}

#indiIcon {
    color: #263238 !important;
}

#violetButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #03A9F4;
}

#violetButton.ripple {
    animation-name: ripple;
    animation-duration: 1s;
}

#minimalButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FF4081;
}

#minimalButton.ripple {
    animation-name: ripple;
    animation-duration: 1s;
}

#indiButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #009688;
}

#indiButton.ripple {
    animation-name: ripple;
    animation-duration: 1s;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(10);
    }
}

#miniIcon {
    color: #ffffff !important;
}

#violetIcon {
    color: #1976D2 !important;
}

md-divider.md-teal-theme {
    border-top-color: #fdfdfd !important;
}

md-sidenav.md-locked-open {
    min-width: 45px;
    max-width: 45px;
    height: 100%;
}

#customcontent {
    background-color: #065798;
}

/*.pvtFilterBox{
  left: 320px !important;
  top: 180px !important;


}
*/

/*.animate-enter,
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}*/

md-sidenav.md-locked-open,
md-sidenav.md-locked-open.md-closed,
md-sidenav.md-locked-open.md-closed.md-sidenav-left,
md-sidenav.md-locked-open.md-closed,
md-sidenav.md-locked-open.md-closed.md-sidenav-right,
md-sidenav.md-locked-open-remove.md-closed {
    position: absolute;
}

md-select.md-default-theme:not([disabled]):focus .md-select-label {
    border-bottom-color: #1976D2;
}

md-tabs.md-teal-theme md-tabs-ink-bar {
    color: #FFFFFF !important;
}

md-list {
    padding: 0px 0px 0px 0px;
}

md-checkbox.md-teal-theme.md-checked .md-icon {
    background-color: #FFFFFF;
}

md-tabs.md-teal-theme md-tab .md-ripple-container {
    color: #FFFFFF;
}

md-tabs.md-teal-theme .md-header {
    background-color: #1976D2;
    color: #FFFFFF;
}

/*.display-animation .material-animate {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.display-animation .material-animated {
  -webkit-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
          animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}*/

.md-button.md-fab {
    z-index: 1;
}

md-toolbar.md-teal-theme {
    height: 50px !important;
    background-color: #1976D2;
}

button.md-fab.md-raised.md-primary.md-button.md-teal-theme {
    width: 48px;
    height: 48px;
}

#content1 {
    position: absolute;
    width: calc(100vw - 40px);
    /*height: 100% !important;*/
    background-size: 100% 100%;
    background-size: 30px 30px;
    overflow: auto;
    padding-left: 0px;
    left: 40px;
    top: 0px;
    z-index: 1;
    overflow-x: hidden;
}

/*Unwanted style */

/*.menuBtn {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    position: absolute;
    width: 36px;
}
md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}
.muppet-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-width: 2px;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
}
md-tabs.md-teal-theme md-tabs-ink-bar {
    background: #FFFFFF !important;
}
.muppet-list .selected {
    color: #009587;
}
.muppet_font {
    color: #FFFFFF;
}
.face {
    border: 1px solid #1976D2;
    display: inline-block;
    margin: 4px 16px;
    vertical-align: middle;
    width: 48px;
}
.content-wrapper {
    position: relative;
}
#primary-col {
    overflow: hidden;
}
#primary-col .md-button {
    margin: 8px auto 16px 0;
}
#primary-col .cell {
    flex: 1 1 auto;
}
#primary-col img {
    display: block;
    max-width: 100%;
}*/

/* Utils */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Using Data-URI converted from svg until <md-icon> becomes available 
https://github.com/google/material-design-icons
*/

.menuBtn {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat center center;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.h_iframe {
    position: relative;
    /*left: 48px;*/
}

.h_iframe .ratio {
    display: block;
    width: 100%;
    height: auto;
}

.h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.i_iframe iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.a_iframe {
    position: relative;
    left: 70px;
}

.a_iframe .ratio {
    display: block;
    width: 100%;
    height: 1200px;
}

.a_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-tabs {
    background-color: #3f51b5;
}

#widgetframe {
}

.form-control {
    border: 0;
    background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#d2d2d2, #d2d2d2) !important;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
}

.btn-danger:not(.btn-link):not(.btn-flat) {
    background-color: #FFFFFF;
    color: #323232;
    width: 110px;
    text-indent: -20px;
}

.modal-dialog {
    width: 600px !important;
}

.col-lg-6 {
    padding-right: 24px !important;
}

.form-horizontal .form-group {
    margin-left: 0px;
}

.btn {
    margin: 0px;
}

.row {
    margin-top: 15px !important;
}

#modal-dialog {
    top: 5%;
    right: 50%;
    outline: none;
}

.modal-content .modal-header {
    border-bottom: 1px solid #e5e5e5 !important;
}

.modal-content .modal-footer {
    border-top: 1px solid #e5e5e5 !important;
}

.dashcontent ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: white;
}

.dashcontent li {
    position: relative;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 8px;
    width: 200px;
    background: #cccccc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(25%, #ffffff), color-stop(75%, #ffffff), color-stop(100%, #cccccc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#cccccc', GradientType=0);
    /* IE6-9 */
    box-shadow: 2px 2px 3px #666;
    user-select: none;
}

.dashcontent li:before {
    position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.dashcontent li:after {
    position: absolute;
    content: "";
    left: 4px;
    top: 50%;
    margin-top: -10px;
    border-left: 5px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.dashcontent li:hover {
    border-color: #777;
    box-shadow: 3px 3px 5px #333;
    background: #eeeeee;
    /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(25%, #ffffff), color-stop(75%, #ffffff), color-stop(100%, #dddddd));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
    /* IE6-9 */
}

.dashcontent li:hover:before {
    border-left-color: #777;
}

.dashcontent li:active {
    background: #eee;
    box-shadow: inset 0 1px 1px #666;
}

.tags {
    zoom: 1;
}

.tags:before,
.tags:after {
    content: '';
    display: table;
}

.tags:after {
    clear: both;
}

.tags li {
    position: relative;
    float: left;
    margin: 0 0 8px 12px;
}

.tags li:active {
    margin-top: 1px;
    margin-bottom: 7px;
}

.tags li:after {
    content: '';
    z-index: 2;
    position: absolute;
    top: 10px;
    right: -2px;
    width: 5px;
    height: 6px;
    opacity: .95;
    background: #eb6b22;
    border-radius: 3px 0 0 3px;
    -webkit-box-shadow: inset 1px 0 #99400e;
    box-shadow: inset 1px 0 #99400e;
}

.tags a,
.tags span {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tags a {
    height: 26px;
    line-height: 23px;
    padding: 0 9px 0 8px;
    font-size: 12px;
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px white;
    background: #fafafa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dadada #d2d2d2 #c5c5c5;
    border-radius: 3px 0 0 3px;
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tags a:hover span {
    padding: 0 7px 0 6px;
    max-width: 40px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.md-sidenav-customTheme {
    background: #1B4052;
    border-right: 1px solid #2f3e45;
    -webkit-box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

.tags span {
    position: absolute;
    top: 1px;
    left: 100%;
    z-index: 2;
    overflow: hidden;
    max-width: 0;
    height: 24px;
    line-height: 21px;
    padding: 0 0 0 2px;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #eb6b22;
    border: 1px solid;
    border-color: #d15813 #c85412 #bf5011;
    border-radius: 0 2px 2px 0;
    opacity: .95;
    background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
    background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
    background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
    background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transition-property: padding, max-width;
    -moz-transition-property: padding, max-width;
    -o-transition-property: padding, max-width;
    transition-property: padding, max-width;
}

li {
    list-style-type: none;
}

.pentaho-page-background {
    background: none !important;
}

html, body {
    background: none !important;
}

body {
    overflow: hidden !important;
}

.digin-style {
    background: rgba(230, 230, 230, 1) !important;
}

.tabsdemoStaticTabs {
    /*
 * Animation styles
 */
}

.tabsdemoStaticTabs .sample {
    height: 450px;
}

.tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: #ffffff;
    border: 0px solid black;
    height: 310px;
    overflow: hidden;
}

.tabsdemoStaticTabs [role="tabpanel"] {
    color: #323232;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute;
}

.tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active,
.tabsdemoStaticTabs [role="tabpanel"].ng-enter {
    top: -300px;
}

.tabsdemoStaticTabs [role="tabpanel"].ng-leave,
.tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0;
}

.tabsdemoStaticTabs [role="tabpanel"].ng-leave {
    z-index: 100;
}

.tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    overflow: auto;
    padding: 20px;
}

.tabsdemoStaticTabs .after-tabs-area {
    padding: 25px;
}

.tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px;
}

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px;
}

/*.tabsdemoStaticTabs .md-header {
    background-color: #1976D2 !important; }
  .tabsdemoStaticTabs md-tab {
    color: #90caf9 !important; }*/

.tabsdemoStaticTabs md-tab.active,
.tabsdemoStaticTabs md-tab:focus {
    color: white !important;
}

.tabsdemoStaticTabs md-tab[disabled] {
    opacity: 0.5;
}

.tabsdemoStaticTabs .md-header .md-ripple {
    border-color: #FFFF8D !important;
}

.tabsdemoStaticTabs md-tabs-ink-bar {
    background-color: #FFFF8D !important;
}

.tabsdemoStaticTabs md-tabs .md-paginator {
    color: white;
}

.setticon {
    width: 50px;
    height: 50px;
}

md-toolbar.md-teal-theme {
    color: #FFFFFF;
}

#dialogAnalytics {
    width: 1200px;
    height: 700px;
}

md-bottom-sheet.md-teal-theme {
    background-color: #1976D2;
    border-top-color: #FFFFFF;
}

.md-grid-item-content {
    color: #F2F2F2;
}

/*Pentaho Styles */

.pentaho-page-background {
    background: none !important;
    background-color: #1976D2 !important;
}

.btnshare {
    width: 90px !important;
    height: 90px !important;
}

.highcharts-button {
    width: 500px !important;
}

.iconshare {
    width: 50px !important;
    height: 50px !important;
    color: rgba(251, 252, 254, 0.66) !important;
}

.iconchart {
    color: #1976D2 !important;
}

/* TABLE STYLES */

.main-fab {
    position: absolute;
    z-index: 20;
    font-size: 30px;
    top: 100px;
    left: 24px;
    transform: scale(.88, .88);
}

.md-breadcrumb {
    padding-left: 88px;
}

.JCLRgrip:first-child {
    left: 105px !important;
    display: none !important;
}

.JColResizer th:first-child {
    width: 105px !important;
}

.md-table {
    min-width: 100%;
    border-collapse: collapse;
    border: solid 1px rgb(25, 118, 210);
}

.md-table td,
tr,
th {
    border: solid 1px rgb(25, 118, 210);
}

.md-table th {
    background-color: rgba(63, 81, 181, 0.2);
}

.md-table tbody tr:hover,
.md-table tbody tr:focus {
    cursor: pointer;
    background-color: rgba(63, 81, 181, 0.2);
}

.md-table-header {
    border-bottom: 1px solid rgb(230, 230, 230);
    /* color: rgb(130,130,130); */
    text-align: left;
    font-size: 1.0em;
    font-weight: 700;
    padding: 16px 16px 16px 0;
}

.md-table-header a {
    text-decoration: none;
    color: inherit;
}

.md-table-content {
    white-space: nowrap;
    font-size: 0.8em;
    padding: 16px 16px 16px 0;
    height: 72px;
}

.md-table-td-more {
    max-width: 72px;
    width: 72px;
    padding: 16px;
}

.md-table td {
    padding: 10px;
}

.md-table-thumbs {
    max-width: 104px;
    width: 104px;
    padding: 16px 32px;
}

.md-table-thumbs div {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-size: cover;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
}

.md-table-footer {
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
}

.md-table-count-info {
    line-height: 40px;
    font-size: .75em;
}

.md-table-footer-item {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.md-table-active-page {
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.grey {
    color: grey;
}

.btn-toolbar .btn-group {
    visibility: collapse;
    float: left;
}

:-webkit-full-screen .column {
    width: 100%;
}

:-moz-full-screen .column {
    width: 100%;
}

/*widget layout*/

.ui-resizable {
    position: absolute !important;
}

/*add widget animation*/

.repeat-enter-setup,
.repeat-leave-setup {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.repeat-enter-setup {
    line-height: 0;
    opacity: 0;
}

.repeat-enter-setup.repeat-enter-start {
    line-height: 20px;
    opacity: 1;
}

.repeat-leave-setup {
    opacity: 1;
    line-height: 20px;
}

.repeat-leave-setup.repeat-leave-start {
    opacity: 0;
    line-height: 0;
}

/* Template styles */

input,
textarea {
    border: 1px solid #FFF;
}

.container input:hover,
.container textarea:hover,
.table-striped > tbody > tr:nth-child(2n+1) > td input:hover,
.container input:focus,
.container textarea:focus,
.table-striped > tbody > tr:nth-child(2n+1) > td input:focus {
    border: 1px solid #CCC;
}

.table-striped > tbody > tr:nth-child(2n+1) > td input {
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
}

@media print {
    .noPrint {
        display: none;
    }
}

.infos input {
    width: 300px;
}

.align-right input {
    text-align: right;
    width: 300px;
}

/*div.container {*/
/*width: 800px;*/
/*}*/

#imgInp {
    display: none;
}

.copy {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 40px 0 20px 0;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #404040;
    cursor: default;
    line-height: 1.4em;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    color: #ffffff;
}

.copy .love {
    display: inline-block;
    position: relative;
    color: #ce0c15;
}

.accordion .panel-heading,
.toggle .panel-heading {
    position: relative;
}

.accordion .panel-heading a:after,
.toggle .panel-heading a:after {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -14px;
    font-family: 'IonIcons';
    content: '\f2f4';
}

.accordion .panel-heading.active a:after,
.toggle .panel-heading.active a:after {
    content: '\f2c7';
}

.accordion .panel-body,
.toggle .panel-body {
    border-top: 0 !important;
}

/*Preloaders*/

#pagePreLoader {
    background-color: #3b6982 !important;
    height: 100%;
    width: 100%;
    z-index: 2000;
    position: absolute;

}

.preloader-text {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200;
    font-size: 35px;
    margin-top: 10px;
    color: #f9a525;
}

.pre-loader-parent {
    background-color: #f9a525
}

@keyframes addDialog {
    from {
        transform: scale(3);
    }
    to {
        transform: scale(1);
    }
}

.widget-entrance {
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        background-color: #263238;
        transform: scale(0);
    }
    85% {
        transform: scale(1.1);
    }
    100% {
        background-color: white;
        transform: scale(1);
    }
}

.animate-enter,
.animate-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

.progressCirculardemoBasicUsage body {
    padding: 20px;
}

.progressCirculardemoBasicUsage h4 {
    margin: 10px 0;
}

.progressCirculardemoBasicUsage md-progress-circular {
    margin-bottom: 20px;
}

.progressVisible {
    visibility: visible;
    top: calc(100vh / 2);
    right: calc(100vw / 2);
    z-index: 20;
}

.not {
    visibility: hidden;
    z-index: -20;
}

.animate-repeat {
    height: 100px;
    min-height: 100px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
    height: 0;
    min-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    height: 100px;
    min-height: 100px;
}

.animate-repeat.ng-leave-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

/**
 * Stagger ENTER ANIMATION
 */

.animate-repeat.ng-enter-stagger {
    /* this will have a 100ms delay between each successive enter animation */
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

.data-table-b {
}

#digin-logo {
    animation: diginLogo2 .5s;
}

#digin-logo:hover {
    animation: diginLogo 2s infinite;
}

@keyframes diginLogo {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes diginLogo2 {
    to {
        transform: rotateY(360deg);
    }
}

.ui-resizable-handle {
    z-index: 0 !important;
}

.nav-search .searchicon:before {
    border-color: whitesmoke !important;
}

.nav-search .searchicon:after {
    background: whitesmoke !important;
}

/* wordpress widget image size */

md-list-item > .md-avatar:first-child,
md-list-item .md-list-item-inner > .md-avatar:first-child {
    width: 100px;
    height: 100px;
}

.digin-widget {
    font-family: 'Ek Mukta', sans-serif;
    padding-bottom: 40px !important;
    background-color: #fff;
}

.digin-widget:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1),
    1px 1px 1px 1px rgba(0, 0, 0, 0.01),
    1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

main {
    min-height: calc(300px - 50px);
}

.digin-widget-card {
    margin-bottom: 0px;
}

.digin-widget-card-content {
    padding: 0px;
}

.digin-widget-toolbar {
    height: 40px;
    background-color: white !important;
}

.digin-widget-toolbar-icon {
    color: darkgrey;
}

.logo-background {
    background-color: #fff;
}

.ui-icon,
.ui-widget-content .ui-icon {
    background-image: none !important;
}

.main-headbar-slide {
    transform: translateY(0);
    transition: transform .5s linear;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1500;
    height: 43px;
    width: calc(100vw - 40px);
    position: fixed;
    top: -43px;
    border-bottom: 1px solid #f4f4f4;
    left: 44px;
}

.main-headbar-transparent {
    visibility: visible;
    transform: translateY(0);
    transition: transform .5s linear;
    background-color: transparent;
    z-index: 1400;
    height: 15px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
}

.main-headbar-logo {
    visibility: visible;
    width: 50px;
    background-color: rgb(226, 226, 226);
    z-index: 1000;
    height: 45px;
    position: initial;
    overflow: hidden;
    /*box-shadow: 1px 1px 5px grey;*/
}

#mainHeadbar:hover > .main-headbar > .main-headbar-slide {
    transform: translateY(0);
    transition: transform .5s linear;
}

}
md-tabs[md-border-bottom] md-tabs-wrapper {
    background-color: rgba(0, 0, 0, 0.14);
    margin-top: 30px !important;
    box-shadow: 1px 1px 5px grey;
}

md-tabs-content-wrapper {
    top: 0px !important;
}

#footerBar {
    display: block !important;
    min-height: 100vh;
    width: calc(100vw - 40px);
    float: right;
}

md-tab-content {
    overflow-y: scroll !important;
}

.introjs-helperLayer {
    left: 0px !important;
    background-color: transparent !important;
    border: 5px solid rgba(255, 255, 255, .5) !important;

}

/*override digind3 css*/
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
    background-color: rgba(66, 133, 244, 0.2);
}

.sidebar-btn {
    padding: 5px;
    height: 40px;
}

.sidebar-btn:hover {
    background-color: rgba(105, 105, 105, 0.2);
}

.digin-logo {
    background-color: rgba(105, 105, 105, 0.2);
}

.digin-logo-wrapper {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.46);
    height: 30px;
}

.main-headbar-wrapper {
    position: relative;
    height: 15px;
    width: 100%;
    visibility: hidden;
    z-index: 1500;
}

.widget-button {
    margin: 0px;
    min-width: 0px;
    z-index: 0 !important;
}

.widget-button-wrapper {
    margin-right: 40px;
}

.widget-button-wrapper2 {
    background-color: white;
    position: absolute;
    bottom: 35px;
    right: 0px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

/* start widget title */
.widget-title-35 {
    padding-left: 23px;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 20px;
    word-wrap: break-word;
}

.widget-title-60 {
    padding-left: 8px;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    color: #4285F4;
    line-height: 20px;
    word-wrap: break-word;
}

.widget-title-80 {
    padding-left: 8px;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    color: #4285F4;
    line-height: 12px;
    word-wrap: break-word;
}

.widget-title-long {
    padding-left: 8px;
    text-align: left;
    font-size: 8px;
    font-weight: 300;
    color: #4285F4;
    line-height: 20px;
    word-wrap: break-word;
}

/* end widget title */
.digin-widget-content {
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}

.commonDataSource {
    padding-left: 40px;
}

/*start loader*/

.loader {

}

.loader:after {
    content: "";
    display: table;
    clear: both;
}

.loader span {
    float: left;
    height: 80px;
    line-height: 100px;
    width: 50px;
    text-align: center;
}

.loader > span {
    /*border-left: 1px solid #003CA0;
    border-right: 1px solid #003CA0;*/
}

.covers {
    position: absolute;
    height: 100%;
    width: 100%;
}

.covers span {
    background: linear-gradient(180deg, white 0, white 100%);
    animation: up 2s infinite;
}

@keyframes up {
    0% {
        margin-bottom: 0;
    }
    16% {
        margin-bottom: 100%;
        height: 20px;
    }
    50% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: 0;
    }
}

.covers span:nth-child(2) {
    animation-delay: .142857s;
}

.covers span:nth-child(3) {
    animation-delay: .285714s;
}

.covers span:nth-child(4) {
    animation-delay: .428571s;
}

.covers span:nth-child(5) {
    animation-delay: .571428s;
}

/*end loader*/

/* custom for sidenavs */

.md-sidenav-custom {
    left: calc(100vw - 304px);
    top: 0;
    z-index: 59;
    overflow: auto;
    /* -webkit-transform: translate3d(0,0,0); */
    /* transform: translate3d(0,0,0); */
}

.sidenav-button {
    min-width: 0px;
    z-index: 59 !important;
    position: absolute;
    top: 45vh;
    left: 8px;
    height: 10vh;
    width: 20px;
    margin: 0px;
    padding: 0px;
}

/* google plus widget */

.google-plus-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
}

.gp-title {
    font-weight: 400;
}

md-backdrop.md-sidenav-backdrop {
    display: none
}

/* google maps */

#gmap-messages {
    overflow-y: scroll;
}

#map-canvas {
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
}

#map-canvas img {
    max-width: none !important;
}

.gm-style-iw {
    /*width: auto !important;
    top: 15px !important; 
    left: 0 !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 0 0;*/
}

#iw-container {
    margin-bottom: 10px;
}

#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}

#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}

.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}

.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}

.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.gmap-widget {
    overflow: hidden;
    height: 100%;
}

/* google maps finish*/

.ion-30 {
    font-size: 30px;
}

.social-graph-fab {
    background-color: #009688 !important;
}

.message-card {
    height: auto;
}

.social-graph-preloader {
    height: 50px;
    width: 50px;
}

.sentiment-emoticon {
    height: 50px;
    width: 50px;
}

.error-message {
    margin: auto;
}

.overflowscroll {
    overflow: scroll;
}

.height100percent {
    height: 100%;
}

.width100percent {
    width: 100%;
}

.widget-settings-button {
    min-width: 0px;
    margin: 0px !important;
    z-index: 0 !important;
    border-radius: 0px;
}

/* custom pagination*/
.custom-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 2px;
    margin-top: 30px;
}

.custom-pagination > li {
    display: inline;
}

.custom-pagination > li > a,
.custom-pagination > li > span {
    position: relative;
    float: left;
    padding: 4px 16px;
    line-height: 1.618;
    text-decoration: none;
    z-index: 2;
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    font-size: 16px;
    font-weight: 600;
}

.custom-pagination > li:first-child > a,
.custom-pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.custom-pagination > li:last-child > a,
.custom-pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.custom-pagination > li > a:hover,
.custom-pagination > li > span:hover,
.custom-pagination > li > a:focus,
.custom-pagination > li > span:focus {
    color: #ffffff;
    background-color: #4B77BE;
    border-color: #4B77BE;
    /*font-weight: 800;
    font-size: 16px;*/
}

.custom-pagination > .active > a,
.custom-pagination > .active > span,
.custom-pagination > .active > a:hover,
.custom-pagination > .active > span:hover,
.custom-pagination > .active > a:focus,
.custom-pagination > .active > span:focus {
    color: #000000;
    background-color: #ffffff;
    cursor: default;
    /*font-size: 16px;
    font-weight: 800;*/
}

.custom-pagination > .disabled > span,
.custom-pagination > .disabled > span:hover,
.custom-pagination > .disabled > span:focus,
.custom-pagination > .disabled > a,
.custom-pagination > .disabled > a:hover,
.custom-pagination > .disabled > a:focus {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
    /*font-size: 16px;
    font-weight: 600;*/
}

.buttonMinwidth38 {
    min-width: 38px;
}

/* Dashboard setup */
@font-face {
    font-family: "DistrictThin";
    src: url(../fonts/DistProTh.otf);
}

.setup-font-theme {
    font-family: DistrictThin;
}

.setup-button {
    background-color: #00B4FF !important;
    text-transform: none;
}

.setup-tab-label {
    color: #fff !important;
    font-size: 14px !important;
}

.setup-tabs {
    top: 40px;
}

md-tabs.setup-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item {
    padding: 10px 10px !important;
    height: 35px;
    border-radius: 5px;
    background-color: rgba(0, 154, 218, 0.5);
}

md-tabs.setup-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active {
    background-color: #009ADA !important;
}

md-tabs.setup-tabs md-tabs-wrapper {
    border-width: 0 0 1px !important;
    margin-left: calc(50% - 85px);
    border-radius: 5px !important;
    width: 238px;
    background-color: transparent;
    border-color: transparent;
}

md-tabs.setup-tabs md-tabs-wrapper md-tab-data {
    opacity: 1;
    background-color: #00B4FF !important;
    border-radius: 5px;
}

.setup-user-card {
    width: 200px;
    height: 200px;
    background-color: #F0EDE8;
}

.minHeight600 {
    /*min-height: 500px;*/
}

.custom-mdDialog {
    overflow-y: hidden !important;
    min-width: 400px;
}

.actIndicator {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50px;
}

.setup-user-heading {
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 10px;
}

.setup-user-heading-secondary {
    text-align: center;
    font-size: 2.2em;
    padding-bottom: 10px;
}

.setup-user-sub-heading {
    text-align: center;
    font-size: 1.5em;
    color: #727272;
    padding-bottom: 10px;
}

.setup-user-img {
    width: 70px;
    height: 70px;
    position: relative;
    top: 28px;
    border-radius: 100%;
    border: 2px solid #00B4FF;
}

.setup-username-wrapper {
    position: relative;
    top: 50px;
}

.setup-useremail {
    font-size: 1.2em;
}

.setup-username {
    color: #009ADA;
    font-size: 1.3em;
    font-weight: bold;
}

.setup-dashviewers-img {
    width: 150px;
    height: 150px;
}

.setup-info-container {
    padding: 0px 25px 0px 25px;
}

.setup-color-container {
    padding: 15px;
}

.setup-color-stripes {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 100%;
}

.setup-subscription-card {
    padding: 15px 0px 15px 0px;
    background-color: #EDF6FB;
    border: 2px solid #F0EFED;
}

.setup-subscription-end {
    color: #E91E63;
    font-weight: bold;
}

.setup-subscription-description {
    text-align: center;
}

.setup-subscription-plan-card {
    width: 500px !important;
    color: #fff;
    padding: 15px 0px 15px 0px;
    border: 2px solid #00B4FF;
}

.setup-subscription-trial-card {
    background-color: #00B4FF;
    border: 2px solid #00B4FF;
}

.setup-subscription-premium-card {
    background-color: #2E353F;
    border: 2px solid #00B4FF;
}

/* div in md-tab */
md-tab-content > div {
    height: 100%;
}

/* common styles */
.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-2 {
    margin-bottom: 2px;
}

/****** start wordpress, twitter, rss widgets custom css *****/

/* common classes*/
.data-container1 {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 500;
    width: 100%;
    padding-left: 8px;
    padding-bottom: 8px;
}

.data-slot1 {
    padding: 8px;
}

.data-slot2 {
    text-align: left;
}

.data-slot3 {
    border-radius: 5px;
}

.data-field1 {
    border-radius: 4px 0px 0px 4px;
    width: 80%;
    padding: 8px;
}

.data-field2 {
    border-radius: 4px 0px 0px 4px;
    width: 50%;
    padding: 8px;
}

.data-field3 {
    border-radius: 4px 0px 0px 4px;
    width: 30%;
    padding: 8px;
}

.data-item1 {
    border-radius: 0px 4px 4px 0px;
    width: 70%;
    padding: 8px;
}

.data-item2 {
    border-radius: 0px 4px 4px 0px;
    width: 20%;
    padding: 8px;
}

.data-item3 {
    border-radius: 0px 4px 4px 0px;
    padding: 8px;
}

.data-item4 {
    border-radius: 0px 4px 4px 0px;
    width: 50%;
    padding: 8px;
}

.custom-avatar1 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-sizing: content-box;
}

.custom-avatar2 {
    max-width: 80%;
    height: auto;
    border-radius: 10%;
    box-sizing: content-box;
}

.widget-header {
    font-size: 28px;
    margin-left: 10px;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200;
}

/* twitter */

.font-twitter-blue {
    color: #55acee;
}

.background-twitter-grey {
    color: white;
    background-color: #292F33;
}

.background-twitter-blue {
    color: white;
    background-color: #55acee;
}

.background-digin-blue {
    color: white;
    background-color: #026689;
}

/* wordpress */
.font-wp-grey {
    color: #464646;
}

.background-wp-grey {
    color: white;
    background-color: #464646;
}

.background-wp-orange {
    color: white;
    background-color: #d54e21;
}

.background-wp-blue {
    color: white;
    background-color: #21759b;
}

/* rss */
.background-rss-orange {
    color: white;
    background-color: #f26522;
}

.background-rss-dark-orange {
    color: white;
    background-color: #BB450E;
}

.background-rss-grey {
    color: white;
    background-color: #181818;
}

/**** end wordpress, twitter, rss widgets custom css *****/

.custom-drop-zone {
    margin-bottom: 0px !important;
    width: 80% !important;
    min-height: 10px !important;
    padding: 10px !important;
}

.btn-danger-custom {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 5px;
    margin: 10px;
}

.dragover {
    border: 5px dashed blue;
}

.custom-file-upload {
    overflow: scroll;
}

.width80percent {
    width: 80%;
}

.margin-top-20 {
    margin-top: 20px;
}

/* start md dialog */
.btn-dialog:not([disabled]):hover {
    background-color: rgba(37, 128, 179, 0.2);
}

.dialog-1 { /*confirmation dialog*/
    min-width: 400px;
    overflow: hidden;
}

.dialog-content-1 {
    margin: 15px;
    height: 100%;
    color: #01718D;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.dialog-content-1 md-input-container .md-input {
    color: #4285F4;
    border-color: rgb(1, 113, 141);
}

.tlbar-1 {
    background: #01718D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #01718D, #4285F4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #01718D, #4285F4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    z-index: 0;
    opacity: 0.8;
    padding: 8px;
}

.dialog-title {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: white;
    margin: 10px;
    margin-left: 30px;
}

.digin-logo-wrapper2 {
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.digin-image {
    height: 30px;
    width: 30px;
    animation: diginLogo2 .5s;
}

.digin-image:hover {
    animation: diginLogo 2s infinite;
}

.digin-sonar {
    -webkit-animation: sonarEffect 2s ease-out 75ms infinite;
    -moz-animation: sonarEffect 2s ease-out 75ms infinite;
    animation: sonarEffect 2s ease-out 75ms infinite;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #4285F4, 0 0 0 10px rgba(255, 255, 255, 0.5);
        opacity: 0.5;
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #4285F4, 0 0 0 10px rgba(255, 255, 255, 0.5);
        opacity: 0.1;
    }
}

@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #4285F4, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #4285F4, 0 0 0 10px rgba(255, 255, 255, 0.5);
        opacity: 0.1;
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #4285F4, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #4285F4, 0 0 0 10px rgba(255, 255, 255, 0.5);
        opacity: 0.1;
    }
}

/* end md dialog */

.data-src-close {
    margin-top: 0px;
    margin-right: 18px;
}

.preloader {
    padding: 50px;
    background: url('styles/css/images/icons/Preloader1.gif') no-repeat 50% 50% transparent;
}

.page-name {
    font-size: 12px;
    color: #999;
    text-transform: capitalize;
}

.searchText {
    margin-top: 15px !important;
    width: 100%;
    background-color: white !important;
    font-size: 30px;
}

.overflow-auto {
    overflow: auto;
}

/* page tab */
#footerBar > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item {
    padding: 5px;
    padding-left: 8px;
}

/* page close button */
.pageCloseButton {
    margin: 0px;
    min-width: 10px;
}

.pageCloseButton:hover {
    background-color: transparent !important;
}

.pageCloseButton > ng-md-icon:hover {
    fill: #3F51B5 !important;
}

/* page name */
.pageName {
    font-size: 14px;
}

.card-body > p {
    color: #999;
}
