<md-dialog aria-label="Change Password">
  <form md-theme="default" name="editForm" ng-submit="editForm.$valid && submit()">
  <md-toolbar class="modal-header">
    <div class="md-toolbar-tools">
       <div layout="row" layout-align="center center">
		<ng-md-icon icon="my_library_books" style="fill:white; padding-right: 20px;" size="24px"></ng-md-icon>
		<h2>Change Password</h2>
	  </div>
      <span flex></span>
      <md-button class="md-icon-button icon-cancel" ng-click="$root.cancel()" aria-label="Close">
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div class="md-dialog-content">

			
		 <md-input-container layout="column" class="md-block" flex-gt-sm>
			<span>Old Password</span>
			<input required type="password" ng-model="oldPassword" name="oldpass" aria-label="oldPassword">
			<div ng-messages="editForm.oldpass.$error">
				<div ng-message-exp="['required']">
					Old Password is required
				</div>
			</div>
		 </md-input-container>
		 <md-input-container layout="column" class="md-block" flex-gt-sm>
			<span>New Password</span>
			<input required type="password" ng-model="newPassword" name="newpass" aria-label="newPassword" password-strength-indicator>
			<div ng-messages="editForm.newpass.$error">
				<div ng-message-exp="['required']">
					Please enter a new password
				</div>
			</div>
		 </md-input-container>

		 <md-input-container layout="column" class="md-block" flex-gt-sm>
			<span>Confirm New Password</span>
			<input required type="password" ng-model="confirmNewPassword" name="confrimpass" aria-label="confirmNewPassword">
			<div ng-messages="editForm.confrimpass.$error">
				<div ng-message-exp="['required']">
					Please confrim your new password
				</div>
			</div>
		 </md-input-container>

    </div>
	
	<md-dialog-actions layout="row">
			<span flex></span>
			<md-button aria-label="change" type="submit">
				Reset
			</md-button>
	</md-dialog-actions>
	  
  </md-dialog-content>

  </form>
</md-dialog>