<style>
table.table-data tr.error{
  background:#f2dede;
}
table.table-data td{
  padding:4px;
}
table.table-data td{
  padding:4px;
}
thead td[ng-click]{
  cursor: pointer;
}
.drag-handler{
  visibility: hidden;
}
.dragable .drag-handler{
  visibility: visible;
  border:outset 1px lightgray;
  cursor:row-resize;
  font-size:60%;
  margin:4px;
}

.id{
  background:#F3F3F3;
}
tr.cursor .id{
  background:#E3E3E3;
}
tr .wrap{
  overflow: hidden;
}
.code pre{
  background:#f8f8f8;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
.hljs-comment, .diff .hljs-header {
  color: #FFF;
  background-color: #677130;
  font-style: normal;
}
#tabular-table{
  color: #34495e;
}

#tabular-table tbody{
  font-size: 13px;
}
#tabular-table tr:nth-child(odd) {
  background-color: #ecf0f1;
}
#tabular-table tr:nth-child(even) {
  background-color: #d2edff;
}

</style>
  <md-content id="{{sCollCtrl.idSelector}}" ng-hide="config.isloading" style="width:100%;height:100%">
  <table id="tabular-table" class="table-data" style="width: 99.8%;height:100%;margin: 0 auto" cell-cursor="cc"cell-cursor-copy="cc.getSelectedCellValues()|cellCursorToTsv"
    cell-cursor-paste="cc.setSelectedCellValues($data)"
    ng-keydown="keydown($event)"
    ng-class="{dragable:dragable()}">
  <thead>
    <tr>
      <!-- changeSort is change $scope.sort -->
      <!--td ng-click="changeSort(x)" ng-repeat="x in widget.widgetData.widData.tabularConfig.AllingArr"-->
      <td ng-click="tabularService.changeSort(x,config,tabularSettings)" ng-repeat="x in tabularSettings.AllingArr">
        <div class="cell-cursor-col-resize"></div>
        <span style="font-size: 16px;">
          <b>{{x.DislayName}}</b>
        </span>
        <!-- sort key indicator example -->
        <span ng-show="config.sort=='{{x.Attribute}}'">▲</span>
        <span ng-show="config.sort=='-{{x.Attribute}}'">▼</span>
      </td>
    </tr>
  </thead>
  <tbody>
    <!-- angular.js default directive `ng-repeat` and default filters -->
    <tr ng-repeat="user in config.userList| limitTo:tabularSettings.numOfRows:start as result  track by $index" ng-class="{error:isError(user)}">
     
      <td ng-repeat="y in tabularSettings.AllingArr" style=" text-align:{{y.Alignment}}">
            {{tabularService.numberWithCommas(user[y.Attribute])}}
      </td>

       <!--td>{{user.profit}}</td>
       <td>{{user.order_priority}}</td>
       <td>{{user.sales}}</td-->
    </tr>
    <tr>
   
      <td ng-repeat="agg in tabularSettings.AllingArr" style=" text-align:{{agg.Alignment}}">
          <span ng-hide="agg.isString || tabularSettings.totForNumeric == 'false'">
              {{agg.Aggregation}} = {{tabularService.numberWithCommas(agg.Aggregation_value)}}
          </span>
      </td>
    </tr>
  </tbody>
</table>

  <div style="width: 400px;margin-left: auto;margin-right: auto;margin-top: 5px;" layout="row"  layout-align="center center">

      <span>{{config.selectedPage}}</span>

      <md-button class="md-primary"  ng-disabled="config.currentPage <= 0" 
      ng-click="tabularService.tabularNavigate('Prev',config,false,tabularSettings)">Prev</md-button>

      <md-button class="md-primary" ng-disabled="config.isNext"
      ng-click="tabularService.tabularNavigate('Next',config,false,tabularSettings)">Next</md-button>

  </div>

  </div>
</md-content>

<div layout="row"  layout-align="center center">
    <md-progress-circular ng-hide="!config.isloading" class="md-accent" md-diameter="40"></md-progress-circular>
</div>


