<form name="tabularSettingsForm" ng-submit="submit()">
	
	<div id="widget_settings_header" ng-include="'views/query_builder/widget_settings_header.html'"></div>
	
	<md-content style="overflow-y:scroll;height:calc(100% - 130px);padding: 20px 0px 20px 0px">
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
				<span> Widget Title </span>
				<input ng-model="tabularSettings.widgetName"  aria-label="widgetName" name="name" required>
				<div ng-messages="tabularSettingsForm.name.$error">
					<div ng-message="required">Widget title can not be a blank</div>
				</div>
			</md-input-container> 
		</div>
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Basic Settings</div>
		</div>
		<div layout="row"  class="side-margins">

			<label>Set Aggregation:</label>

			<md-radio-group ng-model="tabularSettings.totForNumeric" layout="row" >
				   <md-radio-button value="true"> Enable </md-radio-button>
				   <md-radio-button value="false"> Disable </md-radio-button>
			</md-radio-group>

		</div>

		<div layout="row" class="side-margins">
			<label>Default Sort Field:</label>
			<div layout="column" >
				  <md-select ng-model="tabularSettings.defSortFeild" aria-label="att">
				    <md-option ng-value="att.name" ng-repeat="att in attr">{{ att.name }}</md-option>
				  </md-select>

				<md-radio-group ng-model="tabularSettings.AscOrDec" layout="row">
				   <md-radio-button value="ASC"> Ascending </md-radio-button>
				   <md-radio-button value="DESC"> Descending </md-radio-button>
				</md-radio-group>
				
			</div>
		</div>

		<div style="margin-top:20px">
		<label><b>Display name and alignment </b></label>

		<table style="margin-top:20px">

			<tr>
				<th>Attribute</th>
				<th>Display Name</th>
				<th>Alignment</th>
				<th>Aggregation</th>
			</tr>

			<tr ng-repeat="att in tabularSettings.AllingArr">
			    <td class="tabular-space">{{att.Attribute}}</td>
			    <td class="tabular-space">
			    	<md-input-container class="tabular-space" style="margin-top: 24px !important;">
	        			<input ng-model="att.DislayName" aria-label="DislayName">
	      			</md-input-container>
			    </td>
			    <td class="tabular-space">
			    	<md-select ng-model="att.Alignment" class="tabular-space" aria-label="aling">
				    	<md-option ng-value="aling" ng-repeat="aling in allingments">
				    		{{aling}}
				    	</md-option>
				    </md-select>
			    </td>
			    <td ng-hide="att.isString" class="tabular-space">
			    	<md-select ng-model="att.Aggregation" class="tabular-space" aria-label="agg">
				    	<md-option ng-value="agg" ng-repeat="agg in aggregationArr">
				    		{{agg}}
				    	</md-option>
				    </md-select>
			    </td>
			</tr>

		</table>

		<div layout="row" layout-align="" style="margin-top:20px">
		<label><b>Number of rows to display:</b></label>

		<md-input-container style="margin-top: -19px;float: left;margin-left: 19px;width: 200px;" >
            <input ng-model="tabularSettings.numOfRows" aria-label="numOfRows"> 
         </md-input-container>
		</div>
	</md-content>
</form>