<form name="tabularSettingsForm" ng-submit="submit()">
	
	<div id="widget_settings_header" ng-include="'views/query_builder/widget_settings_header.html'"></div>
	
	<md-content style="overflow-y:scroll;height:calc(100% - 130px);padding: 20px 0px 20px 0px">
		<div layout-gt-sm="row" class="side-margins">
			<md-input-container class="md-block" flex-gt-sm>
				<span> Widget Title </span>
				<input ng-model="tabularSettings.widgetName"  aria-label="widgetName" name="name" required>
				<div ng-messages="tabularSettingsForm.name.$error">
					<div ng-message="required">Widget title can not be a blank</div>
				</div>
			</md-input-container> 
		</div>
		
		<div layout="row" layout-align="space-between center">
			<div class="section-title" md-colors="{background:'{{$root.h1color}}-section', color:'accent'}">Basic Settings</div>
		</div>
		
		<div layout="row"  class="side-margins">

			<label>Set Aggregation:</label>

			<md-radio-group ng-model="widget.widgetData.widData.tabularConfig.totForNumeric" layout="row"  style="float: left;margin-left:50px">
				   <md-radio-button value="true"> Enable </md-radio-button>
				   <md-radio-button value="false"> Disable </md-radio-button>
			</md-radio-group>

		</div>

		<div layout="row" style="margin-top:20px">
			<label style="margin-top: 10px"><b>Default Sort Field:</b></label>

			<div layout="column" style="float: left;margin-left:50px">

				  <md-select ng-model="widget.widgetData.widData.tabularConfig.defSortFeild">
				    <md-option ng-value="user.Attribute" ng-repeat="user in widget.widgetData.widData.tabularConfig.AllingArr">{{ user.Attribute }}</md-option>
				  </md-select>

				<md-radio-group ng-model="widget.widgetData.widData.tabularConfig.AscOrDec" layout="row" style="margin-top:20px">
				   <md-radio-button value="ASC"> Ascending </md-radio-button>
				   <md-radio-button value="DESC"> Descending </md-radio-button>
				</md-radio-group>
				
			</div>
		</div>
		
		
	</md-content>
</form>