<style>
table.table-data tr.error{
  background:#f2dede;
}
table.table-data td{
  padding:4px;
}
table.table-data td{
  padding:4px;
}
thead td[ng-click]{
  cursor: pointer;
}
.drag-handler{
  visibility: hidden;
}
.dragable .drag-handler{
  visibility: visible;
  border:outset 1px lightgray;
  cursor:row-resize;
  font-size:60%;
  margin:4px;
}

.id{
  background:#F3F3F3;
}
tr.cursor .id{
  background:#E3E3E3;
}
tr .wrap{
  overflow: hidden;
}
.code pre{
  background:#f8f8f8;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  /*background: #e0e0e0;*/
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
.hljs-comment, .diff .hljs-header {
  color: #FFF;
  background-color: #677130;
  font-style: normal;
}
/*#tabular-table{
  color: #34495e;
}*/

#tabular-table tbody{
  font-size: 13px;
}
/*
#tabular-table tr:nth-child(odd) {
  background-color: #ecf0f1;
}
#tabular-table tr:nth-child(even) {
  background-color: #d2edff;
}*/

#tabular-table tr td:first-child{
	border-left: 0px solid #ececec;
}
#tabular-table tr td:last-child {
    border-right: 0px solid #ececec;
}

.md-table-row-light{
	border: 1px solid #ececec;
	transition: background-color .2s;
}

.md-table-row-dark{
	border: 1px solid #565656;
	transition: background-color .2s;
}

.md-table-row-light:hover{
	background-color: rgba(158,158,158,0.2);
}

.md-table-row-dark:hover{
	background-color: rgba(158,158,158,0.2);
}
.align-sort-icon
{
    font-size: 12px;
    margin-left: 10px;
}

</style>
	<md-content id="{{idSelector}}" style="height:calc(100% - 50px);">
	
	<md-progress-linear md-mode="indeterminate" ng-show="config.isloading"></md-progress-linear>
	<table id="tabular-table" class="table-data" style="width: 100%;height:calc(100% - 54px);margin: 0 auto"
		cell-cursor="cc" 
		cell-cursor-copy="cc.getSelectedCellValues()|cellCursorToTsv"
		cell-cursor-paste="cc.setSelectedCellValues($data)"
		ng-keydown="keydown($event)"
		ng-class="{dragable:dragable()}">
		<thead>
			<tr>
			  <!-- changeSort is change $scope.sort -->
			  <!--td ng-click="changeSort(x)" ng-repeat="x in widget.widgetData.widData.tabularConfig.AllingArr"-->
			  <td ng-click="tabularService.changeSort(x,config,tabularSettings)" ng-repeat="x in tabularSettings.AllingArr" ng-class="{'md-table-row-light': $root.applyDark == false, 'md-table-row-dark': $root.applyDark == true}">
				<div class="cell-cursor-col-resize"></div>
				<span style="font-size: 16px;">
				  <b>{{x.DislayName}}</b>
				</span>
				<!-- sort key indicator example -->
				<span ng-show="config.sort=='{{x.Attribute}}'"><i class="ti-angle-up align-sort-icon"></i></span>
				<span ng-show="config.sort=='-{{x.Attribute}}'"><i class="ti-angle-down align-sort-icon"></i></span>
			  </td>
			</tr>
		</thead>
		<tbody>
			<!-- angular.js default directive `ng-repeat` and default filters -->
			<tr ng-repeat="user in config.userList| limitTo:tabularSettings.numOfRows:start as result  track by $index" ng-class="{error:isError(user)}">
			 
			  <td ng-repeat="y in tabularSettings.AllingArr" style="text-align:{{y.Alignment}}" ng-class="{'md-table-row-light': $root.applyDark == false, 'md-table-row-dark': $root.applyDark == true}">
					{{tabularService.numberWithCommas(user[y.Attribute])}}
			  </td>

			   <!--td>{{user.profit}}</td>
			   <td>{{user.order_priority}}</td>
			   <td>{{user.sales}}</td-->
			</tr>
			<tr>
   
				<td ng-repeat="agg in tabularSettings.AllingArr" style=" text-align:{{agg.Alignment}}" ng-class="{'md-table-row-light': $root.applyDark == false, 'md-table-row-dark': $root.applyDark == true}">
				  <span ng-hide="agg.isString || tabularSettings.totForNumeric == 'false'">
					  {{agg.Aggregation}} = {{tabularService.numberWithCommas(agg.Aggregation_value)}}
				  </span>
				</td>
			</tr>
		</tbody>
</table>

	<div layout="row"  layout-align="end center">

		<span style="font-size:12px;margin-right:20px">{{config.selectedPage}}</span>

		<md-button class="md-primary md-icon-button ti-angle-left"  ng-disabled="config.currentPage <= 0" ng-click="tabularService.tabularNavigate('Prev',config,false,tabularSettings)">
			<md-tooltip md-direction="bottom">
			  Previous
			</md-tooltip>
		</md-button>

		<md-button class="md-primary md-icon-button ti-angle-right" ng-disabled="config.isNext" ng-click="tabularService.tabularNavigate('Next',config,false,tabularSettings)">
			<md-tooltip md-direction="bottom">
			  Next
			</md-tooltip>
		</md-button>

	</div>

  </div>
</md-content>

<!--div layout="row"  layout-align="center center">
    <md-progress-circular ng-hide="!config.isloading" class="md-accent" md-diameter="40"></md-progress-circular>
</div-->


