<md-dialog aria-label="Sample Dialog" class="widget0m-data-dialog">

    <div layout="row">
        <div class="card-head widget0m-data-header">
            <header class="graph-h1 text-uppercase">
                {{pageName.name}} Page Details - <b class="font-weight-300">{{selectTypeName}}</b>
            </header>
            <div class="tools">
                <a href="javascript:void(0)" data-ng-click="closeDialog()">
                    <i class="ti-close"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="table-body">
        <div layout="row">
            <div class="table-option">
                <md-radio-group class="icheck-inline"
                                ng-model="tblType"
                                ng-change="onChangeTblView()">
                    <span class="icheck-inline" ng-repeat="type in viewTypes">
                        <md-radio-button value="{{type.value}}"
                                         ng-model="tblType"
                                         class="md-primary">{{type.name}}
                        </md-radio-button>
                     </span>
                </md-radio-group>
            </div>
        </div>
        <div class="layout-row" layout="row">

            <div class="widget0m-mapped-data">
                <div flex="70">
                    <table id="table" class="table table-hover table-mc-light-blue">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Like</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="view in pageViewDta">
                            <td>{{view.date}}</td>
                            <td>{{view.like}}</td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div flex="30">
                <div class="mapped-details">

                </div>

            </div>
        </div>
    </div>
</md-dialog>