<md-content flex layout="column" class="gmap-widget" ng-controller="gmapsControllerBranches" 
 ng-init="initGmap()"> 
    <!-- <div id="gmap" flex></div> -->
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' bounds="map.bounds" 
    pan="'true'">
      <ui-gmap-markers models="markers" coords="'self'" doCluster=true idKey="'id'" icon="'icon'" 
      click="'markerClicked'">
        <ui-gmap-windows  show="show" 
        templateUrl="'templateUrl'" templateParameter="'templateParameter'" 
        options="'windowOptions'">
          <!-- <div ng-non-bindable>Test</div> -->
        </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>
</md-content>

