<div style="width:600px;box-shadow: 2px 2px 8px 0px #888;" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.google.com/maps/api/jshttp://maps.google.com/maps/api/js?key=AIzaSyANY96AhQijBZgSXQ6RWkYUlO5fxCh6OMU">

	<ng-map default-style="true" center="41,-87" zoom="3">
		<!--info-window id="foo">
		  <div ng-non-bindable="" style="color:black">
			Lat: {{anchor.getPosition().lat()}}<br/>
			Lng: {{anchor.getPosition().lng()}}<br/>
		  </div>
		</info-window>
		<marker ng-repeat="(id, store) in stores" id="{{id}}" position="{{store.position}}" on-click="showStore(event, id)"></marker-->
		
		<info-window id="measureswindow" position="{{lat}},{{lng}}">
		  <div ng-non-bindable="" style="color:black">
			<ul>
				<li ng-repeat="measure in aggregate_measures">
					<span>{{measure.measure}}</span><span> {{measure.field}}</span>:&nbsp<span>{{measure.value}}</span>
				</li>
			<ul>
			
		  </div>
		</info-window>
		<map-data ng-if="showMapData == true" set-style="styles" load-geo-json="{{geojsonUrl}}" on-click="showMeasure(event)"></map-data>
	</ng-map>
	
</div>