.tabsdemoStaticTabs {
    height:calc(100% - 64px);
    position: relative;
    overflow: hidden !important;
   }
  .tabsdemoStaticTabs .sample {
      
     }
  .tabsdemoStaticTabs #tab1-content {
     /* height:calc(100% - 80px);*/
      overflow-y:auto;
      min-width: 300px;
  }
  .tabsdemoStaticTabs #tab2-content {
      /*height:calc(100% - 80px);*/
      overflow-y:auto;
      min-width: 300px;

  }
  .tabsdemoStaticTabs #tab3-content {
    background-color: #00796B; }
  .tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0px solid black;
    height: 100%;
    overflow: hidden; }
  .tabsdemoStaticTabs [role="tabpanel"] {
    color: white;
    width: 100%;
    /*height: 100%;*/
      position: fixed;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    /*position: absolute;*/ 
  }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active, .tabsdemoStaticTabs [role="tabpanel"].ng-enter {
   transform: scale(0) ;
  }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave, .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
   transform:scale(1);
  }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave {
    z-index: 100; }
  .tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
  .tabsdemoStaticTabs .after-tabs-area {
    padding: 25px; }
  .tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
  .tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px; }
  .tabsdemoStaticTabs .md-header {
    background-color: #1976D2 !important; }
  .tabsdemoStaticTabs md-tab {
    color: #90caf9 !important; }
  .tabsdemoStaticTabs md-tab.active, .tabsdemoStaticTabs md-tab:focus {
    color: white !important; }
  .tabsdemoStaticTabs md-tab[disabled] {
    opacity: 0.5; }
  .tabsdemoStaticTabs .md-header .md-ripple {
    border-color: white!important; }
  .tabsdemoStaticTabs md-tabs-ink-bar {
    background-color: white!important; }
  .tabsdemoStaticTabs md-tabs .md-paginator {
    color: white; }
